{% extends "request/page.html" %}

{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Organization membership request') }}{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-large icon-info-sign"></i> {{ _('Organization membership request') }}</h2>
    <div class="module-content">
      <p>
        {% trans -%}
        This shows the organization membership requests. If you are an organization admin, you can approve or reject requests.
        {%- endtrans %}
      </p>
    </div>
  </section>
{% endblock %}

{% block primary_content %}
  {% resource "ytp_request_js/request.js" %}

  {% set allow_process = h.check_access('member_request_process', {'member': member.id}) %}
  <section class="module">
    <div class="module-content">
      <h1>{% trans %}Organization membership request{% endtrans %}</h1>
      <table class="table table-striped table-bordered table-condensed">
          <tbody>
              <tr>
                  <th>{% trans %}Organization{% endtrans %}</th>
                  <td><a href="{{ h.url('organization_read', id=member.group.name) }}">{{ member.group.title }} ({{ member.group.name }})</a></td>
              </tr>
              <tr>
                  <th>{% trans %}User{% endtrans %}</th>
                  <td>
                      <a href="{{ h.url_for('user_datasets', controller='user', id=member_user.name) }}">
                        {% if member_user.fullname %}
                        {{ member_user.fullname }} ({{ member_user.name }})
                        {% else %}
                        {{ member_user.name }}
                        {% endif %}
                      </a>
                  </td>
              </tr>
              <tr>
                  <th>{% trans %}State{% endtrans %}</th>
                  <td>{{ member.state }}</td>
              </tr>
              <tr>
                  <th>{% trans %}Role{% endtrans %}</th>
                  <td>
                  {% if allow_process %}
                  <form class="dataset-form form-horizontal" method="post" action="{{ h.url_for('member_request_show', member_id=member.id) }}" data-module="basic-form">
                      <select name="role" class="submit-on-change">
                      {% for option in roles %}
                          <option value="{{ option.value }}"{% if option.value == member.capacity %} selected="selected"{% endif %}>{{ option.text or option.value }}</option>
                      {% endfor %}
                      </select>
                  </form>
                  {% else %}
                      <b>{{ member.capacity }}</b>
                  {% endif %}
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="form-actions">
      {% if allow_process %}
          {% set locale = h.dump_json({'content': _('Are you sure you want reject this request?')}) %}
          <a href="{{ h.url_for('member_request_reject', member_id=member.id) }}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Reject') }}</a>

          {% set locale = h.dump_json({'content': _('Are you sure you want approve this request?')}) %}
          <a href="{{ h.url_for('member_request_approve', member_id=member.id) }}" class="btn btn-primary" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Approve') }}</a>
      {% endif %}

      {% if member_user.id == c.userobj.id and h.check_access('member_request_cancel', {'member': member.id}) %}
        {% set locale = h.dump_json({'content': _('Are you sure you want to reject this request?')}) %}
        <a href="{{ h.url_for('member_request_cancel', member_id=member.id) }}" class="btn btn-primary" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Cancel request') }}</a>
      {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
