{% set upperContainerClass = upperContainerClass | default("container") %}
{% set firstContainerClass = firstContainerClass | default("row paddingRowHack") %}
{% set secondContainerClass = secondContainerClass | default("") %}
{% set thirdContainerClass = thirdContainerClass | default("") %}

{% set events = h.hdx_events_list() %}


<footer class="hdx-footer">
  <div class="{{ upperContainerClass }}">
    <div class="{{ firstContainerClass }}" style="background-color: rgb(54,54,54);">
      <div class="{{ secondContainerClass }}">
        <div class="{{ thirdContainerClass }}">
            <div class="col-xs-12 paddingLeftHack paddingRightHack">
              <div class="row">
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-xs-12">
                      <img class="logo-gray" src="/images/homepage/logo-hdx-gray.png"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 mBottom30">
                      <div class="titlePlusVersion">
                        {{ _("HUMANITARIAN DATA EXCHANGE") }} &nbsp; {{ h.hdx_version() }}
                      </div>
                      <div class="titlePlusVersion">
                        Find, share and use humanitarian data all in one place
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="mailChimpForm">
                        <div class="subscribeText">Subscribe to our mailing list</div>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                          <form action="//humdata.us14.list-manage.com/subscribe/post?u=ea3f905d50ea939780139789d&amp;id=d996922315" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" _lpchecked="1">

                            <div class="six columns left" style="padding-left: 0px;">
                              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL">
                              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                            </div>
                            <div id="mce-responses" class="clear">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <!--
                            <div>
                              <input type="text" name="b_83487eb1105d72ff2427e4bd7_6fd988326c" tabindex="-1" value="">
                            </div>
                            -->
                            <div class="clear one columns left">
                            </div>
                          </form>
                        </div>
                        <!--End mc_embed_signup-->
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-xs-offset-1 col-xs-6">
                  <div class="row">
                    <div class="col-xs-4">
                      <label class="links-list">
                        Search data
                        <ul>
                          <li>
                            <a href="#">Data</a>
                          </li>
                          <li>
                            <a href="#">Dataviz</a>
                          </li>
                          <li>
                            <a href="#">Locations</a>
                          </li>
                          <li>
                            <a href="#">Organisations</a>
                          </li>
                        </ul>
                      </label>

                      <label class="links-list">
                        QUICK LINKS - ONGOING
                        <ul>
                          {% for ev in events.ongoing %}
                            <li>
                              <div><a href="/{{ev.type}}/{{ev.name}}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ ev.title }}</a></div>
                              <!--<div class="crises-datasets">[ ## Datasets ]</div>-->
                            </li>
                          {% endfor %}
                          <li>
                            <div><a href="{{h.url_for('group_read', id='ssd')}}" data-module="hdx_click_stopper" data-module-link_type="main nav">South Sudan</a></div>
                          </li>
                          <li>
                            <div><a href="{{h.url_for('group_read', id='syr')}}" data-module="hdx_click_stopper" data-module-link_type="main nav">Syria</a></div>
                          </li>
                          <li>
                            <div><a href="{{h.url_for('group_read', id='yem')}}" data-module="hdx_click_stopper" data-module-link_type="main nav">Yemen</a></div>
                          </li>
                        </ul>
                      </label>

                      <label class="links-list">
                        QUICK LINKS - ARCHIVED
                        <ul>
                          {% for ev in events.archived %}
                          <li>
                            <div><a href="/{{ev.type}}/{{ev.name}}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ ev.title }}</a></div>
                            <!--<div class="crises-datasets">[ ## Datasets ]</div>-->
                          </li>
                          {% endfor %}
                          <li>
                            <div><a href="/ebola" data-module="hdx_click_stopper" data-module-link_type="main nav">Ebola</a></div>
                            <!--<div class="crises-datasets">[ ## Datasets ]</div>-->
                          </li>
                          <li>
                            {% set nepalLink = h.url_for('show_custom_country', id='nepal-earthquake') %}
                            <div><a href="{{nepalLink}}" data-module="hdx_click_stopper" data-module-link_type="main nav">Nepal Earthquake</a></div>
                            <!--<div class="crises-datasets">[ ## Datasets ]</div>-->
                          </li>

                        </ul>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label class="links-list">
                        Work with data
                        <ul>
                          <li>
                            <a href="#" target="_blank">Quick Charts <i class="glyphicon glyphicon-new-window"></i></a>
                          </li>
                          <li>
                            <a href="#" target="_blank">HXL Tag Assist <i class="glyphicon glyphicon-new-window"></i></a>
                          </li>
                        </ul>
                      </label>

                      <label class="links-list">
                        POWERED BY
                        <a href="#" target="_blank"><img class="logo-tools-gray" src="/images/homepage/logo-tools-gray.png"/></a>
                      </label>

                      <label class="links-list">
                        Resources
                        <ul>
                          <li>
                            <a href="#" target="_blank">Blog <i class="glyphicon glyphicon-new-window"></i></a>
                          </li>
                          <li>
                            <a href="#">Data Licenses</a>
                          </li>
                          <li>
                            <a href="#">Terms of Service</a>
                          </li>
                        </ul>
                      </label>

                    </div>
                    <div class="col-xs-4">
                      <label class="links-list">
                        About
                        <ul>
                          <li>
                            <a href="#">FAQ</a>
                          </li>
                          <li>
                            <a href="#" target="_blank">Centre for Humdata <i class="glyphicon glyphicon-new-window"></i></a>
                          </li>
                          <li>
                            <a href="#" target="_blank">HXL Standards <i class="glyphicon glyphicon-new-window"></i></a>
                          </li>
                          <li>
                            <a href="#" target="_blank">Open source <i class="glyphicon glyphicon-new-window"></i></a>
                          </li>
                          <li>
                            <a href="#">Contact</a>
                          </li>
                        </ul>
                      </label>
                      <label class="links-list">
                        Related Sites
                        <ul>
                          <li>
                            <a href="#" target="_blank">HR info <i class="glyphicon glyphicon-new-window"></i></a>
                          </li>
                          <li>
                            <a href="#" target="_blank">ReliefWeb <i class="glyphicon glyphicon-new-window"></i></a>
                          </li>
                        </ul>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                {% block footer_debug %}
                {% if g.debug %}
                {% include 'snippets/debug.html' %}
                {% endif %}
                {% endblock %}
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="{{ firstContainerClass }}" style="background-color: #1c1c22;">
      <div class="{{ secondContainerClass }}">
        <div class="{{ thirdContainerClass }}">
          <div class="col-xs-12 paddingLeftHack paddingRightHack">
            <div class="social-footer">
              <div class="social-links">
                <a href="http://www.twitter.com/humdata" title="Twitter" class="social-icon twitter"></a>
                <a href="https://github.com/OCHA-DAP" title="GitHub" class="social-icon github"></a>
              </div>
              <div class="product-links">
                Product of
                <img style="height: 30px;" src="/images/homepage/logo-ocha-gray.png" />
                <img style="height: 38px; margin-bottom: -8px;" src="/images/homepage/logo-centre-gray.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
<footer class="newFooter">
  <div class="{{ upperContainerClass }}">
    <div class="{{ firstContainerClass }}" style="background-color: rgb(54,54,54);">
      <div class="{{ secondContainerClass }}">
        <div class="{{ thirdContainerClass }}">
            <div class="col-xs-12 paddingLeftHack paddingRightHack">
              <div class="row">
                <div class="col-xs-7">
                  <div class="row">
                    <div class="col-xs-12">
                      <span data-module="hdx_click_stopper" data-module-link_type="footer"
                            data-module-selector=".analytics-footer-license" style="display: none;"></span>
                      <span data-module="hdx_click_stopper" data-module-link_type="footer"
                            data-module-selector=".analytics-footer-termsofservice" style="display: none;"></span>
                      <ul class="mainLinks">
                        <li>{% link_for _('Data Licenses'), controller='ckanext.hdx_theme.splash_page:SplashPageController', action='about', page='license', class_='analytics-footer-license' %}</li>
                        <li>{% link_for _('Terms of Service'), controller='ckanext.hdx_theme.splash_page:SplashPageController', action='about', page='terms', class_='analytics-footer-termsofservice'  %}</li>
                        <li><a href="/faq" data-module="hdx_click_stopper" data-module-link_type="footer">{{ _('Faq') }}</a></li>
                        <!--<li><a href="http://docs.hdx.rwlabs.org/get-involved/">{{ _('Feedback') }}</a></li> -->
                        <li><a href="https://centre.humdata.org/category/blog/" data-module="hdx_click_stopper" data-module-link_type="footer">{{ _('Blog') }}</a></li>
                        <li><a href="https://centre.humdata.org/" data-module="hdx_click_stopper" data-module-link_type="footer">{{ _('Centre') }}</a></li>
                        <li><a href="https://centre.humdata.org/get-involved/" data-module="hdx_click_stopper" data-module-link_type="footer">{{ _('Contact') }}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="titlePlusVersion gothamBold10">
                        {{ _("HUMANITARIAN DATA EXCHANGE") }} &nbsp; {{ h.hdx_version() }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="mailChimpForm">
                        <span class="subscribeText">Subscribe to our mailing list.</span>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                          <form action="//humdata.us14.list-manage.com/subscribe/post?u=ea3f905d50ea939780139789d&amp;id=d996922315" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" _lpchecked="1">

                            <div class="six columns left" style="padding-left: 0px;">
                              <input style="width: 340px; margin: 0; padding: 5;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL">
                              <input style="height: 44px; margin-left: 20px;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                            </div>
                            <div id="mce-responses" class="clear">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <!--
                            <div>
                              <input type="text" name="b_83487eb1105d72ff2427e4bd7_6fd988326c" tabindex="-1" value="">
                            </div>
                            -->
                            <div class="clear one columns left">
                            </div>
                          </form>
                        </div>
                        <!--End mc_embed_signup-->
                      </div>
                    </div>
                  </div>

                </div>
                <div class="offset2 span1 col-xs-offset-1 col-xs-1">
                  <div class="pull-right ccIcon">
                    <i class="icon-cc" style="color: white; font-size: 40px; margin-right: 30px;"></i>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="otherLicenseText sspRegular12">
                    {{ _("Except where otherwise noted, content on this site is licensed under a ") }}<a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a>{{ _(" International license.") }}
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>

    <div class="{{ firstContainerClass }}" style="background-color: #1c1c22;">
      <div class="{{ secondContainerClass }}">
        <div class="{{ thirdContainerClass }}">
          <div class="col-xs-12 paddingLeftHack paddingRightHack" style="height: 68px;">
            <div style="margin-top: 20px;">
              <a href="http://www.twitter.com/humdata" title="Twitter" class="social-icon twitter"></a>
              <a href="https://github.com/OCHA-DAP" title="GitHub" class="social-icon github"></a>
              <a href="mailto:hdx@un.org" title="Email Us" class="social-icon email"></a>
              <a href="https://centre.humdata.org/?feed=rss2" title="Subscribe via RSS" class="social-icon rss"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
