<div class="global-header"> <!-- header is streched for the homepage -->
    <div class="header-message global-header-bg">
        <div class="header-message-container">
            <img class="header-message-image lazyload" data-src="/images/empty.png" />
        </div>
    </div>
    <div class="global-header-bg">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 global-header-content">
            <a href="#" data-toggle="dropdown" class="ocha-services" aria-label="OCHA services">
              <span class="ocha-logo"></span>
              <span class="ocha-services-text">OCHA Services</span>

              <svg class="icon-o-arrow-up" viewBox="0 0 48 48"><path d="M0,34a4,4,0,0,1,1.17-2.83l20-20a4,4,0,0,1,5.66,0l20,20a4,4,0,1,1-5.66,5.66L24,19.66,6.83,36.83A4,4,0,0,1,0,34Z"/></svg>
              <svg class="icon-o-arrow-down" viewBox="0 0 48 48"><path d="M48,14a4,4,0,0,1-1.17,2.83l-20,20a4,4,0,0,1-5.66,0l-20-20a4,4,0,0,1,5.66-5.66L24,28.34,41.17,11.17A4,4,0,0,1,48,14Z"/></svg>
            </a>
            <div class="dropdown-menu ocha-services-menu" role="menu">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-xs-12 section-spacing">
                    <p class="list-title">
                      Related Platforms
                    </p>
                    <ul class="ocha-links-list">
                      <li>
                        <a href="https://centre.humdata.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Centre for Humanitarian Data</a>
                      </li>
                      <li>
                        <a href="https://hxlstandard.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian Exchange Language (HXL)</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <p class="list-title">
                      Other OCHA Services
                    </p>
                    <ul class="ocha-links-list">
                      <li>
                        <a href="https://fts.unocha.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Financial Tracking Service</a>
                      </li>
                      <li>
                        <a href="https://data.humdata.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian Data Exchange</a>
                      </li>
                      <li>
                        <a href="https://humanitarian.id/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian ID</a>
                      </li>
                      <li>
                        <a href="https://hum-insight.info/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian InSight</a>
                      </li>
                      <li>
                        <a href="https://www.humanitarianresponse.info" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian Response</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-xs-12 section-spacing">
                    <p class="list-title list-title-empty">
                      &nbsp;
                    </p>
                    <ul class="ocha-links-list">
                      <li>
                        <a href="https://interagencystandingcommittee.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Inter-Agency Standing Committee</a>
                      </li>
                      <li>
                        <a href="https://www.unocha.org" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">OCHA Website</a>
                      </li>
                      <li>
                        <a href="https://reliefweb.int" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Relief Web</a>
                      </li>
                      <li>
                        <a href="https://vosocc.unocha.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Virtual OSOCC</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <a href="https://www.unocha.org/ocha-digital-services" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header" class="btn ocha-see-all">
                      See all
                    </a>
                  </div>
                </div>
              </div>

            </div>
            {% if step %}
            <div class="onboarding-step">
              {% if step == "hdx_onboarding_first_login" %}
              <div id="first-login" style="display: none;">first login</div>
              <div id="incomplete-profile" class="pull-left">
                » <span>You haven't optimised your account.</span> <a onclick="closeCurrentWidget(this);showOnboardingWidget('#registeredPopup');" href="#">Complete setting up your account</a>
              </div>
              {% endif %}
              {% if step == "hdx_onboarding_follows" %}
              <div id="incomplete-profile" class="pull-left">
                » <span>You haven't optimised your account.</span> <a onclick="closeCurrentWidget(this);showOnboardingWidget('#registeredPopup');" href="#">Complete setting up your account</a>
              </div>
              {% endif %}
              {% if step == "hdx_onboarding_org" %}
              <div id="incomplete-profile" class="pull-left">
                » <span>You haven't optimised your account.</span> <a onclick="closeCurrentWidget(this);showOnboardingWidget('#selectOrgPopup', '#user_extra', 'True');" href="#">Complete setting up your account</a>
              </div>
              {% endif %}
              {% if step == "hdx_onboarding_friends" %}
              <div id="incomplete-profile" class="pull-left">
                » <span>You haven't optimised your account.</span> <a onclick="closeCurrentWidget(this);showOnboardingWidget('#invitePopup');" href="#">Complete setting up your account</a>
              </div>
              {% endif %}
            </div>
            {% endif %}
            <div class="header-user-box pull-right">

              <ul class="separated-list">
                {% block header_top_right_side_menu %}
<!--                 <li>
                  <a class="action-red" href="{{ h.url_for('hdx_faqs.read', category='covid') }}" data-module="hdx_click_stopper" data-module-link_type="footer" aria-label="faq link">
                    <span class="action-text">
                      <span class="full-text">Data Responsibility for </span>COVID-19
                    </span>
                  </a>
                </li> -->
                <li>
                  <a class="action" href="/faq" data-module="hdx_click_stopper" data-module-link_type="footer" aria-label="faq link">
                    <svg class="icon-o-help" viewBox="0 0 48 48"><path d="M29,43a5,5,0,0,1-5,5,5,5,0,1,1,3.53-8.53A4.82,4.82,0,0,1,29,43Z"/><path d="M24,0A11,11,0,0,0,13,11a4,4,0,0,0,8,0,3,3,0,0,1,6,0h0c0,2-.64,3-2.33,4.67-2,2-4.67,4.67-4.67,9.33v5a4,4,0,0,0,8,0V25c0-1.23.64-2,2.33-3.67A14.43,14.43,0,0,0,35,11h0A11,11,0,0,0,24,0Z"/></svg>
                    <span class="action-text">
                      {{ _('FAQ') }}
                    </span>
                  </a>
                </li>

                  {% if c.userobj %}
                    {% snippet 'light/notifications/notification_snippet.html' %}
                    <li>
                      <div class="dropdown">
                        <a href="#" class="dropdown-toggle header-user-name" data-toggle="dropdown">
                          <svg class="icon-o-user" viewBox="0 0 48 48">
                            <path d="M23,24h2A16,16,0,0,1,41,40v4a0,0,0,0,1,0,0H7a0,0,0,0,1,0,0V40A16,16,0,0,1,23,24Z"/>
                            <rect x="15" y="4" width="18" height="18" rx="9" ry="9"/>
                          </svg>
                          <div
                            class="username">{{ h.markdown_extract(c.userobj.display_name, extract_length=15) }}</div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                          {% block header_account_logged %}
                            {% set user_is_sysadmin = h.check_access('sysadmin') %}
                            {% set def_url = h.find_first_global_settings_url() %}
                            {% if def_url %}
                              <li>
                                <a href="#" class="collapsible-submenu-item" title="{{ _('Sysadmin Dashboard') }}">
                                  {{ _('Sysadmin Dashboard') }} <i class="humanitarianicons-Down"></i>
                                </a>
                                <ul id="user-menu-sysadmin-submenu" class="dropdown-submenu collapse in">
                                  {% if user_is_sysadmin %}
                                    <li>
                                      <a href="{{ def_url }}" title="{{ _('All Sysadmins') }}">
                                        <i class="icon-legal"></i>
                                        <span>{{ _('All Sysadmins') }}</span>
                                      </a>
                                    </li>
                                  {% endif %}
                                  {% if user_is_sysadmin %}
                                    <li>
                                      <a href="/user/" title="{{ _('All Users') }}">
                                        <i class="icon-legal"></i>
                                        <span>{{ _('All Users') }}</span>
                                      </a>
                                    </li>
                                  {% endif %}
                                  {% if user_is_sysadmin or h.check_access('hdx_carousel_update') %}
                                    <li>
                                      <a href="{{ h.url_for('hdx_carousel.show') }}" title="{{ _('Carousel') }}">
                                        <i class="icon-legal"></i>
                                        <span>{{ _('Carousel') }}</span>
                                      </a>
                                    </li>
                                  {% endif %}
                                  {% if user_is_sysadmin or h.check_access('hdx_request_data_admin_list') %}
                                    <li>
                                      <a href="{{ h.url_for('requestdata_ckanadmin.requests_data') }}"
                                         title="{{ _('HDX Connect Dashboard') }}">
                                        <i class="icon-legal"></i>
                                        <span>{{ _('HDX Connect Dashboard') }}</span>
                                      </a>
                                    </li>
                                  {% endif %}
                                  {% if user_is_sysadmin or h.check_access('admin_page_list') %}
                                    <li>
                                      <a href="{{ h.url_for('hdx_custom_pages.index') }}"
                                         title="{{ _('Custom/Event Pages') }}">
                                        <i class="icon-legal"></i>
                                        <span>{{ _('Custom/Event Pages') }}</span>
                                      </a>
                                    </li>
                                  {% endif %}
                                  {% if user_is_sysadmin or h.check_access('hdx_quick_links_update') %}
                                    {{ h.build_nav_icon('hdx_quick_links.show', _('Quick Links')) }}
                                    {{ h.build_nav_icon('hdx_package_links.show', _('Package Links')) }}
                                  {% endif %}
                                  {% if user_is_sysadmin %}
                                    {{ h.build_nav_icon('requestdata_ckanadmin.email', _('Email')) }}
                                    {{ h.build_nav_icon('admin.config', _('Config')) }}
                                  {% endif %}
                                </ul>
                              </li>
                            {% endif %}
                            {% if def_url and h.hdx_get_ckan_config('hdx.qadashboard.enabled') == 'true'  and c.userobj.sysadmin %}
                              <li>
                                <a href="/qa_dashboard?ext_bulk_datasets=0&ext_qa_completed=0"
                                   title="{{ _('QA Dashboard') }}">
                                  <i class="icon-legal"></i>
                                  <span>{{ _('QA Dashboard') }}</span>
                                </a>
                              </li>
                            {% endif %}
                            <li class="notifications">
                              <a href="#" class="collapsible-submenu-item" title="{{ _('User Dashboard') }}">
                                {{ _('User Dashboard') }} <i class="humanitarianicons-Up"></i>
                              </a>
                              <ul class="dropdown-submenu collapse {% if not def_url %}in{% endif %}">
                                {{ h.build_nav_icon('dashboard.index', _('Newsfeed'), class_='hdx-tab-button') }}
                                {{ h.build_nav_icon('hdx_user_dashboard.datasets', _('My Datasets'), class_='hdx-tab-button') }}
                                {{ h.build_nav_icon('dashboard.organizations', _('My Organisations'), class_='hdx-tab-button') }}
                                {{ h.build_nav_icon('dashboard.groups', _('My Locations'), class_='hdx-tab-button') }}
                                {{ h.build_nav_icon('requestdata.my_requested_data', _('HDX Connect Requests'), id=c.userobj.name) }}
{#                                {% if user_is_sysadmin %}#}
{#                                  <li>#}
{#                                    <a href="#" data-module="hdx_click_stopper" data-module-link_type="main nav">COD</a>#}
{#                                  </li>#}
{#                                {% endif %}#}

                              </ul>
                            </li>
                            <li class="notifications">
                              <a href="#" class="collapsible-submenu-item" title="{{ _('User Settings') }}">
                                {{ _('User Settings') }} <i class="humanitarianicons-Up"></i>
                              </a>
                              <ul class="dropdown-submenu collapse">
                                {{ h.build_nav_icon('user.read', _('Datasets'), id=c.userobj.name) }}
                                {{ h.build_nav_icon('user.activity', _('Activity Stream'), id=c.userobj.name) }}
                                {% if h.check_access('sysadmin') %}
                                  {{ h.build_nav_icon('hdx_user_permission.read', _('User Permission'), id=c.userobj.name) }}
                                {% endif %}
                                {% if h.check_access('api_token_list', {'user': c.userobj['name']}) %}
                                  {{ h.build_nav_icon('user.api_tokens', _('API Tokens'), id=c.userobj.name) }}
                                {% endif %}
                              </ul>
                            </li>


                            {% block header_account_log_out_link %}
                              <li>
                                <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                  <i class="icon-signout"></i>
                                  <span>{{ _('Log out') }}</span>
                                </a>
                              </li>
                            {% endblock %}
                          {% endblock %}
                        </ul>
                      </div>
                    </li>
                    {#
                <li class="logout-action">
                  <a class="action" href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="glyphicon glyphicon-log-out"></i>
                    <span>{{ _('Log out') }}</span>
                  </a>
                </li>
                #}
                  {% else %}
                    {% block header_account_notlogged %}
                      <li>
                        <a class="action" class="special-menuitem" onclick="showOnboardingWidget('#loginPopup');"
                           href="#" aria-label="login">
                          <svg class="icon-o-user" viewBox="0 0 48 48">
                            <path d="M23,24h2A16,16,0,0,1,41,40v4a0,0,0,0,1,0,0H7a0,0,0,0,1,0,0V40A16,16,0,0,1,23,24Z"/>
                            <rect x="15" y="4" width="18" height="18" rx="9" ry="9"/>
                          </svg>
                          <span class="action-text">
                          {{ _('Log in') }}
                        </span>

                        </a>
                      </li>
                      <li>
                        <a class="action" onclick="spawnRecaptcha('#signupPopup');showOnboardingWidget('#signupPopup');"
                           href="#" aria-label="sign up">
                          <svg class="icon-o-checked" viewBox="0 0 48 48">
                            <path
                              d="M24,2A22,22,0,1,0,46,24,22,22,0,0,0,24,2ZM38.06,18.37,23,33.83a2.92,2.92,0,0,1-2.9.8,3,3,0,0,1-1.6-.83L10,25.29A3,3,0,0,1,14.2,21l6.5,6.5L33.77,14.17a3,3,0,1,1,4.29,4.19Z"/>
                          </svg>
                          <span class="action-text">
                            {{ _('Sign up') }}
                          </span>
                        </a>
                      </li>
                    {% endblock %}
                  {% endif %}

                {% if page_has_mobile_version %}
                <li class="less-important">
                  <a class="action" href="{{ h.hdx_switch_url_path() }}">
                    <span class="single-icon icon-phone"></span>
                    <span>{{ _('Switch to HDX Lite') }}</span>
                  </a>
                </li>
                {% endif %}
                {% if page_has_desktop_version %}
                <li class="less-important">
                  <a class="action" href="{{ h.hdx_switch_url_path() }}">
                    <span class="single-icon icon-laptop"></span>
                    <span class="action-text">{{ _('Switch to full desktop site') }}</span>
                  </a>
                </li>
                {% endif %}
                {% endblock %}
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
