{% set dataLink = "/dataset?sort=metadata_modified+desc" %}
{% set locationLink = "/group" %}
{% set orgLink = "/organization" %}
{% set elNinoLink = h.url_for('read_event', id='elnino') %}
{% set nepalLink = h.url_for('show_custom_country', id='nepal-earthquake') %}
{% set ebolaLink = "/ebola" %}
{% set faqLink = "/faq" %}
{% set events = h.hdx_events_list() %}

{% block header_wrapper %}
<div>
</div>
<header class="newHeader">
<div class="homepage-header-user-bg">
  <div class="container">
    <div class="row paddingRowHack header-user-bg">
      <div class="col-xs-12 paddingLeftHack paddingRightHack" style="position: relative;">
        {% if step %}
          {% if step == "hdx_onboarding_first_login" %}
            <div id="first-login" style="display: none;">first login</div>
            <div id="incomplete-profile" class="pull-left">
              » You haven't optimised your your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#registeredPopup');" href="#">Complete setting up your account</a>
            </div>
          {% endif %}
          {% if step == "hdx_onboarding_follows" %}
            <div id="incomplete-profile" class="pull-left">
              » You haven't optimised your your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#registeredPopup');" href="#">Complete setting up your account</a>
            </div>
          {% endif %}
          {% if step == "hdx_onboarding_org" %}
            <div id="incomplete-profile" class="pull-left">
              » You haven't optimised your your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#selectOrgPopup');" href="#">Complete setting up your account</a>
            </div>
          {% endif %}
          {% if step == "hdx_onboarding_friends" %}
            <div id="incomplete-profile" class="pull-left">
              » You haven't optimised your your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#invitePopup');" href="#">Complete setting up your account</a>
            </div>
          {% endif %}
        {% endif %}
        <div class="header-user-box pull-right">
          {% if c.userobj %}
            <span class="dropdown">
              <a href="#" class="dropdown-toggle header-user-name" data-toggle="dropdown">
                <span class="username">{{ h.markdown_extract(c.userobj.display_name, extract_length=15) }}</span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {% block header_account_logged %}
                {% if c.userobj.sysadmin %}
                <li>
                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                    <i class="icon-legal"></i>
                    <span>{{ _('Sysadmin settings') }}</span>
                  </a>
                </li>
                {% endif %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                    <i class="icon-user"></i>
                    <span>{{ _('Profile') }}</span>
                  </a>
                </li>
                <li class="notifications {% if c.new_activities > 0 %}notifications-important{% endif %}">
                  {# CKAN 2.2 DOES NOT LIKE THIS #}
                  {# set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', c.new_activities) #}
                  <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{# notifications_tooltip #}">
                    <i class="icon-dashboard"></i>
                    <span> {{ _('Dashboard') }} ({{ h.new_activities() }})</span>
                  </a>
                </li>
                <li>
                  <a href="{{ h.url_for(controller='user', action='dashboard_organizations') }}" title="{{ _('My Organisations') }}">
                    <i class="icon-user"></i>
                    <span>{{ _('My Organisations') }}</span>
                  </a>
                </li>
                {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                    <i class="icon-cog"></i>
                    <span>{{ _('User settings') }}</span>
                  </a>
                </li>
                {% endblock %}
                {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="icon-signout"></i>
                    <span>{{ _('Log out') }}</span>
                  </a>
                </li>
                {% endblock %}
                {% endblock %}
              </ul>
            </span>
            <span style="margin: 0 10px;">|</span>
            <span>
              <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                {{ _('Log out') }}
              </a>
            </span>
          {% else %}
            {% block header_account_notlogged %}
              <span>
                <a class="special-menuitem" onclick="showOnboardingWidget('#loginPopup');" href="#">Log in</a>
              </span>
              <span style="margin: 0 10px;">|</span>
              <span><a onclick="showOnboardingWidget('#signupPopup');" href="#">{{_('Sign up')}}</a></span>
            {% endblock %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homepage-header-nav-border">
  <div class="container">
    <div class="row paddingRowHack header-nav-bg">
      <div class="span12 paddingLeftHack paddingRightHack header-nav-border">
        <div class="header-nav">
          {# The .header-image class hides the main text and uses image replacement for the title #}
          <span class="table-valign pull-left">
            <span class="hdxLogo table-valign-content">
              {% block header_logo %}
                {% if g.site_logo %}
                  <a class="logo" href="{{ h.url('home') }}"><div class="logo-img" alt="{{ g.site_title }} Logo" ></div><span id="hdxVersion">{{ h.hdx_version() }}</span></a>
                {% else %}
                  <h1>
                    <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
                  </h1>
                  {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
                {% endif %}
              {% endblock %}
            </span>
          </span>
          <span class="header-nav-search table-valign pull-left">
            <span class="table-valign-content">
              <div class="">
                <form class="header-search-form" method="get" action="{% url_for 'search', sort='metadata_modified desc' %}">
                  <div id="input-search">
                  <div class="input-prepend input-append">
                    <i class="icon-search"></i>
                    <input type="text" class="searchInput" id="q" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search Datasets') }}">
                    <input type="hidden" value="main-nav" name="ext_search_source" />
                    {% if c.full_facet_info %}
                      {% set filter_icon_class = 'icon-close_filter_button' if c.full_facet_info.get("filters_selected") or c.full_facet_info.get("query_selected") else 'icon-open_filter_button' %}
                      <i id="search_filter_btn" class="{{ filter_icon_class }} filter-icon"  title="{{ _('Filters') }}"></i>
                    {% endif %}
                  </div>
                  <div class="search-ahead"></div>
                </div>
                </form>
              </div>
            </span>
          </span>
          <span class="table-valign pull-right" style="margin-left: 20px;">
            <span class="table-valign-content">
              {% set add_data_obj = h.hdx_check_add_data() %}
              {% if add_data_obj %}
                <a href="{{ add_data_obj.href }}" onclick="{{ add_data_obj.onclick }}">
              {% else %}
                  <!-- keeping for the moment the old way just in case. To be removed after good testing -->
                  <a href="{% if c.userobj %}#{% else %}/contribute{% endif %}" onclick="{% if c.userobj %}contributeAddDetails();{% endif %}">
              {% endif %}
              <!--<a href="{% if c.userobj %}#{% else %}/contribute{% endif %}" onclick="{% if c.userobj %}contributeAddDetails();{% endif %}"> -->
              <!--<a href="{% if c.userobj %}/dataset/preselect{% else %}/contribute{% endif %}">-->
                <div class="submitData">
                  {{ _("Add data") }}
                  <!--<img src="/images/homepage/attachment.svg" style="height: 21px; margin-left: 20px;" />-->
                </div>
              </a>
            </span>
          </span>
          <span class="table-valign pull-left">
            <span class="table-valign-content">
              <ul class="mainLinks">
                {% block header_site_navigation_tabs %}
                  <li><a href="{{ dataLink }}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ _('Data') }}</a></li>
                  <li><a href="{{ locationLink }}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ _('Locations') }}</a></li>
                  <li><a href="{{ orgLink}}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ _('Organisations') }}</a></li>
                  <li style="position: relative">
                      <a href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        <span id="crises-label" >{{ _('Events') }}</span>
                      </a>
                      <ul class="dropdown-menu crises-menu" role="menu" aria-labelledby="crises-label">
                          <li class="crises-group">
                              Ongoing
                              <ul>

                                  {% for ev in events.ongoing %}
                                    <li>
                                      <div><a href="/{{ev.type}}/{{ev.name}}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ ev.title }}</a></div>
                                      <!--<div class="crises-datasets">[ ## Datasets ]</div>-->
                                    </li>
                                  {% endfor %}
                              </ul>
                          </li>
                          {# if events.archived #}
                              <li class="crises-group">
                                  Archived
                                  <ul>
                                      {% for ev in events.archived %}
                                        <li>
                                          <div><a href="/{{ev.type}}/{{ev.name}}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ ev.title }}</a></div>
                                          <!--<div class="crises-datasets">[ ## Datasets ]</div>-->
                                        </li>
                                      {% endfor %}
                                      <li>
                                          <div><a href="/ebola" data-module="hdx_click_stopper" data-module-link_type="main nav">Ebola</a></div>
                                          <!--<div class="crises-datasets">[ ## Datasets ]</div>-->
                                      </li>
                                      <li>
                                          {% set nepalLink = h.url_for('show_custom_country', id='nepal-earthquake') %}
                                          <div><a href="{{nepalLink}}" data-module="hdx_click_stopper" data-module-link_type="main nav">Nepal Earthquake</a></div>
                                          <!--<div class="crises-datasets">[ ## Datasets ]</div>-->
                                      </li>

                                  </ul>
                              </li>
                          {# endif #}
                      </ul>
                  </li>
                  <li><a id="faq-label" href="{{ faqLink }}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ _('Faq') }}</a></li>
                  <!--<li><a id="feedback-label" href="http://docs.hdx.rwlabs.org/get-involved/">{{ _('Feedback') }}</a></li>-->
                {% endblock %}
              </ul>
            </span>
          </span>

        </div>
      </div>
    </div>
  </div>
</div>
</header>

<!-- MOBILE NAV START -->
<nav class="mobile-only navbar navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="hdxLogo">
                <a class="logo" href="/"><div class="logo-img" alt="Humanitarian Data Exchange Logo"></div></a>
            </div>
                <div class="header-nav-search table-valign pull-left">
                    <span class="table-valign-content">
                        <div class="">
                            <form class="header-search-form" method="get" action="/search?sort=metadata_modified+desc">
                                <div id="input-search">
                                    <div class="input-prepend input-append">
                                        <i class="icon-search"></i>
                                        <input type="text" class="searchInput" id="q" name="q" value="" autocomplete="off" placeholder="Search Datasets">
                                        <input type="hidden" value="main-nav" name="ext_search_source" />
                                    </div>
                                    <div class="search-ahead"></div>
                                </div>
                            </form>
                        </div>
                    </span>
                </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ dataLink }}">Data</a></li>
                <li><a href="{{ locationLink }}">Locations</a></li>
                <li><a href="{{ orgLink }}">Organisations</a></li>
                <li class="crisis"><a href="{{ nepalLink }}"><span>Event</span><br>Nepal Earthquake</a></li>
                <li class="crisis"><a href="{{ ebolaLink }}"><span>Event</span><br>Ebola</a></li>
                {% for ev in events.ongoing %}
                  <li class="crisis"><a href="/{{ev.type}}/{{ev.name}}"><span>Event</span><br>{{ ev.title }}</a></li>
                {% endfor %}
                {% for ev in events.archived %}
                  <li class="crisis"><a href="/{{ev.type}}/{{ev.name}}"><span>Event - Archived</span>{{ ev.title }}</a></li>
                {% endfor %}

                <li class="sub-nav"><a href="{{ faqLink }}">FAQ</a></li>
                <li class="sub-nav top-pad">{% link_for _('Data Licenses'), controller='ckanext.hdx_theme.splash_page:SplashPageController', action='about', page='license' %}</li>
                <li class="sub-nav">{% link_for _('Terms'), controller='ckanext.hdx_theme.splash_page:SplashPageController', action='about', page='terms' %}</li>
                <li class="sub-nav"><a href="http://docs.hdx.rwlabs.org/">Blog</a></li>
                <li class="sub-nav"><a href="http://docs.hdx.rwlabs.org/get-involved/">Contact</a></li>
                <li class="sub-nav login top-pad"><a onclick="showOnboardingWidget('#loginPopup');" href="#">Login</a> | <a onclick="showOnboardingWidget('#signupPopup');" href="#">Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- MOBILE NAV END -->

{% endblock %}
