{% extends "header_base.html" %}

{% block header_content %}
<!-- MOBILE NAV START -->
<nav class="mobile-only navbar navbar-static-top new-header" role="navigation">
    {% include "header-global.html" %}
    <div class="container">
        <div class="navbar-header">
            <div class="hdxLogo">
                <a class="logo" href="/" aria-label="Humanitarian Data Exchange Logo"><div class="logo-img"></div></a>
            </div>
                <div class="header-nav-search table-valign pull-left">
                    <span class="table-valign-content">
                        <div class="">
                            <form class="header-search-form" method="get" action="/search?sort=metadata_modified+desc">
                                <div id="input-search">
                                    <div class="input-prepend input-append">
                                        <i class="icon-search"></i>
                                        <input type="text" class="searchInput" id="qMobile" name="q" value="" autocomplete="off" placeholder="Search Datasets" aria-label="Search Datasets">
                                        <input type="hidden" value="main-nav" name="ext_search_source" />
                                    </div>
                                    <div class="search-ahead"></div>
                                </div>
                            </form>
                        </div>
                    </span>
                </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ dataLink }}" data-module="hdx_click_stopper" data-module-link_type="main nav">Data</a></li>
                <li><a href="{{ locationLink }}" data-module="hdx_click_stopper" data-module-link_type="main nav">Locations</a></li>
                <li><a href="{{ orgLink }}" data-module="hdx_click_stopper" data-module-link_type="main nav">Organisations</a></li>
                <li class="crisis"><a><span>Quicklinks / Ongoing</span></a></li>
                {% for ev in events.ongoing %}
                  <li class="crisis"><a href="/{{ev.type}}/{{ev.name}}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ ev.title }}</a></li>
                {% endfor %}
                <li class="crisis"><a href="{{h.url_for('group_read', id='ssd')}}" data-module="hdx_click_stopper" data-module-link_type="main nav">South Sudan</a></li>
                <li class="crisis"><a href="{{h.url_for('group_read', id='syr')}}" data-module="hdx_click_stopper" data-module-link_type="main nav">Syria</a></li>
                <li class="crisis"><a href="{{h.url_for('group_read', id='yem')}}" data-module="hdx_click_stopper" data-module-link_type="main nav">Yemen</a></li>
                <li class="crisis"><a href="{{h.url_for(controller='ckanext.hdx_pages.controllers.custom_page:PagesController', action='read_dashboards', id='cod')}}" data-module="hdx_click_stopper" data-module-link_type="main nav">Common Operational Datasets</a></li>
                <li class="crisis"><a><span>Quicklinks / Archived</span></a></li>
                {% for ev in events.archived %}
                  <li class="crisis"><a href="/{{ev.type}}/{{ev.name}}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ ev.title }}</a></li>
                {% endfor %}
                <li class="crisis"><a href="{{ nepalLink }}" data-module="hdx_click_stopper" data-module-link_type="main nav">Nepal Earthquake</a></li>
                <li class="crisis"><a href="{{ ebolaLink }}" data-module="hdx_click_stopper" data-module-link_type="main nav">Ebola 2014</a></li>

                <li class="sub-nav"><a href="{{ faqLink }}" data-module="hdx_click_stopper" data-module-link_type="main nav">FAQ</a></li>
                <li class="sub-nav top-pad"><a href="{{ h.url_for(controller='ckanext.hdx_theme.splash_page:SplashPageController', action='about', page='license') }}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ _('Data Licenses') }}</a></li>
                <li class="sub-nav"><a href="{{ h.url_for(controller='ckanext.hdx_theme.splash_page:SplashPageController', action='about', page='terms') }}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ _('Terms') }}</a></li>
                <li class="sub-nav"><a href="https://centre.humdata.org/category/blog/" data-module="hdx_click_stopper" data-module-link_type="main nav">Blog</a></li>
                <li class="sub-nav"><a href="https://centre.humdata.org/get-involved/" data-module="hdx_click_stopper" data-module-link_type="main nav">Contact</a></li>
                <li class="sub-nav login top-pad">
                  <a onclick="showOnboardingWidget('#loginPopup');" href="#" aria-label="login">Login</a> |
                  <a onclick="showOnboardingWidget('#signupPopup');" href="#" aria-label="sign up">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- MOBILE NAV END -->
{% endblock %}
