{% block header_wrapper %}
<div>
</div>
<header class="newHeader">
<div class="homepage-header-user-bg">
  <div class="container">
    <div class="row paddingRowHack header-user-bg">
      <div class="col-xs-12 paddingLeftHack paddingRightHack" style="position: relative;">
        {% if step %}
          {% if step == "hdx_onboarding_first_login" %}
            <div id="first-login" style="display: none;">first login</div>
            <div id="incomplete-profile" class="pull-left">
              » You haven't optimised your your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#registeredPopup');" href="#">Complete setting up your account</a>
            </div>
          {% endif %}
          {% if step == "hdx_onboarding_follows" %}
            <div id="incomplete-profile" class="pull-left">
              » You haven't optimised your your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#registeredPopup');" href="#">Complete setting up your account</a>
            </div>
          {% endif %}
          {% if step == "hdx_onboarding_org" %}
            <div id="incomplete-profile" class="pull-left">
              » You haven't optimised your your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#selectOrgPopup');" href="#">Complete setting up your account</a>
            </div>
          {% endif %}
          {% if step == "hdx_onboarding_friends" %}
            <div id="incomplete-profile" class="pull-left">
              » You haven't optimised your your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#invitePopup');" href="#">Complete setting up your account</a>
            </div>
          {% endif %}
        {% endif %}
        <div class="header-user-box pull-right">
          {% if c.userobj %}
            <span class="dropdown">
              <a href="#" class="dropdown-toggle header-user-name" data-toggle="dropdown">
                <span class="username">{{ h.markdown_extract(c.userobj.display_name, extract_length=15) }}</span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {% block header_account_logged %}
                {% if c.userobj.sysadmin %}
                <li>
                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                    <i class="icon-legal"></i>
                    <span>{{ _('Sysadmin settings') }}</span>
                  </a>
                </li>
                {% endif %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                    <i class="icon-user"></i>
                    <span>{{ _('Profile') }}</span>
                  </a>
                </li>
                <li class="notifications {% if c.new_activities > 0 %}notifications-important{% endif %}">
                  {# CKAN 2.2 DOES NOT LIKE THIS #}
                  {# set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', c.new_activities) #}
                  <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{# notifications_tooltip #}">
                    <i class="icon-dashboard"></i>
                    <span> {{ _('Dashboard') }} ({{ h.new_activities() }})</span>
                  </a>
                </li>
                {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                    <i class="icon-cog"></i>
                    <span>{{ _('User settings') }}</span>
                  </a>
                </li>
                {% endblock %}
                {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="icon-signout"></i>
                    <span>{{ _('Log out') }}</span>
                  </a>
                </li>
                {% endblock %}
                {% endblock %}
              </ul>
            </span>
            <span style="margin: 0 10px;">|</span>
            <span>
              <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                {{ _('Log out') }}
              </a>
            </span>
          {% else %}
            {% block header_account_notlogged %}
              <span>
                <a class="special-menuitem" onclick="showOnboardingWidget('#loginPopup');" href="#">Log in</a>
              </span>
              <span style="margin: 0 10px;">|</span>
              <span><a onclick="showOnboardingWidget('#signupPopup');" href="#">{{_('Sign up')}}</a></span>
            {% endblock %}
          {% endif %}
        </div>
        <div class="header-user-box pull-right">
          <ul class="mainLinks mainLinks-gray" style="position: absolute; right: 237px;">
            <li><a id="faq-label" href="/faq">{{ _('Faq') }}</a></li>
            <li><a id="feedback-label" href="http://docs.hdx.rwlabs.org/get-involved/">{{ _('Feedback') }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homepage-header-nav-border">
  <div class="container">
    <div class="row paddingRowHack header-nav-bg">
      <div class="span12 paddingLeftHack paddingRightHack header-nav-border">
        <div class="header-nav">
          {# The .header-image class hides the main text and uses image replacement for the title #}
          <span class="table-valign pull-left">
            <span class="hdxLogo table-valign-content">
              {% block header_logo %}
                {% if g.site_logo %}
                  <a class="logo" href="{{ h.url('home') }}"><div class="logo-img" alt="{{ g.site_title }} Logo" ></div><span id="hdxVersion">{{ h.hdx_version() }}</span></a>
                {% else %}
                  <h1>
                    <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
                  </h1>
                  {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
                {% endif %}
              {% endblock %}
            </span>
          </span>
          <span class="header-nav-search table-valign pull-left">
            <span class="table-valign-content">
              <div class="">
                <form class="header-search-form" method="get" action="{% url_for 'search', sort='metadata_modified desc' %}">
                  <div id="input-search">
                  <div class="input-prepend input-append">
                    <i class="icon-search"></i>
                    <input type="text" class="searchInput" id="q" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. IDP Colombia') }}">
                    {% set filter_icon_class = 'icon-close_filter_button' if c.filters_are_selected else 'icon-open_filter_button' %}
                    <i id="search_filter_btn" class="{{ filter_icon_class }} filter-icon"  title="{{ _('Filters') }}"></i>
                  </div>
                  <div id="search-ahead"></div>
                </div>
                </form>
              </div>
            </span>
          </span>
          <span class="mL45 table-valign pull-right">
            <span class="table-valign-content">
              <a href="{% if c.userobj %}/dataset/preselect{% else %}/contribute{% endif %}">
                <div class="submitData">
                  {{ _("Share data") }}
                  <!--<img src="/images/homepage/attachment.svg" style="height: 21px; margin-left: 20px;" />-->
                </div>
              </a>
            </span>
          </span>
          <span class="table-valign pull-right">
  <span class="table-valign-content">
    <ul class="mainLinks">
      {% block header_site_navigation_tabs %}
        <li><a href="/dataset?sort=metadata_modified+desc">{{ _('Data') }}</a></li>
        <li><a href="/group">{{ _('Locations') }}</a></li>
        <li><a href="/organization">{{ _('Organisations') }}</a></li>
        <li style="position: relative">
            <a id="crises-label" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{ _('Crises') }}</a>
            <ul class="dropdown-menu crises-menu" role="menu" aria-labelledby="crises-label">
                <li><a href="{{ h.url_for('show_custom_country', id='nepal-earthquake') }}">{{ _('Nepal Earthquake') }}</a></li>
                <li><a href="/ebola">{{ _('Ebola') }}</a></li>
            </ul>
        </li>
        <!--<li><a id="faq-label" href="/faq">{{ _('Faq') }}</a></li>-->
        <!--<li><a id="feedback-label" href="http://docs.hdx.rwlabs.org/get-involved/">{{ _('Feedback') }}</a></li>-->
      {% endblock %}
    </ul>
  </span>
</span>

        </div>
      </div>
    </div>
  </div>
</div>
</header>
{% endblock %}
