<div class="global-header homepage-header-user-bg"> <!-- header is streched for the homepage -->
    <div class="header-message global-header-bg">
        <div class="header-message-container">
            <img class="header-message-image lazyload" data-src="/images/empty.png" />
        </div>
    </div>
    <div class="container">
        <div class="row paddingRowHack global-header-bg">
            <div class="col-xs-12 paddingLeftHack paddingRightHack global-header-content">
              <a href="#" data-toggle="dropdown" class="ocha-services" aria-label="OCHA services">
                <span class="ocha-logo"></span>
                <span class="ocha-services-text">OCHA Services</span>

                <svg class="icon-o-arrow-up" viewBox="0 0 48 48"><path d="M0,34a4,4,0,0,1,1.17-2.83l20-20a4,4,0,0,1,5.66,0l20,20a4,4,0,1,1-5.66,5.66L24,19.66,6.83,36.83A4,4,0,0,1,0,34Z"/></svg>
                <svg class="icon-o-arrow-down" viewBox="0 0 48 48"><path d="M48,14a4,4,0,0,1-1.17,2.83l-20,20a4,4,0,0,1-5.66,0l-20-20a4,4,0,0,1,5.66-5.66L24,28.34,41.17,11.17A4,4,0,0,1,48,14Z"/></svg>
              </a>
              <div class="dropdown-menu ocha-services-menu" role="menu">
                <div class="paddingLeftHack paddingRightHack ">
                  <div class="row">
                    <div class="col-md-3 col-xs-12 section-spacing">
                      <p class="list-title">
                        Related Platforms
                      </p>
                      <ul class="ocha-links-list">
                        <li>
                          <a href="https://centre.humdata.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Centre for Humanitarian Data</a>
                        </li>
                        <li>
                          <a href="https://tools.humdata.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">HDX Tools</a>
                        </li>
                        <li>
                          <a href="http://hxlstandard.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian Exchange Language (HXL)</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-xs-12">
                      <p class="list-title">
                        Other OCHA Services
                      </p>
                      <ul class="ocha-links-list">
                        <li>
                          <a href="https://fts.unocha.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Financial Tracking Service</a>
                        </li>
                        <li>
                          <a href="https://data.humdata.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian Data Exchange</a>
                        </li>
                        <li>
                          <a href="https://humanitarian.id/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian ID</a>
                        </li>
                        <li>
                          <a href="https://hum-insight.info/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian InSight</a>
                        </li>
                        <li>
                          <a href="https://www.humanitarianresponse.info" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Humanitarian Response</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-xs-12 section-spacing">
                      <p class="list-title list-title-empty">
                        &nbsp;
                      </p>
                      <ul class="ocha-links-list">
                        <li>
                          <a href="https://interagencystandingcommittee.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Inter-Agency Standing Committee</a>
                        </li>
                        <li>
                          <a href="https://www.unocha.org" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">OCHA Website</a>
                        </li>
                        <li>
                          <a href="https://reliefweb.int" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Relief Web</a>
                        </li>
                        <li>
                          <a href="https://vosocc.unocha.org/" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header">Virtual OSOCC</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-xs-12">
                      <a href="https://www.unocha.org/ocha-digital-services" target="_blank" data-module="hdx_click_stopper" data-module-link_type="header" class="btn ocha-see-all">
                        See all
                      </a>
                    </div>
                  </div>
                </div>

              </div>
              {% if step %}
                <div class="onboarding-step">
                  {% if step == "hdx_onboarding_first_login" %}
                    <div id="first-login" style="display: none;">first login</div>
                    <div id="incomplete-profile" class="pull-left">
                        » You haven't optimised your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#registeredPopup');" href="#">Complete setting up your account</a>
                    </div>
                  {% endif %}
                  {% if step == "hdx_onboarding_follows" %}
                    <div id="incomplete-profile" class="pull-left">
                        » You haven't optimised your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#registeredPopup');" href="#">Complete setting up your account</a>
                    </div>
                  {% endif %}
                  {% if step == "hdx_onboarding_org" %}
                    <div id="incomplete-profile" class="pull-left">
                        » You haven't optimised your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#selectOrgPopup', '#user_extra', 'True');" href="#">Complete setting up your account</a>
                    </div>
                  {% endif %}
                  {% if step == "hdx_onboarding_friends" %}
                    <div id="incomplete-profile" class="pull-left">
                        » You haven't optimised your account. <a onclick="closeCurrentWidget(this);showOnboardingWidget('#invitePopup');" href="#">Complete setting up your account</a>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              <div class="header-user-box pull-right">
                {% if c.userobj %}
                  <ul class="separated-list">
                    <li>
                      <a class="action" href="/faq" data-module="hdx_click_stopper" data-module-link_type="footer" aria-label="faq link">
                        <svg class="icon-o-help" viewBox="0 0 48 48"><path d="M29,43a5,5,0,0,1-5,5,5,5,0,1,1,3.53-8.53A4.82,4.82,0,0,1,29,43Z"/><path d="M24,0A11,11,0,0,0,13,11a4,4,0,0,0,8,0,3,3,0,0,1,6,0h0c0,2-.64,3-2.33,4.67-2,2-4.67,4.67-4.67,9.33v5a4,4,0,0,0,8,0V25c0-1.23.64-2,2.33-3.67A14.43,14.43,0,0,0,35,11h0A11,11,0,0,0,24,0Z"/></svg>
                        <span class="action-text">
                          {{ _('FAQ') }}
                        </span>
                      </a>
                    </li>
                    <li>
                      <svg class="icon-o-user" viewBox="0 0 48 48"><path d="M23,24h2A16,16,0,0,1,41,40v4a0,0,0,0,1,0,0H7a0,0,0,0,1,0,0V40A16,16,0,0,1,23,24Z"/><rect x="15" y="4" width="18" height="18" rx="9" ry="9"/></svg>
                      <span class="dropdown">
                          {% block header_request_data_notification %}
                            {% set notification_seen = h.requestdata_get_notification() %}
                            {% if not notification_seen %}
                              <a href="{{ h.url_for('requestdata_my_requests', id=c.userobj.name) }}" title="{{ _('New data request') }}">
                                <div class="request-data-notification"></div>
                              </a>
                            {% endif %}
                          {% endblock %}
                          <a href="#" class="dropdown-toggle header-user-name" data-toggle="dropdown">
                            <span class="username">{{ h.markdown_extract(c.userobj.display_name, extract_length=15) }}</span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            {% block header_account_logged %}
                            {% if c.userobj.sysadmin %}
                            <li>
                              <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                                <i class="icon-legal"></i>
                                <span>{{ _('Sysadmin settings') }}</span>
                              </a>
                            </li>
                            {% endif %}
                            <li>
                              <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                                <i class="icon-user"></i>
                                <span>{{ _('Profile') }}</span>
                              </a>
                            </li>
                            <li class="notifications {% if c.new_activities > 0 %}notifications-important{% endif %}">
                              {# CKAN 2.2 DOES NOT LIKE THIS #}
                              {# set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', c.new_activities) #}
                              <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{# notifications_tooltip #}">
                                <i class="icon-dashboard"></i>
                                <span> {{ _('Dashboard') }} </span>
                              </a>
                            </li>
                            <li>
                              <a href="{{ h.url_for(controller='user', action='dashboard_organizations') }}" title="{{ _('My Organisations') }}">
                                <i class="icon-user"></i>
                                <span>{{ _('My Organisations') }}</span>
                              </a>
                            </li>
                            {% block header_account_settings_link %}
                            <li>
                              <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                                <i class="icon-cog"></i>
                                <span>{{ _('User settings') }}</span>
                              </a>
                            </li>
                            {% endblock %}
                            {% block header_account_log_out_link %}
                            <li>
                              <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                <i class="icon-signout"></i>
                                <span>{{ _('Log out') }}</span>
                              </a>
                            </li>
                            {% endblock %}
                            {% endblock %}
                          </ul>
                        </span>
                    </li>
                    <li>
                      <a class="action" href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                        {{ _('Log out') }}
                      </a>
                    </li>
                  </ul>
                {% else %}
                  {% block header_account_notlogged %}
                    <ul class="separated-list">
                      <li>
                        <a class="action" href="/faq" data-module="hdx_click_stopper" data-module-link_type="footer" aria-label="FAQ link">
                          <svg class="icon-o-help" viewBox="0 0 48 48"><path d="M29,43a5,5,0,0,1-5,5,5,5,0,1,1,3.53-8.53A4.82,4.82,0,0,1,29,43Z"/><path d="M24,0A11,11,0,0,0,13,11a4,4,0,0,0,8,0,3,3,0,0,1,6,0h0c0,2-.64,3-2.33,4.67-2,2-4.67,4.67-4.67,9.33v5a4,4,0,0,0,8,0V25c0-1.23.64-2,2.33-3.67A14.43,14.43,0,0,0,35,11h0A11,11,0,0,0,24,0Z"/></svg>
                          <span class="action-text">
                            {{ _('FAQ') }}
                          </span>
                        </a>
                      </li>
                      <li>
                        <a class="action" class="special-menuitem" onclick="showOnboardingWidget('#loginPopup');" href="#" aria-label="login">
                          <svg class="icon-o-user" viewBox="0 0 48 48"><path d="M23,24h2A16,16,0,0,1,41,40v4a0,0,0,0,1,0,0H7a0,0,0,0,1,0,0V40A16,16,0,0,1,23,24Z"/><rect x="15" y="4" width="18" height="18" rx="9" ry="9"/></svg>
                          <span class="action-text">
                            {{ _('Log in') }}
                          </span>

                        </a>
                      </li>
                      <li>
                        <a class="action" onclick="spawnRecaptcha('#signupPopup');showOnboardingWidget('#signupPopup');" href="#" aria-label="sign up">
                          <svg class="icon-o-checked" viewBox="0 0 48 48"><path d="M24,2A22,22,0,1,0,46,24,22,22,0,0,0,24,2ZM38.06,18.37,23,33.83a2.92,2.92,0,0,1-2.9.8,3,3,0,0,1-1.6-.83L10,25.29A3,3,0,0,1,14.2,21l6.5,6.5L33.77,14.17a3,3,0,1,1,4.29,4.19Z"/></svg>
                          <span class="action-text">
                            {{_('Sign up')}}
                          </span>
                        </a>
                      </li>
                    </ul>
                  {% endblock %}
                {% endif %}
              </div>
            </div>
        </div>
    </div>
</div>
