{% extends "base.html" %}

{%- block styles %}
  {{ super() }}
  {% asset 'hdx_theme/page-light-styles' %}
  {% if c.userobj %}
    {% asset 'hdx_theme/onboarding-bulk-user-styles' %}
  {% else %}
    {% asset 'hdx_theme/onboarding-bulk-anon-styles' %}
  {% endif %}
{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block bodytag %}{{ super() }} class="{% block bodyclassname %}home responsive{% endblock %}"{% endblock %}

{%- block page -%}

  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {%- block header %}
    {% if data %}
      {% set step = data.current_step %}
      {% if step == "hdx_login" %}
        <div id="user-login" style="display: none;">User login</div>
        {% if not data.success %}
          <div id="login-error" style="display: none;">{{ data.message }}</div>
        {% endif %}
        {% if data.info_message %}
          <div id="login-info" style="display: none;">{{ data.info_message }}</div>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if c.userobj %}
      {{ h.snippet('widget/contribute/details.html', id="addDataPopup") }}
    {% else %}
      {{ h.snippet('widget/onboarding/logout.html', id="logoutPopup") }}
{#      {{ h.snippet('widget/onboarding/login.html', id="loginPopup", login_came_from=data.login_came_from if data else None) }}#}
    {% endif %}

    {% block header_core %}
      {% set page_has_desktop_version = page_has_desktop_version if page_has_desktop_version is defined else True %}
      {% set page_has_mobile_version = page_has_mobile_version if page_has_mobile_version is defined else False  %}
      {% snippet "header-mobile.html", page_has_desktop_version=page_has_desktop_version, page_has_mobile_version=page_has_mobile_version %}
    {% endblock %}
  {% endblock %}

  {# The content block allows you to replace the content of the page if needed #}
  {%- block page_content %}
    <div role="main">
      {% block toolbar %}
      <div class="toolbarRow">
        <div class="container">
          <div class="toolbar">
            {% block breadcrumb %}
            {% if self.breadcrumb_content() | trim %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
                {% snippet 'snippets/home_breadcrumb_item.html' %}
                {% block breadcrumb_content %}{% endblock %}
              </ol>
            </nav>
            {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>
      {% endblock %}

      {%- block content %}
      {% endblock -%}

    </div>
  {% endblock -%}


  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {%- block footer %}
    {% include "footer-wide.html" %}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
  {# Keep this block to a minimum, use resource.config instead #}
  {% asset 'hdx_theme/page-light-scripts' %}

{#  {% if g.tracking_enabled %}#}
{#      {% resource 'hdx_theme/package/tracking.js' %}#}
{#  {% endif %}#}
  <link rel=preconnect href="https://fonts.gstatic.com" />
  {#<script src="https://www.google.com/recaptcha/api.js" async defer></script>#}
  {{ super() }}
  {% if c.userobj %}
    {% asset 'hdx_theme/onboarding-bulk-user-scripts' %}
  {% else %}
    {% asset 'hdx_theme/onboarding-bulk-anon-scripts' %}
  {% endif %}
{% endblock -%}

