{% extends "base.html" %}

{%- block styles %}
  <style>
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
  </style>
  {{ super() }}
  {% asset 'hdx_theme/page-light-styles' %}
  {% if c.userobj %}
    {% asset 'hdx_theme/onboarding-bulk-user-styles' %}
  {% else %}
    {% asset 'hdx_theme/onboarding-bulk-anon-styles' %}
  {% endif %}
{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block bodytag %}{{ super() }} class="home responsive"{% endblock %}

{%- block page -%}

  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {%- block header %}
    {% if data %}
      {% set step = data.current_step %}
      {% if step == "hdx_login" %}
        <div id="user-login" style="display: none;">User login</div>
        {% if not data.success %}
          <div id="login-error" style="display: none;">{{ data.message }}</div>
        {% endif %}
        {% if data.info_message %}
          <div id="login-info" style="display: none;">{{ data.info_message }}</div>
        {% endif %}
      {% endif %}
      {% if step == "hdx_logout" %}
        <div id="user-logout" style="display: none;">{{data.message}}</div>
      {% endif %}
      {% if step == "hdx_register" %}
        <div id="user-register" style="display: none;">User Register</div>
      {% endif %}
    {% endif %}
    {% if c.userobj %}
      {% set data = h.get_user_extra(c.userobj.id) %}
      {% if data is not string %}
        {% set step = data.data.current_step %}
      {% else %}
          {% set step = 'hdx_onboarding_details' %}
      {% endif %}
      {% if step %}
        {{ h.snippet('widget/onboarding/registered.html', id="registeredPopup") }}
        {{ h.snippet('widget/onboarding/follow.html', id="followPopup") }}
        {{ h.snippet('widget/onboarding/invite.html', id="invitePopup") }}
        {{ h.snippet('widget/onboarding/done.html', id="donePopup") }}
        {{ h.snippet('widget/onboarding/select-organisation.html', id="selectOrgPopup") }}
      {% endif %}
      {{ h.snippet('widget/contribute/details.html', id="addDataPopup") }}
    {% else %}
      {{ h.snippet('widget/onboarding/logout.html', id="logoutPopup") }}
      {{ h.snippet('widget/onboarding/login.html', id="loginPopup") }}
      {{ h.snippet('widget/onboarding/signup.html', id="signupPopup") }}
      {{ h.snippet('widget/onboarding/verify.html', id="verifyPopup") }}
    {% endif %}
    {{ h.snippet('widget/onboarding/survey.html', id="surveyPopup") }}

    {% block header_core %}
      {% set page_has_desktop_version = page_has_desktop_version if page_has_desktop_version is defined else True %}
      {% set page_has_mobile_version = page_has_mobile_version if page_has_mobile_version is defined else False  %}
      {% snippet "header-mobile.html", page_has_desktop_version=page_has_desktop_version, page_has_mobile_version=page_has_mobile_version %}
    {% endblock %}
  {% endblock -%}

  {# The content block allows you to replace the content of the page if needed #}
  {%- block page_content %}
    <div role="main">
      {% block toolbar %}
      <div class="col-xs-12 toolbarRow">
        <div class="toolbar">
          {% block breadcrumb %}
          {% if self.breadcrumb_content() | trim %}
          <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
            {% snippet 'snippets/home_breadcrumb_item.html' %}
            {% block breadcrumb_content %}{% endblock %}
          </ol>
          {% endif %}
          {% endblock %}
        </div>
      </div>
      {% endblock %}

      {%- block content %}
      {% endblock -%}

    </div>
  {% endblock -%}


  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {%- block footer %}
    {% include "footer-wide.html" %}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
  {# Keep this block to a minimum, use resource.config instead #}
  {% asset 'hdx_theme/page-light-scripts' %}

{#  {% if g.tracking_enabled %}#}
{#      {% resource 'hdx_theme/package/tracking.js' %}#}
{#  {% endif %}#}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {{ super() }}
  {% if c.userobj %}
    {% set data = h.get_user_extra(c.userobj.id) %}
    {% if data is not string %}
      {% set step = data.data.current_step %}
    {% else %}
      {% set step = 'hdx_onboarding_details' %}
    {% endif %}
    {% asset 'hdx_theme/onboarding-bulk-user-scripts' %}
    {% if step %}
      {% asset 'hdx_theme/onboarding-bulk-user-complete-onboarding-scripts' %}
    {% endif %}
  {% else %}
    {% asset 'hdx_theme/onboarding-bulk-anon-scripts' %}
  {% endif %}
{% endblock -%}

