{#
Shows the details popup

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/contribute/details.html', id="detailsPopup") }}
#}
{% resource 'hdx_theme/popup' %}
{% resource 'hdx_theme/contribute' %}
{% extends "widget/popup/popup.html" %}
{% set class = "popup-contribute popup-close-only-x" %}

{% block all_content %}
<div class="custom-close-container">
    <i class="close glyphicon glyphicon-remove"></i>
</div>
<div class="details-content">
</div>
{% endblock %}