{#
Shows the details popup

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/contribute/details.html', id="detailsPopup") }}
#}
{% asset 'hdx_theme/popup-scripts' %}
{#{% asset 'hdx_theme/contribute-scripts' %}#}
{% extends "widget/popup/popup.html" %}
{% set class = "popup-contribute popup-close-only-x" %}

{% block all_content %}
<div class="custom-close-container">
    <i class="close humanitarianicons-Exit-Cancel"></i>
</div>
<div class="details-content">
</div>
{% endblock %}
