#faq-msg {
  height: 100px;
  padding: 14px 20px;
}
#faq-msg ~ label {
  bottom: 56px;
}
#faq-msg.input-content ~ label {
  bottom: 6px;
}
#faq-send-message .captcha {
  overflow: hidden;
}
#faq-send-message .grecaptcha-badge {
  margin-bottom: 60px;
  margin-right: 25px;
}
#faqSendMsgPopup .two-column-widget .two-column-left {
  background-color: #1ebfb3;
  height: 560px;
}
@media (max-width: 768px) {
  #faqSendMsgPopup .two-column-widget .two-column-left {
    height: auto;
  }
}
#faqSendMsgPopup .two-column-widget .two-column-right {
  height: 560px;
  padding: 60px;
}
@media (max-width: 375px) {
  #faqSendMsgPopup .two-column-widget .two-column-right {
    padding: 10px;
  }
  #faqSendMsgPopup .two-column-widget .two-column-right .right-side-actions {
    right: 25px;
  }
}
#faqDonePopup .notification-widget .notification-title {
  text-align: center;
}
