#faq-msg {
  height: 120px;
  padding: 14px 20px;
}
#faq-msg ~ label {
  bottom: 76px;
}
#faq-msg.input-content ~ label {
  bottom: 6px;
}
#faq-send-message {
  overflow: scroll;
  height: 400px;
}
#faqSendMsgPopup .two-column-widget .two-column-left {
  background-color: #1ebfb3;
}
