{% extends "page_light.html" %}

{% block styles %}
    {{ super() }}
    {% asset 'hdx_theme/group-list-styles' %}
{% endblock %}

{% block subtitle %}{{ _("Locations") }}{% endblock %}

{% block breadcrumb_content %}
    <li class="active">{% link_for _('Locations'), controller='group', action='index' %}</li>
{% endblock %}

{% block content %}
  <div class="container">
    <div id="mapbox-baselayer-url-div" style="display: none;">{{ h.hdx_get_ckan_config('hdx.mapbox.baselayer.url') }}</div>
    <div id="datasetCounts" style="display: none;">
        {{ countries }}
    </div>
    <div class="list-items search-form">
        <h2>All Locations</h2>
    </div>

    <div id="locationSection" class="row">
        <div id="optionsGroup" class="col-xs-12">
            <div class="list-header crisis-list-header">
              <span class="mL15 list-header-title">
                Locations
              </span>
              <span id="browse_options" class="mL15">
                <a class="selected">MAP</a><span>|</span><a href="#" onclick="hdxScrollTo('#country_list'); return false;">ALPHABET A-Z</a>
              </span>
            </div>


        </div>
        <div class="col-xs-12">
            <div id="map" style="height: 580px; position: relative;">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="very-active-country-description">
                <p class="very-active-country">A red dot beside the location name denotes a country for which there is a <a href="https://www.humanitarianresponse.info/en/programme-cycle/space/page/strategic-response-planning" target="_blank">humanitarian response plan</a></p>
            </div>

        </div>

        <div class="col-xs-12">
            <div id="country_list" class="row" style="">
            </div>
        </div>
    </div>

  </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% asset 'hdx_theme/charting-scripts' %}
    {% asset 'hdx_theme/search-scripts' %}
    {% asset 'hdx_theme/group-list-scripts' %}
{% endblock %}
