{% extends "page_light.html" %}

{%- block styles %}
  {{ super() }}
  {% asset 'hdx_theme/search-light-styles' %}
  {% asset 'hdx_theme/group-light-styles' %}
{% endblock -%}

{% block links %}
  <link rel="canonical" href="{{ h.hdx_switch_url_path(force=False) }}">
  {{ super() }}
{% endblock %}

{% set grp = grp_dict %}
{% set data = widgets_data.data %}

{# The lines below are for analytics #}
{% block analytics_group_names %}['{{ data.country_dict.name }}']{% endblock %}
{% block analytics_group_ids %}['{{ data.country_dict.id }}']{% endblock %}

{% block subtitle %}
    {{ data.country_dict.display_name }}
{% endblock %}

{% block breadcrumb_content %}
	{% block breadcrum_parent_item %}
    {% snippet "snippets/other_breadcrumb_item.html", title=_('Locations'), controller='group', action='index', position=2 %}
	{% endblock %}
  <li class="active">{{ h.nav_link( grp.title|truncate(120), named_route='hdx_light_group.light_read', id=grp.name, highlight_actions = 'new index') }}</li>
{% endblock %}


{% block content %}
<div class="dataset-light group-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ grp.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div style="display: flex; justify-content: space-between;">
          <span class="base-actions-menu" style="flex-shrink: 1; flex-grow: 1; min-width: 100px;">
            <ul>
              <li>
                {% set num_of_pack = data.stats_section.num_of_datasets %}
                {% if num_of_pack%}
                    <span class="sspBold14">
                        <a class="sspBold14" href="?#dataset-filter-start">
                            {{ num_of_pack }} {% if num_of_pack != 1 %}{{ _('Datasets') }}{% else %}{{ _('Dataset') }}{% endif %}
                        </a>
                        {% if data.stats_section.num_of_cods > 0 %}
                            (<a href="?ext_cod=1#dataset-filter-start">{{ data.stats_section.num_of_cods }} CODs</a>)
                        {% endif %}
                    </span>
                {% else %}
                    <span class="sspBold14">{{ _('0 Datasets') }}</span>
                {% endif %}
              </li>
              <li>
                {% set num_of_followers = data.stats_section.num_of_followers %}
                <span class="sspBold14">{{ num_of_followers }} {% if num_of_followers != 1 %}{{ _('Followers') }}{% else %}{{ _('Follower') }}{% endif %}</span>
              </li>
              <li>
                {% set num_of_orgs = data.stats_section.num_of_organizations %}
                <a href="#" >
                  <span class="sspBold14">{{ num_of_orgs }} {% if num_of_orgs != 1 %}{{ _('Organisations') }}{% else %}{{ _('Organisation') }}{% endif %}</span>
                </a>
              </li>
            </ul>
          </span>
          <span style="flex-shrink: 0; flex-grow: 0; margin-left: 15px;">
            {% snippet "light/group/country_actions_menu.html", country=data.country_dict, can_edit=h.check_access('group_update', {'id': data.country_dict.id}), classes='base-actions-menu', hide_follow=true, icon_font_size="16px" %}
          </span>
        </div>
      </div>
      <div class="col-xs-4">

      </div>
    </div>
  {% if (not data.country_dict.key_figures or data.country_dict.key_figures == 'active') and data.widgets.top_line_data_list %}
  <div class="row">
      <div class="col-xs-12">
          <div class="list-header crisis-list-header">
              <span class="mL15 list-header-title">
                  {{ _("Key Figures") }}
              </span>
          </div>
      </div>
      <div class="col-xs-12">
        {% snippet 'country/key-figures.html', country_active=country_active, data=data, embedded=false %}
      </div>
  </div>
  {% endif %}

  <!--  DATA COMPLETENESS -->
  {% if data.data_completness %}
    <div class="row data-completeness">
      <div class="col-xs-12">
        <div class="list-header crisis-list-header">
          <span class="mL15 mR30 list-header-title">
            {{ _("Data Grid Completeness") }}
          </span>
          <span class="pull-right">
              <span>Expand</span>
              <span>
                <span class="checkbox-slider" style="display: inline-block; top: 5px; margin-left: 3px;">
                  <input id="expand-data-completeness" type="checkbox" class="checkbox-slider-checkbox" autocomplete="off" />
                  <label id="expand-data-completeness-label" class="checkbox-slider-label" for="expand-data-completeness">
                    <span class="checkbox-slider-inner"></span>
                    <span class="checkbox-slider-switch"></span>
                  </label>
                </span>
              </span>
            </span>
{#
          <div class="progress-breakdown progress-header">
            <span class="progress-blue" style="width: {{100*data.data_completness.stats.dataseries_good_percentage}}%;">
            </span>
            <span class="progress-striped" style="width: {{100*data.data_completness.stats.dataseries_not_good_percentage}}%;"></span>
          </div>

          <span class="mL45 list-header-showall list-completeness">
            <span>{{data.data_completness.stats.good_dataseries_num}}/{{data.data_completness.stats.total_dataseries_num}} Core Data</span>
            <span>{{ data.data_completness.stats.total_datasets_num }} Datasets</span>
            <span>{{ data.data_completness.stats.org_num }} Organisations</span>
          </span>
#}
        </div>
      </div>
      {% snippet 'country/completeness_list.html', data=data, hide_details=true %}

      <div class="col-xs-12">
        {% snippet 'country/completeness_legend.html' %}
      </div>

    </div>
  {% endif %}
  <!-- END DATA COMPLETENESS -->

    <div class="row">
      {% snippet "light/snippets/package_list.html", data=grp.template_data %}
    </div>
  </div>
</div>

{% if not data.country_dict.alert_bar_url %}
  {% snippet "widget/banner/hdx-light-banner.html" %}
{%  endif %}
{% endblock %}

{% block page_warning_bar %}
  {% if data.country_dict.alert_bar_url %}
    {% snippet 'snippets/full_width_alert_bar.html', alert_bar_url=data.country_dict.alert_bar_url, alert_bar_title=data.country_dict.alert_bar_title, skip_js=True %}
  {% endif %}
{% endblock %}


{%- block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/dataset-light-scripts' %}
  {% asset 'hdx_theme/search-scripts' %}
{#  {% asset 'hdx_theme/country-scripts' %}#}
  {% asset 'hdx_theme/country-topline-scripts' %}
  {% asset 'hdx_theme/dataset-search-scripts' %}
  {% asset 'hdx_theme/dataset-scripts' %}
{% endblock -%}
