.account-options > .row .col-12 .account-options__cell:last-child {
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.account-options > .row .col-12 .account-options__cell_type_blue:last-child {
  border-color: #007CE1;
}
.account-options > .row .col-12 .account-options__cell_type_grey:last-child {
  border-color: #EEE;
}
.account-options__cell {
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.account-options__cell_type_cozy {
  height: 110px;
  padding-top: 24px;
}
@media (max-width: 992px) {
  .account-options__cell_type_cozy {
    height: auto;
    padding-bottom: 24px;
  }
}
.account-options__cell_type_title {
  border-top: 1px solid #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.account-options__cell_type_features {
  min-height: 250px;
}
@media (max-width: 992px) {
  .account-options__cell_type_features {
    min-height: auto;
  }
}
.account-options__cell_type_blue {
  background-color: #007CE1;
  border-color: #007CE1;
}
.account-options__cell_type_blue .heading .heading__title,
.account-options__cell_type_blue .account-options__title,
.account-options__cell_type_blue .account-options__subtitle,
.account-options__cell_type_blue .account-options__icon {
  color: #FFF;
}
.account-options__cell_type_grey {
  background-color: #EEE;
  border-color: #EEE;
}
.account-options__title {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 32px);
}
@media (max-width: 992px) {
  .account-options__title {
    font-size: 16px;
  }
}
.account-options__icon {
  color: #1F2937;
  font-size: 18px;
  width: 18px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.account-options__subtitle {
  color: #1F2937;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.account-options__feature {
  padding-bottom: 24px;
}
.account-options__help {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Gotham-Book', sans-serif;
}
.account-options__help a {
  color: #007CE1;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
}
.account-options__help a:hover {
  color: #0162DD;
}
