.heading h1 {
  font-size: 48px;
}
@media (max-width: 768px) {
  .heading h1 {
    font-size: 36px;
  }
}
.heading h3 {
  font-size: 30px;
}
.heading__title {
  color: #0F172A;
  line-height: 1.2;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
}
