.info-box {
  background-color: #EDF6FD;
  padding: 22px;
}
.info-box_type-compact {
  padding: 12px 16px;
}
.info-box_type-rounded {
  border-radius: 4px;
}
.info-box__icon {
  font-size: 22px;
  color: #0162DD;
}
