.select2-field__label {
  color: #4B5563;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}
.select2-field__required {
  color: #F2645A;
  font-weight: 600;
}
.select2-field__feedback-message {
  font-size: 14px;
}
.select2-field .select2-container .select2-selection {
  box-shadow: none;
}
.select2-field .select2-container .select2-selection.select2--large .select2-selection__rendered {
  font-weight: 500;
  line-height: 30px;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}
.select2-field .select2-container .select2-selection.select2--large .select2-selection__rendered .select2-selection__placeholder {
  font-weight: 500;
  line-height: 30px;
}
.select2-field .select2-container .select2-dropdown .select2-search .select2-search__field:focus {
  box-shadow: none;
}
