.hdx-v2-archived-dataviz {
  padding: 0 0 var(--hdx-space-10);
}
.hdx-v2-archived-dataviz__row {
  padding: var(--hdx-space-6) 0;
}
.hdx-v2-archived-dataviz__empty {
  font-family: var(--hdx-font-body);
  font-size: var(--hdx-fs-m);
  font-weight: var(--hdx-fw-regular);
  line-height: var(--hdx-lh-normal);
  color: var(--hdx-neutral-8);
  text-align: center;
  padding: var(--hdx-space-10) 0;
}
