@import "../base/variables";
@import "../base/mixins";

.leaflet-popup-close-button+.leaflet-popup-content-wrapper .leaflet-popup-content {
  width: 403px !important;
}

.eaa-logo-container {
  position: absolute;
  bottom: 70px;
  left: 45px;
  padding: 15px 20px;
  padding-top: 13px;
  background-color: rgba(255, 255, 255, 0.9);
  .sourceSansProFont(400, 14px);
  img {
    width: 110px;
  }
}
