/* Topline numbers style change for Colombia
 * (smaller fonts + smaller margins)
 */
.topline-colombia{
  .indicator-title {
    font-size: 14px;
    margin-bottom: 0;
  }

  .indicator-value {
    font-size: 47px;
  }

  .small {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: -10px;

    &.indicator-prevalue {
      font-size: 37px;
      margin-right: -10px;
    }
  }

}
/* END Topline numbers */
