/* Topline numbers style change for Colombia
 * (smaller fonts + smaller margins)
 */

@import "topline";

@topLineIndicatorTitleHeight: inherit;
@topLinePadding: 0px;

@topLineItemHeight: 105px;
@topLineItemValueFontSize: 47px;

@chartTitlePaddingTop: (@topLineItemHeight - @topLineItemValueFontSize)/2;
@chartWrapperHeight: 4*@topLineItemHeight + 5;

.topline.topline-colombia{
  .topline-information {
    height: @topLineItemHeight;
    .margin-hack {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .indicator-title {
    font-size: 14px;
    margin-bottom: 0;
  }

  .indicator-value {
    font-size: 47px;
  }

  .small {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: -10px;

    &.indicator-prevalue {
      font-size: 37px;
      margin-right: -10px;
    }
  }

}

/* END Topline numbers */

/* Graphs */

.row.graph-item-wrapper {
  border-top: 1px solid @lightGrayColor;
  border-bottom: 1px solid @lightGrayColor;
  padding-top: @chartTitlePaddingTop;
  height: @chartWrapperHeight;
  margin-top: -1px;
  margin-left: 5px;

}

/* END - Graphs */