.datasetModule{
    margin-left: 100px;
}
/*  */


.field-with-info {
	float: left;
}


.field-with-info ~ .info-field{
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s, visibility 1s;
}

.field-with-info:hover ~ .info-field, .info-field:hover{
	opacity: 1;
	visibility: visible;
}

.simple-dataset-control{
	width: 370px;
}

.dataset-form-field-wrapper .control-full textarea {
	height: 120px;
}


/* Style Form items */
    .dataset-form-field-wrapper {
        width: 670px;
    }

    .dataset-form-info-field {
        float: left;
        margin-left: 30px;
        margin-top: 25px;
        background-color: #CCCCCC;
        width: 300px;
        color: #FFFFFF;
        padding: 5px 10px;
    }

    .dataset-form-info-field-height {
        height: 110px;
    }

    .halfField {
        width: 320px;
        margin-left: 0;
    }
    .halfField:first-child{
        margin-right: 30px;
    }

    .select2-container {
        width: 100% !important;
    }

    .control-group .control-label {
        font-family: 'Gotham-Bold', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #888888;
        font-style: normal;
        line-height: 20px;
    }

    .dataset-required label:after{
        color: #f2645a
    }
/* END Style Form items */

/* Style Country Selector */
    .countrySelectorDiv{
        height: 450px;
        width: 450px;
        background-color: rgb(54,54,54);
        color: #ffffff;
    }

    .countrySelectorDiv .content{
        margin: 45px 40px;
    }

    .countrySelectorDiv .select2-container .select2-choice .select2-arrow {
        background-color: #007ce0;
    }

    .countryMapDiv{
        height: 450px;
        width: 720px;
        margin-left: 0;
        background-color: #eeeeee;
    }

    .countrySelectorDiv .pill {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;

        padding: 5px 15px;
        margin-right: 20px;
        margin-bottom: 20px;

        background-color: #888888;
        border-radius: 0;
    }
    .countrySelectorDiv .pill .icon-remove {
        cursor: pointer;
        margin-left: 20px;

    }

    #select_country{
        margin-bottom: 20px;
    }
/* END Style Country Selector */
