.datasetModule{
    margin-left: 100px;
}
/*  */


.field-with-info {
	float: left;
}

.dataset-form-info-field {
    float: left;
    margin-left: 30px;
    margin-top: 35px;
    background-color: #CCCCCC;
	width: 300px;
	color: #FFFFFF;
	padding: 5px 10px;
}

.dataset-form-info-field-height {
	height: 110px;
	margin-top: 3px;
}

.field-with-info ~ .info-field{
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s, visibility 1s;
}

.field-with-info:hover ~ .info-field, .info-field:hover{
	opacity: 1;
	visibility: visible;
}

.simple-dataset-control{
	width: 370px;
}



.dataset-form-field-wrapper .control-full textarea {
	height: 120px;
}

.dataset-form-field-wrapper {
	width: 670px;
}
.halfField {
    width: 320px;
    margin-left: 0;
}
.halfField:first-child{
    margin-right: 30px;
}

.dataset-form-field-wrapper .select2-container {
	display: block;
	/* Needed to replace the important coming from main.min.css */
	width: 370px !important;
}


/* Style Country Selector */
    .countrySelectorDiv{
        height: 450px;
        width: 450px;
        background-color: rgb(54,54,54);
        color: #ffffff;
    }

    .countrySelectorDiv .content{
        margin: 45px 40px;
    }

    .countryMapDiv{
        height: 450px;
        width: 720px;
        margin-left: 0;
        background-color: #eeeeee;
    }

    .countrySelectorDiv .pill {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;

        padding: 5px 15px;
        margin-right: 20px;
        margin-bottom: 20px;

        background-color: #888888;
        border-radius: 0;
    }
    .countrySelectorDiv .pill .icon-remove {
        cursor: pointer;
        margin-left: 20px;

    }
/* END Style Country Selector */