/* Styling search dataset page - Facets*/
/*
	.module-content:first-child {
	    margin-top: 0;
	    padding-top: 0px;
	}
*/
	.list-items.dataset-item:last-of-type {
	    border-bottom: none;
	    margin-bottom: 60px;
	    padding-bottom: 0;
	}
 
	.list-items.module-heading{
	  	background-color: inherit;
	  	border-top: 0px;
	  	border-bottom: 0px;
	}
	
	.list-items.borderGreyBottom{
        border-bottom: 1px solid #888888;
    }
	
	
	.list-items.section-border .align{
		padding-top: 15px;
	}

	.list-items.module-narrow .module-heading,
	.list-items.module-narrow .module-content,
	.list-items.module-narrow .module-footer {
		padding: 0px;
	}
	/*
	.list-items.module {
	    margin: 0px 0;
	}
	*/
	.facet-h2-title{
	    cursor: pointer;
	    font-family: 'Roboto', sans-serif;
	    font-size: 1.6em;
	    font-weight: 700;
	}
	
	.facet-url {
	  	color: #0077CC;
	  	font-family: 'Roboto', sans-serif;
	  	font-size: 12px;
	  	line-height: 20px;
	  	text-decoration: none;
	}
	.search {
	    font-style: italic;
	}
	.list-items.nav-simple > li, .list-items.nav-aside > li {
	    padding: 7px 10px;
	    border-bottom: none;
	}
	.list-items.nav-item > a, .list-items.nav-aside li a {
	    color: #333333;
	    font-family: 'Roboto', sans-serif;
	    font-size: 1em;
		font-weight: 400;
	}
	.list-items.module-footer {
	    border-top: none;
	}
	
	.list-items.nav-item.active > a:before, .list-items.nav-aside li.active a:before {
	    background-image: none;
	
	}
	
	.list-items.nav-item.active > a, .list-items.nav-aside li.active a {
	    background-color: #DDDDDD;
	    color: #333333;
	    position: relative;
	}
/*	
	.list-items.module-content:first-child {
	    padding-left: 45px;
	    padding-right:45px;
	}
	*/
/*
	.list-items.search-form {
	    border-bottom: 1px solid #DDDDDD;
	}

	.list-items.dataset-item {
	    margin-bottom: 20px;
    	padding-bottom: 20px;
	}
*/	

	.dataset-resources {
    	margin-top: 20px;
	}
/*	
	.list-items.dataset-resources li a {
		min-width: 50px;
		text-align: center;
		height: 20px;
		line-height:20px;
	}
	*/
	.count {
		font-family: 'Roboto', sans-serif;
	    font-size: 1em;
		font-weight: 300;
	}
	.list-items.content { 
		font-family: 'Roboto', sans-serif;
	    font-size: 1em;
		font-weight: 400;
	}
	
	.list-items.counter { 
		padding-top: 10px;
	}
	
	.search-form {
    	border-bottom: 0px;
    	margin-bottom: 35px;
    	padding-bottom:0px;
	}
	
	a.info-tooltip, .info-item-name {
		line-height: 15px;
		color: #0099FF;
		font-size: 12px;
	}
	

	
/* END Styling search dataset page */