body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.masthead {
    background: #fff;
    color: #222;
    font-weight: 400;
    font-size: 1.4em;
}
.masthead a {
    color: #000;
}

.masthead .header-image {
	/*padding-top: 10px;*/
}

.account-masthead {
    min-height: 30px;
    color: #fff;
    background: #444;
}

.account-masthead {
    color: #fff;
    margin-bottom: 10px;
}

.account-masthead .account ul li a:hover {
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

.account-masthead .account ul li a {
  display: block;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 31px;
}

.account-masthead .account .notifications a span {
    font-size: 12px;
    margin-left: 3px;
    padding: 1px 6px;
    background-color: #444;
    border-radius: 4px;
}


.site-footer {
  *zoom: 1;
  min-height: 55px;
  color: #ffffff;
  background: #444;
  padding: 20px 0;
}

.site-footer .navigation .nav-pills li a:hover,
.site-footer .navigation .nav-pills li.active a {
  background-color: #444;
}

.site-footer,
.site-footer label,
.site-footer small {
  color: #fff;
}
.site-footer a {
  color: #fff;
}
.attribution small {
  color: #fff;
  font-size: 12px;
}



#map_outer{
	background: #444;
	margin: 0px;
	height:30px;
	padding: 10px;
	border-radius: 6px;
	border-color: #333;
}

#group_nav{
	background: #444;
	color: #fff;
	margin: 0px;
	height:30px;
	padding: 10px;
	border-radius: 6px;
	border-color: #333;
}

#group_nav_text{
	height: 30px;
	padding: 5px;
	float: left;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	box-shadow: none;
}

.usermenu{
    text-transform: none;

}

.usermenu .nav > li > a.btn {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-top: 2px;
	text-shadow: none;
    color: #000000;
}
.usermenu .nav > li > a:hover.btn {
    background: none;
    transition: none;
    background-color: #EAEAEA;
}


.navbar .second-row-menu > li > a {
	color: #000000;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
}

.navbar .second-row-menu > li {
    margin-right: 30px;
}

.navbar-inner {
	box-shadow: none;
	border: none;
	background: none;
    padding: 0;
}
.navbar .nav .dropdown-menu > li > a {
    font-size: 15px;
}

.nav-tabs > li > a {
    border-radius: 0 0 0 0;
}

.nav-tabs .hdx-tab-button {
	color: #0099FF;
}

.nav-tabs .hdx-tab-button i {
	display:none;
}

.navbar .nav .special-menuitem {
	color: #1C687F;
	font-size: 18px;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
    background-color: transparent;
}
.masthead .second-row-menu li a:hover, .masthead .second-row-menu li.active a {
    background-color: transparent;
    border-bottom: 1px solid #a0a0a0;
    border-radius: 0;
}

.masthead .content {
    position: static;
    top: 0;
}

.masthead .first-menu{
    overflow: visible;
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0.90) 0%, rgba(250, 250, 250, 0.90) 100%), url('/images/homepage/lineVert2.gif') repeat 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.masthead .first-menu .content{
}

.masthead .second-menu {
    border-top: 1px solid #a0a0a0;
}
.masthead .second-menu .navbar {
    margin-top: 8px;
    margin-bottom: 8px;
}

.masthead .content .navbar {
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.masthead input[type="text"] {
    border: 1px solid #cccccc;
}

#insideMenuSearch input{
    width: 45px;
    transition: width 1s;
    border-right: 0;
    box-shadow: none;
}

#insideMenuSearch input:hover, #insideMenuSearch input:focus{
    width: 200px;
    transition: width .5s;
}

#insideMenuSearch button:hover  #insideMenuSearch input{
    width: 200px;
    transition: width .5s;
}
#insideMenuSearch .add-on {
    border-radius: 0px 14px 14px 0px;
    background: white;
}



.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    color: #000;
    font-weight: bold;
}

.map_block{
  position:relative;
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
    background-color: rgba(200,200,200, 0.5);
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.jumbotron .maprow {
    background: url('/images/homepage/watermap.png') no-repeat;
    /* background image generated from:
         - http://maps.stamen.com/m2i/image/20140415/watercolor_LU_hZxKvOgo
         - http://maps.stamen.com/m2i/#watercolor/940:300/3/29.15/53.87
     */
}

.jumbotron .maprow .col-alpha {
    background: rgba(51, 51, 51, 0.5);
}

.jumbotron .maprow .col-alpha a {
    color: white;
}
.jumbotron hr {
    margin: 9px;
    border-top: 0;
}

.jumbotron .hdxTextRow {
    padding-left: 65px;
    margin-right: 65px;
    margin-bottom: 20px;
}

.jumbotron .countRow {
    margin-left: 0;
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0.90) 0%, rgba(250, 250, 250, 0.90) 100%), url('/images/homepage/lineVert2.gif') repeat 0 0;
}

.jumbotron .countRow .hdxTextRow{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
}

.jumbotron .creditsRow {
    margin-left: 0;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 20px;
}

.jumbotron .creditsRow img{
    max-height: 30px;
}

.jumbotron .creditsRow .creditsTextRow{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #999999;
    font-weight: 500;
}

.jumbotron .socialRow {
    margin-left: 0;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(to bottom, rgba(9, 136, 187, 0.75) 0%, rgba(9, 136, 187, 0.75) 100%), url('/images/homepage/lineVert2.gif') repeat 0 0;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}
.jumbotron .socialRow .span12{
    margin: 0;
}

.jumbotron .socialRow img {
    margin-left: 5px;
    margin-right: 5px;
}

.jumbotron .socialRow input {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron .socialRow .newsletter{
    border-radius: 0;
}

.jumbotron .socialRow .signup{
    height: 30px;
    border: 1px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
    background-color: #fafafa;
}

.jumbotron .hdxTitle {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}

.jumbotron .hdxPhrase {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.jumbotron .hdxDescription {
    font-size: 14px;
    font-weight: 400;
}

.jumbotron .itemCount {
    color: #333333;
    font-size: 62px;
    font-weight: 300;
    line-height: 62px;
    margin-bottom: 25px;
}

.jumbotron .itemCount a{
    color: #333333;
}

.jumbotron .itemName {
    color: #333333;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.searchWidget {
    background-color: #ffffff;
    border-radius: 8px;
    border: 10px solid rgba(51, 51, 51, .4);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    color: #666666;
    text-align: center;
    width: 300px;
    position: absolute;
    top: 40px;
    left: 600px;
    float: left;
}

.searchWidget p {
    margin-left: 10px;
    margin-right: 10px;
}

.searchWidget hr {
    margin: 20px;
}

.searchWidget .search-giant .search{
    border-radius: 16px;
    border: 1px solid #a0a0a0;
    background-color: #efefef;
    font-style: italic;
}

.searchWidget .search-form {
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.searchWidget .search-giant {
    padding: 0;
    margin: 0;
}
.searchWidget .search-giant .icon-search {
    color: #808080;
}


.hero {
    margin-top: 0px;
    padding-top: 0px;
}

.facet-hidden{
    display: none;
}


.facet-h2{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.08em;
    font-weight: 300;
}

.searchForKeywordText {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

.searchExamplesText {
    font-size: 14px;
    font-weight: 300;
}

.searchByCountryText {
    margin: 15px;
    font-size: 14px;
    font-weight: 400;
}
.searchByCountryDropdown {
    margin-bottom: 20px;
}
.searchByCountryDropdown select{
    margin-bottom: 0;
}

.ribbon {
    position: relative;
    background: #0988bb;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    margin: 20px -20px;
}
.ribbon .ribbon-content{
    padding: 10px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.ribbon .ribbon-content a, .ribbon .ribbon-content a:hover {
    color: #ffffff;

}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #0797D0 transparent transparent transparent;
    bottom: -10px;
}
.ribbon .ribbon-content:before {
    left: 0;
    border-width: 10px 0 0 10px;
}
.ribbon .ribbon-content:after {
    right: 0;
    border-width: 10px 10px 0 0;
}

.hero {
    padding-bottom: 0;
}

.inactive{
    position: relative;
}

.inactive .overlay{
    background: rgba(255,255,255,0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.header-user-message {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
	color: #000000;
	line-height: normal;
}

.header-user-message-large {
	font-size: 39pt;
	margin-top: 45px;
	margin-bottom: 25px;

}

.header-user-message-small {
	font-size: 14pt;
	margin-top: 25px;
	margin-bottom: 60px;
}

.header-user-message-hr {
	background-color: #999999;
    border: 0 none;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    
}

.package-upload-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #000000;
    line-height: normal;
    font-size: 16pt;
    margin-bottom: 20px;
}

.package-upload-header-sm {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #000000;
    line-height: normal;
    font-size: 12pt;
    margin-bottom: 20px;
    text-align: center;
}

.graybg{
    background: #eee;
    padding-top: 20px;
    padding-bottom: 10px;
}

#dataset_methodology input[type="radio"]{
    top: -1px;
}

#selected_groups input[type="checkbox"]{
    top: 0px;
}

/* override the base class wrapper from main.debug.css */
.wrapper {
    border-radius: 0px;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
}

/* Styling search dataset page */
.list-items.module-heading{
  	background-color: inherit;
  	border-top: 0px;
  	border-bottom: 0px;
}
.list-items.section-border{
  	border-bottom: 1px solid #DDDDDD;
  	padding: 20px;
}


.list-items.section-border .align{
	padding-top: 15px;
}

.list-items.module-narrow .module-heading,
.list-items.module-narrow .module-content,
.list-items.module-narrow .module-footer {
	padding: 0px;
}

.list-items.module {
    margin: 0px 0;
}

.facet-h2-title{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
}

.facet-url {
  	color: #0077CC;
  	font-family: 'Roboto', sans-serif;
  	font-size: 12px;
  	line-height: 20px;
  	text-decoration: none;
}
.list-items.nav-simple > li, .list-items.nav-aside > li {
    padding: 7px 10px;
    border-bottom: none;
}
.list-items.nav-item > a, .list-items.nav-aside li a {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
	font-weight: 400;
}
.list-items.module-footer {
    border-top: none;
}

.list-items.nav-item.active > a:before, .list-items.nav-aside li.active a:before {
    background-image: none;

}

.list-items.nav-item.active > a, .list-items.nav-aside li.active a {
    background-color: #DDDDDD;
    color: #333333;
    position: relative;
}

.list-items.module-content:first-child {
    padding: 25px;
}

.list-items.search-form .search-input.search-giant input {
	border-radius: 14px;
}

.list-items.search-form h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.08em;
    font-weight: 300;
}
.list-items.search-form .search-input {
    margin-bottom: 25px;
}

.list-items.search-form {
    border-bottom: 1px solid #DDDDDD;
}

.list-items.dataset-item {
    border-bottom: 1px solid #DDDDDD;
}

.list-items.dataset-resources li a {
	min-width: 50px;
	text-align: center;
}
.count {
	font-family: 'Roboto', sans-serif;
    font-size: 1em;
	font-weight: 300;
}
.list-items.content { 
	font-family: 'Roboto', sans-serif;
    font-size: 1em;
	font-weight: 400;
}

.list-items.counter { 
	padding-top: 10px;
}
/* END Styling search dataset page */

.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}
.capitalize{
	text-transform: capitalize;
}

.list-items.pill {
    background-color: #AAAAAA;
}

.float-right{
	float:right;
}

.info-wrapper{
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
	padding-top: 25px;
	border-bottom: 1px solid #E7E7E7;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.08em;
	color: #000000;
}

.info-wrapper > div {
	padding-bottom: 15px;
}
.info-wrapper-link-list {
	list-style-type: none; 
	margin: 0px;
}
a.info-tooltip, .info-item-name {
	color: #0099FF;
}

.info-wrapper .social-images {
	height: 35px;
	margin-right: 10px;
}

.info-wrapper.social a:hover {
	text-decoration: none;
}

.tag-wrapper {
	margin-right: 7px;
	float: left;
}

.tag-wrapper .tag, .tag-wrapper .tag:hover  {
    background-color: #999999;
    border: none;
    border-radius: 100px;
    box-shadow: 0 0px 0 #FFFFFF inset;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 4px;
    padding: 5px 10px;
}

span.clear { clear: left; display: block; }

.creation-info-author, .creation-info-author a {
	font-weight: 700;
	font-size: 1.6 em;
	color: #0099FF;
}

.info-secondary-data {
	color: #666666;
}

.followers-count {
	font-size: 2.3em;
	line-height: normal;
}

.tooltip.in {
	opacity: 1;
}
.tooltip > .tooltip-inner{
	color: #000000;
	background-color: #FFFFFF;
}
.tooltip.top > .tooltip-inner {box-shadow: -1px -2px 2px 3px #666666;}
.tooltip.bottom > .tooltip-inner {box-shadow: 1px 2px 2px 3px #666666;}
.tooltip.right > .tooltip-inner {box-shadow: 1px 2px 2px 3px #666666;}
.tooltip.left > .tooltip-inner {box-shadow: -1px 2px 2px 3px #666666;}

.tooltip.top > .tooltip-arrow, .tooltip.bottom > .tooltip-arrow  {
	border-top-color: #666666;
	border-bottom-color: #666666;
}
.tooltip.right > .tooltip-arrow, .tooltip.left > .tooltip-arrow {
	border-right-color: #666666;
	border-left-color: #666666;
}

.btn-group > .btn.hdx-btn, .btn.hdx-btn, .follow-button-wrapper .btn {
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 4px;
    line-height: 25px;
    font-weight: normal;
    
}

.btn.hdx-btn img {
    height: 20px;
}

.hdx-wrapper.wrapper {
	background: none;
    border: none;
    box-shadow: 0 0 0 0;
    margin-top: 10px;
}

.support-primary {
	float:left;
	width: 100%;
	background-color: #FFFFFF;
	overflow: hidden;
	position: relative;
}

.support-spacing {
	float:left;
	width: 100%;
	background: url("../../../base/images/bg.png") repeat scroll 0 0 #EEEEEE;
	position: relative;
	right: 702px;
}

.support-secondary {
	float:left;
	width: 100%;
	background-color: #FFFFFF;
	position: relative;
	right: 15px;
}

.hdx-wrapper .secondary {
	/* border: 1px solid #DDDDDD;
    margin-left: 15px;
    margin-right: 15px; */ 
    width: 223px; 
    position: relative;
    left: 717px;
    
} 

.hdx-wrapper .primary {
	/* border: 1px solid #DDDDDD;
    margin-right: 15px; */
    width: 702px; 
    position: relative;
    left: 717px;
}

.hdx-wrapper .page-header {
	background: none;	
}

.bigger.container {
	width: 980px;
}

#dataset_part_1 input[type=radio]{
    top: -1px !important;
}
/* Styling create organization page*/
.hdx-wrapper .create-org {
    width: 100%;
}
.create-org h1{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
}
.org-control{
	width: 400px;
	float: left;
	min-height:70px;
	max-height:100px;
	padding-right:15px;
}
.org-control-info{
	width: 475px;
	float:right;
	min-height:70px;
	max-height:100px;
	padding-left:20px;
	padding-top:20px;

}

.org-info-label{
	background-color: #CCCCCC;
	color: #FFFFFF;
	min-height: 32px;
	max-height: 32px;
	max-width: 425px;
	padding-left: 10px;
	padding-top: 5px;
	border-radius: 5px;
	font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

.org-control-info-large{
	width: 475px;
	float:right;
	min-height:100px;
	max-height:130px;
	padding-left:20px;
	padding-top:20px;

}

.org-info-label-large{
	background-color: #CCCCCC;
	color: #FFFFFF;
	min-height: 70px;
	max-height: 70px;
	max-width: 425px;
	padding-left: 10px;
	padding-top: 5px;
	border-radius: 5px;
	font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    vertical-align:middle; 
	line-height:60px
}

.org-control-container{
	width: 920px;
	float:left;
}

.org-control label:after{
	content: "*";
	color: #FF0000;
}
.org-control label{
	font-family: 'Roboto',sans-serif;
    font-weight: 400;
	font-style: italic;
}

.org-control textarea{
	max-height:70px;
}


.create-org.form-actions{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 0;
    margin-left: -25px;
    margin-right: -25px;
    padding-bottom: 0;
    text-align: right;
    border-top: none;
    float:left;
    line-height: 75px;
    vertical-align: top;
}

.create-org-btn {
	background-color: #0099FF;
	background-image: none;
}
/* END Styling create organization page*/

