/* Customize fixed Bootstrap layout -- ugly hacking :) */
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 1170px;
    }

    [class*="span"]{
        margin-left: 30px;
    }

    .row{
        margin-left:-30px;
    }

    .span12{
        width: 1170px;
    }

    .span11{
        width: 1070px;
    }

    .span10{
        width: 970px;
    }

    .span9{
        width: 870px;
    }

    .span8{
        width: 770px;
    }
    .span8{
        width: 670px;
    }

    .span6{
        width: 570px;
    }

    .span5{
        width: 470px;
    }

    .span4{
        width: 370px;
    }

    .span3{
        width: 270px;
    }

    .span2{
        width: 170px;
    }

    .span1{
        width: 70px;
    }

    .offset11{
        margin-left: 1100px;
    }
    .offset10{
        margin-left: 1000px;
    }
    .offset9{
        margin-left: 900px;
    }
    .offset8{
        margin-left: 800px;
    }
    .offset7{
        margin-left: 700px;
    }
    .offset6{
        margin-left: 600px;
    }
    .offset5{
        margin-left: 500px;
    }
    .offset4{
        margin-left: 400px;
    }
    .offset3{
        margin-left: 300px;
    }
    .offset2{
        margin-left: 200px;
    }
    .offset1{
        margin-left: 100px;
    }

    .paddingRowHack{
        margin-left: -45px;
        margin-right: -45px;
    }

    .paddingRowHack .paddingLeftHack{
        padding-left: 45px;
        margin-left: 0;
    }

    .paddingRowHack .paddingRightHack{
        padding-right: 45px;
        margin-right: 0;
    }

/* END - Customize fixed Bootstrap layout */