/* Customize fixed Bootstrap layout -- ugly hacking :) */
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 1170px;
    }

    [class*="span"]{
        margin-left: 30px;
    }

    .row{
        margin-left:-30px;
    }

    .span12{
        width: 1170px;
    }

    .span11{
        width: 1070px;
    }

    .span10{
        width: 970px;
    }

    .span9{
        width: 870px;
    }

    .span8{
        width: 770px;
    }
    .span8{
        width: 670px;
    }

    .span6{
        width: 570px;
    }

    .span5{
        width: 470px;
    }

    .span4{
        width: 370px;
    }

    .span3{
        width: 270px;
    }

    .span2{
        width: 170px;
    }

    .span1{
        width: 70px;
    }

    .offset11{
        margin-left: 1100px;
    }
    .offset10{
        margin-left: 1000px;
    }
    .offset9{
        margin-left: 900px;
    }
    .offset8{
        margin-left: 800px;
    }
    .offset7{
        margin-left: 700px;
    }
    .offset6{
        margin-left: 600px;
    }
    .offset5{
        margin-left: 500px;
    }
    .offset4{
        margin-left: 400px;
    }
    .offset3{
        margin-left: 300px;
    }
    .offset2{
        margin-left: 200px;
    }
    .offset1{
        margin-left: 100px;
    }

    .paddingRowHack{
        margin-left: -45px;
        margin-right: -45px;
    }

    .paddingRowHack .paddingLeftHack{
        padding-left: 45px;
        margin-left: 0;
    }

    .paddingRowHack .paddingRightHack{
        padding-right: 45px;
        margin-right: 0;
    }

/* END - Customize fixed Bootstrap layout */

/* Fonts */
    @font-face {
        font-family: 'Gotham-Bold';
        src: url('/fonts/Gotham_OTF/Gotham-Bold.otf');
    }

    @font-face {
        font-family: 'Gotham-Light';
        src: url('/fonts/Gotham_OTF/Gotham-Light.otf');
    }
/* END Fonts */

/* Header */
    .newHeader {
        height: 100px;
    }

    .newHeader .container .row {
        padding-top: 34px;
    }
    .newHeader .content, .newHeader .hdxLogo, .newHeader .content .navbar nav, .newHeader .content .navbar nav ul.mainLinks, .newHeader .content .navbar nav ul.mainLinks li{
        display: inline;
    }

    .newHeader .content .navbar nav ul.mainLinks li.dropdown a:focus{
        background-color: #ffffff;
    }

    .newHeader .content .navbar nav > ul {
        margin: 0 0 0 25px;
    }
    .newHeader .content .navbar nav li a{
        color: #000000;
        font-family: 'Gotham-Bold', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 31px;
        text-transform: uppercase;
    }

    .newHeader .content .navbar nav ul.mainLinks li a:hover, .newHeader .content .navbar nav ul.mainLinks li a:focus {
        text-decoration: none;
        cursor: pointer;
    }

    .newHeader .content .navbar nav ul.mainLinks > li > a{
        margin-left: 15px;
    }
    .newHeader .content .navbar nav ul.mainLinks > li:first-child > a{
        margin-left: 0;
    }

    .newHeader .content .navbar nav ul.mainLinks > li > a:after{
        content: "|";
        margin-left: 15px;
    }

    .newHeader .content .navbar nav ul.mainLinks li:last-child a:after{
        content: "";
        margin: 0;
    }

    .newHeader .content .navbar nav ul.mainLinks li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }

    /* Dropdown menu colors  */
        .newHeader .content .navbar nav .dropdown-menu {
            margin: 0;
        }
       .newHeader .content .navbar nav ul.dropdown-menu > li > a:hover, .newHeader .content .navbar nav ul.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
           background-color: #007ce0;
           color: #ffffff;
           background-image: none;
       }
    /* END Dropdown menu colors */

    .newHeader .content .navbar nav li.submitData{
        background-color: #f2645a;
        border-radius: 6px;
        position: relative;
        top: -16px;
        width: 200px;
        margin-right: 20px;
    }

    .newHeader .content .navbar nav .pull-right li.dropdown{
        position: relative;
        top: -12px;
    }

    .newHeader .content .navbar nav .pull-right li.newLogin{
        position: relative;
        top: -12px;
    }

    .newHeader .content .navbar nav li.submitData a{
        color: #ffffff;
        text-shadow: none;
        padding: 0;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        margin-left: 30px;
    }

    .navbar .nav li.dropdown > .dropdown-toggle .username{
        color: #007ce0;
        text-transform: none;
    }

    .navbar .nav li.dropdown > .dropdown-toggle .caret, .homepage-main .caret {
        margin-top: 11px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid #007ce0;
    }

    .navbar .nav li.dropdown > a:focus .caret, .navbar .nav li.dropdown > a:hover .caret {
        border-top-color: #006abf;
    }

    .navbar .nav li.dropdown .gravatar{
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        border-radius: 500px;
    }
/* END Header */

/* HDX Version display */
    #hdxVersion{
        display: none;
    }
    .logo:hover #hdxVersion{
        display: inline;
        color: #888888;
        position: relative;
        float: left;
        font-size: 9px;
        left: 74px;
        top: 9px;
        width: 0;
    }
/* END HDX Version display */

/* Footer */
    .newFooter {
        height: 100px;
        vertical-align: middle;
        padding-top: 36px;
    }
    .newFooter .text {
        font-family: 'Gotham-Bold', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #888888;
        text-transform: uppercase;
        margin-left: 40px;
        line-height: 28px;
    }

    .newFooter img{
        height: 28px;
        margin-left: 15px;
        background-color: white;
        opacity: 0.5;

        -webkit-transition: opacity 0.3s; /* For Safari 3.1 to 6.0 */
        transition: opacity 0.3s;
    }

    .newFooter img:hover, .newFooter img:focus {
        opacity: 1;
        -webkit-transition: opacity 0.3s; /* For Safari 3.1 to 6.0 */
        transition: opacity 0.3s;
    }

    .newFooter .text:first-child{
        margin-left: 0;
    }
/* END Footer */


/* Body Background */
    body{
        background-color: #1ebfb3;
        background-image: url("/images/homepage-new/map.png");
        background-size: cover;
        background-attachment: fixed;
    }
/* END Body Background */