/* Homepage */
    ::-webkit-input-placeholder {
        color: #d23d13;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #cccccc;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        opacity: 1;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: #cccccc;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #cccccc;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
    }

    .homepage-main{
        /*background-color: #1ebfb3;*/
        /*background-image: url("/images/homepage-new/map.png");*/
        /*background-size: cover;*/
        font-family: 'Gotham-Bold',sans-serif;
        font-weight: 400;
    }

    .homepage-background{
        height: 710px;
        /*background-color: rgba(30, 191, 179, 0.7);*/
    }


    .homepage-main .leftContent{
        color: white;
    }

    .homepage-main .leftContent h1{
        line-height: 100%;
        font-size: 48px;
        font-weight: 400;
    }

    .homepage-main .leftContent h3{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
    }

    .homepage-main .leftContent .hdxDescription{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        line-height: 140%;
        font-weight: 400;
    }

    .homepage-main .blankRow{
        height: 150px;
    }

    .homepage-main .rightContent .searchBox{
        width: 360px;
        height: 250px;
        background-color: #eeeeee;
        border-radius: 6px;
        margin-bottom: 50px;
    }

    .homepage-main .rightContent .searchBox .firstSearch{
        margin-top: 24px;
    }

    .homepage-main .rightContent .searchBox .firstSearch .exampleSearch{
        font-size: 12px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        color: #888888;
        margin-left: 22px;
        margin-top: 5px;
    }

    .homepage-main .rightContent .searchBox .firstSearch .exampleSearch a{
        color: #007ce0;
    }

    .homepage-main .rightContent .searchBox .firstSearch .exampleSearch a:hover, .homepage-main .rightContent .searchBox .firstSearch .exampleSearch a:focus{
        color: #006abf;
        text-decoration: none;
    }
    .homepage-main .rightContent .searchBox .secondSearch{
        margin-top: 24px;
    }

    .homepage-main .rightContent .searchBox .searchHeader{
        background-color: #ffffff;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .homepage-main .rightContent .searchBox .searchContent{
        padding-left: 22px;
        padding-right: 22px;
    }
    .homepage-main .rightContent .searchBox .searchContent .form-search{
        margin: 0;
    }

    .homepage-main .rightContent .searchBox .searchHeader p{
        color: #007ce0;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 60px;
    }

    .homepage-main .rightContent .form-search .input-append .searchInput{
        width: 246px;
        height: 45px;
        border-radius: 6px 0 0 6px;
        background-color: white;
        border: 0;
        padding: 0 0 0 20px;
    }

    .homepage-main .rightContent .form-search .input-append .searchInput::-webkit-input-placeholder{
        color: #cccccc;
    }


    .homepage-main .rightContent .selectCountryDropdown .selectCountry {
        width: 316px;
        height: 45px;
        background-color: #ffffff;
        /*background: url(/images/homepage-new/select-arrow.png) no-repeat right #ddd;*/
        border: 0;
        border-radius: 6px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        color: #cccccc;
        font-size: 16px;
        padding-left: 20px;
        display: block;
        line-height: 45px;
        text-align: left;
    }

    .homepage-main .rightContent .selectCountryDropdown .selectCountry .caret{
        float: right;
        margin-right: 10px;
        margin-top: 18px;
    }
    .homepage-main .rightContent .selectCountryDropdown .selectCountry:hover{
        text-decoration: none;
    }

    .homepage-main .rightContent .selectCountryDropdown ul li a{
        color: #cccccc;
        line-height: 20px;
    }

    .homepage-main .rightContent .selectCountryDropdown ul li a:hover {
        background-color: inherit;
        background-image: none;
        color: #888888;
        text-decoration: none;
    }

    .homepage-main .rightContent .form-search .input-append .button{
        width: 50px;
        height: 45px;
        padding: 0;
        background-color: #007ce0;
        border: 0;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        color: #eeeeee
    }

    .homepage-main .rightContent .form-search .input-append .button .icon-search{
        font-size: 20px;
        line-height: 100%;
        text-align: right;
        width: 20px;
        color: #ffffff;
    }

    .homepage-main .rightContent .countRow{
        font-family: 'Gotham-Light', sans-serif;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
    }

    .homepage-main .rightContent .countRow .itemCount a{
        font-size: 60px;
        color: #ffffff;
        line-height: 100%;
    }

    .homepage-main .rightContent .countRow .itemCount a:focus, .homepage-main .rightContent .countRow .itemCount a:hover{
        text-decoration: none;
        color: #ffffff;
    }

    .homepage-main .rightContent .countRow .itemName{
        font-size: 18px;
        text-transform: uppercase;
        padding-top: 20px;
    }

    .homepage-main .rightContent .countRow .hdxTextRow{
        margin-left: 34px;
    }

    .homepage-main .rightContent .countRow .span2{
        margin: 0;
    }

    .homepage-main .rightContent .countRow .span2:first-child{
        margin-right: 30px;
    }

    .homepageHeaderFooterBackground{
        width: 100%;
        background-color: #ffffff;
    }
/* END Homepage */


/* Footer */
    .newFooter {
        height: 100px;
        vertical-align: middle;
        padding-top: 36px;
    }
    .newFooter .text {
        font-family: 'Gotham-Bold', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #888888;
        text-transform: uppercase;
        margin-left: 40px;
        line-height: 28px;
    }

    .newFooter img{
        height: 28px;
        margin-left: 15px;
        background-color: white;
        opacity: 0.5;

        -webkit-transition: opacity 0.3s; /* For Safari 3.1 to 6.0 */
        transition: opacity 0.3s;
    }

    .newFooter img:hover, .newFooter img:focus {
        opacity: 1;
        -webkit-transition: opacity 0.3s; /* For Safari 3.1 to 6.0 */
        transition: opacity 0.3s;
    }

    .newFooter .text:first-child{
        margin-left: 0;
    }
/* END Footer */
