{% extends "faq_others/faq/main.html" %}

{% block subtitle %}{{ _("Developer Resources") }} | {{ _("APIs, Documentation, and Guides") }}{% endblock %}
{% block meta_description %}
    <meta name="description" content="Access developer resources for HDX, including APIs, documentation, and integration guides. Learn how to access humanitarian datasets and contribute to the platform programmatically." />
{% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/active_breadcrumb_item.html", title=_('Resources for Developers'), position=2 %}
{% endblock %}

{% block pre_primary %}
    {%- block faqwidget %}
        {{ h.snippet('widget/faq/faq-send-message.html', id="faqSendMsgPopup", topics=data.topics, fullname=data.fullname,
                        email=data.email, capcha_api_key=capcha_api_key) }}
        {{ h.snippet('widget/faq/done.html', id="faqDonePopup") }}
    {% endblock -%}
    <div class="top-banner-documentation">
        <div class="row">
          <div class="col-12">
              <div class="top-banner-text-wrapper">
                  <div class="top-banner-title">
                     {{ _('Resources for Developers') }}
                  </div>
                  <div class="top-banner-more mTop60">
                      {{ _("Don't see an answer you are looking for?") }}
                  </div>
                  <div class="top-banner-more-button-wrapper mTop30">
                      <a class="btn hdx-btn btn-blue-on-white" onclick="closeCurrentWidget(this);spawnRecaptcha('#faqSendMsgPopup');showFaqWidget('#faqSendMsgPopup');" href="#">
                          {{ _("Contact us") }}
                      </a>
                  </div>
              </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block primary %}
    <div class="row mTop60">
        <div class="col-12">
            <div id="body-about-hdx" class="section-flag" style="">About the Humanitarian Data Exchange</div>
            <p class="mTop10">
                The Humanitarian Data Exchange (HDX) is an open platform for sharing data across crises and organisations.
                Launched in July 2014. The goal of HDX is to make
                humanitarian data easy to find and use for analysis. Our growing collection of
                datasets has been accessed by users in over 200 countries and territories. Watch this
                <a href="https://www.youtube.com/watch?v=7QX5Ji5gl9g" target="_blank">video</a>
                to learn more.
            </p>

            <p>
              HDX is based on CKAN, an open-source data management system for powering data hubs and data portals. The source code for HDX can be found
              <a href="https://github.com/OCHA-DAP/hdx-ckan" target="_blank">here</a>.
            </p>
        </div>
    </div>

    <p></p>
    <div class="section-flag">HDX APIs</div>
    <p></p>
    <div class="hdx-card-group">
        <div class="card">
            <div class="card-body">
                <p>HDX offers multiple ways to access data through its APIs, each designed for different use cases. The
                    table below provides a comparison of these options, highlighting their primary functions, best-use
                    scenarios, and limitations.</p>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>
                            <p>
                                <strong>
                                    Resource
                                </strong>
                            </p>
                        </td>
                        <td>
                            <p>
                                <strong>
                                    Description
                                </strong>
                            </p>
                        </td>
                        <td>
                            <p>
                                <strong>
                                    Use for…
                                </strong>
                            </p>
                        </td>
                        <td>
                            <p>
                                <strong>
                                    Don’t use for…
                                </strong>
                            </p>
                        </td>
                        <td>
                            <p>
                                <strong>
                                    References
                                </strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <a href="https://data.humdata.org/api/3/">
                                    CKAN API
                                </a>
                            </p>
                        </td>
                        <td>
                            <p>
                                The default web API for CKAN, the platform on which HDX runs.
                            </p>
                        </td>
                        <td>
                            <p>
                                Digital equivalent of a library card catalogue.
                                <br/>
                                <br/>
                                Searching for datasets on HDX using metadata like titles, descriptions, countries, topic
                                tags, etc.
                                <br/>
                                <br/>
                                <br/>
                            </p>
                        </td>
                        <td>
                            <p>
                                Anything that involves looking
                                <em>
                                    inside
                                </em>
                                the data (use
                                <em>
                                    HAPI
                                </em>
                                instead).
                            </p>
                        </td>
                        <td>
                            <p>
                                <a href="https://data.humdata.org/dataset/2048a947-5714-4220-905b-e662cbcd14c8/resource/3b675846-d01c-4fc9-b577-b7d426d2a598/download/hdx-ckan-api-cookbook.pdf">
                                    CKAN API Cookbook
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <a href="https://github.com/OCHA-DAP/hdx-python-api">
                                    hdx-python-api
                                </a>
                            </p>
                        </td>
                        <td>
                            <p>
                                Python library on top of the
                                <em>
                                    CKAN API
                                </em>
                                , providing simplified manipulation of datasets on HDX and applying business rules.
                            </p>
                        </td>
                        <td>
                            <p>
                                Automating interactions with HDX, especially (but not exclusively) for data providers.
                                <br/>
                                <br/>
                            </p>
                        </td>
                        <td>
                            <p>
                                Anything that involves looking
                                <em>
                                    inside
                                </em>
                                the data (use
                                <em>
                                    HAPI
                                </em>
                                instead).
                            </p>
                        </td>
                        <td>
                            <p>
                                <a href="https://hdx-python-api.readthedocs.io/en/latest/">
                                    HDX Python API documentation
                                </a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                HDX
                                <a href="https://hapi.humdata.org/docs">
                                    HAPI
                                </a>
                                (Humanitarian API)
                            </p>
                        </td>
                        <td>
                            <p>
                                A way to access standardised indicators from multiple sources to automate workflows and
                                visualisations
                            </p>
                        </td>
                        <td>
                            <p>
                                Fine-grained access to structured, high-priority humanitarian data.
                            </p>
                        </td>
                        <td>
                            <p>
                                Spreadsheet-style data, heterogenous, non-curated data.
                            </p>
                        </td>
                        <td>
                            <p>
                                <a href="https://hdx-hapi.readthedocs.io/en/latest/">
                                    HDX HAPI documentation
                                </a>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    {% snippet 'faq_others/devs/questions_sections.html', data=data.faq_data %}
{% endblock %}

{% block secondary %}
    <div id="hdx-faq-sidebar-wrapper" class="mTop60">
        <div class="hdx-faq-sidebar" id="hdx-faq-sidebar">
            <ul class="nav flex-column">
            {% for section in data.faq_data %}
                <li class="nav-item">
                    <a id='menu-{{ section.id }}' class_='nav-link' href="#body-{{ section.id }}"> {{ section.title }} </a>
                </li>
            {% endfor %}
            </ul>
            <p class="no-answer-found mTop30">
                <a onclick="closeCurrentWidget(this);spawnRecaptcha('#faqSendMsgPopup');showFaqWidget('#faqSendMsgPopup');" href="#">{{ _("Don't see an answer?") }}</a>
            </p>
        </div>
    </div>
{% endblock %}
