{% extends "browse/snippets/org_item.html" %}

{% set org_url = organization.org_url or h.url_for('organization.read', id=organization.name)  %}

{% block org_title %}
    <h1 class="itemTitle">
        {{ organization.display_name or organization.title or organization.name }}
    </h1>
    {% if organization.state == 'deleted' %}
        <span style="vertical-align: top;" class="label label-danger">{{ _('Deleted') }}</span>
    {% endif %}
{% endblock %}
{% block links %}
    {{ super() }}
    -
    <a class="sspBold14" href="{{ org_url }}" target="_blank">{{_('Visit Website')}}</a>
{% endblock %}
{% block indent_item %}{% endblock %}
