{% extends "page.html" %}





{% block subtitle %}{{ _("FREQUENTLY ASKED QUESTIONS") }}{% endblock %}

{% block pre_primary %}
    {%- block faqwidget %}
        {{ h.snippet('widget/faq/faq-send-message.html', id="faqSendMsgPopup", topics=topics) }}
    {% endblock -%}
    BIG PICTURE
 <div>
    <a onclick="closeCurrentWidget(this);showFaqWidget('#faqSendMsgPopup');" href="#">Send FAQ</a>
 </div>

{% endblock %}

{% block primary %}
    {% snippet 'faq/questions_sections.html', data=data %}
{% endblock %}

{% block secondary %}
    {% for section in data %}
        <p>
            <a id='menu-{{ section.id }}' href="#{{ section.id }}"> {{ section.title }} </a>
        </p>
    {% endfor %}
{% endblock %}


{%- block styles %}
    {{ super() }}
    {% resource 'hdx_theme/faq/faq.css' %}
    {% resource 'hdx_theme/faq/faq.js' %}
{% endblock %}