{% extends "page.html" %}

{% block subtitle %}{{ _("Frequently Asked Questions") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('FAQ'), controller='ckanext.hdx_theme.controllers.faq:FaqController', action='show') }}</li>
{% endblock %}

{% block pre_primary %}
    {%- block faqwidget %}
        {{ h.snippet('widget/faq/faq-send-message.html', id="faqSendMsgPopup", topics=data.topics, fullname=data.fullname,
                        email=data.email, capcha_api_key=capcha_api_key) }}
        {{ h.snippet('widget/faq/done.html', id="faqDonePopup") }}
    {% endblock -%}
    <div class="row top-banner">
        <div class="col-xs-12">
            <div class="top-banner-text-wrapper">
                <div class="top-banner-title">
                   {{ _('Frequently Asked Questions') }}
                </div>
                <div class="top-banner-more mTop60">
                    {{ _("Don't see an answer you are looking for ?") }}
                </div>
                <div class="top-banner-more-button-wrapper mTop30">
                    <a class="btn hdx-btn btn-blue-on-white" onclick="closeCurrentWidget(this);spawnRecaptcha('#faqSendMsgPopup');showFaqWidget('#faqSendMsgPopup');" href="#">
                        {{ _("Contact us") }}
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block primary %}
    <div class="row mTop60">
        <div class="col-xs-12">
            <div id="body-about-hdx" class="section-flag" style="">About the Humanitarian Data Exchange</div>
            <p class="mTop10">
                The Humanitarian Data Exchange (HDX) is an open platform for sharing data across crises and organisations.
                Launched in July 2014, the goal of HDX is to make humanitarian data easy to find and use for analysis.
                Our growing collection of datasets has been accessed by users in over 200 countries and territories.
                Watch this <a href="https://www.youtube.com/watch?v=7QX5Ji5gl9g" target="_blank">video</a> to learn more.
            </p>

            <p>
              HDX is managed by OCHA's <a href="https://centre.humdata.org/#" target="_blank">Centre for Humanitarian Data</a>, which is located in The Hague.
                OCHA is part of the United Nations Secretariat and is responsible for bringing together humanitarian actors to ensure a coherent response to emergencies.
                The HDX team includes OCHA staff and a number of consultants who are based in North America, Europe and Africa.
            </p>
            <p>
              For the latest pieces about HDX, <a href="https://centre.humdata.org/category/article/" target="_blank">click here</a>. A selection is below:
                <ul>
                    <li>
                        UN Radio -
                        <a target="_blank" href="https://news.un.org/en/audio/2018/12/1028891">Saving lives with data: how the UN is developing digital tools for improved humanitarian aid</a>
                    </li>
                    <li>
                        Capacity4Dev.eu -
                        <a target="_blank" href="https://europa.eu/capacity4dev/articles/qa-challenge-open-data-humanitarian-response">Q&A: The challenge of open data in humanitarian response</a>
                    </li>
                    <li>
                        AcademyHealth -
                        <a target="_blank" href="http://www.academyhealth.org/blog/2018-04/sixth-annual-health-data-liberator-award-honors-work-increase-use-and-impact-humanitarian-data">Sixth Annual Health Data Liberator Award Honors Work to Increase Use and Impact of Humanitarian Data</a>
                    </li>
                    <li>
                        Devex -
                        <a target="_blank" href="https://www.devex.com/news/opinion-humanitarian-world-is-full-of-data-myths-here-are-the-most-popular-91959/">Opinion: Humanitarian world is full of data myths. Here are the most popular</a>
                    </li>
                    <li>
                        Center for Data Innovation -
                        <a target="_blank" href="https://www.datainnovation.org/2017/01/5-qs-for-sarah-telford-chief-of-data-services-at-unocha/">5 Q’s for Sarah Telford, Chief of Data Services at UNOCHA</a>
                    </li>
                    <li>
                        Aidpreneur -
                        <a target="_blank" href="http://aidpreneur.com/tor129-humanitarian-data-exchange-with-sarah-telford/">Terms of Reference Podcast, with guest Sarah Telford</a>
                    </li>
                    <li>
                        Devex -
                        <a target="_blank" href="https://www.devex.com/news/solving-the-data-conundrum-how-to-leverage-tech-and-big-data-for-impact-88406">Solving the data conundrum: How to leverage tech and 'big data' for impact</a>
                    </li>
                    <li>
                        Thomson Reuters Foundation -
                        <a target="_blank" href="http://news.trust.org/item/20160526150716-78o0j/?source=hpOtherNews3">From displacement to death, UN data innovation aims to boost aid response</a>
                    </li>
                    <li>
                        Huffington Post -
                        <a target="_blank" href="http://www.huffingtonpost.com/entry/open-data-platform-enables-aid-groups-to-respond-more-efficiently-to-crises_us_574876fee4b03ede4414a6a4">Open data platform lets aid groups respond more efficiently to crises</a>
                    </li>
                    <li>
                        UN News -
                        <a target="_blank" href="http://www.un.org/apps/news/story.asp?NewsID=53851#.WCJDuhIrLJw">UN Agencies boost partnership on visualization of food security data for Yemen</a>
                    </li>
                    <li>
                        The Guardian -
                        <a target="_blank" href="http://www.theguardian.com/global-development/2014/dec/29/humanitarian-data-exchange-ebola-refugees">Data exchange helps humanitarians act fast and effectively</a>
                    </li>
                    <li>
                        Fast Company -
                        <a target="_blank" href="http://www.fastcodesign.com/3045699/how-the-candy-crush-of-data-is-saving-lives-in-nepal">How the candy crush of data is saving lives in Nepal</a>
                    </li>
                    <li>
                        Forbes -
                        <a target="_blank" href="http://www.forbes.com/sites/eshachhabra/2015/05/31/un-deploys-new-tech-to-make-relief-faster-in-nepal/">UN deploys new tech to make relief faster in Nepal</a>
                    </li>
                    <li>
                        The Independent -
                        <a target="_blank" href="http://www.independent.co.uk/life-style/gadgets-and-tech/news/open-data-what-is-it-and-why-are-people-so-scared-of-it-10405636.html">Open Data: What is it and why are people so scared of it?</a>
                    </li>

                </ul>
            </p>
            <p>
                To find our logo files and other materials, please
                <a href="https://centre.humdata.org/design-assets/" target="_blank">click here</a>.
            </p>
        </div>
    </div>
    {% snippet 'faq/questions_sections.html', data=data.faq_data %}
{% endblock %}

{% block secondary %}
    <div id="hdx-faq-sidebar-wrapper" class="mTop60">
        <div class="hdx-faq-sidebar" id="hdx-faq-sidebar">
            <ul class="nav">
            {% for section in data.faq_data %}
                <li>
                    <a id='menu-{{ section.id }}' href="#body-{{ section.id }}"> {{ section.title }} </a>
                </li>
            {% endfor %}
            </ul>
            <p class="no-answer-found mTop30">
                <a onclick="closeCurrentWidget(this);showFaqWidget('#faqSendMsgPopup');" href="#">{{ _("Don't see an answer?") }}</a>
            </p>
        </div>
    </div>
{% endblock %}


{%- block styles %}
    {{ super() }}
    {% resource 'hdx_theme/faq/faq.css' %}
    {% resource 'hdx_theme/faq/faq.js' %}
{% endblock %}
