syntax: glob
# generic
*.pyc
*.swp
*.swo
.DS_Store
ckan.egg-info/*
sandbox/*
dist

# pylons
development.ini*
sstore/*
data/*
pylons_data/*
#ckan/il8n/*/*/*.mo

# other
pip-requirements-local.txt
migrate/*
build/*
solr_runtime/*
fl_notes.txt
*.ini
.noseids
*~

# nosetest coverage output
.coverage
htmlcov/*

# CKAN
ckan.log
ckan_deb/
etc/default/*.ini

# node.js
node_modules/

#Idea PyCharm - project folder
.idea

# nosetest reports
nose_results.xml

