-c requirements.txt # FOR PYTHON 3

beautifulsoup4==4.12.3
cookiecutter==2.6.0
coveralls   #Let Unpinned - Requires latest coveralls
docutils>=0.18.1,<0.21
Faker==33.3.1
factory-boy==3.3.1
flask-debugtoolbar==0.16.0
freezegun==1.5.1
ipdb==0.13.13
pip-tools==7.4.1
Pillow==11.1.0
responses==0.25.6
sphinx-rtd-theme==2.0.0
sqlalchemy-stubs==0.4
mock==2.0.0
pycodestyle==2.5.0
pyfakefs==5.7.3
sphinx>=7.3.7,<7.4
toml==0.10.2
towncrier==24.8.0
regex==2025.7.34
pytest==8.3.4
pytest-cov<6
pytest-factoryboy==2.7.0
pytest-freezegun==0.4.2
pytest-rerunfailures==15.0
pytest-split==0.10.0
pytest-retry==1.7.0
moto==5.0.25
ruff==0.5.5
