-c myreqs.txt

beautifulsoup4==4.5.1
#coveralls   #Let Unpinned - Requires latest coveralls
docutils==0.12
factory-boy==2.1.1
Flask-DebugToolbar==0.10.1
#httpretty==0.8.3
mock==2.0.0
moto
pycodestyle==2.2.0
pyfakefs==2.9
Sphinx==1.7.1
sphinx-rtd-theme==0.3.1
