version: "2"

networks:
  default:

services:
  solr:
    image: solr:7.7.3-slim
    environment:
      SOLR_OPTS: -Dsolr.jetty.request.header.size=65536 -Dsolr.dns.prevent.reverse.lookup
      ZK_HOST: zookeeper:2181
    ulimits:
      nofile:
        soft: 65000
        hard: 65000
    hostname: solr
    container_name: solr
    volumes:
      - "./docker/solr:/configsets"

  zookeeper:
    image: zookeeper:3.6
    hostname: zookeeper
    container_name: zookeeper
    environment:
      ZOO_SERVERS: server.1=zookeeper:2888:3888;2181
      ZOO_STANDALONE_ENABLED: 'true'
      ZOO_LOG4J_PROP: 'INFO,ROLLINGFILE'

  db:
    image: unocha/alpine-postgres:201703-PR116
    hostname: db
    container_name: db
    environment:
      PGSQL_DB: '${PGSQL_DB}'
      PGSQL_USER: '${PGSQL_USER}'
      PGSQL_PASS: '${PGSQL_PASS}'
    networks:
      default:
        aliases:
          - dbckan

  ckan:
    build: ./
    hostname: ckan
    container_name: ckan
    privileged: true
    depends_on:
      - db
      - solr
    volumes:
      - "./.git:/srv/ckan/.git"
    environment:
      HDX_HOURS_MIXPANEL_CACHE: 1
      HDX_CKANDB_ADDR: 'dbckan'
      HDX_CKANDB_PORT: 5432
      HDX_CKANDB_DB: '${PGSQL_DB}'
      HDX_CKANDB_USER: '${PGSQL_USER}'
      HDX_CKANDB_PASS: '${PGSQL_PASS}'
      HDX_CKANDB_USER_DATASTORE: 'datastore'
      HDX_CKANDB_DB_DATASTORE: 'datastore'
      HDX_CKANDB_DB_TEST: '${PGSQL_DB}'
      HDX_CKANDB_DB_TEST_DATASTORE: 'datastore'
      HDX_CKANDB_PASS_DATASTORE: 'datastore'
      HDX_DOMAIN: humdata.org
      HDX_FILESTORE: /srv/filestore
      HDX_SOLR_ADDR: solr
      HDX_SOLR_PORT: 8983
      HDX_TYPE: ${HDX_TYPE}
      HDX_SMTP_ADDR: localhost
      HDX_SMTP_PORT: 25
      HDX_SMTP_USER: ''
      HDX_SMTP_PASS: ''
      HDX_SMTP_TLS: 'False'

