# The file contains the direct ckan requirements (python3).
# Use pip-compile to create a requirements.txt file from this
alembic==1.13.2
Babel==2.15.0
bleach==6.1.0
blinker==1.8.2
certifi>=2024.7.4
click==8.1.7
dominate==2.9.1
feedgen==1.0.0
Flask==3.0.3
Flask-Babel==4.0.0
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-WTF==1.2.1
Jinja2==3.1.6
Markdown==3.6
msgspec==0.18.6
packaging==24.1
passlib==1.7.4
polib==1.2.0
psycopg2==2.9.9
PyJWT==2.8.0
pyparsing==3.1.2
python-magic==0.4.27
pysolr==3.9.0
python-dateutil==2.9.0.post0
pytz
pyyaml==6.0.1
requests==2.32.4
rq==1.16.2
simplejson==3.19.2
SQLAlchemy[mypy]==1.4.52
sqlparse==0.5.0
# typing_extensions==4.12.2
tzlocal==5.2
webassets==2.0
Werkzeug[watchdog]==3.0.6
zope.interface==8.3

# ADDED FOR HDX
ipaddress==1.0.23
# validate_email==1.2
# pyDNS==2.3.6
ijson==3.2.3
mailchimp3==3.0.21
ua-parser==0.18.0
user_agents==2.2.0
rcssmin==1.1.2
regex==2025.7.34
# boto3 for AWS SES API (ckanext-hdx_smtp_assumerole)
boto3>=1.18.0
botocore>=1.21.0

# We want to use repoze.who.plugins.use_beaker in who.ini with sessions in redis
# Based on ideas from https://github.com/data-govt-nz/ckanext-security
# git+https://github.com/akissa/repoze.who-use_beaker@780379fd58b10264c0756feb6d3f232f797ba0cb#egg=repoze.who-use_beaker
# beaker-redis~=1.1.0
# needed by who-use-beaker
# future==0.18.2

# Below lines are needed for ckanext-powerview
# ckantoolkit==0.0.3
# -e git+https://github.com/OCHA-DAP/ckanext-powerview.git@0.1.0#egg=ckanext-powerview

# request data plugin
# idna<2.9 # Because moto (from dev-requirements needs <2.9)
# email_validator==1.0.2
timeago==1.0.16

-e git+https://github.com/OCHA-DAP/ckanext-requestdata.git@3.0.42#egg=ckanext-requestdata

# ckanext-showcase
-e git+https://github.com/OCHA-DAP/ckanext-showcase.git@1.5.5#egg=ckanext-showcase

# reqs for ckanext-dcat
rdflib==7.1.3
pyld>=2.0.4
geomet>=0.2.0
ckantoolkit>=0.0.7
# ckanext-dcat
ckanext-dcat==2.4.2

dogpile.cache==1.3.0

# ckanext-s3filestore
-e git+https://github.com/OCHA-DAP/ckanext-s3filestore.git@0.8.2#egg=ckanext-s3filestore

# ckanext-security
-e git+https://github.com/OCHA-DAP/ckanext-security.git@1.71.1#egg=ckanext-security
pyotp~=2.6.0
# END ckanext-security

# ckanext-datapusher-plus
-e git+https://github.com/OCHA-DAP/datapusher-plus.git@0.2.104#egg=datapusher-plus
# END ckanext-datapusher-plus

# ckanext-sitemap (Datopian version)
-e git+https://github.com/datopian/ckanext-sitemap.git@88fb3b6#egg=ckanext-sitemap

python-json-logger~=2.0.7
openpyxl==3.1.5

# BY HDX- for datapusher plus
semver==2.13.0
datasize==1.0.0
