{% extends "faq_others/faq/main.html" %}

{% block subtitle %}{{ _("Terms of Service") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('TERMS OF SERVICE'), named_route='hdx_faqs.read', category='terms') }}</li>
{% endblock %}

{% block pre_primary %}
    <div class="top-banner top-banner-terms">
        <div class="col-xs-12">
            <div class="top-banner-text-wrapper" style="margin-top:140px">
                <div class="top-banner-title">
                   {{ _('HDX Terms of Service') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block primary %}
    <div class="row mTop60">
        <div class="col-xs-12">
            <div id="body-about-hdx" class="section-flag" style="">HDX Terms of Service</div>
            <p class="mTop10">
              The <a href="/">Humanitarian Data Exchange</a> (HDX) is an open data platform managed by the
              <a href="https://www.unocha.org/">United Nations Office for the Coordination of Humanitarian Affairs</a>
              (OCHA) through its <a href="https://centre.humdata.org/">Centre for Humanitarian Data</a> (the Centre).
              These Terms of Service (hereafter ‘Terms’ or ‘these Terms’) describe how HDX is managed and how the
              platform should be used. OCHA will update these Terms as needed, and will post notice of significant
              updates on HDX and through the HDX mailing list.
              HDX organizations and users are bound by these Terms. If you do not agree with the Terms, you should
              discontinue use of HDX. If you have any questions or comments about these Terms or HDX, please visit
              our <a href="https://data.humdata.org/faq">Frequently Asked Questions</a> or send an email to
              <a href="mailto:hdx@un.org">hdx@un.org</a>
            </p>
        </div>
    </div>
    {% snippet 'faq_others/questions_sections.html', data=data.faq_data %}
{% endblock %}

{% block secondary %}
    <div id="hdx-faq-sidebar-wrapper" class="mTop60">
        <div class="hdx-faq-sidebar" id="hdx-faq-sidebar">
            <p>
              {% snippet 'faq_others/faq/search.html' %}
            </p>
        </div>
    </div>
{% endblock %}


{%- block styles %}
    {{ super() }}
    {% asset 'hdx_theme/faq-scripts' %}
{% endblock %}
