{% extends "user/read_base.html" %}

{% import 'macros/form.html' as form %}

{% set unit_options = [
  {'value': 3600*24, 'text': _('Day')},
  {'value': 3600, 'text': _('Hour')},
  {'value': 60, 'text': _('Minute')},
  ] %}

{% block primary_content_inner %}
  <div class="paddingLeftHack">
    <div class="row mTop35 mBottom35">
      <div class="col-8">
        {% if h.check_access('api_token_create', {'user': user['name']}) %}
          <form method="POST" class="form">
            <legend>{{ _('API Tokens') }}</legend>
            {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

            {% block base_fields %}
              <div class="form-group ">
                  {{ form.input('name', label='Name', is_required=True, value=data.name, error=errors.name) }}
              </div>
            {% endblock base_fields %}
            <div class="form-group ">
              {{ form.input('expires_in', label=_('Expires in'), is_required=true, type='number', value=data.expires_in or h.expire_api_token_default_token_lifetime(), error=errors.expires_in) }}
              {{ form.select('unit', label=_('Units'), options=unit_options, selected=data.unit, error=errors.unit) }}
            </div>
            {% block form_actions %}
              <button class="btn btn-primary my-3" type="submit" value="create">
                {{ _('Create API Token') }}
              </button>
            {% endblock form_actions %}
          </form>
        {% endif %}
        {% block token_list %}
          {% if tokens %}
            {% snippet 'user/snippets/api_token_list.html', tokens=tokens, user=user %}
          {% else %}
            <p class="empty">
              {{ _('You haven\'t created any API Tokens.') }}
            </p>
          {% endif %}
        {% endblock token_list %}
      </div>
    </div>
  </div>
{% endblock primary_content_inner %}
