{% extends "user/dashboard.html" %}

{% block dashboard_activity_stream_context %}{% endblock %}

{% block add_action_content %}
  {% if h.check_access('organization_create') %}
  {# if c.userobj.sysadmin #}
    <li>{% link_for _('Add Organization'), controller='organization', action='new', class_="btn btn-primary", icon="plus-sign-alt" %}</li>
  {# endif #}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">{{ _('My Organizations') }}</h2>
  {% set organizations = h.hdx_organizations_available_with_roles() %}
  {% if organizations %}
    <div class="wide">
      {% snippet "organization/snippets/organization_list.html", organizations=organizations %}
    </div>
  {% else %}
  {% snippet "organization/snippets/mem_or_org.html", parent_route='user_dashboard_organizations' %}
  	{#<div class="big-message">
	    <p>
	      {{ _('You aren\'t currently a member of any organizations.') }}
	    </p>
	    <p>
	      {% if h.check_access('organization_create') %}
	        {% link_for _('+ Add Organization'), controller='organization', action='new', class_='info-item-name' %}
	      {% endif %}
	    </p>
    </div>#}
  {% endif %}
{% endblock %}
