{% extends "user/dashboard.html" %}

{% block dashboard_activity_stream_context %}{% endblock %}
{% block add_action_content %}{% endblock %}

{% block page_header_inner %}
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/popup-scripts' %}
  {% asset 'hdx_theme/onboarding-bulk-user-scripts' %}
  {% asset 'hdx_theme/onboarding-bulk-user-complete-onboarding-scripts' %}
{% endblock %}

{% block primary_content_inner %}
  {% set organizations = h.hdx_organizations_available_with_roles() %}
    {% if organizations %}
      <div class="float-end">
        <a class="btn btn-primary" href="{{ h.url_for('hdx_org_join.org_join') }}" title="Request to join an organisation">{{ _('Request to join an org') }}</a>
      </div>
    {% endif %}
  <div>
    {% if organizations %}
      <div class="wide">
        {% snippet "organization/snippets/organization_list.html", organizations=organizations %}
      </div>
    {% else %}
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <div class="text-center mBottom40">
            <h3 class="center sspRegular16 mb-3">{{ _('Thank you for becoming a registered user on HDX.') }}</h3>
            <p class="sspRegular16">{{ _('In order to share data on HDX, you need to associate your account with an existing organisation or request to create a new organisation.') }}</p>
            <p class="sspRegular16">{{ _('An organisation on HDX can be a legal entity or an informal group.') }}</p>
            <p class="sspRegular16">{{ _('Requests to associate your account with an existing organisation will be assessed by the administrator of that organisation. You will need to provide a reason for making this request.') }}</p>
            <a class="btn btn-primary" href="{{ h.url_for('hdx_org_join.org_join') }}" title="Request to join an organisation">{{ _('Request to join an org') }}</a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
