{% extends "user/dashboard.html" %}

{% block dashboard_activity_stream_context %}{% endblock %}
{% block add_action_content %}{% endblock %}

{% block page_header_inner %}
{% endblock %}

{% block styles %}
    {{ super() }}

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/popup-scripts' %}
  {% asset 'hdx_theme/onboarding-bulk-user-scripts' %}
  {% asset 'hdx_theme/onboarding-bulk-user-complete-onboarding-scripts' %}
{% endblock %}


{% block primary_content_inner %}
  {{ h.snippet('widget/onboarding/select-organisation.html', id="selectOrgPopup") }}
  {% set organizations = h.hdx_organizations_available_with_roles() %}
    {% if organizations %}
      <div class="pull-right">
        <div>
        <a class="btn btn-primary" href="#" onclick="showOnboardingWidget('#selectOrgPopup', '#user_extra','False');$('#create-organisation, #onboard-org-request-new-text').hide();$('#select-organisation, #onboard-org-join-text').show();" >{{ _('+ Join Another Organisation') }}</a> <br/> <br/>
        </div>
        <div>
          <a class="btn btn-primary" onclick="showOnboardingWidget('#selectOrgPopup', '#user_extra','False');$('#select-organisation, #onboard-org-join-text').hide();$('#create-organisation, #onboard-org-request-new-text').show();" href="#">{{ _('+ Request New Organisation') }}</a><br/> <br/>
        </div>
{#        <div>#}
{#            {% snippet "snippets/help_box.html", links=[{'url':'https://centre.humdata.org/screencasts#creating-an-organization','text':'Request Org'},{'url':'https://centre.humdata.org/screencasts#joining-an-organization','text':'Join Org'},{'url':'https://centre.humdata.org/get-involved/','text':'Contact Us'}] %}#}
{#        </div>#}
    {% endif %}
      </div>
  <div style="min-height: 120px;">
    {% if organizations %}
      <div class="wide">
        {% snippet "organization/snippets/organization_list.html", organizations=organizations %}
      </div>
    {% else %}
    <div class="mL30 mBottom20">
        {# snippet "organization/snippets/mem_or_org.html", parent_route='user_dashboard_organizations' #}
        <div class="row row-fluid">
        <h3 class="center sspRegular14"> {{ _('Thank you for becoming a registered user in HDX. If you plan on sharing data, you need to create an organisation or become an editor of an existing organisation.') }}</h3>
        <br/>
        {{ h.snippet('widget/onboarding/select-organisation.html', id="selectOrgPopup") }}
        <center>
          <a href="#" onclick="$('#select-organisation-form').attr('skipNext', 'true');showOnboardingWidget('#selectOrgPopup', '#user_extra','False');$('#create-organisation, #onboard-org-request-new-text').hide();$('#select-organisation, #onboard-org-join-text').show();" class="btn btn-primary">{{ _("Find Your Organisation")}}</a>
          <span class="mLR30">{{_("OR")}}</span>
          <!--<a href="/organization/request_new" class="btn btn-primary">+ {{ _("Request New Organisation")}}</a>-->
           <!--|-->
          <a onclick="$('#create-organisation-form').attr('skipNext', 'true');showOnboardingWidget('#selectOrgPopup', '#user_extra','False');$('#select-organisation, #onboard-org-join-text').hide();$('#create-organisation, #onboard-org-request-new-text').show();" href="#" class="btn btn-primary">+ {{ _("Request New Organisation")}}</a>
        </center>
        </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
