{% extends "user/read.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Profile and Password') }}{% endblock %}

{% block primary_content_inner %}
<div class="paddingLeftHack">
  <div class="mTop35">
<form class="dataset-form form-horizontal" method="post" action="{{ action }}" id="user-edit-form">
  {{ form.errors(error_summary) }}

  <fieldset>
    <legend>{{ _('Profile') }}</legend>

    <input id="field-username" type="hidden" name="name" value="{{ data.name }}"/>

{#    {{ form.input('fullname', label=_('Full name'), id='field-fullname', value=data.fullname, error=errors.fullname, placeholder=_('eg. Joe Bloggs'), classes=['control-medium']) }}#}
    {{ form.input('firstname', label=_('First name'), id='field-firstname', value=data.firstname or data.fullname,
          error=errors.firstname, placeholder=_('eg. Joe'), classes=['control-medium'],
          attrs={'autocomplete':'off'}) }}
    {{ form.input('lastname', label=_('Last name'), id='field-lastname', value=data.lastname,
          error=errors.lastname, placeholder=_('eg. Bloggs'), classes=['control-medium'],
          attrs={'autocomplete':'off'}) }}

    {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email,
          error=errors.email, placeholder=_('eg. joe@example.com'), classes=['control-medium'], is_required=true,
          attrs={'autocomplete':'off'}) }}

	{% set format_attrs = {'style':'width: 320px;'} %}
    {{ form.textarea('about', label=_('About'), id='field-about', value=data.about, error=errors.about, placeholder=_('A little information about yourself'), classes=['control-medium'],attrs=format_attrs) }}

    {% if show_email_notifications %}
      {% call form.checkbox('activity_streams_email_notifications', label=_('Subscribe to notification emails'), id='field-activity-streams-email-notifications', value=True, checked=g.userobj.activity_streams_email_notifications) %}
      {{ form.info(_("You will receive notification emails from {site_title}, e.g. when you have new activities on your dashboard.".format(site_title=g.site_title)), classes=['info-help-tight']) }}
      {% endcall %}
    {% endif %}

  </fieldset>

  <fieldset class="mTop35">
    <legend>{{ _('Password') }}</legend>
    {{ form.input('old_password',
                  type='password',
                  label=_('Sysadmin Password') if is_sysadmin else _('Old Password'),
                  id='field-password',
                  value=data.oldpassword,
                  error=errors.oldpassword,
                  classes=['control-medium'],
                  attrs={'autocomplete': 'off'}
                  ) }}

    {{ form.input('password1', type='password', label=_('New Password'), id='field-password', value=data.password1, error=errors.password1, classes=['control-medium'], attrs={'autocomplete': 'off'} ) }}

    {{ form.input('password2', type='password', label=_('Confirm New Password'), id='field-password-confirm', value=data.password2, error=errors.password2, classes=['control-medium'], attrs={'autocomplete': 'off'}) }}
     <div class="form-actions">

      {% block generate_button %}
        {#eliminated the regenerate api key button#}
      {% endblock %}
      <button class="btn btn-primary" type="submit" name="save">{{ _('Update Profile') }}</button>
    </div>
    <div class="form-actions">
      {{ form.required_message() }}
    </div>
  </fieldset>
{% if is_sysadmin %}
  <fieldset class="mTop35">
    <legend>{{_('Two-step verification')}}</legend>
    {#
    {% if h.check_ckan_version('2.9') %}
      {% link_for _('Manage two-step verification'), controller='mfa_user', action='configure_mfa', id=data.id, class_='btn btn-default pull-left', icon='cog' %}
    {% else %}
      {% link_for _('Manage two-step verification'), controller='ckanext.security.controllers:MFAUserController', action='configure_mfa', id=data.id, class_='btn btn-default pull-left', icon='cog' %}
    {% endif %}
    #}
    <a href="#" class="btn" onclick="showOnboardingWidget('#tsvPopup')"> {{ _('Manage two-step verification') }}</a>
  </fieldset>
{% endif %}
{% if h.check_access('user_delete', {'id': data.id})  %}
  <fieldset class="mTop35">
    <legend>{{_('Delete account')}}</legend>
    {% block delete_button %}
      {% if h.check_access('user_delete', {'id': data.id})  %}
        {% set member = h.hdx_get_org_member_info(data.id) %}
        {% if member.maint_orgs_pkgs | length > 0 %}
          {% set confirm_delete_message = 'User cannot be removed. Please change maintainer for the following datasets: ' %}
          {% set disabled = True %}
          {% snippet 'snippets/confirmation_member_delete.html', form_url=h.url_for('hdx_members.member_delete',
            id=group_id),
            user=id,
            header='',
            confirm_btn_label='Confirm',
            body=confirm_delete_message, modal_div_id='confirm-del-member-div-'+member.id,
            packages=member.maint_orgs_pkgs, disabled=disabled %}
          <a class="btn btn-danger pull-left" href="#confirm-del-member-div-{{ member.id }}" data-toggle="modal" title="{{ _('Delete') }}">
            {{ _('Delete') }}
          </a>
        {% else %}
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this user?'), 'heading': _('You are deleting user'), 'delete': _('Delete')}) %}
          <a class="btn btn-danger pull-left" href="{% url_for 'user.delete', id=data.id %}" data-module="hdx_confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endif %}
    {% endblock %}
  </fieldset>
{% endif %}

</form>
</div>
</div>

{% if is_sysadmin %}
  <div>
    {{ h.snippet('widget/security/two-step-verification.html', id="tsvPopup", title="How to turn on two-step verification", userId=data.id, userName=data.name) }}
  </div>
{% endif %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/two-step-styles' %}
  {% asset 'security/mfa_configure' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/two-step-scripts' %}
{% endblock %}
