{% extends 'user/edit_base.html' %}

{% block actions_content %}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/other_breadcrumb_item.html", title=_('Users'), named_route='user.index', position=2 %}
  {% snippet "snippets/other_breadcrumb_item.html", title=user_dict.display_name, named_route='user.read', id=user_dict.name, position=3 %}
  {% snippet "snippets/active_breadcrumb_item.html", title=_('Manage'), position=4 %}
{% endblock %}

{% block primary_content_inner %}
  {{ form | safe }}
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('User Settings') }}</h2>
    <div class="module-content">
      {% trans %}
        Your profile lets other HDX users know about who you are and what you
        do.
      {% endtrans %}
    </div>
  </section>
{% endblock %}
