{% extends "base.html" %}
{% block subtitle %}{{ _('Reset Your Password') }}{% endblock %}


{% block page %}
  <div >
    {{ h.snippet('widget/onboarding/recover.html', id="recoverPopup", user_dict=user_dict, show=true) }}
    {{ h.snippet('widget/onboarding/recoverSuccess.html', id="recoverSuccessPopup") }}
    {{ h.snippet('widget/loading/loading.html', id="loadingScreen", message="Redirecting to HDX ...") }}
  </div>
{% endblock %}

{%- block styles %}
  {{ super() }}

  {% resource 'hdx_theme/page-styles' %}
  {% resource 'hdx_theme/onboarding' %}
  {% resource 'requestdata/css/main.css' %}
  {% resource 'hdx_theme/widget/onboarding/verify.css' %}
  {% resource 'hdx_theme/widget/onboarding/forgot-password.css' %}
  {% resource 'hdx_theme/widget/onboarding/forgot-password.js' %}
{% endblock %}

{% block mixpanel_init %} {% endblock %}
{% block google_analytics_init %} {% endblock %}
{% block hotjar_init %} {% endblock %}
