{% extends "base.html" %}
{% block subtitle %}{{ _('Reset Your Password') }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/page-styles' %}
  {% asset 'hdx_theme/onboarding-styles' %}
  {% asset 'requestdata/main-styles' %}
  {% asset 'hdx_theme/onboarding-password-styles' %}
{% endblock %}

{% block scripts %}
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadRecaptchaFPCallback&render=explicit" async defer></script>
  {{ super() }}
  {% asset 'hdx_theme/page-scripts' %}
  {% asset 'hdx_theme/onboarding-scripts' %}
  {% asset 'hdx_theme/onboarding-password-scripts' %}
  {% asset 'hdx_theme/onboarding-recover-scripts' %}
{% endblock %}

{% block page %}
  <div >
    {{ h.snippet('widget/onboarding/recover.html', id="recoverPopup", user_dict=user_dict, show=true, capcha_api_key=capcha_api_key) }}
    {{ h.snippet('widget/onboarding/recoverSuccess.html', id="recoverSuccessPopup") }}
    {{ h.snippet('widget/loading/loading.html', id="loadingScreen", message="Redirecting to HDX ...") }}
  </div>
{% endblock %}

{% block mixpanel_init %} {% endblock %}
{% block google_analytics_init %} {% endblock %}
{% block hotjar_init %} {% endblock %}
