{% extends "page.html" %}

{% block subtitle %}{{ _('Register') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Registration'), controller='user', action='register') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module userRegisterContent">
    <div class="module-content">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Register for an account') }}{% endblock %}
      </h1>
      {{ c.form | safe }}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('Thank you!') }}</h2>
    <div class="module-content">
      <p>{{ _('Thank you for joining the HDX Community.') }}</p>
      <p>{{ _('Please fill in your details to the right to create an account.') }}</p>
      <p>{{ _('An account allows you to share datasets, create new organizations, and join existing organizations.') }}</p>
    </div>
  </section>
{% endblock %}

{% block scripts2 %}
  <style>
  .info-field {
 float: left;
        margin-left: 30px;
        margin-top: 25px;
        background-color: #CCCCCC;
        width: 300px;
        color: #FFFFFF;
        padding: 5px 10px;
}

.field-with-info .control-medium{
  float: left;
}


.field-with-info > .info-field{
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

.field-with-info:hover > .info-field, .field-with-info > .info-field.info-field-focus, .info-field:hover {
  opacity: 1;
  visibility: visible;
}
  </style>
  <script src="/scripts/latinise.js"></script>
  <script>
    $(document).ready(function(){
        //Force ascii encoding
        $('#field-username').blur(function(){
          $(this).val($('#field-username').val().latinise());
        });
    });
  </script>
{% endblock %}
