{% import "macros/form.html" as form %}
<script type="text/javascript">
  var RecaptchaOptions = {
     theme : 'clean'
  };
</script>
{% resource 'hdx_theme/hdx_style_on_focus.js' %}
<form class="form registerForm" action="" method="post">
  {{ form.errors(error_summary) }}
<div class="field-with-info" data-module="hdx_style_on_focus" data-module-target_element_id="username-info-field" data-module-class_name="info-field-focus">
  {{ form.input("name", id="field-username", label=_("Username"), placeholder="", value=data.name, error=errors.name, classes=["control-medium"]) }}

  <div id="username-info-field" class="dataset-form-info-field info-field">
    {% trans %}
    Username must be lowercase. No accented or special characters are allowed.
    {% endtrans %}
  </div>
</div>
  <br style="clear:both;">
  {{ form.input("fullname", id="field-fullname", label=_("Full Name"), placeholder="", value=data.fullname, error=errors.fullname, classes=["control-medium"]) }}
  {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder="", value=data.email, error=errors.email, classes=["control-medium"]) }}
  <div class="field-with-info" data-module="hdx_style_on_focus" data-module-target_element_id="password-info-field" data-module-class_name="info-field-focus">
  {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder="", value=data.password1, error=errors.password1, classes=["control-medium"]) }}
  <div id="password-info-field" class="dataset-form-info-field info-field">
    {% trans %}
    Must be at least four characters
    {% endtrans %}
  </div>
  </div>
  <br style="clear:both;">
  {{ form.input("password2", id="field-confirm-password", label=_("Confirm Password"), type="password", placeholder="", value=data.password2, error=errors.password1, classes=["control-medium"]) }}
  
  		<div class="control-group control-medium">
            <label class="control-label hide" for="recaptcha_response_field">Captcha</label>
            <div class="controls editor">
              <style>
                #recaptcha_widget_div * {
                  #border: 0 !important;
                  line-height: normal !important;
                }
                #recaptcha_response_field{
                  border: 1px solid #DFDFDF !important;
                  width: 288px !important;
                  border-radius: 0;
                }
                #recaptcha_area, #recaptcha_table {
                  width: auto !important;
                }
              </style>
              <script type="text/javascript"
                      src="//www.google.com/recaptcha/api/challenge?k={{ capcha_api_key }}">
              </script>
              <noscript>
                <iframe src="//www.google.com/recaptcha/api/noscript?k={{ capcha_api_key }}"
                        height="300" width="500" frameborder="0"></iframe><br>
                <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                </textarea>
                <input type="hidden" name="recaptcha_response_field"
                       value="manual_challenge">
              </noscript>
            </div>
          </div>
  
  
  <div class="form-actions mBottom20">
    <button class="btn btn-primary" type="submit" name="save">{{ _("Create Account") }}</button>
  </div>
</form>