{% extends "base.html" %}
{% block subtitle %}{{ _('Reset Your Password') }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/page-styles' %}
  {% asset 'hdx_theme/onboarding-perform-reset-styles' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}

{% block page %}
  <div>
    {{ h.snippet('widget/onboarding/password-reset.html', id="recoverPopup", user_dict=user_dict) }}
  </div>
{% endblock %}

{% block mixpanel_init %} {% endblock %}
{% block google_analytics_init %} {% endblock %}
{% block hotjar_init %} {% endblock %}
