@import "bem_variables";

.account-options {

  > .row {
    .col-12 {
      .account-options__cell {
        &:last-child {
          border-bottom: 1px solid @black-color;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }

        &_type_blue {
          &:last-child {
            border-color: @blue-light-color;
          }
        }

        &_type_grey {
          &:last-child {
            border-color: @grey-lighter-color;
          }
        }
      }
    }
  }

  &__cell {
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid @black-color;
    border-right: 1px solid @black-color;

    &_type_cozy {
      height: 110px;
      padding-top: 24px;
      @media (max-width: @breakpoint-lg) {
        height: auto;
        padding-bottom: 24px;
      }
    }

    &_type_title {
      border-top: 1px solid @black-color;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &_type_features {
      min-height: 250px;
      @media (max-width: @breakpoint-lg) {
        min-height: auto;
      }
    }

    &_type_blue {
      background-color: @blue-light-color;
      border-color: @blue-light-color;

      .heading .heading__title,
      .account-options__title,
      .account-options__subtitle,
      .account-options__icon {
        color: @white-color;
      }
    }

    &_type_grey {
      background-color: @grey-lighter-color;
      border-color: @grey-lighter-color;
    }
  }

  &__title {
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 14px;
    font-weight: 400;
    @media (max-width: @breakpoint-lg) {
      font-size: 16px;
    }
  }

  &__icon {
    color: @blue-medium-dark-color;
    font-size: 18px;
    width: 18px;
    margin-right: 8px;
  }

  &__subtitle {
    color: @blue-medium-dark-color;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  &__feature {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
  }

  &__help {
    color: @black-color;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Gotham-Book', sans-serif;

    a {
      color: @blue-light-color;
      font-family: 'Gotham-Bold', sans-serif;
      font-weight: 400;

      &:hover {
        color: @blue-color;
      }
    }
  }

}
