@black-color: #000;
@blue-color: #0162DD;
@blue-medium-dark-color: #1F2937;
@blue-dark-color: #0F172A;
@blue-light-color: #007CE1;
@blue-extra-light-color: #EDF6FD;
@grey-color: #CCCCCC;
@grey-dark-color: #888;
@grey-extra-dark-color: #4B5563;
@grey-light-color: #D1D5DB;
@red-color: #F2645A;
@green-color: #10B981;
@white-color: #FFF;

@breakpoint-sm: 576px;
@breakpoint-md: 768px;
@breakpoint-lg: 992px;
@breakpoint-xl: 1200px;
@breakpoint-xxl: 1400px;
