@black-color: #000;
@blue-color: #0162DD;
@blue-dark-color: #0F172A;
@blue-light-color: #007CE1;
@grey-color: #CCCCCC;
@grey-dark-color: #888;
@grey-extra-dark-color: #4B5563;
@grey-light-color: #D1D5DB;
@red-color: #F2645A;
@white-color: #FFF;

@breakpoint-md: 768px;
