@import "bem_variables";

.checkbox-field {

  &__label {
    &.form-check-label {
      vertical-align: middle;
      color: @black-color;
      font-size: 16px;
    }
  }

  &__required {
    color: @red-color;
    font-weight: 600;
  }

  &__input {
    &.form-check-input {
      height: 20px;
      width: 20px;
      border-color: @grey-light-color;

      &:checked {
        background-color: @grey-dark-color;
        border-color: @grey-dark-color;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}
