@import "bem_variables";

.bem-faq {

  &__item {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
    border-bottom: 1px solid @black-color;
  }

  &__question {
    color: @black-color !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    box-shadow: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;

    &::after {
      display: none;
    }
  }

  &__answer {
    color: @black-color;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 22px;
  }
}
