@import "bem_variables";

.form-button {

  &__btn {
    &.btn-primary {
      padding: 10px;
      border-radius: 6px;
      font-weight: 700;
      font-size: 18px;
      font-family: 'Gotham-Bold', sans-serif;
      border: 0;
      background-color: @blue-light-color;

      &:hover {
        background-color: @blue-color;
      }
    }

    &.btn-link {
      text-decoration: none;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      color: @blue-light-color;

      &:hover {
        color: @blue-color;
      }
    }
  }
}
