@import "bem_variables";

.heading {
  &__title {
    color: @blue-dark-color;
    line-height: 1.2;
    font-size: 48px;
    font-family: 'Gotham-Bold', sans-serif;
    font-weight: 700;
    @media (max-width: @breakpoint-md) {
      font-size: 36px;
    }
  }
}
