@import "bem_variables";

.paragraph {
  &__text {
    color: @black-color;
    font-size: 16px;
    line-height: 140%;

    &_font-size-big {
      font-size: 20px;
    }

    &_font-size-medium {
      font-size: 18px;
    }

    &_font_size-small {
      font-size: 12px;
    }

    &_font-weight-bold {
      font-weight: 600;
    }
  }
}
