@import "bem_variables";

.paragraph {
  &__text {
    color: @black-color;
    font-size: 14px;
    line-height: 140%;

    &_font-size-big {
      font-size: 20px;
    }

    &_font_size-small {
      font-size: 12px;
    }
  }
}
