@import "bem_variables";

.textarea-field {

  &__textarea {
    border: 1px solid @grey-light-color;
    border-radius: 4px;
    padding: 12px 16px;

    &:focus {
      box-shadow: none;
    }
  }
}
