@import "bem_variables";

.textarea-placeholder {
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    color: @grey-dark-color;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Inter', sans-serif;
  }
}

.textarea-field {

  &__textarea {
    border: 1px solid @grey-light-color;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Inter', sans-serif;
    color: @grey-extra-dark-color;
    .textarea-placeholder;

    &:focus {
      box-shadow: none;
    }
  }

  &__label {
    color: @grey-extra-dark-color;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__label-guideline {
    color: @grey-extra-dark-color;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 22px;
  }

  &__required {
    color: @red-color;
    font-weight: 600;
  }

  &__feedback-message {
    font-size: 14px;
  }
}
