{% asset 'hdx_theme/homepage-qa-process-styles' %}
<div class="qa-process">
  <div class="col-xs-12 hero">
    <div class="hero-content">
      <div class="hero-title">Responsible Data Sharing on HDX</div>
      <div class="hero-sub-title">Our Quality Assurance Process</div>
      <div class="hero-description hidden-xs">The HDX team manually reviews every dataset uploaded to the platform to support responsible data exchange. </div>
    </div>
  </div>
  <div class="col-xs-12 qa-intro">
    <div class="qa-intro-content">
      <div class="qa-intro-title">
        We offer tools and services throughout the data sharing process:
      </div>
      <div class="qa-intro-list">
        <div class="qa-intro-item">
          <div class="intro-bar bar1"></div>
          <div class="qa-intro-item-title">BEFORE</div>
          <div class="qa-intro-item-description">
            We have developed tools to help you improve both the quality and usability of your data.
            Use the <a href="https://tools.humdata.org/examples/hxl/" target="_blank">HXL TAG ASSIST</a> to standardize your data, use <a href="https://tools.humdata.org/wizard/#datacheck" target="_blank">DATA CHECK</a> to clean
            your data and learn more about applying Statistical Disclosure Control to microdata in this
            <a href="https://centre.humdata.org/guidance-note-statistical-disclosure-control/" target="_blank">GUIDANCE NOTE</a>.
          </div>
        </div>
        <div class="qa-intro-item">
          <div class="intro-bar bar2"></div>
          <div class="qa-intro-item-title">DURING</div>
          <div class="qa-intro-item-description">
            We check every resource against a set of criteria as part of our standard Quality Assurance (QA) process.
            If your dataset contains microdata, it will be placed <a href="/faq#auto-faq-Metadata_and_Data_Quality-What_does_it_mean_for_a_dataset_to_be__under_review__-a">UNDER REVIEW</a> so that we can assess the
            disclosure risk before it is shared publicly.
          </div>
        </div>
        <div class="qa-intro-item">
          <div class="intro-bar bar3"></div>
          <div class="qa-intro-item-title">AFTER</div>
          <div class="qa-intro-item-description">
            We will contact the contributor if any issues are found during the QA process. For datasets that cannot
            be shared publicly, we allow you to publish your metadata without uploading the resource(s) so that users
            can request the data via <a href="https://centre.humdata.org/a-new-call-to-action-sharing-the-existence-of-data/" target="_blank">HDX CONNECT</a>.
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="col-xs-12 qa-process-intro">
    <div class="qa-intro-title">
      How the QA Process works
    </div>
    <div class="qa-intro-section-title">
      When a new resource is shared on HDX...
    </div>
    <div class="img-container">
      <img src="/images/qa-process/hdx-qa-process-illustration-1.png">
    </div>
  </div>
  <div class="col-xs-12 qa-process-steps">
    <div class="arrow-up"></div>
    <div class="row">
      <div class="qa-process-step">
        <div class="qa-process-step-column">
          <div class="qa-process-title">
            1. We review your data against our standard quality criteria.
          </div>
          <div class="qa-process-description">
            The HDX team is notified that a new resource has been uploaded, which kickstarts the quality
            assurance process. We review all data against a set of quality criteria including the
            completeness of metadata, the relevance of the data to humanitarian action, and the integrity
            of the data resource(s).
          </div>
        </div>
        <div class="qa-process-image qa-process-step-column">
          <img src="/images/qa-process/hdx-qa-process-illustration-2.png">
        </div>
      </div>
      <div class="qa-process-step qa-process-inverted-step">
        <div class="qa-process-step-column">
          <div class="qa-process-title">
            2. We place all datasets containing microdata and/or other potentially sensitive information under review.
          </div>
          <div class="qa-process-description">
            All datasets containing microdata and/or seeming to contain sensitive information are placed under review.
            Microdata can be shared on HDX. However, before making these datasets available publicly, our team runs a
            disclosure risk assessment to protect individuals and vulnerable groups. While a dataset is under review,
            users will only be able to consult metadata or request the dataset directly from the data contributor.
            The dataset will remain under review until we are able to determine that the risk of re-identification is
            below our risk threshold and that any sensitive data has been removed from the dataset.
          </div>
        </div>
        <div class="qa-process-image qa-process-step-column">
          <img src="/images/qa-process/hdx-qa-process-illustration-3.png">
        </div>
      </div>
      <div class="qa-process-step">
        <div class="qa-process-step-column">
          <div class="qa-process-title">
            3. We run a disclosure risk assessment and work with you to determine whether and how to share your data.
          </div>
          <div class="qa-process-description">
            We conduct the disclosure risk assessment in our secure environment using a free and open source tool
            called sdcMicro. If we determine that the risk of disclosure is below our 3% threshold and no
            individual respondents are found to have a high risk of re- identification, the dataset is considered safe
            to be publicly shared. If the dataset has a risk of re-identification above our threshold, we notify the
            data contributor and provide support to ensure that they are able to safely share the data. We may advise
            the contributor to reduce the risk of disclosure by applying Statistical Disclosure Control or,
            alternatively, to make the dataset available on request - through HDX connect.
          </div>
        </div>
        <div class="qa-process-image qa-process-step-column">
          <img src="/images/qa-process/hdx-qa-process-illustration-4.png">
        </div>
      </div>
    </div>
    <div class="arrow-down"></div>
  </div>
  <div class="col-xs-12 qa-process-intro">
    <div class="qa-intro-section-title">
      We notify the contributor <br>
      via HDX and email if any <br>
      issues are found during <br>
      the QA process.
    </div>
    <div class="img-container">
      <img src="/images/qa-process/hdx-qa-process-illustration-5.png">
    </div>
  </div>
  <div class="col-xs-12 qa-doc-section">
    <div class="qa-doc-section-title">
      Full documentation <br>
      of our process:
    </div>
    <div class="qa-doc-list">
      <div class="qa-doc-item">
        <img src="/images/qa-process/hdx-qa-process-icon-1.png">
        <div class="qa-doc-title">
          <a href="https://data.humdata.org/dataset/2048a947-5714-4220-905b-e662cbcd14c8/resource/658d5c4f-1680-4cb5-9fbf-10a0a64e2c39/download/hdx-qa-checklist.pdf">HDX QA Checklist</a> <br>
          &nbsp;
        </div>
        <div class="qa-doc-description">
          An overview of the quality criteria reviewed by the HDX team during the QA process.
        </div>
      </div>
      <div class="qa-doc-item">
        <img src="/images/qa-process/hdx-qa-process-icon-2.png">
        <div class="qa-doc-title">
          <a href="https://humanitarian.atlassian.net/wiki/spaces/HDXKB/pages/1381498881/Statistical+Disclosure+Control+Process+to+handle+individual+survey+data+on+HDX" target="_blank">HDX Statistical Disclosure Control Process</a>
        </div>
        <div class="qa-doc-description">
          An overview of why and how the HDX team applies Statistical Disclosure Control to all microdata
          uploaded on the platform.
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 qa-learn">
    <div class="qa-learn-title">
      Want to learn more?
    </div>
    <div class="qa-learn-description">
      Learn more about how to safely share microdata through
      the Centre’s
      <a href="https://centre.humdata.org/learning-path/disclosure-risk-assessment-overview/" target="_blank">Disclosure Risk Assessment Learning Path. <i class="icon humanitarianicons-Out-of-platform"></i></a>
    </div>
  </div>
</div>
