.nav-tabs .nav-tabs-more .crises-menu li > a {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #888888;
  border: none;
  border-radius: 0;
}
.nav-tabs .nav-tabs-more .crises-menu li > a:hover {
  color: #f2645a;
}
.nav-tabs .nav-tabs-more .crises-menu li.active > a,
.nav-tabs .nav-tabs-more .crises-menu li.active > a:hover,
.nav-tabs .nav-tabs-more .crises-menu li.active > a:focus {
  border: none;
  background-color: inherit;
  color: #f2645a;
}
/* Dashboard specific Style */
.page-heading {
  margin-bottom: 35px;
  margin-top: 0;
  line-height: 20px;
}
#followee-filter .btn {
  background-color: #ffffff;
  border: none;
  box-shadow: none;
}
#followee-filter .btn .dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
}
#followee-filter .btn .followee-filter-label {
  display: inline-block;
  vertical-align: middle;
  color: #888888;
  text-transform: uppercase;
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 12px;
}
#followee-filter .btn .followee-filter-choice {
  color: #007CE0;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin: 0 5px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#followee-filter .btn .humanitarianicons-Down {
  vertical-align: middle;
  color: #888888;
}
a,
a:hover,
a:focus {
  color: #007CE0;
  text-decoration: none;
}
a.sspBold14,
a.sspBold14:hover,
a.sspBold14:focus {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #007CE0;
  text-decoration: none;
}
a.sspBold16,
a.sspBold16:hover,
a.sspBold16:focus {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #007CE0;
  text-decoration: none;
}
a.my-link {
  color: #007ce0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
a.my-link-disabled {
  color: #CCCCCC;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.activity {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}
.activity .item p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 35px;
  margin: 5px 0 0 35px;
}
.dsb-activity-item {
  background-color: #ffffff;
  margin-left: 90px;
  height: 38px;
  line-height: 38px;
  margin-top: -8px;
}
.activity .item {
  margin: 0 0 5px;
  padding: 0;
  position: relative;
}
.activity .item .date {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #888888;
  font-size: 12px;
  white-space: nowrap;
}
li:nth-child(odd) > div.dsb-activity-item {
  background-color: #eeeeee;
}
.module:last-child {
  margin-bottom: 0px;
}
/* My Visualisations shareable link */
.shareable-link {
  display: none;
}
.shareable-link textarea {
  width: 90%;
  height: 30px;
  padding: 3px;
}
/* END - My Visualisations shareable link */
/* END Dashboard specific Style*/
