[custom render order]
vendor/bootstrap/css/bootstrap.css = 0
css/lite-main.css = 2
css/header.css = 4
css/header-bs-2.3.css = 6
css/header-bs-3.2.css = 6

css/indicator.css = 99

[depends]

[groups]

indicator =
	vendor/d3/d3.js
	vendor/c3/c3.js
	indicator_data.js
	indicator.js

	css/indicator.css
	vendor/c3/c3.css

bootstrap =
    vendor/bootstrap/js/bootstrap.js
    vendor/bootstrap/css/bootstrap.css

