[custom render order]
vendor/bootstrap/css/bootstrap.css = 20
lite-main.css = 22
css/header.css = 24
css/header-bs-2.3.css = 26
css/header-bs-3.2.css = 26

css/indicator.css = 99

[depends]

[groups]

indicator =
	vendor/d3/d3.js
	vendor/c3/c3.js
	indicator_data.js
	indicator.js

	css/indicator.css
	vendor/c3/c3.css

bootstrap =
    vendor/bootstrap/js/bootstrap.js
    vendor/bootstrap/css/bootstrap.css

jquery.more =
	vendor/jquery.more/jquery.more.css
	vendor/jquery.more/jquery.plugin.js
	vendor/jquery.more/jquery.more.js