[main]
dont_bundle = vendor/bootstrap/css/bootstrap.css css/hdx-icons.css css/Humanitarian-Icons-v02.css css/humanitarian_icons.css vendor/leaflet-0.7.3/leaflet.css

[custom render order]
vendor/bootstrap/css/bootstrap.css = 1
base/header.css = 2
vendor/leaflet-0.7.3/leaflet.css = 2

base/base-widget.css = 3
crisis/crisis-base.css = 3

crisis/crisis-base.css = 15
search/search.css = 15
datasets/dataset_create.css = 15
dashboard.css = 15
css/dataset.css = 15
css/activity-stream.css = 15
css/hdx-icons.css = 15
css/Humanitarian-Icons-v02.css = 15
resource-list.css = 15
css/login.css = 15
css/filter.css = 15
crisis/ebola/crisis-ebola.css = 15
crisis/ebola/ebola_crisis_page_graph.css = 15
browse/browse.css = 15
organization/wfp/organization-wfp.css = 15
organization/organizations.css = 15
hdx_theme/requestdata/request-data.css = 15
light/search/search-light.css = 16


vendor/bootstrap/js/bootstrap.js = 21
vendor/jquery.cookie/jquery.cookie.js = 21
vendor/leaflet-0.7.3/leaflet.js = 21
vendor/jquery.highlight/jquery.highlight.js = 21
vendor/multiple-select-1.1.0/jquery.multiple.select.js = 21
vendor/hammer/hammer.js = 21

bs_tooltip.js = 23
bs_popover.js = 23
highlight.js = 23

widget/onboarding/onboarding.js = 25
vendor/leaflet.mvt/mapbox.vector.tile.js = 25

homepage/homepage-responsive.js = 27
browse/browse.js = 27
browse/browse-init.js = 27
group/group-init.js = 27
eaa/eaa-map.js = 27
eaa/eaa-init.js = 27
widget/vis-wfp/foodprices.js = 27
hdx_theme/qa/qa-package.css = 27
hdx_theme/qa/qa-package.js = 27

[depends]
ckan = vendor/vendor

[groups]
ckan =
    vendor/ckan/jquery.slug.js
    vendor/ckan/jquery.slug-preview.js
    vendor/ckan/slug-preview.js
    vendor/ckan/autocomplete.js
    vendor/lazysizes/lazysizes.js
    vendor/jquery.cookie/jquery.cookie.js
    base/hdx-util-lib.js
    hdx_notify.js
    hdx_confirm-action.js
    hdx_click_stopper.js
    hdx_terms_checkbox.js
    hdx_visibility_toggler.js
    external-links.js
    google-analytics.js
    notifications/hdx_notifications_main.js

bootstrap =
    vendor/bootstrap/js/bootstrap.js
    vendor/bootstrap/css/bootstrap.css

page-scripts =
    base/header-init.js
    bs_popover.js

page-styles =
    base/base.css
    base/header.css
  	css/hdx-icons.css
  	css/Humanitarian-Icons-v02.css

page-light =
    css/hdx-icons.css
    css/Humanitarian-Icons-v02.css
    light/page-light.css

dataset-light =
    light/dataset/dataset-light.css
    requestdata/request-data.css
    vendor/jquery.expander/jquery.expander.js
    hdx_show_more.js
    light/dataset/dataset.js

search =
    search/search.css
    highlight.js
    order-by-dropdown.js
    search/lunr/feature-index.js
    search/lunr.js
    search/search.js

search-light =
    light/search/search-light.css
    vendor/jquery.expander/jquery.expander.js
    hdx_show_more.js

leaflet =
	vendor/leaflet-0.7.3/leaflet.css
	vendor/leaflet-0.7.3/leaflet.js

submit-dataset-map =
	css/submit-dataset-map.css
	submit-dataset-map.js

d3 =
	vendor/d3/d3.js

c3 =
	vendor/c3/c3.js
	vendor/c3/c3.css

browse-deprecated =
	order-by-dropdown.js
	browse/world_json.js
	browse/countries.js
	browse/browse.css
	browse/browse.js
	css/humanitarian_icons.css
	browse/browse-init.js

group =
	browse/world_json.js
	browse/countries.js
	browse/browse.css
	browse/browse.js
	css/humanitarian_icons.css
	group/group-init.js

eaa-map =
	browse/world_json.js
	browse/countries.js
	browse/browse.css
	eaa/eaa.css
  eaa/eaa-map.js
  eaa/eaa-init.js

country =
  crisis/topline.css
	country/country.css
	country/country.js

country-topline =
  crisis/topline.css
  country/country.css
  country/topline.css
  country/country.js
  vendor/c3/c3.css
  vendor/d3/d3.js
  vendor/c3/c3.js

country-custom =
    crisis/topline-colombia.css
	country/custom/country-custom.css
	country/custom/country-custom.js

nepal-quake-country-custom =
    crisis/topline-nepal-quake.css
	country/custom/country-custom.css
	country/custom/country-custom.js

crisis-base =
	crisis/crisis-base.css
	crisis/crisis-base.js

crisis-ebola =
    crisis/topline.css
	crisis/ebola/crisis-ebola.css
	crisis/ebola/ebola_crisis_page_graph.css
	crisis/ebola/crisis-ebola.js
	crisis/ebola/ebola_crisis_page_graph.js

	crisis/ebola/data.js
	crisis/ebola/medical_centres.js
	crisis/ebola/regions.js

dataset =
	bs_tooltip.js
	datasets/dataset.js
	vendor/d3/d3.js
	vendor/c3/c3.js
	datasets/dataset.css
	datasets/datasets.css
	datasets/hdx_custom_dataviz_show.js
	datasets/hdx_custom_dataviz_show.css
	vendor/c3/c3.css

activity-stream =
	css/activity-stream.css

resource-list =
	resource-list.css
  resource-list.js



dataset-search =
	vendor/multiple-select-1.1.0/jquery.multiple.select.js
	vendor/multiple-select-1.1.0/multiple-select.css
	datasets/list-header.js

jquery.expander =
	vendor/jquery.expander/jquery.expander.js

jquery.highlight =
	vendor/jquery.highlight/jquery.highlight.js

login =
	css/login.css

organizations =
	order-by-dropdown.js
	organization/organizations.css
	organization/organizations.js

organization-wfp =
    base/base.css
    base/header.css
    organization/wfp/organization-wfp.css
    organization/wfp/organization-wfp.js

custom-org =
    base/base.css
    base/header.css
    organization/wfp/organization-wfp.js

custom-vis-3w =
	vendor/d3/d3.js
	vendor/dc/dc.css
	vendor/dc/dc.js
	vendor/dc/dc.leaflet.js
	widget/loading/loading.css
	widget/loading/loading.js
	widget/vis-3w/site.css
	widget/vis-3w/site.js
	vendor/crossfilter/crossfilter.js
	vendor/rangeslider.js-2.0.4/rangeslider.css
	vendor/rangeslider.js-2.0.4/rangeslider.js
	vendor/moment.js/moment.js

custom-vis-roea =
	vendor/d3/d3.js
	vendor/dc/dc.css
	widget/loading/loading.css
	widget/loading/loading.js
	widget/vis-roea/dc.js
	widget/vis-roea/dc.leaflet.js
	vendor/crossfilter/crossfilter.js
	widget/vis-roea/site.css
	widget/vis-roea/site.js

custom-vis-wfp =
	vendor/d3/d3.js
	vendor/crossfilter/crossfilter.js
  vendor/topojson/topojson.js
	widget/loading/loading.css
	widget/loading/loading.js
  widget/vis-wfp/un_world_topo.js
  widget/vis-wfp/foodprices.js
  widget/vis-wfp/site.css

colorpicker =
	vendor/colorpicker/spectrum.js
	vendor/colorpicker/spectrum.css
	vendor/colorpicker/rainbowvis.js

search-facets =
    search/facets/facets.css

shape-view =
	vendor/leaflet-0.7.3/leaflet.css
	vendor/leaflet-0.7.3/leaflet.js
	vendor/leaflet.mvt/mapbox.vector.tile.js
    shape-view.js

popup =
    widget/popup/popup.css
    widget/popup/popup.js

popup-embed =
    widget/popup/popup-embed.css
    widget/popup/popup-embed.js

popup-hxl =
    widget/popup/popup-hxl.css
    widget/popup/popup-hxl.js

onboarding =
	widget/onboarding/onboarding.css
	widget/onboarding/two-column.css
	widget/onboarding/onboarding.js

user-waiting =
	widget/contribute/user_waiting.css
	widget/contribute/user_waiting.js

contribute =
	widget/contribute/contribute.js
	widget/contribute/details.css

faq =
	widget/faq/faq.css
	widget/faq/faq.js

custom-pages =
	custom_pages/custom_pages.css
	custom_pages/custom_pages.js
	contribute_flow/form_element_manager.js
	hdx_autocomplete.js

login-widget =
	widget/onboarding/onboarding.css
	widget/onboarding/login.css

image-upload =
	hdx-image-upload.js
	css/image-upload.css

homepage =
    homepage/count.js
    homepage/homepage.css
    homepage/homepage-responsive.css
    homepage/homepage-responsive.js
    vendor/hammer/hammer.js
    homepage/warning-bar.js
    homepage/homepage-warning-bar.css

contribute-flow =
  jquery.ui.datepicker.js
  hdx-datepicker.js
  bs_tooltip.js
  hdx_autocomplete.js
	contribute_flow/form_element_manager.js
	contribute_flow/tag_recommender.js
	contribute_flow/error_block_manager.js
	contribute_flow/hdx_custom_dataviz_manager.js
  contribute_flow/underscore-min.js
  contribute_flow/backbone.js
  contribute_flow/backbone-model-file-upload.js
  contribute_flow/hdx-google-picker.js
  contribute_flow/hdx-resource.js
  contribute_flow/contribute.css
	vendor/sortable/Sortable.js
	vendor/ckan/autocomplete.js
	contribute_flow/contribute_flow_main.js

carousel-admin =
    contribute_flow/underscore-min.js
    contribute_flow/backbone.js
    contribute_flow/backbone-model-file-upload.js
	vendor/sortable/Sortable.js
	admin/carousel.js
	admin/carousel.css

quick-links-admin =
    contribute_flow/underscore-min.js
    contribute_flow/backbone.js
    contribute_flow/backbone-model-file-upload.js
	vendor/sortable/Sortable.js
	admin/quick_links.js
	admin/quick_links.css

qa-package =
  qa/qa-package.css
  qa/qa-checklist-widget.css
  qa/qa-sdc-micro.css
  qa/qa-package.js
  qa/qa-checklist.js
  qa/qa-sdc-micro.js
