<div class="checkbox-field form-check{% if spacing_class %} {{ spacing_class }}{% endif %}">
  <input
          class="checkbox-field__input form-check-input"
          type="checkbox"
          name="{{ name }}"
          value=""
          id="checkbox-{{ name }}"
          {% if checked %}checked{% endif %}
          {% if required %}required{% endif %}
          {% if data_attributes %}{% for key, value in data_attributes.items() %}{% if key != 'validation-error' %}data-{{ key }}="{{ value }}"
          {% endif %}{% endfor %}{% endif %}
  >
  <label class="checkbox-field__label form-check-label ms-2" for="checkbox-{{ name }}">
    {{ _(label)|safe }}
  </label>
  {% if data_attributes and data_attributes['validation-error'] %}
    <div class="checkbox-field__feedback-message checkbox-field__feedback-message_state_invalid invalid-feedback ms-2">{{ data_attributes['validation-error'] }}</div>
  {% endif %}
</div>
