<div class="form-button{% if container_classes %} {{ container_classes|join(' ') }}{% endif %}">
  {% if type == 'separator' %}
    <span
            class="form-button__btn form-button__btn_type_separator btn{% if button_classes %} {{ button_classes|join(' ') }}{% endif %}"
            {% if button_id %}id="{{ button_id }}"{% endif %}
    >{{ title }}</span>
  {% elif not type == 'href' %}
    <button
            class="form-button__btn btn{% if button_classes %} {{ button_classes|join(' ') }}{% endif %}{% if disabled %} disabled{% endif %}"
            {% if button_id %}id="{{ button_id }}"{% endif %}
            type="{{ type }}"
            {% if disabled %}disabled="disabled"{% endif %}
            {% if data_attributes %}{% for key, value in data_attributes.items() %}data-{{ key }}="{{ value }}"
            {% endfor %}{% endif %}
    >{{ title }}</button>
  {% else %}
    <a
            href="{{ url }}"
            class="form-button__btn btn{% if button_classes %} {{ button_classes|join(' ') }}{% endif %}{% if disabled %} disabled{% endif %}"
            {% if button_id %}id="{{ button_id }}"{% endif %}
            title="{{ title }}"
            {% if disabled %}disabled="disabled"{% endif %}
            {% if data_attributes %}{% for key, value in data_attributes.items() %}data-{{ key }}="{{ value }}"
            {% endfor %}{% endif %}
    >{{ title }}</a>
  {% endif %}
</div>
