{% set paragraph_classes = paragraph_classes or [] %}
<div class="info-box{% if compact %} info-box_type-compact{% endif %}{% if rounded %} info-box_type-rounded{% endif %}{% if spacing_class %} {{ spacing_class }}{% endif %}">
  <div class="row">
    {% if icon %}
      <div class="col-1 mt-2 text-center">
        <i class="fa-solid fa-circle-info info-box__icon"></i>
      </div>
    {% endif %}
    <div class="{% if icon %}col-11{% else %}col-12{% endif %}">
      {% for paragraph in paragraphs %}
        {% if loop.last %}
          {% do paragraph_classes.append("mb-0") %}
        {% endif %}
        {{ h.snippet('bem.blocks/paragraph.html',
            text=paragraph,
            paragraph_classes=paragraph_classes) }}
      {% endfor %}
    </div>
  </div>
</div>
