@import "../base/variables";
@import "../base/mixins";

.organization-heading{
  text-decoration: none;
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: -5px;
  font-weight: bold;
}

.dataset-item {
  margin: 0;
  border-bottom: 1px solid @extraLightGrayColor;
}

.list-header .list-header-showall {
  color: @darkGrayColor;
  > span {

    margin-right: 10px;
    &:before {
      content: "|";
      color: @grayColor;
      margin-right: 10px;
    }
    &:first-child:before {
      content: "";
    }
  }
}

.header-search {
  line-height: 18px;
  .sourceSansProFont(400, 14px);
  color: @grayColor;
  padding: 7px 6px;
  width: 450px;

  border: 1px solid @lightGrayColor;
  border-radius: 6px;

  &:focus {
    outline: none;
  }
}

.featured-org {
  border: 1px solid @extraLightGrayColor;

  @featurePadding: 20px;
  .feature-header {
    @headerHeight: 200px;
    @logoHeight: 75px;
    position: relative;


    .org-thumbnail{
      overflow: hidden;
      height: @headerHeight;
      width: 100%;

      img {
        height: @headerHeight + 20px;
      }
    }

    .logo-box{
      position: absolute;
      top: @headerHeight - @logoHeight + @featurePadding;
      right: @featurePadding;

      max-height: @logoHeight;
      &.table-valign{
        .org-logo(@logoHeight, @logoHeight, 60px, 60px);
      }
    }

    .feature-highlight {
      padding: 10px 15px;
      background-color: @orangeColor;
      position: absolute;
      top: 0;
      .sourceSansProFont(400, 12px);
      line-height: 13px;
      .letter-spacing-1();
      color: @whiteColor;
      a {
        color: @whiteColor;
      }
    }

  }

  .feature-content{
    padding: @featurePadding;

    .list-items{
      margin-top: 3px;
    }

    .organization-heading a {
      color: @blackColor;
    }

    .last-update {
      color: @darkGrayColor;
      margin-top: 7px;
      margin-bottom: 7px;
      font-size: 12px;
    }

  }

}