@import "../base/variables";
@import "../base/mixins";

.organization-heading{
  text-decoration: none;
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: -5px;
  font-weight: bold;
}

.dataset-item {
  margin: 0;
  border-bottom: 1px solid @extraLightGrayColor;
}

.list-header .list-header-showall {
  color: @darkGrayColor;
  > span {

    margin-right: 10px;
    &:before {
      content: "|";
      color: @grayColor;
      margin-right: 10px;
    }
    &:first-child:before {
      content: "";
    }
  }
}

.header-search {
  line-height: 18px;
  .sourceSansProFont(400, 14px);
  color: @grayColor;
  padding: 7px 6px;
  width: 450px;

  border: 1px solid @lightGrayColor;
  border-radius: 6px;

  &:focus {
    outline: none;
  }
}
