@import "../base/variables";
@import "../base/mixins";
@import "./dataviz_item";

.dataviz-light {
  @datavizItemSize: 370px;
  @datavizItemMargin: 30px;
  background-color: @whiteColor;

  .list-items.dataviz-list {
    display: grid;
    margin: @datavizItemMargin 0;
    grid-template-columns: repeat(auto-fill, minmax(@datavizItemSize, 1fr));
    grid-gap: @datavizItemMargin;
    flex-wrap: wrap;
    background-color: @whiteColor;
    @media (max-width: @cut-point-tablet) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

  }

  .search-list {
    background-color: @extraLightGrayColor;
  }

  .dataset-filter-start {
    display: block;
    .show-filters {
      display: none;
    }
    .control-order-by {
      justify-self: flex-end;
    }
    @media (max-width: @cut-point-laptop-s) {
      display: flex;
      .show-filters {
        display: block;
        justify-self: flex-end;
      }
      .header-search, .filter-pagination, .control-order-by {
        display: none;
      }
    }
  }

  .dataviz-item(@datavizItemSize);

  .btn {
    width: 107px;
  }

  .carousel {
    .carousel-control {
      background-image: none;
      width: 80px;
      opacity: 1;
      text-shadow: none;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: @cut-point-tablet) {
        width: 30px;
      }

      .glyphicon {
        width: 40px;
        height: 40px;
        background-color: @extraLightGrayColor;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: @cut-point-tablet) {
          width: 30px;
          height: 30px;
        }
        span {
          color: @darkGrayColor;
          font-size: 16px;
        }

      }
    }
    .carousel-indicators {
      @media (max-width: @cut-point-tablet) {
        bottom: 0;
      }
      li {
        background-color: @lightGrayColor;
        &.active {
          background-color: @whiteColor;
        }
      }
    }
  }

  @heroItemHeight: 570px;
  .hero-item {
    height: @heroItemHeight;
    display: flex;

    @media (max-width: @cut-point-tablet) {
      flex-direction: column-reverse;
    }

    .hero-content {
      background-color: #f2d8d5;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media (max-width: @cut-point-tablet) {
        width: 100%;
        height: 70%;
        padding: 0 30px;
      }

      .content-group {
        max-width: 360px;
      }

      @heroContentMargin: 30px;
      .hero-title {
        .gothamBoldFont(40px);
        line-height: 1;
        margin-bottom: @heroContentMargin;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (max-width: @cut-point-tablet) {
          font-size: 32px;
        }
        @media (max-width: @cut-point-mobile-l) {
          font-size: 28px;
        }
      }
      .description {
        .sourceSansProFont(400, 16px);
        margin-top: @heroContentMargin;
        margin-bottom: @heroContentMargin;
        display: -webkit-box;
        -webkit-line-clamp: 14;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (max-width: @cut-point-tablet)  {
          -webkit-line-clamp: 6;
        }
      }
    }
    .hero-image-container {
      width: 50%;
      min-height: 100px;
      .hero-image {
        background-size: cover;
        height: 100%;
        width: 100%;
      }

      &.frame-mode {
        background-color: @barelyVisibleGrayColor;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        .hero-image {
          background-size: auto 100%;
        }
      }

      @media (max-width: @cut-point-tablet) {
        width: 100%;
        height: 30%;

        &.frame-mode {
          padding-top: 10px;
          padding-left: 0;
          padding-bottom: 10px;
          .hero-image {
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}

