@import "../../base/variables";
@import "../../base/mixins";

.graph-title{
  .gothamBoldFont(18px);
  .letter-spacing-1;
  color: @darkGrayColor;

  margin-bottom: 10px;
  margin-left: 45px;

  span{
    .sourceSansProFont(400, 12px);
    line-height: 18px;
  }
}

.graph-data{
  height: 320px;
}
