@import "../base/variables";
@import "../base/mixins";
@import "../bem.blocks/bem_variables";

.new-contribute-main {
  background-color: @white-color;

  .alert {
    &.alert-danger {
      border: 0;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 600;
      color: @red-color;
      background-color: @red-extra-light-color;

      .checkbox-field {
        .checkbox-field__label {
          color: @red-color;
        }
      }
    }
  }

  .invalid-feedback {
    border-radius: 4px;
    font-weight: 600;
    color: @red-color;
    background-color: @red-extra-light-color;
    padding: .75rem 1rem;
    font-size: 16px;
  }

  .slug-preview {
    margin-top: .5rem;

    .btn {
      margin-left: .25rem;

      &.btn-mini {
        background-color: @grey-extra-light-color;
        padding: .1rem .5em;
        font-size: .9rem;
        border-radius: 4px;

        &:active {
          border-color: @grey-light-color;
        }
      }
    }
  }

  .resources_total {
    font-size: 18px;
  }

  .resources {
    > div {
      border: 1px solid @grey-dark-color;
      border-radius: 8px;
      padding: 1rem;
      margin-top: 2rem;

      .resource-upload-type {
        .radio-field {
          .radio-field__label {
            font-weight: normal;
            margin-bottom: 0;
          }
        }

        a {
          color: @grey-extra-dark-color;

          .cloud-img {
            height: 24px;
          }
        }
      }

      .delete_resource {
        border: 0;
        background: transparent;
        font-size: 16px;
        font-weight: 600;
        color: @red-color;
        margin-top: 1rem;
      }
    }

    .resource-position {
      font-size: 16px;
      font-weight: bold;
    }

    .resource-sort {
      font-size: 16px;

      .move-up,
      .move-down {
        cursor: pointer;
        &:hover {
          color: @darkGrayColor;
        }
      }
    }

    .drag-handle {
      cursor: grab;
    }
  }
}

.drag-drop-component {
  position: relative;

  .drag-drop-area {
    position: relative;

    .drag-drop-content {
      margin-top: .5rem;
      border-radius: 6px;
      border: 3px dashed @lightGrayColor;
      background-color: @extraLightGrayColor;
      padding: 30px;
      .gothamBoldFont(14px);
      color: @grayColor;
      .letter-spacing-3();
      text-align: center;

      .drag-text2 {
        display: none;
      }
    }

    .drop-here-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
    }


    &.drop-incoming {
      .drag-drop-content {
        background-color: @blueColor;
        color: @whiteColor;
        border-color: @whiteColor;

        .drag-text1 {
          display: none;
        }

        .drag-text2 {
          display: block;
        }
      }

      .browse-button {
        display: none;
      }
    }

    .browse-button {
      color: @blueColor;
      cursor: pointer;
      position: relative;
      margin: 0;

      &:after {
        content: none;
      }

      span {
        position: relative;
        z-index: 100;
      }

      input[type="file"] {
        position: absolute;
        z-index: 99;
        height: 1px;
        width: 1px;
        opacity: 0;
        padding: 0;
        top: 0;
      }
    }
  }

  &.source-file {
    &.error {
      border: 1px solid @orangeColor;
    }

    .source-file-fields {
        display: none;
      }

    .source-file-upload {
      .drag-drop-area {
        .overwrite-text {
          display: none;
        }
      }
    }
  }

  &.source-file-selected {
    .url-field {
      display: none;
    }
  }

  &.source-url {
    .source-file-upload {
      display: none;
    }
  }
}
