.container .twoColumnBackground {
  background-image: none;
}
.hdx-faq-sidebar.sticky {
  position: fixed;
  top: 15px;
  z-index: 99;
  max-width: 270px;
}
@media (max-width: 991px) {
  .hdx-faq-sidebar.sticky {
    position: static;
  }
  .hdx-faq-sidebar.sticky.ongoing {
    position: fixed;
    top: -240px;
  }
  .hdx-faq-sidebar.sticky.ongoing .search-box {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #eeeeee;
    width: 100%;
    padding: 0 15px;
    left: 0;
  }
}
.hdx-faq-sidebar .nav li a {
  padding: 0;
  color: #333333;
  letter-spacing: 0.01em;
  font-family: 'Gotham-Book', sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.hdx-faq-sidebar .nav li a:hover,
.hdx-faq-sidebar .nav li a.active {
  color: #007CE0;
}
.hdx-faq-sidebar .no-answer-found a {
  color: #000;
}
.hdx-faq-sidebar .no-answer-found a:hover {
  color: #007CE0;
}
.hdx-faq-sidebar .search-box .search-box-title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.hdx-faq-sidebar .search-box input {
  width: 190px;
}
#search-results {
  display: flex;
  justify-content: space-between;
  max-width: 190px;
}
.highlight {
  background-color: #fde9e8;
}
.highlight.current {
  background-color: #f8a7a1;
}
.hdx-wrapper .section-flag {
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 18px;
  color: #007CE0;
}
.hdx-wrapper .top-banner {
  background-color: #FFFFFF;
  background-image: url("/images/backgrounds/faq_top_f.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 315px;
}
.hdx-wrapper .top-banner .top-banner-text-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 50%;
  min-width: 530px;
}
@media (max-width: 1024px) {
  .hdx-wrapper .top-banner .top-banner-text-wrapper {
    min-width: 530px;
  }
}
@media (max-width: 768px) {
  .hdx-wrapper .top-banner .top-banner-text-wrapper {
    min-width: 400px;
    margin-top: 45px;
  }
}
@media (max-width: 425px) {
  .hdx-wrapper .top-banner .top-banner-text-wrapper {
    min-width: 325px;
  }
}
@media (max-width: 375px) {
  .hdx-wrapper .top-banner .top-banner-text-wrapper {
    min-width: 310px;
  }
}
@media (max-width: 320px) {
  .hdx-wrapper .top-banner .top-banner-text-wrapper {
    min-width: 295px;
  }
  .hdx-wrapper .top-banner .top-banner-text-wrapper .top-banner-more {
    margin-top: 30px;
  }
}
.hdx-wrapper .top-banner .top-banner-text-wrapper .top-banner-title {
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
  line-height: 1em;
}
.hdx-wrapper .top-banner .top-banner-text-wrapper .top-banner-more {
  font-family: 'Gotham-Book', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
}
.hdx-wrapper .top-banner .top-banner-text-wrapper .top-banner-more-button-wrapper {
  text-align: center;
}
.hdx-wrapper .top-banner-archive {
  background-color: #FFFFFF;
  background-image: url("/images/backgrounds/archive_top_f.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% auto;
  height: 315px;
  margin-left: -45px;
  margin-right: -45px;
}
.hdx-wrapper .top-banner-archive .top-banner-text-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 50%;
}
.hdx-wrapper .top-banner-archive .top-banner-text-wrapper .top-banner-title {
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
}
.hdx-wrapper .top-banner-archive .top-banner-text-wrapper .top-banner-title-archive {
  margin-top: 130px;
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
}
.hdx-wrapper .top-banner-archive .top-banner-text-wrapper .top-banner-more {
  font-family: 'Gotham-Book', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
}
.hdx-wrapper .top-banner-archive .top-banner-text-wrapper .top-banner-more-button-wrapper {
  text-align: center;
}
.hdx-wrapper .top-banner-documentation {
  background-color: #FFFFFF;
  background-image: url("/images/backgrounds/faq_top_f.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 315px;
  background-image: url("/images/backgrounds/documentation_top_f.jpg");
}
.hdx-wrapper .top-banner-documentation .top-banner-text-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 50%;
  min-width: 530px;
}
@media (max-width: 1024px) {
  .hdx-wrapper .top-banner-documentation .top-banner-text-wrapper {
    min-width: 530px;
  }
}
@media (max-width: 768px) {
  .hdx-wrapper .top-banner-documentation .top-banner-text-wrapper {
    min-width: 400px;
    margin-top: 45px;
  }
}
@media (max-width: 425px) {
  .hdx-wrapper .top-banner-documentation .top-banner-text-wrapper {
    min-width: 325px;
  }
}
@media (max-width: 375px) {
  .hdx-wrapper .top-banner-documentation .top-banner-text-wrapper {
    min-width: 310px;
  }
}
@media (max-width: 320px) {
  .hdx-wrapper .top-banner-documentation .top-banner-text-wrapper {
    min-width: 295px;
  }
  .hdx-wrapper .top-banner-documentation .top-banner-text-wrapper .top-banner-more {
    margin-top: 30px;
  }
}
.hdx-wrapper .top-banner-documentation .top-banner-text-wrapper .top-banner-title {
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
  line-height: 1em;
}
.hdx-wrapper .top-banner-documentation .top-banner-text-wrapper .top-banner-more {
  font-family: 'Gotham-Book', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
}
.hdx-wrapper .top-banner-documentation .top-banner-text-wrapper .top-banner-more-button-wrapper {
  text-align: center;
}
.hdx-wrapper .top-banner-licenses {
  background-image: url("/images/backgrounds/faq_terms_banner.jpg");
}
.hdx-wrapper .top-banner-terms {
  background-image: url("/images/backgrounds/faq_licenses_banner.jpg");
}
.hdx-wrapper .top-banner-faq-data-responsibility {
  background-image: url("/images/backgrounds/faq_top_f.png");
  background-position: center;
  background-size: cover;
  background-image: url("/images/backgrounds/faq_data_responsibility.jpg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% auto;
  height: 315px;
  margin-left: -45px;
  margin-right: -45px;
}
.hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 50%;
  min-width: 530px;
}
@media (max-width: 1024px) {
  .hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper {
    min-width: 530px;
  }
}
@media (max-width: 768px) {
  .hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper {
    min-width: 400px;
    margin-top: 45px;
  }
}
@media (max-width: 425px) {
  .hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper {
    min-width: 325px;
  }
}
@media (max-width: 375px) {
  .hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper {
    min-width: 310px;
  }
}
@media (max-width: 320px) {
  .hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper {
    min-width: 295px;
  }
  .hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper .top-banner-more {
    margin-top: 30px;
  }
}
.hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper .top-banner-title {
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
  line-height: 1em;
}
.hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper .top-banner-more {
  font-family: 'Gotham-Book', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
}
.hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper .top-banner-more-button-wrapper {
  text-align: center;
}
.hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 50%;
}
.hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper .top-banner-title {
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
  line-height: 36px;
}
.hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper .top-banner-title-archive {
  margin-top: 130px;
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
}
.hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper .top-banner-more {
  font-family: 'Gotham-Book', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  text-align: center;
}
.hdx-wrapper .top-banner-faq-data-responsibility .top-banner-text-wrapper .top-banner-more-button-wrapper {
  text-align: center;
}
.hdx-wrapper .hdx-panel-group .panel {
  border: none;
  border-bottom: 1px solid #cccccc;
  box-shadow: none;
  margin: 0;
}
.hdx-wrapper .hdx-panel-group .panel:hover {
  background-color: #EDF6FD;
}
.hdx-wrapper .hdx-panel-group .panel + .panel {
  margin: 0;
}
.hdx-wrapper .hdx-panel-group .panel .collapsing {
  -webkit-transition: height 0.1s ease;
  -o-transition: height 0.1s ease;
  transition: height 0.1s ease;
}
.hdx-wrapper .hdx-panel-group .panel .panel-heading {
  min-height: 74px;
  border: none;
  box-shadow: none;
  background-color: inherit;
  padding-top: 30px;
  padding-bottom: 20px;
  cursor: pointer;
}
.hdx-wrapper .hdx-panel-group .panel .panel-heading .panel-title {
  line-height: 20px;
}
.hdx-wrapper .hdx-panel-group .panel .panel-heading .panel-title .faq-question-link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 24px;
  letter-spacing: 0.01em;
}
.hdx-wrapper .hdx-panel-group .panel .panel-heading + .panel-collapse > .panel-body {
  border: none;
  box-shadow: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 22px;
  letter-spacing: 0.01em;
}
.hdx-wrapper .hdx-panel-group .panel .panel-heading + .panel-collapse > .panel-body a {
  color: #007CE0;
  font-weight: 700;
}
.presentation-modal.in .modal-dialog .close {
  position: absolute;
  right: -30px;
  top: -40px;
  font-size: 40px;
  opacity: 1;
  color: white;
}
.presentation-modal.in .modal-dialog .modal-content {
  box-shadow: none;
  border: none;
  border-radius: 0;
  min-height: auto;
  min-width: auto;
  height: 560px;
}
a.link {
  cursor: pointer;
}
