<div class="completeness-legend">
  <div class="hdx-arrow-wrapper"></div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="legend-title">What is Data Grid Completeness?</div>
      <div class="legend-description">
        Data Grid Completeness defines
        <span class="orange">
      a set of core data that are essential for preparedness and emergency response.
    </span>
        For select countries, the HDX Team and trusted partners evaluate datasets available on HDX and add those meeting the definition of a core data category to the Data Grid Completeness board above. Please help us improve this feature by sending your feedback to
        <a href="mailto: hdx@un.org">hdx@un.org</a>.
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="legend-title">Legend:</div>
      <div class="legend-item">
        Presence, freshness, and quality of dataset
        <ul>
          <li>
            <span class="progress-breakdown mini"><span class="progress-blue" style="width: 100%;"></span></span>
            Dataset fully matches criteria and is up-to-date
          </li>
          <li>
            <span class="progress-breakdown mini"><span class="progress-striped" style="width: 100%;"></span></span>
            Dataset partially matches criteria and/or is not up-to-date
          </li>
          <li>
            <span class="progress-breakdown mini"></span>
            No dataset found matching the criteria
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
