<div class="completeness-legend">
  <div class="hdx-arrow-wrapper"></div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="legend-title">What do the Data Grids measure?</div>
      <div class="legend-description">
        The Data Grid is core data that is essential for preparedness and emergency response. For each sub-category, we assess whether a relevant dataset is 'available'. To be considered available, relevant data should be sub-national, in a commonly used format and up-to-date. Data that is relevant but not up-to-date will be included but marked as 'not up-to-date'. Data that is missing will be marked as 'unavailable'
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="legend-title">Legend:</div>
      <div class="legend-item">
        <ul>
          <li>
            <span class="progress-breakdown mini"><span class="progress-blue" style="width: 100%;"></span></span>
            A dataset is available and up-to date
          </li>
          <li>
            <span class="progress-breakdown mini"><span class="progress-striped" style="width: 100%;"></span></span>
            A dataset is available and not up-to-date
          </li>
          <li>
            <span class="progress-breakdown mini"></span>
            No dataset is available
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
