<div class="col-xs-12">
  <div class="row">
    <div class="mLR15">
      <div class="col-xs-12">
        {% set loop_items = 3 %}
        {% for category in data.data_completness.categories %}
          {% if (loop.index - 1) is divisibleby loop_items %}
            <div class="row">
          {% endif %}
          <div class="col-xs-12 col-md-4 data-item">
            <div class="data-item-summary">
              {% set category_hover_title = '<b>' + category.title + '</b>:<br/>' + category.description %}
              <div class="categ-title" data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip"
                   data-html="true" data-original-title="{{ category_hover_title }}">
                {{ category.title }}
              </div>
              <div class="categ-sub-title">

                {#
                <span class="icon-circle-down">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </span>
                #}
                <span class="dataset-count">{{ category.stats.total_datasets_num }} Datasets</span>
              </div>
              <div class="completeness-progress">
                  <div class="progress-breakdown">
                    {% set dataseries_good_percentage = 100*category.stats.dataseries_good_percentage %}
                    <span class="progress-blue" style="width: {{ dataseries_good_percentage }}%;" data-module="bs_tooltip" data-module-placement="top"
                       data-toggle="tooltip" data-html="true" data-original-title="{{ category.stats.good_dataseries_text }}">
                      {% if dataseries_good_percentage > 10 %} {{ dataseries_good_percentage | int }}%&nbsp; {% endif %}
                    </span>
                    {% set dataseries_not_good_percentage = 100*category.stats.dataseries_not_good_percentage %}
                    <span class="progress-striped" style="width: {{ dataseries_not_good_percentage }}%;" data-module="bs_tooltip" data-module-placement="top"
                       data-toggle="tooltip" data-html="true" data-original-title="{{ category.stats.not_good_dataseries_text }}">
                      {% if dataseries_not_good_percentage > 10 %} {{ dataseries_not_good_percentage | int }}%&nbsp; {% endif %}
                    </span>
                    {% set dataseries_other_percentage = 100*(1 - category.stats.dataseries_good_percentage - category.stats.dataseries_not_good_percentage) %}
                    <span class="progress-empty"
                       style="width: {{ dataseries_other_percentage }}%;"
                          data-module="bs_tooltip" data-module-placement="top"
                       data-toggle="tooltip" data-html="true" data-original-title="{{ category.stats.empty_dataseries_text }}">
                      {% if dataseries_other_percentage > 10 %} {{ dataseries_other_percentage | int }}%&nbsp; {% endif %}
                    </span>
                  </div>
              </div>
            </div>
            <div class="data-item-details" style="{% if hide_details == true %}display: none;{% endif %}">
              {% for subcateg in category.data_series %}
              <div class="sub-category">
                {% set subcateg_hover_title = '<div class="tooltip-content">' + subcateg.description + '</div>' %}
                <div class="sub-categ-title" data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip"
                     data-original-title="{{ subcateg_hover_title }}" data-container="body" data-html="true" data-module-inner_class="tooltip-column">
                  {{ subcateg.title }}
                </div>
                {% if subcateg.stats.state == 'not_applicable' %}
                  {% set not_applicable_hover_title = '<div class="tooltip-content">' + subcateg.stats.state_comment + '</div>' if subcateg.stats.state_comment else '' %}
                  <div class="flag" data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip"
                    data-original-title="{{ not_applicable_hover_title }}" data-html="true" data-module-inner_class="tooltip-column">
                    <span>Not applicable</span>
                  </div>
                {% elif subcateg.datasets | length > 0 %}
                  {% for dataset in subcateg.datasets %}
                    {% set dataset_hover_title = dataset.title + "<br/><b>Limitations</b>: " + dataset.general_comment if dataset.general_comment else dataset.title %}
                    {% set dataset_hover_title = '<div class="tooltip-content">' + dataset_hover_title + '</div>' %}
                  <div class="dataset" data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip"
                        data-original-title="{{ dataset_hover_title }}" data-container="body" data-html="true"
                        data-module-inner_class="tooltip-column">
                    <span class="data-completeness {% if dataset.is_good %}blue{% else %}striped{% endif %}"></span>
                    <div class="dataset-link" >
                      <a href="{{ h.url_for('dataset_read', id=dataset.name) }}" data-module="hdx_click_stopper" data-module-link_type="data grid dataset">
                        {{ dataset.title }}
                      </a>
                    </div>
                    <span class="data-org"
                      title="{{ dataset.organization_title }}">
                      {{ dataset.organization_title }}
                    </span>
                  </div>
                  {% endfor %}
                {% else %}
                  <div>
                    {% if c.userobj %}
                      <a href="javascript:void(0);" onclick="contributeAddDetails(null, 'data grid');" class="add-data">Add Data</a>
                    {% else %}
                      <a href="/contribute" class="add-data" data-module="hdx_click_stopper" data-module-link_type="data grid add data">Add Data</a>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
          {% if ((loop.index) is divisibleby loop_items) or (loop.index == data.data_completness.categories|length) %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mLR15">
      <div class="col-xs-11">
      </div>
    </div>
  </div>
</div>
