{% extends "crisis-base.html" %}

{% block subtitle %}{{ c.group_dict.display_name }}{% endblock %}
{% block crisis_title %} {{ c.group_dict.display_name }} {% endblock %}
{% block breadcrumb_content %}
    <li>{% link_for _('Groups'), controller='group', action='index' %}</li>
    <li class="active">{% link_for c.group_dict.display_name, controller='group', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block crisis_data %}
    <div class="row">
        <div class="col-xs-12">
            Visualisations Section
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Activity + Resources Section
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Continuous Browsing Section
        </div>
    </div>

{% endblock %}

{% block package_search_results %}
{% endblock %}

{% block scripts2 %}
    {{ super() }}
    {% resource 'hdx_theme/country' %}
{% endblock %}
