{% if embedded %}
  {% set cutpoint='col-sm' %}
  {% set chevronSufix = '-embed' %}
{% else %}
  {% set cutpoint='col' %}
  {% set chevronSufix = '' %}
{% endif %}
<div id="key-figures-carousel" class="col-12 carousel slide" data-bs-ride="carousel"  data-bs-interval="false">
    <div class="carousel-inner px-2" role="listbox">
    {% if country_active %}
        {% set loop_items = 3 %}
        {% set loop_class = cutpoint + '-4' %}
    {% else %}
        {% set loop_items = 4 %}
        {% set loop_class = cutpoint + '-3' %}
    {% endif %}
    {% set carousel_count = namespace(value=0) %}
    {% for value in data.widgets.top_line_data_list %}
        {% if (loop.index - 1) is divisibleby loop_items %}
            {% set carousel_count.value = carousel_count.value + 1 %}
            <div class="carousel-item {% if (loop.index - 1) == 0 %}active{% endif %}">
              <div class="row">
        {% endif %}

        <div class="{{ loop_class }}">
            {{ h.snippet('crisis/snippets/topline-rw.html',
                title=value.indicatorTypeName, value=value.formatted_value, embedded=embedded,
                unit=value.units, notes=value.unitName, source=value.sourceName,
                sparkline_json=value.sparklines_json, relief_web_link = value.reliefWebLink,
                source_link=value.datasetLink, latest_date=value.datasetUpdateDate) }}
        </div>

        {% if ((loop.index) is divisibleby loop_items) or (loop.index == data.widgets.top_line_data_list|length) %}
              </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    {% if carousel_count.value > 1 %}
      <button class="carousel-control-prev" type="button" data-bs-target="#key-figures-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#key-figures-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    {% endif %}
</div>

<div class="col-12">
  <div id="key-figures-mobile-carousel" class="mobile-carousel carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="mobile-carousel-inner carousel-inner px-2" role="listbox">
      {% for value in data.widgets.top_line_data_list %}
        <div class="carousel-item {{ loop_class }}">
          {{ h.snippet('crisis/snippets/topline-rw.html',
            title=value.indicatorTypeName, value=value.formatted_value,
            unit=value.units, notes=value.unitName, source=value.sourceName,
            sparkline_json=value.sparklines_json, relief_web_link = value.reliefWebLink,
            source_link=value.datasetLink, latest_date=value.datasetUpdateDate) }}
        </div>
      {% endfor %}
    </div>
    <!-- Indicators -->
    <ol class="carousel-indicators text-center"></ol>
  </div>
</div>
