#ebola_graph{
    width:100%;
    min-height:300px;
}

#ebola_graph .axis path,
#ebola_graph .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#ebola_graph .grid .tick line {
    fill: none;
    stroke:#aaa;
    shape-rendering: crispEdges;
    stroke-dasharray: 3,3; 
}

#ebola_graph text {
    font:10px sans-serif
}

#ebola_graph .linelabels {
    font:16px sans-serif;
}