{% extends "base.html" %}

{%- block styles %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  {% asset 'hdx_theme/v2-page-styles' %}
  {# TODO: check whether we still need these once the redesign has been completed #}
  {% if c.userobj %}
    {% asset 'hdx_theme/onboarding-bulk-user-styles' %}
  {% else %}
    {% asset 'hdx_theme/onboarding-bulk-anon-styles' %}
  {% endif %}
{% endblock %}

{% block meta %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block bodytag %}{{ super() }} class="hdx-v2"{% endblock %}

{%- block page -%}

  {%- block header %}
    {% if data %}
      {% set step = data.current_step %}
      {% if step == "hdx_login" %}
        <div id="user-login" style="display: none;">User login</div>
        {% if not data.success %}
          <div id="login-error" style="display: none;">{{ data.message }}</div>
        {% endif %}
        {% if data.info_message %}
          <div id="login-info" style="display: none;">{{ data.info_message }}</div>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if c.userobj %}
      {% block contribute_widget %}
        {{ h.snippet('widget/contribute/details.html', id="addDataPopup") }}
      {% endblock %}
    {% else %}
      {{ h.snippet('widget/onboarding/logout.html', id="logoutPopup") }}
    {% endif %}

    {% block header_core %}
      {% snippet 'v2/header.html' %}
    {% endblock %}
  {% endblock %}

  {%- block page_content %}
    <div role="main">
      {% block toolbar %}
        <div class="toolbarRow">
          <div class="container">
            <div class="toolbar">
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
                      {% snippet 'snippets/home_breadcrumb_item.html' %}
                      {% block breadcrumb_content %}{% endblock %}
                    </ol>
                  </nav>
                {% endif %}
              {% endblock %}
            </div>
          </div>
        </div>
      {% endblock %}

      {% block flash %}
        <div class="dataset-light">
          <div class="container">
            <div class="flash-messages">
              {% block flash_inner %}
                {% for category, message in h.get_flashed_messages(with_categories=true) %}
                  {% if loop.first %}
                    <div class="pt-3"></div>
                  {% endif %}
                  <div class="alert alert-dismissible fade show {{ category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
              {% endblock %}
            </div>
          </div>
        </div>
      {% endblock %}

      {%- block content %}
      {% endblock -%}

    </div>
  {% endblock -%}

  {%- block footer %}
    {% include "v2/footer.html" %}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
  {% asset 'hdx_theme/v2-page-scripts' %}
  {# TODO: check whether we still need these once the redesign has been completed #}
  {% if c.userobj %}
    {% asset 'hdx_theme/onboarding-bulk-user-scripts' %}
  {% else %}
    {% asset 'hdx_theme/onboarding-bulk-anon-scripts' %}
  {% endif %}
{% endblock -%}
