{% extends "base.html" %}

{%- block styles %}
  {{ super() }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  {% asset 'hdx_theme/v2-page-styles' %}
  {# TODO: check whether we still need these once the redesign has been completed
  {% if c.userobj %}
    {% asset 'hdx_theme/onboarding-bulk-user-styles' %}
  {% else %}
    {% asset 'hdx_theme/onboarding-bulk-anon-styles' %}
  {% endif %}
  #}
{% endblock %}

{% block meta %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block bodytag %}{{ super() }} class="hdx-v2"{% endblock %}

{%- block page -%}

  <a href="#hdx-v2-main" class="sr-only sr-only--focusable">{{ _('Skip to main content') }}</a>

  {%- block header %}
    {% if data %}
      {% set step = data.current_step %}
      {% if step == "hdx_login" %}
        <div id="user-login" style="display: none;">User login</div>
        {% if not data.success %}
          <div id="login-error" style="display: none;">{{ data.message }}</div>
        {% endif %}
        {% if data.info_message %}
          <div id="login-info" style="display: none;">{{ data.info_message }}</div>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if c.userobj %}
      {% block contribute_widget %}
        {{ h.snippet('widget/contribute/details.html', id="addDataPopup") }}
      {% endblock %}
    {% else %}
      {{ h.snippet('widget/onboarding/logout.html', id="logoutPopup") }}
    {% endif %}

    {% block header_core %}
      {% snippet 'v2/header.html' %}
    {% endblock %}
  {% endblock %}

  {%- block content %}
    {% block maintag %}<div role="main" id="hdx-v2-main">{% endblock %}
      <div id="content">
        {% block main_content %}
      {% block toolbar %}
        <div class="hdx-v2-breadcrumb-row">
          <div class="hdx-v2-container">
            {% block breadcrumb_items %}{% endblock %}
          </div>
        </div>
      {% endblock %}

      {% block flash %}
        <div class="flash-messages">
          <div class="hdx-v2-container">
            {% block flash_inner %}
              {% for category, message in h.get_flashed_messages(with_categories=true) %}
                <div class="hdx-v2-flash {{ category }}">
                  {{ h.literal(message) }}
                </div>
              {% endfor %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}

      {% set secondary_block_output = self.secondary() %}
      <div class="{% if secondary_block_output|trim == '' %}no-nav{% endif %}">
        {#
        The pre_primary block can be used to add content before the
        main content columns. Each page template wraps it in its own container.
        #}
        {% if self.pre_primary() | trim %}
          {% block pre_primary %}
          {% endblock %}
        {% endif %}

        <div class="{{ ' ' ~ outer_row_class if outer_row_class else '' }}">
          <div class="hdx-v2-container">
            <div class="hdx-v2-content-columns{{ ' ' ~ columns_class if columns_class else '' }}">
              {% if secondary_block_output|trim != '' %}
                <div class="{{ sidebar_class if sidebar_class else '' }}">
                  {{ secondary_block_output }}
                </div>
              {% endif %}
              <div class="{{ content_class if content_class else '' }}">
                {{ self.primary() }}
              </div>
            </div>
          </div>
        </div>

        {% block post_primary %}{% endblock %}

      </div>

        {% endblock %}
      </div>
    </div>
  {% endblock -%}

  {%- block footer %}
    {% snippet 'v2/footer.html' %}
  {% endblock -%}
{%- endblock -%}

{% block secondary %}
  <div class="secondary">
    {% block secondary_content %}{% endblock %}
  </div>
{% endblock %}

{# TODO: remove when v1 is retired #}
{% block primary %}
  <div class="primary">
    {% block primary_content %}
      <article class="module">
        {% block item_title_contrib %}{% endblock %}

        {% block page_header %}
          <div>
            <header class="module-content page-header">
              <div>
                <ul class="nav nav-tabs">
                  {% block content_primary_nav %}{% endblock %}
                </ul>
              </div>
            </header>
          </div>
          {% if self.content_action() | trim %}
            <div class="content_action">
              {% block content_action %}{% endblock %}
            </div>
          {% endif %}
        {% endblock %}
        <div class="module-content {% block primary_content_module_margin %}{% endblock %}">
          {% if self.page_primary_action() | trim %}
            <div class="page_primary_action">
              {% block page_primary_action %}{% endblock %}
            </div>
          {% endif %}
          {% block primary_content_inner_wrapper %}
            {% block primary_content_inner %}
            {% endblock %}
          {% endblock %}
        </div>
      </article>
    {% endblock %}
  </div>
{% endblock %}

{%- block scripts %}
  {# TODO: check whether we still need these once the redesign has been completed
  {% asset 'hdx_theme/page-scripts' %}
  #}
  {{ super() }}
  {% asset 'hdx_theme/v2-page-scripts' %}
  {# TODO: check whether we still need these once the redesign has been completed
  {% if c.userobj %}
    {% asset 'hdx_theme/onboarding-bulk-user-scripts' %}
  {% else %}
    {% asset 'hdx_theme/onboarding-bulk-anon-scripts' %}
  {% endif %}
  #}
{% endblock -%}
