{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block primary_content %}
  <div class="row paddingRowHack" style="position: relative;">
    {% block crisis_map %}
        <div id="mapbox-baselayer-url-div" style="display: none;">{{ h.hdx_get_ckan_config('hdx.mapbox.baselayer.url') }}</div>
        <div id="crisis-map" style="position: relative; z-index: 0;">
        </div>
        <div class="crisis-map-title">
          <span class="mL45 crisisTitle"> {% block crisis_title %} Crisis title {% endblock %}</span>
            {% block crisis_actions %}
                <span class="mR45 pull-right" style="line-height: 50px;">
                {% snippet 'package/snippets/share_button.html', title=self.crisis_title(), analytics_shared_item="crisis" %}
                </span>
            {% endblock %}
        </div>
   {% endblock %}
  </div>

  {% block crisis_data %}

  {% endblock %}

  {% block package_search_results %}
    <section class="list-items module">
      <div class="list-items module-content mT35">
        {% block package_search_results_list %}
          {% set my_c = data.search_data %}
          {{ h.snippet('search/snippets/package_list.html', query=my_c.q, packages=my_c.page.items,
                  full_facet_info=my_c.full_facet_info,
                  ext_page_size=my_c.ext_page_size, sorting_selected=my_c.sort_by_selected,
                  other_links=my_c.other_links) }}
        {% endblock %}
      </div>
      {% block page_pagination %}
        {% set my_c = data.search_data %}
        {{ my_c.page.pager(q=my_c.q) }}
      {% endblock %}
    </section>
  {% endblock %}
{% endblock %}

{% block secondary %}
{% endblock %}

{% block scripts2 %}
  {{ super() }}
{#  {% resource 'hdx_theme/bs_tooltip.js' %}#}
{#  {% resource 'hdx_theme/search' %}#}
{#  {% resource 'hdx_theme/jquery.highlight' %}#}
{#  {% resource 'hdx_theme/jquery.expander' %}#}
{#  {% resource 'hdx_theme/hdx_show_more.js' %}#}

{#  {% resource 'hdx_theme/bs_popover.js' %}#}
{#  {% resource 'hdx_theme/d3' %}#}
{#  {% resource 'hdx_theme/c3' %}#}
{#  {% resource 'hdx_theme/leaflet' %}#}
{#  {% resource 'hdx_theme/search' %}#}
{#  {% resource 'hdx_theme/crisis-base' %}#}

  {% asset 'hdx_theme/search-scripts' %}
{#  {% asset 'hdx_theme/hdx-show-more' %}#}
  {% asset 'hdx_theme/charting-scripts' %}
  {% asset 'hdx_theme/crisis-base-scripts' %}

{% endblock %}

{% block links %}
  {{ super() }}
  {% if 'country_dict' in data %}
    {% set group_dict = data.country_dict %}
    {% include "group/snippets/feeds.html" %}
  {%  endif %}
{% endblock %}
