@import "../base/variables";

.hdx-visible-element{
  display: inherit;
}

.hdx-invisible-element{
  display: none;
}

.form-header{
  background-color: @blueColor;
}

.cp-content-background{
  background-color: @extraLightGrayColor;
}

.cp-hr{
    background-color: #999999;
    border: 0 none;
    height: 1px;
}