@import "../base/variables";

.hdx-visible-element{
  display: inherit;
}

.hdx-invisible-element{
  display: none;
}

.form-header{
  background-color: @blueColor;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  text-shadow: none;
  color: #ffffff;
  height: 30px;
}

.cp-content-background{
  background-color: @extraLightGrayColor;
}

.cp-hr{
    background-color: #999999;
    border: 0 none;
    height: 1px;
}