{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/page-styles' %}
{% endblock %}}

{%- block page %}
    <div id="mapbox-baselayer-url-div" style="display: none;">{{ h.hdx_get_ckan_config('hdx.mapbox.baselayer.url') }}</div>
    <div id="datasetCounts" style="display: none;">
        {{ countries }}
    </div>

    <div id="locationSection">
      <div id="map" data-open-new-window="true" style="height: 100vh; position: relative;"></div>

      <div class="eaa-logo-container">
        <div>in partnership with</div>
        <div><img src="/images/icons/logo_eaa_color.png" alt="education above all logo"></div>
      </div>
    </div>
    <div id="map-popup"></div>
{% endblock -%}

{% block scripts %}
    {% asset 'hdx_theme/charting-scripts' %}
    {% asset 'hdx_theme/eaa-map-scripts' %}
{% endblock %}

