{% extends "base.html" %}

{%- block page %}
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
    {% resource 'hdx_theme/page-styles' %}
    {% resource 'hdx_theme/leaflet' %}
    {% resource 'hdx_theme/eaa-map' %}

    <div id="mapbox-baselayer-url-div" style="display: none;">{{ h.hdx_get_ckan_config('hdx.mapbox.baselayer.url') }}</div>
    <div id="mapbox-labelslayer-url-div" style="display: none;">{{ h.hdx_get_ckan_config('hdx.mapbox.labelslayer.url') }}</div>
    <div id="datasetCounts" style="display: none;">
        {{ c.countries }}
    </div>

    <div id="locationSection">
      <div id="map" data-open-new-window="true" style="height: 100vh; position: relative;"></div>

      <div class="eaa-logo-container">
        <div>in partnership with</div>
        <div><img src="/images/icons/logo-eaa-gray.png" alt="education above all logo"></div>
      </div>
    </div>
    <div id="map-popup"></div>
{% endblock -%}



