{% extends "group/snippets/group_form.html" %}

{#
As the form is rendered as a seperate page we take advantage of this by
overriding the form blocks depending on the current context
#}
{% block dataset_fields %}
  {% if action == "edit" %}{{ super() }}{% endif %}
{% endblock %}

{% block custom_fields %}
  <div class="control-group">
  	<label class="control-label" for="field-language_code">{{ _("Language Code")}}</label>
  	<div class="controls">
  		<input type="text" id="field-language_code" name="language_code" {% if data.get('language_code', False)%} value="{{data.get('language_code', False)}}"{% endif %}>
  	</div>
  </div>

   <div class="control-group">
  	<label class="control-label" for="field-relief_web_url">{{ _("Relief Web URL")}}</label>
  	<div class="controls">
  		<input type="text" id="field-relief_web_url" name="relief_web_url" value="{{data.get('relief_web_url', '')}}">
  	</div>
  </div>

   <div class="control-group">
  	<label class="control-label" for="field-hr_info_url">{{ _("HR.info URL")}}</label>
  	<div class="controls">
  		<input type="text" id="field-hr_info_url" name="hr_info_url" value="{{data.get('hr_info_url', '')}}">
  	</div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-geojson">{{ _("Geojson")}}</label>
    <div class="controls">
      <textarea id="field-geojson" name="geojson">{{data.get('geojson', '')}}</textarea>
    </div>
  </div>

  {% if action == "edit" %}{{ super() }}{% endif %}
{% endblock %}

{% block save_text %}
  {%- if action == "edit" -%}
    {{ _('Update Group') }}
  {%- else -%}
    {{ _('Create Group') }}
  {%- endif -%}
{% endblock %}

{% block delete_button %}
  {% if action == "edit" %}{{ super() }}{% endif %}
{% endblock %}
