{% extends "group/snippets/group_form.html" %}

{#
As the form is rendered as a seperate page we take advantage of this by
overriding the form blocks depending on the current context
#}
{% block dataset_fields %}
  {% if action == "edit" %}{{ super() }}{% endif %}
{% endblock %}

{% block custom_fields %}
  <div class="control-group control-full">
  	<label class="control-label" for="field-language_code">{{ _("Language Code")}}</label>
  	<div class="controls">
  		<input type="text" id="field-language_code" name="language_code" {% if data.get('language_code', False)%} value="{{data.get('language_code', False)}}"{% endif %}>
  	</div>
  </div>

  <div class="control-group control-full">
  	<label class="control-label" for="field-relief_web_url">{{ _("Relief Web URL")}}</label>
  	<div class="controls">
  		<input type="text" id="field-relief_web_url" name="relief_web_url" value="{{data.get('relief_web_url', '')}}">
  	</div>
  </div>

  <div class="control-group control-full">
  	<label class="control-label" for="field-hr_info_url">{{ _("HR.info URL")}}</label>
  	<div class="controls">
  		<input type="text" id="field-hr_info_url" name="hr_info_url" value="{{data.get('hr_info_url', '')}}">
  	</div>
  </div>

  <div class="control-group control-full">
  	<label class="control-label" for="field-alert_bar_title">{{ _("Alert Bar Title")}}</label>
  	<div class="controls">
  		<input type="text" id="field-alert_bar_title" name="alert_bar_title" {% if data.get('alert_bar_title', False)%} value="{{data.get('alert_bar_title', False)}}"{% endif %}>
  	</div>
  </div>

  <div class="control-group control-full">
  	<label class="control-label" for="field-alert_bar_url">{{ _("Alert Bar URL")}}</label>
  	<div class="controls">
  		<input type="text" id="field-alert_bar_url" name="alert_bar_url" value="{{data.get('alert_bar_url', '')}}">
  	</div>
  </div>

  <div class="control-group control-full">
    <label class="control-label" for="field-geojson">{{ _("Geojson")}}</label>
    <div class="controls">
      <textarea id="field-geojson" name="geojson" class="taller-textarea">{{data.get('geojson', '')}}</textarea>
    </div>
  </div>

  {% set activity_level = data.get('activity_level', '') %}
  <div class="control-group control-full">
  	<label class="control-label" for="field-activity-level">{{ _("Activity Level")}}</label>
  	<div class="controls">
        <select id="field-activity-level" name="activity_level">
            <option value="inactive" {% if activity_level == 'inactive' %}selected="selected"{% endif %}>
                {{ _('Inactive') }}
            </option>
            <option value="active"
                    {% if activity_level == 'active' %}selected="selected"{% endif %}>
                {{ _('Active') }}
            </option>
        </select>
  	</div>
  </div>

{#  {% set featured_section = data.get('featured_section', '') %}#}
{#  <div class="control-group control-full">#}
{#  	<label class="control-label" for="field-featured-section">{{ _("Featured Section")}}</label>#}
{#  	<div class="controls">#}
{#        <select id="field-featured-section" name="featured_section">#}
{#            <option value="inactive" {% if featured_section == 'inactive' %}selected="selected"{% endif %}>#}
{#                {{ _('Inactive') }}#}
{#            </option>#}
{#            <option value="active"#}
{#                    {% if featured_section == 'active' %}selected="selected"{% endif %}>#}
{#                {{ _('Active') }}#}
{#            </option>#}
{#        </select>#}
{#  	</div>#}
{#  </div>#}

  {% set key_figures = data.get('key_figures', '') %}
  <div class="control-group control-full">
  	<label class="control-label" for="field-key-figures">{{ _("Key Figures")}}</label>
  	<div class="controls">
        <select id="field-key-figures" name="key_figures">
            <option value="inactive" {% if key_figures == 'inactive' %}selected="selected"{% endif %}>
                {{ _('Inactive') }}
            </option>
            <option value="active"
                    {% if key_figures == 'active' %}selected="selected"{% endif %}>
                {{ _('Active') }}
            </option>
        </select>
  	</div>
  </div>

  {% set data_completeness = data.get('data_completeness', '') %}
  <div class="control-group control-full">
  	<label class="control-label" for="field-data-completeness">{{ _("Data Grid Completeness")}}</label>
  	<div class="controls">
        <select id="field-data-completeness" name="data_completeness">
            <option value="inactive" {% if data_completeness == 'inactive' %}selected="selected"{% endif %}>
                {{ _('Inactive') }}
            </option>
            <option value="active"
                    {% if data_completeness == 'active' %}selected="selected"{% endif %}>
                {{ _('Active') }}
            </option>
        </select>
  	</div>
  </div>


  {% if action == "edit" %}{{ super() }}{% endif %}
{% endblock %}

{% block save_text %}
  {%- if action == "edit" -%}
    {{ _('Update Group') }}
  {%- else -%}
    {{ _('Create Group') }}
  {%- endif -%}
{% endblock %}

{% block delete_button %}
  {% if action == "edit" %}{{ super() }}{% endif %}
{% endblock %}
