{% extends "page.html" %}

{% block subtitle %}{{ group_dict.display_name }}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/other_breadcrumb_item.html", title=_('Groups'), controller='group', action='index', position=2 %}
  <li class="breadcrumb-item active">{% link_for group_dict.display_name|truncate(35), controller='group', action='read', id=group_dict.name %}</li>
{% endblock %}

{% block page_header %}
<div class="mTop35">
  <h1 class="itemTitle">
    {{ group_dict.display_name }}
  </h1>
  <span class="followButtonContainer float-end">
    {{ h.follow_button('group', group_dict.id) }}
  </span>
</div>
<header class="module-content page-header paddingRowHack mBottom10">
  <ul class="nav nav-tabs paddingLeftHack paddingRightHack">
    {% block content_primary_nav %}
      {{ h.bs5_build_nav_icon('group.read', _('Datasets'), class_='nav-link', id=group_dict.name) }}
      {{ h.bs5_build_nav_icon('activity.group_activity', _('Activity Stream'), id=group_dict.name, class_='nav-link mx-activity-stream', offset=0) }}
      {#  {{ h.build_nav_icon('group.about', _('About'), id=group_dict.name) }} #}
    {% endblock %}
  </ul>
</header>
{% if self.content_action() | trim %}
  <div class="content_action">
    {% block content_action %}
      {% if h.check_access('group_update', {'id': group_dict.id}) %}
        {% link_for _('Edit'), controller='group', action='edit', id=group_dict.name, class_='btn', icon='wrench' %}
      {% endif %}
    {% endblock %}
  </div>
{% endif %}
<div>
    {% if group_dict.description %}
      <p>
        {{ group_dict.description }}
      </p>
    {% else %}
      <p class="empty">{{ _('There is no description for this group') }}</p>
    {% endif %}
</div>
{% endblock %}

{% block secondary_content %}
  {% snippet "group/snippets/info.html", group=group_dict, show_nums=true %}
{% endblock %}

{% block links %}
  {{ super() }}
  {% include "group/snippets/feeds.html" %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/organization-styles' %}
{% endblock %}
