{% set CONST_NOTIFICATION_PLATFORM = h.HDX_CONST('UI_CONSTANTS')['NOTIFICATION_PLATFORM'] %}

<li class="notification-platform-opt-in-action-menu d-none">
  <a href="#" title="{{ CONST_NOTIFICATION_PLATFORM.OPT_IN_TEXT }}">
    <i class="icon-bell"></i>
    <span>{{ CONST_NOTIFICATION_PLATFORM.OPT_IN_TEXT }}</span>
  </a>
</li>

<li class="notification-platform-opt-out-action-menu d-none">
  <a href="#" title="{{ CONST_NOTIFICATION_PLATFORM.OPT_OUT_TEXT }}">
    <i class="icon-bell"></i>
    <span>{{ CONST_NOTIFICATION_PLATFORM.OPT_OUT_TEXT }}</span>
  </a>
</li>
