{% set CONST_NOTIFICATION_PLATFORM = h.HDX_CONST('UI_CONSTANTS')['NOTIFICATION_PLATFORM'] %}
{% set is_dataset_subscription = true if object_type and object_type == 'dataset' else false %}
{% set ui_object_type = 'location' if object_type == 'group' else object_type %}
{% set logged_in = true if c.userobj else false %}

{% set intro_text = CONST_NOTIFICATION_PLATFORM.SIGNUP_MODAL_TEXT_INTRO_DATASET if is_dataset_subscription else CONST_NOTIFICATION_PLATFORM.SIGNUP_MODAL_TEXT_INTRO.format(ui_object_type) %}

<div class="c-drawer-form">

  <p class="c-drawer-form__description">{{ intro_text|safe }}</p>

  {% if not logged_in %}
    <p class="c-drawer-form__description">{{ CONST_NOTIFICATION_PLATFORM.SIGNUP_MODAL_TEXT_INTRO_SECOND.format(h.url_for('hdx_signin.login'))|safe }}</p>
  {% endif %}

  {% snippet 'v2/components/form-alert.html', hidden=True %}

  <form method="post" id="notification-platform-form" novalidate data-hdx-v2-form-validator>
    <input type="hidden" name="popup_source" value="">

    {% if not logged_in %}
      <div class="c-form-field">
        {{ h.snippet('v2/components/search-input.html',
            type='email',
            size='l',
            id='notification-email',
            name='email',
            label=CONST_NOTIFICATION_PLATFORM.SIGNUP_INPUT_EMAIL_PLACEHOLDER,
            required=True,
            autocomplete='new-email',
            placeholder=CONST_NOTIFICATION_PLATFORM.SIGNUP_INPUT_EMAIL_PLACEHOLDER,
            show_icon=False,
            input_attrs={
              'data-validation': 'email',
              'data-validation-error': CONST_NOTIFICATION_PLATFORM.SIGNUP_INPUT_EMAIL_ERROR
            }) }}
        <div class="c-form-field__hint">
          {{ CONST_NOTIFICATION_PLATFORM.SIGNUP_MODAL_TEXT_ALREADY_HAVE_ACCOUNT.format(h.url_for('hdx_signin.login'))|safe }}
        </div>
      </div>
    {% else %}
      <input type="hidden" name="email" value="{{ c.userobj.email }}">
    {% endif %}

    {% if update_frequency %}
      <p class="c-drawer-form__update-freq">{{ CONST_NOTIFICATION_PLATFORM.SIGNUP_MODAL_TEXT_UPDATE_FREQUENCY.format(update_frequency) }}</p>
    {% endif %}

    {% if num_of_datasets and num_of_datasets < 1000 and not is_dataset_subscription %}
      <p class="c-drawer-form__description">{{ CONST_NOTIFICATION_PLATFORM.SIGNUP_MODAL_TEXT_ALSO_NOTIFY|safe }}</p>
      <div class="c-drawer-form__checkbox-row">
        {{ h.snippet('v2/components/checkbox.html',
            id='notification-dataset-updates',
            name='dataset_updates',
            checked=False,
            value='true') }}
        <label for="notification-dataset-updates">
          {{ CONST_NOTIFICATION_PLATFORM.SIGNUP_CHECKBOX_DATASET_UPDATES_LABEL.format(ui_object_type) }}
        </label>
      </div>
    {% endif %}

    {% if not logged_in and g.recaptcha_publickey %}
      <div class="c-drawer-form__recaptcha">
        <div class="g-recaptcha" data-sitekey="{{ g.recaptcha_publickey }}"></div>
      </div>
    {% endif %}

  </form>

</div>
