/* Default link style */
a,
.dataset-heading a {
  color: #007ce0;
  text-decoration: none;
}
a:hover,
.dataset-heading a:hover,
a:focus,
.dataset-heading a:focus {
  color: #00447a;
  text-decoration: none;
}
/* END Default link style */
