@popupWidth: 370px;
@paddingNormal: 35px;
@paddingSmall: 20px;
@paddingLarge: 60px;
@checkBoxSize: 12px;
@bigColumnWidth: 445px;
@baseHeight: 560px;
@baseLineHeight: 20px;

@inputHeight: 44px;
@inputPadding: @paddingSmall;
