{% extends "v2/page.html" %}

{% block bodytag %}{{ super() }} style="background-color: unset;"{% endblock %}

{% block page %}
  <div id="hdx-csv-preview">
    <div id="resource-url" hidden>{{ h.url_for('resource.download', id=res.package_id, resource_id=res.id, qualified=True) }}</div>

    <div id="resource-id" hidden>{{ res.id }}</div>
    <div id="datastore-active" hidden>{{ 'true' if res.datastore_active else 'false' }}</div>
    {% snippet 'v2/components/spinner.html', extra_classes='c-spinner--block' %}
    <table id="hdx-csv-table" class="c-table" hidden></table>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'hdx_office_preview/main' %}
{% endblock %}
