{% extends "page-new.html" %}

{% block primary_content %}
<div class="row paddingRowHack topSection" style="position: relative;">
	<div class="paddingLeftHack paddingRightHack col-xs-12">
		<div class="row">
			<div class="col-xs-8 sectionContent">
                <div class="sectionTitle mTop45">
                  <span class="sectionTitleBold">HDX</span> Collection
                </div>
                <div class="sectionDescription mTop20">
                  The Humanitarian Data Exchange (HDX) project aims to make humanitarian data easy to find
                  and use for analysis. We are working on three elements that will eventually combine into
                  an integrated data platform.
                </div>
                <div class="sectionDescription mTop20">
                  Learn more about <a href="#">Humanitarian Exchange Language</a> and <a href="#">Common
                  Hummanitarian Dataset</a>.
                </div>
                <div class="sectionDemo mTop20">
                  <a class="btn demoButton" href="#">Watch demo</a> <a class="btn visButton" href="#">Show me a cool visualisation</a>
                </div>
            </div>
			<div class="col-xs-4">
				<img class="pull-right browse-illustration" src="/images/backgrounds/browse_illustration.png" />
            </div>
	    </div>
	</div>
</div>
<div class="row paddingRowHack browseSection" style="position: relative;">
	<div class="col-xs-12 paddingLeftHack paddingRightHack">
	    <span class="browseBy">Browse by:</span>
	    <a href="#locationSection" class="browseItem">Location</a>
	    <a href="#topicsSection" class="browseItem">Topics</a>
	    <a href="#organisationsSection" class="browseItem">Organisations</a>
	</div>
</div>

<section class="list-items module">
<div id="locationSection">


</div>
<div id="topicsSection"></div>
<div id="organisationsSection">
  {% set sorting = [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
<div>
            <h2>
              {{ _("Organizations") }}
            </h2>
            <span class="pull-right list-header-actions">
              <ul class="dropdown-menu dropdown-inverse" role="menu" style="max-height: 241px; overflow-y: auto;">
            {% for label, value in sorting %}
              {% if label and value %}
                <li><a tabindex="-1" val="{{ value }}">{{ label }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
            </span>
        </div>
      <ul class="hdx-bs3 list-items {{ list_class or 'dataset-list unstyled' }}">
    {% for organization in c.organizations %}
        {% snippet 'browse/snippets/org_item.html', organization=organization %}
    {% endfor %}
  </ul>
</div>
  {% block page_pagination %}
    {{ c.organizations.pager() }}
  {% endblock %}
{% endblock %}
</section>

{% block secondary %}
{% endblock %}


{% block scripts2 %}
  {{ super() }}
  {% resource 'hdx_theme/browse' %}
  {% resource 'hdx_theme/search' %}
  {% resource 'hdx_theme/jquery.expander' %}
  {% resource 'hdx_theme/hdx_show_more.js' %}
{% endblock %}
