@import "variables";

/* Default link style */
    a, .dataset-heading a {
        color: @defaultLinkColor;
        text-decoration: none;
        &:hover, &:focus {
            color: darken(@defaultLinkColor, 20%);
            text-decoration: none;
        }
    }
/* END Default link style */
