//Paths
@imagePath: "images/";

//Colors
@wfpBlueColor: #0088FF;

@extraLightGrayColor: #efefef;
@lightGrayColor: #cccccc;
@grayColor: #888888;
@darkGrayColor: #333333;

//Fonts
@gothamBoldFont: 'Gotham-Bold', sans-serif;
@gothamBookFont: 'Gotham-Book', sans-serif;
@gothamLightFont: 'Gotham-Light', sans-serif;
@sourceSansProFont: 'Source Sans Pro', sans-serif;