//Paths
@imagePath: "/images";

//Extra Colors
@wfpBlueColor: #0088FF;

//Base Colors
@whiteColor: #fff;
@extraLightGrayColor: #eeeeee;
@lightGrayColor: #cccccc;
@grayColor: #888888;
@darkGrayColor: #333333;
@blackColor: #000;

@greenColor: #1ebfb3;
@blueColor: #007CE0;
@orangeColor: #f2645a;

//Fonts
@gothamBoldFont: 'Gotham-Bold', sans-serif;
@gothamBookFont: 'Gotham-Book', sans-serif;
@gothamLightFont: 'Gotham-Light', sans-serif;
@sourceSansProFont: 'Source Sans Pro', sans-serif;

//Others
@navBorderHeight: 3px;

@containerSize: 1170px;
@containerMarginSize: 45px; //left/right margin set larger than gutter by design so content width will be 1260px