{% extends "page.html" %}

{% set pkg = c.pkg_dict or pkg_dict %}

{% block subtitle %}{{ pkg.title or pkg.name }}{% endblock %}

{# The line below is for google analytics #}
{% block analytics_org_name %}{{ pkg.organization.name }}{% endblock %}
{% block analytics_org_id %}{{ pkg.organization.id }}{% endblock %}
{% block analytics_is_cod %}{{ c.analytics_is_cod }}{% endblock %}
{% block analytics_is_indicator %}{{ c.analytics_is_indicator }}{% endblock %}
{% block analytics_group_names %}{{ c.analytics_group_names | safe }}{% endblock %}
{% block analytics_group_ids %}{{ c.analytics_group_ids | safe }}{% endblock %}
{% block analytics_dataset_name %}{{ pkg.name  }}{% endblock %}
{% block analytics_dataset_id %}{{ pkg.id }}{% endblock %}

{% block breadcrumb_content %}
	{% block breadcrum_parent_item %}
      {% if pkg.indicator %}
        <li>{{ h.nav_link(_('Indicators'),
          controller='ckanext.hdx_search.controllers.search_controller:HDXSearchController', action='search', ext_indicator=1) }}</li>
      {% else %}
      <li>{{ h.nav_link(_('Datasets'),
        controller='ckanext.hdx_search.controllers.search_controller:HDXSearchController', action='search') }}</li>
      {% endif %}
	{% endblock %}
    <li class="active">{{ h.nav_link( pkg.title|truncate(120),	controller='package', action='read', id=pkg.name, highlight_actions = 'new index') }}</li>
	
{% endblock %}

{% block pre_primary %}
  <div class="row paddingRowHack whiteBackground">
    <div class="col-xs-12 paddingLeftHack paddingRightHack">
      <div class="row">
        <div class="col-xs-8 mTop35 mBottom30">
          <h1 class="itemTitle">
            {{ pkg.title or pkg.name }}
            {% snippet 'package/snippets/package_status_labels.html', pkg=pkg %}
          </h1>
        </div>
        {% if c.logo_config.image_url %}
        <div class="col-xs-4 mTop35 mBottom30">
            <div class="pull-right">
                <div style="background-color: {{ c.logo_config.background_color }}; border: 1px solid {{ c.logo_config.border_color }}"
                     class="org-logo-large table-valign">
                    <div class="table-valign-content">
                        {% set org_id = pkg.organization.name or pkg.owner_org %}
                        {% set url_org = h.url_for(controller='organization', action='read', id=org_id) or '#' %}
                        <a href="{{url_org}}">
                            <img class="org-logo" src="{{ c.logo_config.image_url }}" alt="{{ _('Organization logo') }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
      </div>
      <!-- here -->
      <div class="row">
        <div class="col-xs-12 align-bottom-right">
          <ul class="pull-left dataset-resources ">
              {% snippet 'search/snippets/package_icons.html', package=pkg %}
          </ul>
          {% snippet "indicator/snippets/indicator_actions_menu.html", pkg = pkg, is_indicator=True, classes='indicator-actions followButtonContainer pull-right' %}
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="mTop30" style="border-bottom: 1px solid #dddddd;">
      </div>
    </div>
    <div class="col-xs-12 paddingLeftHack paddingRightHack">
      {% block pre_primary_content %}
        {% snippet "indicator/snippets/read_pre_primary.html", pkg = pkg %}
      {% endblock %}
    </div>
    <div class="col-xs-12">
      <div class="mBottom15" style="border-bottom: 1px solid #dddddd;">
      </div>
    </div>
  </div>

{% endblock %}

{% block secondary %}
<div>
  <h2 class="uppercase">{{_('Gallery')}}</h2>
  {% snippet "indicator/snippets/related_list.html", pkg=c.pkg, user=c.userobj %}

</div>
  <div>
        <h2 class="uppercase">{{_('Activity')}}</h2>
        {# <span class="more" title="{{ _("Coming soon...") }}" data-module="bs_tooltip" data-module-placement="bottom" data-toggle="tooltip">See all</span> #}
     {% snippet "indicator/snippets/activity_stream_items.html", activities = c.hdx_activities['activities'], offset = c.hdx_activities['offset'] %}
     <br>
    {% if h.follow_status('dataset', pkg.name) %}
      <span class="more">See more in <a href="{{ h.url_for(controller='user', action='dashboard') }}">your dashboard</a></span> 
    {% endif %}
  </div>
{% endblock %}

{% block primary %}
  <div class="mL30 mTop20">
    {% block package_notes %}
        {% if c.pkg_notes_formatted %}
          <div class="notes embedded-content">
            {{ c.pkg_notes_formatted }}
          </div>
        {% endif %}
    {% endblock %}
  </div>
  <div class="mL30">
      {% block package_resources %}
        {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
      {% endblock %}
  </div>
  <div class="mL30">
    {% block indicator_additional_info %}
	    {% snippet "indicator/snippets/additional_info.html", pkg_dict=pkg %}
  	{% endblock %}
  	
  </div>
  
{% endblock %}

{% block post_primary %}
  <div class="row paddingRowHack whiteBackground">
    <div class="col-xs-12 paddingLeftHack paddingRightHack">
      {% snippet "indicator/snippets/continuous_browsing.html", type="dataset", pkg = pkg, followers=c.followers, topics = c.topics, related_urls = c.related_urls, downloads_count = c.downloads_count %}
    </div>
  </div>
{% endblock %}


{% block styles %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'hdx_theme/indicator' %}
  {% resource 'hdx_theme/activity-stream' %}
  {% resource 'hdx_theme/jquery.expander' %}
  {% resource 'hdx_theme/bs_tooltip.js' %}
  {% resource 'hdx_theme/bs_popover.js' %}
  {% resource 'hdx_theme/hdx_show_more.js' %}
  {% resource 'hdx_theme/hdx_autocomplete.js' %}
  {% resource 'hdx_theme/confirm-ajax.js' %}
  {% resource 'hdx_theme/indicator/additional_info.js' %}
  {% resource 'hdx_theme/datasets/related.css' %}
  {% resource 'hdx_theme/explorer' %}
{% endblock %}
