<section class="additional-info info-wrapper mTop35">
  <table class="table-condensed mTop20">

    <tbody>

{% block package_additional_info %}
  {% set edit_mode = h.check_access('package_update', {'id':pkg_dict.id })  %}
	<tr {% if edit_mode %} data-module="hdx-quick-edit" data-module-anchor="field_dataset_source" data-module-dataset="{{pkg_dict.id}}"{% endif %}>
		<th scope="row" class="dataset-label">{{ _('Source') }}</th>
		<td class="dataset-details">{{ pkg_dict.dataset_source }}</td>
	</tr>

	<tr {% if edit_mode %} data-module="hdx-quick-edit" data-module-anchor="s2id_field_owner_org" data-module-dataset="{{pkg_dict.id}}" {% endif %}>
		<th scope="row" class="dataset-label">{{ _('Contributor') }}</th>
		<td class="dataset-details metadata-link">
		{% if pkg_dict.owner_org %}
		{% set org_id = pkg_dict.owner_org or pkg_dict.organization.name %}
			<a class="mx-ga-dimension-organization"
               href="{{ h.url_for(controller='organization', action='read', id=org_id) }}">
	            	{{ pkg_dict.organization.title }}
	        </a>
	    {% endif %}
		</td>
    </tr>
	<tr {% if edit_mode %} data-module="hdx-quick-edit" data-module-anchor="ui_date_range1" data-module-dataset="{{pkg_dict.id}}"{% endif %}>
		<th scope="row" class="dataset-label">{{ _('Reference Period') }}</th>
		<td class="dataset-details">{{ h.render_date_from_concat_str(pkg_dict.dataset_date) }}</td>
  </tr>

  <tr>
    {% set updated_time = h.hdx_get_last_modification_date(pkg_dict) %}
    <th scope="row" class="dataset-label">{{ _('Updated') }}</th>
    <td class="dataset-details">
      <span data-module="hdx_show_more" style="visibility:hidden">
      {% if h.hdx_get_frequency_by_value(pkg_dict.data_update_frequency) == "Live"  %}
        {{ _('Live') }}
      {% else %}
        {{ h.render_datetime(updated_time) }}
      {% endif %}
      </span>
    </td>
  </tr>
	<tr {% if edit_mode %} data-module="hdx-quick-edit" data-module-anchor="s2id_field_data_update_frequency" data-module-dataset="{{pkg_dict.id}}"{% endif %}>
		<th scope="row" class="dataset-label">{{ _('Expected Update Frequency') }}</th>
		<td class="dataset-details">{{ h.hdx_get_frequency_by_value(pkg_dict.data_update_frequency) }}</td>
  </tr>
	<tr {% if edit_mode %} data-module="hdx-quick-edit" data-module-anchor="s2id_field_locations" data-module-dataset="{{pkg_dict.id}}"{% endif %}>
		<th scope="row" class="dataset-label">{{ _('Location') }}</th>
		<td class="dataset-details metadata-link mx-country">
			<span data-module="hdx_show_more" style="visibility:hidden"><div>
				{% for grp in pkg_dict.groups %}
					<a href="{{ h.url_for(controller='group', action='read', id=grp['name']) }}">{{ grp['title'] or grp['name'] }}</a>{% if not loop.last %},&nbsp;{% endif %}
				{% endfor %}
			<br/></div></span>
		</td>
  </tr>
    {# Metadata-only datasets are public, so this option is only for full datasets #}
{% if not pkg_dict.is_requestdata_type %}
    {% if h.check_access('package_update', {'id':pkg_dict.id }) %}
{#    	<hidden id="controller_url" value="{% url_for controller='ckanext.hdx_package.controllers.dataset_controller:DatasetController', action='visibility', id=pkg_dict.id %}">#}
		<tr>
			<th scope="row" class="dataset-label">{{ _('Visibility') }}</th>
			<td class="dataset-details">
				{% if pkg_dict.private %}
					<div id="private_block"><span id="visibility">{{ _('Private') }}</span> -
					<a onclick="contributeAddDetails('{{ pkg_dict.id }}', 'make public')" href="#">{{ _('make it public') }}</a></div>
				{% else %}
					<div id="private_block"><span id="visibility">{{ _('Public') }}</span> -
                    <a onclick="contributeAddDetails('{{ pkg_dict.id }}', 'make private')" href="#">{{ _('make it private') }}</a></div>
				{% endif %}
			</td>
		</tr>
	{% else %}
		<tr>
    	<th scope="row" class="dataset-label">{{ _('Visibility') }}</th>
  		<td class="dataset-details">
  			{% if pkg_dict.private %}
  				<div id="private_block"><span id="visibility">{{ _('Private') }}</span></div>
		  	{% else %}
		  		<div id="private_block"><span id="visibility">{{ _('Public') }}</span></div>
		  	{% endif %}
  		</td>
	</tr>
    {% endif %}
{% endif %}

    {% if not pkg_dict.is_requestdata_type %}
    <tr {% if edit_mode %} data-module="hdx-quick-edit" data-module-anchor="s2id_field_license_id" data-module-dataset="{{pkg_dict.id}}"{% endif %}>
    	<th scope="row" class="dataset-label">{{ _('License') }}</th>
    	<td class="dataset-details  metadata-link">
        	{% if pkg_dict.license_id %}
				<span property="dc:rights"><a href="{{ h.url_for('hdx_faqs.read', category='licenses') }}">{{ h.hdx_find_license_name(pkg_dict.license_id, pkg_dict.license_title) }}</a></span>
				{% if pkg_dict.license_id == 'hdx-other' and pkg_dict.license_other %}
				: <span data-module="hdx_show_more" style="visibility:hidden">{{h.render_markdown(pkg_dict.license_other)}}</span>
				{% endif %}

				{# link and open-data logo will be removed according to https://github.com/OCHA-DAP/hdx-ckan/issues/294
		            {% if 'license_url' in pkg_dict %}
		                <a class="info-item-name" href="{{ pkg_dict.license_url }}" rel="dc:rights">{{ pkg_dict.license_title }}</a>
		            {% else %}
		                <span property="dc:rights">{{ pkg_dict.license_title }}</span>
		            {% endif %}
		            {% if pkg_dict.isopen %}
		                <a href="https://opendefinition.org/okd/" title="{{ _('This dataset satisfies the Open Definition.') }}">
		                    <img class="open-data" src="https://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="[Open Data]" />
		                </a>
		            {% endif %}
           		 #}

          {% endif %}
      </td>
    </tr>
   {% endif %}
	{% if pkg_dict.is_requestdata_type %}
        <tr>
            <th scope="row" class="dataset-label">{{ _('Field Names') }}</th>
            <td class="dataset-details" style="word-break: break-all;">{{ pkg_dict.field_names | replace(",", ", ") }}</td>
        </tr>
        <tr>
            <th scope="row" class="dataset-label">{{ _('File Types') }}</th>
            <td class="dataset-details" style="word-break: break-all;">{{ pkg_dict.file_types | replace(",", ", ")  }}</td>
        </tr>
        <tr>
            <th scope="row" class="dataset-label">{{ _('Number of Rows') }}</th>
            <td class="dataset-details">{{ pkg_dict.num_of_rows }}</td>
        </tr>
    {% endif %}
	<tr {% if edit_mode %} data-module="hdx-quick-edit" data-module-anchor="s2id_field_methodology" data-module-dataset="{{pkg_dict.id}}"{% endif %}>
		<th scope="row" class="dataset-label">{{ _('Methodology') }}</th>
		{% set methodology, methodology_other = h.methodology_bk_compat(pkg_dict.methodology, pkg_dict.methodology_other) %}
	      <td class="dataset-details"><span data-module="hdx_show_more" style="visibility:hidden">
			  {% if not methodology_other %}
			  	{% if methodology != None %}
			  		{{methodology}}
			  	{% endif %}
			  {% else %}
			  	{{methodology_other}}
			  {% endif %}
		  </span></td>
	</tr>
	<tr {% if edit_mode %} data-module="hdx-quick-edit" data-module-anchor="field_caveats" data-module-dataset="{{pkg_dict.id}}"{% endif %}>
		<th scope="row" class="dataset-label">{{ _('Caveats / Comments') }}</th>
		<td class="dataset-details"><span data-module="hdx_show_more" style="visibility:hidden">{{ h.render_markdown(pkg_dict.caveats) }}</span></td>
	</tr>

  <tr {% if edit_mode %} data-module="hdx-quick-edit" data-module-anchor="s2id_autogen11" data-module-dataset="{{pkg_dict.id}}"{% endif %}>
		<th scope="row" class="dataset-label">{{ _('Tags') }}</th>
		<td class="dataset-details">
			{% for tag in pkg_dict.tags %}
	    		<div class="tag-wrapper">
	    			{% if tag.vocabulary_id %}
              <a class="label tag" title="{{tag.display_name}}" href="{% url_for 'hdx_dataset.search', vocab_Topics=tag.name %}">{{ tag.display_name }}</a>
            {% else %}
              <a class="label tag" title="{{tag.display_name}}" href="{% url_for 'hdx_dataset.search', tags=tag.name %}">{{ tag.display_name }}</a>
            {% endif %}
	    		</div>
	  		{% endfor %}
		</td>
	</tr>

  {% if pkg_dict.resources %}
    <tr>
      <th scope="row" class="dataset-label">{{ _('File Format') }}</th>
      <td class="dataset-details">
        <ul class="list-items dataset-resources unstyled">
          {% for resource in h.dict_list_reduce(pkg_dict.resources, 'format') %}
            <li>
              <a class="label" data-format="{{ resource.lower() }}"  onclick="$('#link-data-resources-tab').tab('show');">{{ resource }}</a>
            </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  {% endif %}


      {# for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set key, value = extra %}
        <tr rel="dc:relation" resource="_:extra{{ i }}">
          <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
          <td class="dataset-details" property="rdf:value">{{ value }}</td>
        </tr>
      {% endfor #}


{% endblock %}

    </tbody>
  </table>
</section>

{% asset 'hdx_theme/hdx-show-more' %}
