{% set url = request.url %}

{% set panel_title = panel_title or "panel title" %}
{% set title = title or "title" %}
{% set group_topics = group_topics or {} %}
{% set hide_contact_contributor = (hide_contact_contributor or false) or  (pkg.is_requestdata_type and pkg.is_requestdata_type == True) %}
{% set hide_membership = hide_membership or false %}
{#{% set hide_follow = hide_follow or false %}#}
{% set hide_follow = true %}
{# TODO: show follow button if dataset is not part of notifications? #}
{% set icon_font_size = icon_font_size or "24px" %}
{% set is_current_user_a_maintainer = h.hdx_is_current_user_a_maintainer(pkg.maintainer, pkg) if pkg else false %}
{% set follow_confirm_text = "WARNING: You are maintainer of the dataset which you want to follow. Do you wish to continue?" if is_current_user_a_maintainer else None %}

{% if not hide_membership %}
    {% set membership_data = membership.data %}
    {{ h.snippet('widget/membership/group-message.html', id="groupMessagePopup", title=title, groups=group_topics, org_id = org_id, pkg_id = pkg_id, membership_data=membership_data, base_title=base_title, base_type=base_type) }}
    {{ h.snippet('widget/membership/done.html', id="membershipDonePopup") }}
{% endif %}
<span class="{{ classes }}">
    <ul data-module="hdx_click_stopper"
        data-module-link_type="dataset header"
        data-module-just_send_event="false" data-module-selector="#contact-the-contributor">
        {% if supports_notifications %}
          {{ h.snippet('notification_platform/action_menu_button.html') }}
        {% endif %}
        {% if c.user %}
            {% if not hide_follow%}
                <li>
                    <strong class="uppercase">{{ h.hdx_follow_link(base_type, follow_id, "", "link-separator", follow_confirm_text) }}</strong>
                </li>
            {% endif %}
            {% if not hide_contact_contributor %}
                <li>
                    <a href="{{ h.url_for('hdx_dataset.contact_contributor', id=pkg.name or pkg.id) }}" title="{{ _('Contact the contributor lets users send inquiries directly to data contributors. This feature is available on all ' + base_type + ' pages.') }}" data-module="bs_tooltip" data-module-placement="top" data-bs-toggle="tooltip" data-delay='{"show":"700"}' id="contact-the-contributor">
                        <i class="icon-envelope"></i>
                        <span>Contact the contributor</span>
                    </a>
                </li>
            {% endif %}
        {% else %}
            {% if not hide_contact_contributor%}
                {% set onboarding_additional_params = h.dump_json({'dataset_id': pkg.id}) %}
                <li
                  data-module="hdx-onboarding-flow"
                  data-start-page-type="contact-contributor"
                  data-start-page-additional-params="{{ onboarding_additional_params }}">

                    <a href="{{ h.url_for('hdx_signin.login', came_from=h.url_for('hdx_dataset.contact_contributor', id=pkg.name or pkg.id), info_message_type='contact-contributor') }}"
                       title="{{ _('Contact the contributor lets users send inquiries directly to data contributors. This feature is available on all ' + base_type + ' pages.') }}"
                       data-module="bs_tooltip" data-module-placement="top" data-bs-toggle="tooltip" data-delay='{"show":"700"}' id="contact-the-contributor">

                        <i class="icon-envelope"></i>
                      <span>Contact the contributor</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% if not hide_membership and membership.display_group_message %}
            <li class="hide-text">
                <a href="#" onclick="closeCurrentWidget(this);$('#group-message-topics-selector').select2('val', '');spawnRecaptcha('#groupMessagePopup');showOnboardingWidget('#groupMessagePopup');" title="{{ _('Group message lets you communicate with members of your organisation. Use it to discuss, collaborate, and make announcements. ') }}" data-module="bs_tooltip" data-module-placement="top" data-bs-toggle="tooltip" data-delay='{"show":"700"}' id="contact-members">
                    <i class="icon-megahorn"></i>
                  <span>Group message</span>
                </a>
            </li>
        {% endif %}

        {% block user_actions %}
        {% endblock %}

        <li>
            <span>
                {% snippet 'package/snippets/share_button.html', title=title, panel_title=panel_title,
                    plain_body=plain_body, direct=true, disable_pull_left=true, icon_font_size=icon_font_size %}
            </span>
        </li>
    </ul>

</span>
