{#
 Example:

  {% snippet "package/snippets/custom_viz.html", customviz = pkg.customviz %}

#}

<div class="hdx-v2-custom-dataviz">
  {% for viz in customviz %}
    <span data-custom-dataviz-trigger data-custom-dataviz-index="{{ loop.index-1 }}"
          data-custom-dataviz-target="custom-viz-iframe" data-custom-dataviz-url="{{ viz.url }}" hidden></span>
  {% endfor %}
  <div class="hdx-v2-custom-dataviz__toolbar">
    {% snippet 'v2/components/text-button.html',
        style='tertiary', size='s', label=_('Open fullscreen'),
        icon_src='v2/icons/link-external.svg', icon_position='right',
        tag='a', href=customviz[0].url,
        attrs={'data-custom-dataviz-fullscreen': '', 'target': '_blank', 'rel': 'noopener noreferrer'} %}
  </div>
  <iframe class="hdx-v2-custom-dataviz__iframe" id="custom-viz-iframe"
          src="{{ customviz[0].url }}" data-hj-allow-iframe="">
  </iframe>
</div>
