{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% if pkg %}
  <section class="module module-narrow">
    <div class="module context-info">
      <div class="module-content">
        <div class="info-wrapper mTop35">
          <h1 class="info-item-name">{{ pkg.title or pkg.name }}</h1>
          <hr class="mTop35 dotted">
        </div>
        <div class="info-wrapper mTop35">
          <div class="uppercase">{{ _('Followers:') }}</div>
          <div class="followers-count followersNumber">{{ h.SI_number_span(h.get_action('dataset_follower_count', {'id': pkg.id})) }}</div>
        </div>
        {% if not hide_follow_button %}
          <div class="follow_button">
            {{ h.follow_button('dataset', pkg.name) }}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}