{% import 'macros/form.html' as form %}

{% if data.title %}
  {% set new_dataset = False %}
{% else %}
  {% set new_dataset = True %}
{% endif %}
{% if new_dataset %}
  {% set form_field_wrapper_classes = 'col-xs-8 dataset-form-field-wrapper field-with-info' %}
{% else %}
  {% set form_field_wrapper_classes = 'col-xs-10' %}
{% endif %}

{% resource 'hdx_theme/jquery.ui.datepicker.js' %}
{% resource 'hdx_theme/datasets/dataset-form.js' %}
{% resource 'hdx_theme/hdx-datepicker.js' %}
{% resource 'hdx_theme/hdx_autocomplete.js' %}
{% resource 'hdx_theme/hdx_autocomplete.js' %}
{% resource 'hdx_theme/hdx_autocomplete.js' %}

{% block package_metadata_fields %}

  {% block package_basic_fields_tags %}
    <div class="row">
      <div class="{{ form_field_wrapper_classes }}">
        {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '',
          'style':'width: 100% !important;',
          'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
        {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
      </div>
      {% if new_dataset %}
        <div class="col-xs-4 info-field">
          <div class="dataset-form-info-field">
            {% trans %}
            The system will suggest matching tags. Please use existing tags where possible.
            {% endtrans %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endblock %}


  {% block package_metadata_author %}
    {{ form.hidden('author', value=data.author) }}
    {{ form.hidden('author_email', value=data.author_email) }}
  {% endblock %}

  {% block package_metadata_fields_maintainer %}
    {% set maintainer = data.maintainer or userobj.name %}
    {% set maintainer_email = data.maintainer_email or userobj.email %}

    <div class="row">
      <div class="{{ form_field_wrapper_classes }}">
        <div class="control-group control-medium">
          <label class="control-label" for="field-maintainer">Maintainer</label>
          <div class="controls ">
            <input id="field-maintainer" type="text" name="maintainer" value="{{maintainer}}" placeholder="Joe Bloggs" data-module="hdx_autocomplete"
                   data-module-source="/api/2/util/user/autocomplete?q=?">
          </div>
        </div>
      </div>
      {% if new_dataset %}
        <div class="col-xs-4 info-field">
          <div class="dataset-form-info-field">
            {% trans %}
            The maintainer is the user who is responsible for maintaining the sharing of these data on the HDX repository. This user can be changed later.
            {% endtrans %}
          </div>
        </div>
      {% endif %}
    </div>
    {{ form.hidden('maintainer_email', value='') }}
  {% endblock %}

  {% block package_metadata_fields_custom %}
    {# block custom_fields %}
      {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
    {% endblock #}
  {% endblock %}


  {% block dataset_fields %}
    {% block basic_field_date %}
      <div class="row">
        <div class="{{ form_field_wrapper_classes }}">
          <div class="row">
            <div class="col-xs-5">
              <div class="control-group">
                <label class="control-label" for="field-ui_dataset_date">Date of Dataset</label>
                <div class="controls">
                  <input type="text" name='ui_dataset_date' id='field-ui_dataset_date' onkeydown="return false;"
                         data-module='hdx_datepicker' data-module-group='1' data-module-type="single" data-module-topic='date-field-clicked' data-module-alt_field_id='field-dataset_date'
                         data-module-original_value="{{ data.dataset_date }}"
                         label="{{_('Date of Dataset')}}" placeholder="{{_('Date of Dataset')}}"
                         error='{{errors.dataset_date}}' class='control-full' style="width: 100%;"/>
                  <input type="hidden" name='dataset_date' id='field-dataset_date' value='{{data.dataset_date}}' error='{{errors.dataset_date}}' />
                </div>
              </div>
            </div>
            <div class="col-xs-1">
              <div class="control-group">
                <div class="control-label" style="margin-top: 40px; text-align: center;">
                   OR
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="control-group">
                <label class="control-label" for="ui_date_range1">Date Range</label>
                <div class="row controls">
                  <div class="col-xs-6">
                    <input type="text" name='ui_date_range1' id='ui_date_range1' onkeydown="return false;"
                           data-module='hdx_datepicker' data-module-group='2' data-module-type="start-period" data-module-topic='date-field-clicked'
                           data-module-alt_field_id='date_range1' data-module-original_value="{{ data.dataset_date }}"
                           label="{{_('Start Date')}}" placeholder="{{_('Start Date')}}" value='' error='{{errors.dataset_date}}' class='control-full' style="width: 100%;" />
                    <input type="hidden" name='date_range1' id='date_range1' error='{{errors.dataset_date}}' />
                  </div>
                  <div class="col-xs-6">
                    <input type="text" name='ui_date_range2' id='ui_date_range2' onkeydown="return false;"
                           data-module='hdx_datepicker' data-module-group='2' data-module-type="end-period" data-module-topic='date-field-clicked'
                           data-module-alt_field_id='date_range2' data-module-original_value="{{ data.dataset_date }}"
                           label="{{_('End Date')}}" placeholder="{{_('End Date')}}" value='' error='{{errors.dataset_date}}' class='control-full' style="width: 100%;" />
                    <input type="hidden" name='date_range2' id='date_range2' error='{{errors.dataset_date}}' />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if new_dataset %}
          <div class="col-xs-4 info-field">
            <div class="dataset-form-info-field">
              {% trans %}
              What time period does this dataset refer to ?
              {% endtrans %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endblock %}

    {% block basic_field_methodology %}
      <div class="row">
        <div class="{{ form_field_wrapper_classes }}">
          <div class="control-group">
            {% set methodology, methodology_other = h. methodology_bk_compat(data.methodology, data.methodology_other, False) %}
            {% set error = errors.methodology %}
            <label class="control-label" for="field-methodology">{{ _("Methodology") }}</label>
            <div class="controls" id="mx-dataset-methodology">
              <select id="field-dataset_methodology" name="methodology" data-module="autocomplete">
                <option value="Census" {% if methodology == "Census" %}selected="selected"{% endif %}>Census</option>
                <option value="Sample Survey" {% if methodology == "Sample Survey" %}selected="selected"{% endif %}>Sample Survey</option>
                <option value="Direct Observational Data/Anecdotal Data" {% if methodology == "Direct Observational Data/Anecdotal Data" %}selected="selected"{% endif %}>Direct Observational Data/Anecdotal Data</option>
                <option value="Registry" {% if methodology == "Registry" %}selected="selected"{% endif %}>Registry</option>
                <option value="Other" {% if methodology == "Other" %}selected="selected"{% endif %}>Other</option>
              </select>
              {% if error %}<span class="error-block">{{ error }}</span>{% endif %}

            </div>
          </div>
          <div id="methodology-other-define" {% if methodology != 'Other' %}style="display:none;"{% endif %}>
            {{ form.markdown('methodology_other', id='field-method_other', label=_('Define Methodology'), placeholder=_('Describe how this data was collected'), value=methodology_other, error=errors.methodology_other) }}
          </div>
        </div>
        {% if new_dataset %}
          <div class="col-xs-4 info-field">
            <div class="dataset-form-info-field">
              {% trans %}
              How was this data collected? Where did it come from?
              {% endtrans %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endblock %}

    {% block basic_fields_caveats %}
      <div class="row">
        <div class="{{ form_field_wrapper_classes }}">
          {{ form.markdown('caveats', id='field-caveats', label=_('Caveats'), placeholder=_('Caveats'), value=data.caveats, error=errors.caveats) }}
        </div>
        {% if new_dataset %}
          <div class="col-xs-4 info-field">
            <div class="dataset-form-info-field">
              {% trans %}
              Enter any potential caveats or comments (e.g. The dataset is not complete)
              {% endtrans %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endblock %}

    {% if inheritied_form_style != 'edit' %}
      <input name="save" type="hidden" value="go-resource"/>
    {% endif %}

  {% endblock %}
{% endblock %}
