{% import 'macros/form.html' as form %}

{% if data.title %}
  {% set new_dataset = False %}
{% else %}
  {% set new_dataset = True %}
{% endif %}
{% if new_dataset %}
  {% set form_field_wrapper_classes = 'dataset-form-field-wrapper field-with-info' %}
{% endif %}


{% resource 'hdx_theme/jquery.ui.datepicker.js' %}
{% resource 'hdx_theme/dataset_form.js' %}
{% resource 'hdx_theme/hdx-datepicker.js' %}

{% block package_metadata_fields %}

{% block package_basic_fields_tags %}
  <div style="clear:both;">
    <div class="{{ form_field_wrapper_classes }}">
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '',
    'style':'width: 100% !important;',
    'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
    {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
    </div>
    {% if new_dataset %}
      <div class="dataset-form-info-field info-field">
        {% trans %}
        The system will suggest matching tags. Please use existing tags where possible.
        {% endtrans %}
      </div>
    {% endif %}
  </div>
  {% endblock %}


{% block package_metadata_author %}
<br style="clear:both;">
{{ form.hidden('author', value=data.author) }}
{{ form.hidden('author_email', value=data.author_email) }}
{% endblock %}

{% block package_metadata_fields_maintainer %}
{% set maintainer = data.maintainer or userobj.name %}
{% set maintainer_email = data.maintainer_email or userobj.email %}

<div style="clear:both;">
    <div class="{{ form_field_wrapper_classes }}">
      {% resource 'hdx_theme/hdx_autocomplete.js' %}
      <div class="control-group control-medium">
          <label class="control-label" for="field-maintainer">Maintainer</label>
    <div class="controls ">
      
           <input id="field-maintainer" type="text" name="maintainer" value="{{maintainer}}" placeholder="Joe Bloggs" data-module="hdx_autocomplete"
            data-module-source="/api/2/util/user/autocomplete?q=?">
    </div>
  </div>
        </div>
    {% if new_dataset %}
      <div class="dataset-form-info-field info-field">
        {% trans %}
        The maintainer is the user who is responsible for maintaining the sharing of these data on the HDX repository. This user can be changed later.
        {% endtrans %}
      </div>
    {% endif %}
  </div>

<div style="clear:both;">
    <div class="{{ form_field_wrapper_classes }}">
      
{{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
    </div>
    {% if new_dataset %}
      <div class="dataset-form-info-field info-field">
        {% trans %}
        This field will be publicly visible if the dataset's visibility is set to "public". It is not a required field.
        {% endtrans %}
      </div>
    {% endif %}
  </div>


{% endblock %}

{% block package_metadata_fields_custom %}
{# block custom_fields %}
  {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
{% endblock #}
{% endblock %}


  {% block dataset_fields %}
{% block basic_field_date %}
  <div class="" style="clear:both;">
      <div class="control-group" style="float: left; width: 290px;">
        <label class="control-label" for="field-ui_dataset_date">Date of Dataset</label>
        <div class="controls">
          <input type="text" name='ui_dataset_date' id='field-ui_dataset_date' onkeydown="return false;"
            data-module='hdx_datepicker' data-module-group='1' data-module-topic='date-field-clicked' data-module-alt_field_id='field-dataset_date'
            label="{{_('Date of Dataset')}}" placeholder="{{_('Date of Dataset')}}"
            error='{{errors.dataset_date}}' class='control-full' style="width: 270px;"/>
          <input type="hidden" name='dataset_date' id='field-dataset_date' value='{{data.dataset_date}}' error='{{errors.dataset_date}}' />
        </div>
      </div>
      <div class="control-group"  style="float: left; width: 30px; margin-left: 30px; margin-right: 30px; margin-top: 40px; text-align: center;">
        <div class="control-label"> OR </div>
      </div>
      <div class="control-group field-with-info" style="float: left; width: 290px;">
        <label class="control-label" for="ui_date_range1">Date Range</label>
        <div class="controls">
          <input type="text" name='ui_date_range1' id='ui_date_range1' onkeydown="return false;"
            data-module='hdx_datepicker' data-module-group='2' data-module-type="start-period" data-module-topic='date-field-clicked'
            data-module-alt_field_id='date_range1'
            label="{{_('Start Date')}}" placeholder="{{_('Start Date')}}" value='' error='{{errors.dataset_date}}' class='control-full' style="width:120px;float:left; margin-right:12px;"/>
          <input type="text" name='ui_date_range2' id='ui_date_range2' onkeydown="return false;"
          data-module='hdx_datepicker' data-module-group='2' data-module-type="end-period" data-module-topic='date-field-clicked'
          data-module-alt_field_id='date_range2'
            label="{{_('End Date')}}" placeholder="{{_('End Date')}}" value='' error='{{errors.dataset_date}}' class='control-full' style="width:120px; float:left;"/>
          <input type="hidden" name='date_range1' id='date_range1' error='{{errors.dataset_date}}' />
          <input type="hidden" name='date_range2' id='date_range2' error='{{errors.dataset_date}}' />
        </div>
      </div>
      {% if new_dataset %}
          <div class="dataset-form-info-field info-field">
          {% trans %}
          What time period does this dataset refer to ?
          {% endtrans %}
          </div>
      {% endif %}
  </div>
  {% endblock %}



  <br style="clear:both;">
    {#
    {% if data.groups %}
      <div class="control-group">
        <label class="control-label">{{ _('Groups') }}</label>
        <div class="controls">
          {% for group in data.groups %}
            <label class="checkbox" for="field-group-{{ loop.index0 }}">
              <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{ loop.index0 }}__id" value="{{ group.id }}" checked="checked" />
              {{ group.title }}
            </label>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if not new_dataset %}
      {% set group_name = 'groups__%s__id' % data.groups|length %}
      {% set group_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/group/autocomplete?q=?', 'data-module-key': 'id', 'data-module-label': 'title'} %}
      {{ form.input(group_name, label=_('Add Group'), id="field-group", value=data[group_name], classes=['control-medium'], attrs=group_attrs) }}
    {% endif %}
    #}
{% block basic_field_methodology %}
<div>
  <div class="{{ form_field_wrapper_classes }}">
    <div class="control-group">
      {% set methodology, methodology_other = h. methodology_bk_compat(data.methodology, data.methodology_other, False) %}
      {% set error = errors.methodology %}
      <label class="control-label" for="field-methodology">{{ _("Methodology") }}</label>
      <div class="controls" id="mx-dataset-methodology">
        <select id="field-dataset_methodology" name="methodology" data-module="autocomplete">
          <option value="Census" {% if methodology == "Census" %}selected="selected"{% endif %}>Census</option>
          <option value="Sample Survey" {% if methodology == "Sample Survey" %}selected="selected"{% endif %}>Sample Survey</option>
          <option value="Direct Observational Data/Anecdotal Data" {% if methodology == "Direct Observational Data/Anecdotal Data" %}selected="selected"{% endif %}>Direct Observational Data/Anecdotal Data</option>
          <option value="Registry" {% if methodology == "Registry" %}selected="selected"{% endif %}>Registry</option>
          <option value="Other" {% if methodology == "Other" %}selected="selected"{% endif %}>Other</option>
        </select>
        {% if error %}<span class="error-block">{{ error }}</span>{% endif %}

      </div>
    </div>
    <div id="methodology-other-define" {% if methodology != 'Other' %}style="display:none;"{% endif %}>
      {{ form.markdown('methodology_other', id='field-method_other', label=_('Define Methodology'), placeholder=_('Describe how this data was collected'), value=methodology_other, error=errors.methodology_other) }}
    </div>
  </div>
  {% if new_dataset %}
    <div class="dataset-form-info-field info-field">
      {% trans %}
      How was this data collected? Where did it come from?
      {% endtrans %}
    </div>
  {% endif %}
</div>

          <script>
          //   var meth = "{{ py_meth }}";

          //   if(meth.length>0 && meth.match("Other") ){
          //     var other = meth.split(" - ");
          //     document.getElementById('method_other').value = other[1];
          //     meth = other[0];
          //   }

          //   var elements = document.getElementsByName("methodology");
          //   var checkedFlag = false;
          //   for(var e in elements){
          //     if(meth == elements[e].value){
          //       elements[e].checked = true;
          //       checkedFlag = true;
          //     }
          //   }
          //   //in any other case with "Other -" or not it will select the other option
          //   if(meth.length>0 && !checkedFlag){
          //     document.getElementById('meth_other_radio').checked = true;
          //     document.getElementById('method_other').value = meth;
          // }

            var date = "{{data.dataset_date}}";
            if(date.match("-")){
              var range = date.split("-");
              //Clear single date field
              document.getElementById('field-dataset_date').value = '';

              //Set range
              document.getElementById('date_range1').value = range[0];
              document.getElementById('date_range2').value = range[1];
            }

          </script>

  <br style="clear:both;">
  {% endblock %}


  
  {% block basic_fields_caveats %}
    <div style="clear:both;">
      <div class="{{ form_field_wrapper_classes }}">
      {{ form.markdown('caveats', id='field-caveats', label=_('Caveats'), placeholder=_('Caveats'), value=data.caveats, error=errors.caveats) }}
      </div>
      {% if new_dataset %}
        <div class="dataset-form-info-field dataset-form-info-field-height info-field">
        {% trans %}
        Enter any potential caveats or comments (e.g. The dataset is not complete)
        {% endtrans %}
        </div>
    {% endif %}
    </div>
   {% endblock %}
    
    {# Replacing ajax-autocomplete with dropdown
    {% set group_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/group/autocomplete?q=?', 'data-module-key': 'id', 'data-module-label': 'title'} %}
    {{ form.input(group_name, label=_('Add Group'), id="field-group", value=data[group_name], classes=['control-medium'], error=errors.groups_list, attrs=group_attrs) }}
    #}
    
  {% if inheritied_form_style != 'edit' %}
    <input name="save" type="hidden" value="go-resource"/>
  {% endif %}

{% endblock %}
{% endblock %}
