{% import 'macros/form.html' as form %}

{% if data.title %}
  {% set new_dataset = False %}
{% else %}
  {% set new_dataset = True %}
{% endif %}
{% if new_dataset %}
  {% set form_field_wrapper_classes = 'dataset-form-field-wrapper field-with-info' %}
{% endif %}


{% resource 'hdx_theme/jquery.ui.datepicker.js' %}
{% resource 'hdx_theme/dataset_form.js' %}
{% resource 'hdx_theme/hdx-datepicker.js' %}

{% block package_metadata_fields %}

{% block package_metadata_author %}
<br style="clear:both;">
{{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium']) }}
{{ form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}
{% endblock %}

{% block package_metadata_fields_maintainer %}
<br style="clear:both;">
{{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

{{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
{% endblock %}

{% block package_metadata_fields_custom %}
{# block custom_fields %}
  {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
{% endblock #}
{% endblock %}


  {% block dataset_fields %}
{% block basic_field_date %}
  <div class="" style="clear:both;">
      <div class="control-group" style="float: left; width: 290px;">
        <label class="control-label" for="field-ui_dataset_date">Date of Dataset</label>
        <div class="controls">
          <input type="text" name='ui_dataset_date' id='field-ui_dataset_date' onkeydown="return false;"
            data-module='hdx_datepicker' data-module-group='1' data-module-topic='date-field-clicked' data-module-alt_field_id='field-dataset_date'
            label="{{_('Date of Dataset')}}" placeholder="{{_('Date of Dataset')}}"
            error='{{errors.dataset_date}}' class='control-full' style="width: 270px;"/>
          <input type="hidden" name='dataset_date' id='field-dataset_date' value='{{data.dataset_date}}' error='{{errors.dataset_date}}' />
        </div>
      </div>
      <div class="control-group"  style="float: left; width: 30px; margin-left: 30px; margin-right: 30px; margin-top: 40px; text-align: center;">
        <div class="control-label"> OR </div>
      </div>
      <div class="control-group field-with-info" style="float: left; width: 290px;">
        <label class="control-label" for="ui_date_range1">Date Range</label>
        <div class="controls">
          <input type="text" name='ui_date_range1' id='ui_date_range1' onkeydown="return false;"
            data-module='hdx_datepicker' data-module-group='2' data-module-type="start-period" data-module-topic='date-field-clicked'
            data-module-alt_field_id='date_range1'
            label="{{_('Start Date')}}" placeholder="{{_('Start Date')}}" value='' error='{{errors.dataset_date}}' class='control-full' style="width:120px;float:left; margin-right:12px;"/>
          <input type="text" name='ui_date_range2' id='ui_date_range2' onkeydown="return false;"
          data-module='hdx_datepicker' data-module-group='2' data-module-type="end-period" data-module-topic='date-field-clicked'
          data-module-alt_field_id='date_range2'
            label="{{_('End Date')}}" placeholder="{{_('End Date')}}" value='' error='{{errors.dataset_date}}' class='control-full' style="width:120px; float:left;"/>
          <input type="hidden" name='date_range1' id='date_range1' error='{{errors.dataset_date}}' />
          <input type="hidden" name='date_range2' id='date_range2' error='{{errors.dataset_date}}' />
        </div>
      </div>
      {% if new_dataset %}
          <div class="dataset-form-info-field info-field">
          {% trans %}
          What time period does this dataset refer to ?
          {% endtrans %}
          </div>
      {% endif %}
  </div>
  {% endblock %}



  <br style="clear:both;">
    {#
    {% if data.groups %}
      <div class="control-group">
        <label class="control-label">{{ _('Groups') }}</label>
        <div class="controls">
          {% for group in data.groups %}
            <label class="checkbox" for="field-group-{{ loop.index0 }}">
              <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{ loop.index0 }}__id" value="{{ group.id }}" checked="checked" />
              {{ group.title }}
            </label>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if not new_dataset %}
      {% set group_name = 'groups__%s__id' % data.groups|length %}
      {% set group_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/group/autocomplete?q=?', 'data-module-key': 'id', 'data-module-label': 'title'} %}
      {{ form.input(group_name, label=_('Add Group'), id="field-group", value=data[group_name], classes=['control-medium'], attrs=group_attrs) }}
    {% endif %}
    #}
{% block basic_field_methodology %}
  <div>
    <div class="dataset-form-field-wrapper">
      <div class="control-group" style="margin-bottom:10px;">
        <div id="field-dataset_methodology">
          <label class="control-label" for="methodology">Methodology</label>
          <div class="controls ">
            <input type="radio" name="methodology" value="Census"> Census</input>
          </div>
          <div class="controls ">
            <input type="radio" name="methodology" value="Sample Survey"> Sample Survey</input>
          </div>
          <div class="controls ">
            <input type="radio" name="methodology" value="Direct Observational Data/Anecdotal Data"> Direct Observational Data/Anecdotal Data</input>
          </div>
          <div class="controls ">
            <input type="radio" name="methodology" value="Registry"> Registry</div>
          <div class="controls ">
            <input type="radio" name="methodology" id="meth_other_radio" value="Other"> Other</input>
          </div>
          <!-- fix for #110 and keep them removed after fixes 844  
        </div>
  </div></div>
  -->


        <div class="dataset-form-field-wrapper field-with-info">
            <div class="control-group">
                <div class="controls editor control-full">
                    <textarea id="method_other" name="method_other" cols="20" rows="5" placeholder="Describe some other methodology..."></textarea>
                    <span class="editor-info-block">You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown formatting</a> here</span>
                </div>
            </div>
        </div>
{% if new_dataset %}
        <div class="dataset-form-info-field info-field">
        {% trans %}
        How was this data gathered ?
        {% endtrans %}
        </div>
    {% endif %}


          {% set py_meth='' %}
          {% if data.methodology %}
           {% set py_meth = h.markdown_extract_strip(data.methodology) %}
          {% endif %}
          <script>
            var meth = "{{ py_meth }}";

            if(meth.length>0 && meth.match("Other") ){
              var other = meth.split(" - ");
              document.getElementById('method_other').value = other[1];
              meth = other[0];
            }

            var elements = document.getElementsByName("methodology");
            var checkedFlag = false;
            for(var e in elements){
              if(meth == elements[e].value){
                elements[e].checked = true;
                checkedFlag = true;
              }
            }
            //in any other case with "Other -" or not it will select the other option
            if(meth.length>0 && !checkedFlag){
              document.getElementById('meth_other_radio').checked = true;
              document.getElementById('method_other').value = meth;
          }

            var date = "{{data.dataset_date}}";
            if(date.match("-")){
              var range = date.split("-");
              //Clear single date field
              document.getElementById('field-dataset_date').value = '';

              //Set range
              document.getElementById('date_range1').value = range[0];
              document.getElementById('date_range2').value = range[1];
            }

          </script>
        </div>
      </div>
  </div>
  <br style="clear:both;">
  {% endblock %}

{% block package_basic_fields_tags %}
  <div style="clear:both;">
    <div class="{{ form_field_wrapper_classes }}">
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '',
    'style':'width: 100% !important;',
    'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
    {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
    </div>
    {% if new_dataset %}
      <div class="dataset-form-info-field info-field">
        {% trans %}
        The system will suggest matching tags. Please use existing tags where possible.
        {% endtrans %}
      </div>
    {% endif %}
  </div>
  {% endblock %}

  
  {% block basic_fields_caveats %}
    <div style="clear:both;">
      <div class="{{ form_field_wrapper_classes }}">
      {{ form.markdown('caveats', id='field-caveats', label=_('Caveats'), placeholder=_('Caveats'), value=data.caveats, error=errors.caveats) }}
      </div>
      {% if new_dataset %}
        <div class="dataset-form-info-field dataset-form-info-field-height info-field">
        {% trans %}
        Enter any potential caveats or comments (e.g. The dataset is not complete)
        {% endtrans %}
        </div>
    {% endif %}
    </div>
    <span class="clear" />
  {% endblock %}
    
    {# Replacing ajax-autocomplete with dropdown
    {% set group_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/group/autocomplete?q=?', 'data-module-key': 'id', 'data-module-label': 'title'} %}
    {{ form.input(group_name, label=_('Add Group'), id="field-group", value=data[group_name], classes=['control-medium'], error=errors.groups_list, attrs=group_attrs) }}
    #}
    
  {% if inheritied_form_style != 'edit' %}
    <input name="save" type="hidden" value="go-resource"/>
  {% endif %}

{% endblock %}
{% endblock %}
