{% block related_list %}
    {% if showcases %}
        {% snippet "showcase/snippets/showcase_list.html", packages=showcases, pkg_id=pkg.name, dataset=True %}

    {% else %}
        <p class="empty">{{ _('There are no showcases for this')}} {% if pkg.indicator == 1%}indicator{% else %}dataset{% endif %}.</p>
    {% endif %}

    {% if h.check_access('ckanext_showcase_create') %}
      <br/>
      <div class="more">
        <div class="mTop15">
          {% link_for _('Add Showcase'), named_route='showcase_blueprint.new', class_="btn btn-primary" %}
        </div>
      </div>
    {% endif %}
{% endblock %}
