{#{% set url_action = 'resource_read' %}#}
{% set url = h.url_for('dataset_resource.read', id=pkg.name, resource_id=res.id) %}
{% set is_downloadable = h.is_downloadable(res) %}
{% set is_not_zipped = h.is_not_zipped(res) %}
{% set resource_display_name = h.resource_display_name(res) %}

{% set in_review = res.in_quarantine %}

{% asset 'hdx_theme/resource-list-scripts' %}

{% if pkg.x_show_grouping %}
  {% set resource_grouping =  h.hdx_munge_title(res.x_grouping) %}

{% endif %}

<li class="resource-item {% block in_review %}{% if in_review %}in-review{% endif %}{% endblock %}" data-grouping-id="{{ resource_grouping }}" style="display: {{ 'none' if pkg.x_show_grouping else '' }}">
  {% block resource_item_title %}
    <a class="heading" title="{{ res.name or res.description }}">
      <span class="resource-name">
        {{ h.resource_display_name(res)}}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
      </span>
      {% if res.Size %}
        <span class="format-filesize-label">({{ h.filesize_format(res.Size) }})</span>
      {% endif %}
      {# {% if res.tracking_summary %}
        {{ h.hdx_popular('downloads', res.tracking_summary.total, min=10) }}
      {% endif %}  #}
    </a>
  {% endblock %}
  <div class="update-date">
    {% block broken_link_label %}{% endblock %}
    {% block in_quarantine_label %}{% endblock %}
    {{ _('Modified') }}:
    {{ h.hdx_render_resource_updated_date(res, pkg) }}
  </div>
  <div class="resource-id-label">
    {{ _('Resource ID') }}: {{ res.id }} <i class="fa-solid fa-copy copy-icon ms-1" data-module="copy-into-buffer" data-module-copy-value="{{ res.id }}"></i>
  </div>
  {% if h.are_new_p_code_filters_enabled() and res.p_coded == True %}
    <div class="pcode-label">
      {{ _('P-coded') }}
    </div>
  {% endif %}
  <div class="description">
    {% if res.description %}
      <div data-module="hdx_show_more_lines" data-module-lines="2" style="max-height: 40px; overflow: hidden;">{{ h.render_markdown(res.description) }}</div>
    {% else %}
      <span class="empty">{{ _('No description for this resource') }}</span>
    {% endif %}
  </div>

	{% block resource_item_edit %}

  {% endblock %}

  {% block resource_item_explore %}
    {# Adding classes ga-download, ga-preview, and ga-share for easy Google Analytics tracking. PLEASE DO NOT REMOVE #}
    <div class="hdx-btn-group hdx-btn-group-fixed text-end">
        {% block resource_item_explore_links %}

            {# Commented out with the new contribute flow
                {%  if can_edit %}
                    <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}" class="btn btn-secondary hdx-btn ga-edit resource-btn">
                        {{ _('Update') }}
                    </a>
                {% endif %}
             #}
            {% if not in_review and h.check_access('hdx_resource_download', res) %}
              {% if res.datastore_active %}
                {% snippet 'package/snippets/data_api_button.html', resource=res %}
              {% endif %}

              {% set btn_dict = {'title':'This will take you outside HDX to access the data', 'value':'Access Data', 'type':'external'} if h.hdx_get_ckan_config('ckan.resource_formats.external_system')==res.format else {'title':'Download', 'value':'Download', 'type':'download'} %}
              <a href="{{ res.hdx_rel_url }}"
                 class="btn btn-empty btn-empty-blue hdx-btn resource-url-analytics ga-download resource-download-button"
                 title="{{ btn_dict.title }}"
                 target="_blank"
                 data-resource-id="{{ res.id }}"
                 data-dataset-id="{{ pkg.id }}"
                 data-dataset-name="{{ pkg.name }}"
                 data-dataset-supports-notifications="{{ supports_notifications | lower }}"
                 data-user-survey-url="{{ pkg.user_survey_url }}"
                 data-is-authenticated="{{ current_user.is_authenticated }}"
                 tracking-type="{{res.url_type}}"
              >
                  {{ btn_dict.value }}
                  <span class="ga-download-resource-title" style="display: none">{{ res.name }}</span>
                  <span class="ga-download-resource-id" style="display: none">{{ res.id }}</span>
              </a>

            {% if btn_dict.type == 'download' %}
                {% set metadata_url = h.url_for('hdx_dataset.resource_metadata', id=pkg.id, resource_id=res.id) %}

                <a href="#" class="btn btn-empty btn-empty-blue hdx-btn" data-bs-toggle="dropdown">
                  <i class="fa-solid fa-ellipsis"></i>
                </a>

                <ul class="dropdown-menu crises-menu" role="menu" style="right: 0;">
                {% if res.has_views and is_not_zipped %}
                  <li class="crises-group">
                    <ul>
                      <li>
                        <a href="{{ url }}" class="ga-preview">
                          {{ _('Preview on HDX') }}
                        </a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
                  <li class="crises-group">
                    Export Metadata
                    <ul>
                      <li>
                        <a href="{{ metadata_url }}?format=json">{{ _('JSON') }}</a>
                      </li>
                      <li>
                        <a href="{{ metadata_url }}?format=csv">{{ _('CSV') }}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
            {% endif %}
          {% endif %}

            {% if in_review %}
              <a href="/faq#auto-faq-Metadata_and_Data_Quality-What_does_it_mean_for_a_dataset_to_be__under_review__-a"
                 class="btn btn-empty btn-empty-blue under-review hdx-btn">
                  {{ _('Under Review') }}
              </a>
            {% endif %}

            {% set button_id = 'social-btn-' + res.id %}
            {% set social_div_id = 'social-' + res.id %}
            {% set social_wrapper_div_id = 'social-wrapper-' + res.id %}


            {#
            {% snippet 'package/snippets/share_button.html', title=resource_display_name, dataset_social_wrapper=social_wrapper_div_id, dataset_social=social_div_id,
              target_url=res.url,
              icon=true,
              class="btn btn-secondary hdx-btn resource-url-analytics ga-share resource-btn resource-icon-btn", button_id=button_id %}
            #}

        {% endblock %}
    </div>

  {% endblock %}
</li>
