{#{% set url_action = 'resource_read' %}#}
{% set url = h.url_for('dataset_resource.read', id=pkg.name, resource_id=res.id) %}
{% set is_downloadable = h.is_downloadable(res) %}
{% set is_not_zipped = h.is_not_zipped(res) %}
{% set resource_display_name = h.resource_display_name(res) %}

{% set in_review = res.in_quarantine %}

{#{% asset 'hdx_theme/hdx-show-more' %}#}
{% asset 'hdx_theme/resource-list-scripts' %}

{% if pkg.x_show_grouping %}
  {% set resource_grouping =  h.hdx_munge_title(res.x_grouping) %}

{% endif %}

<li class="resource-item {% block in_review %}{% if in_review %}in-review{% endif %}{% endblock %}" data-grouping-id="{{ resource_grouping }}" style="display: {{ 'none' if pkg.x_show_grouping else '' }}">
  {% block resource_item_title %}
    <a class="heading" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
    {% if res.Size %}
    <span class="format-filesize-label">({{ h.filesize_format(res.Size) }})</span>
    {% endif %}
    {# {% if res.tracking_summary %}
      {{ h.hdx_popular('downloads', res.tracking_summary.total, min=10) }}
    {% endif %}  #}
  </a>
  {% endblock %}
  <div class="update-date">
    {% block broken_link_label %}{% endblock %}
    {% block in_quarantine_label %}{% endblock %}
    {{ _('Updated') }}:
    {{ h.hdx_render_resource_updated_date(res, pkg) }}
  </div>
  <div class="description">
    {% if res.description %}
      <span data-module="hdx_show_more" style="visibility:hidden" data-module-points="100"><div>{{ h.render_markdown(res.description) }}</div></span>
    {% else %}
      <span class="empty">{{ _('No description for this resource') }}</span>
    {% endif %}
  </div>

	{% block resource_item_edit %}

  {% endblock %}

  {% block resource_item_explore %}
    {# Adding classes ga-download, ga-preview, and ga-share for easy Google Analytics tracking. PLEASE DO NOT REMOVE #}
    <div class="hdx-btn-group hdx-btn-group-fixed">
        {% block resource_item_explore_links %}

            {# Commented out with the new contribute flow
                {%  if can_edit %}
                    <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}" class="btn btn-secondary hdx-btn ga-edit resource-btn">
                        {{ _('Update') }}
                    </a>
                {% endif %}
             #}
            {% if not in_review and h.check_access('hdx_resource_download', res) %}
              {% set btn_dict = {'title':'This will take you outside HDX to access the data', 'value':'Access Data', 'type':'external'} if h.hdx_get_ckan_config('ckan.resource_formats.external_system')==res.format else {'title':'Download', 'value':'Download', 'type':'download'} %}
              <a href="{{ res.hdx_rel_url }}"
                 class="btn btn-empty btn-empty-blue hdx-btn resource-url-analytics ga-download"
                 title="{{ btn_dict.title }}"
                 tracking-type="{{res.url_type}}"
                 onclick="showDataUseSurveyPopup('{{ res.id }}', '{{ pkg.user_survey_url }}');return true;"
              >
                  {% if btn_dict.type == 'download' %}
                    <img src="/images/homepage/download.svg" alt="{{ btn_dict.title }}" />
                    {% else %}
                    <i class="icon humanitarianicons-Out-of-platform"></i>
                  {% endif %}
                  {{ btn_dict.value }}
                  <span class="ga-download-resource-title" style="display: none">{{ res.name }}</span>
                  <span class="ga-download-resource-id" style="display: none">{{ res.id }}</span>
              </a>

            {% if btn_dict.type == 'download' %}
              {% if (res.has_views and is_not_zipped) or (h.hdx_dataset_is_hxl(pkg.tags) and is_not_zipped and not h.is_not_hxl_format(res.format)) or res.apihighways_id %}
                <a href="#" class="dropdown-toggle btn btn-empty btn-empty-blue hdx-btn" data-toggle="dropdown">
                  {{ _('More') }}
                </a>

                  <ul class="dropdown-menu crises-menu" role="menu" style="right: 0;">
                  {% if (res.has_views and is_not_zipped) or (h.hdx_dataset_is_hxl(pkg.tags) and is_not_zipped and not h.is_not_hxl_format(res.format)) %}
                    <li class="crises-group">
                      On HDX and HDX Tools
                      <ul>
                        {% if res.has_views and is_not_zipped %}

                          <li>
                            <a href="{{ url }}" class="ga-preview">
                              {{ _('Preview on HDX') }}
                            </a>
                          </li>
                        {% endif %}
                        {% if h.hdx_dataset_is_hxl(pkg.tags)  and is_not_zipped and not h.is_not_hxl_format(res.format) %}
                          <li>
                            <a href="#" class="ga-preview" onclick="showDataCheck('{{ res.hdx_rel_url }}');">
                              {{ _('Validate with Data Check') }}
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    </li>
                  {% endif %}
                  {% if res.apihighways_id %}
                    <li class="crises-group">
                      On Our Partner Sites
                      <ul>
    {#                    {% if res.apihighways_id %}#}
                          <li>
                            <a href="{{ res.apihighways_url }}" target="_blank" data-module="hdx_click_stopper" data-module-link_type="external - api highways">
                              {{ _('Query on API Highways') }}
                            </a>
                          </li>
    {#                    {% endif %}#}
                      </ul>
                    </li>
                  {% endif %}
                  </ul>

              {% endif %}
            {% endif %}
          {% endif %}

            {% if in_review %}
              <a href="/faq#auto-faq-Metadata_and_Data_Quality-What_does_it_mean_for_a_dataset_to_be__under_review__-a"
                 class="btn btn-empty btn-empty-blue under-review hdx-btn">
                  {{ _('Under Review') }}
              </a>
            {% endif %}

            {% set button_id = 'social-btn-' + res.id %}
            {% set social_div_id = 'social-' + res.id %}
            {% set social_wrapper_div_id = 'social-wrapper-' + res.id %}


            {#
            {% snippet 'package/snippets/share_button.html', title=resource_display_name, dataset_social_wrapper=social_wrapper_div_id, dataset_social=social_div_id,
              target_url=res.url,
              icon=true,
              class="btn btn-secondary hdx-btn resource-url-analytics ga-share resource-btn resource-icon-btn", button_id=button_id %}
            #}

        {% endblock %}
    </div>

  {% endblock %}
</li>
