.mobile-facets {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 1000;
  background-color: #fff;
  padding: 15px;
}
.mobile-facets .mobile-order-by {
  margin-top: 20px;
  float: none;
}
.mobile-facets .text-search {
  line-height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  padding: 7px 6px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  width: 100%;
}
.mobile-facets .actions {
  margin-bottom: 15px;
}
.mobile-facets .actions .back-button {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.mobile-facets .actions .back-button i {
  font-size: 17px;
  font-weight: 700;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
@media (max-width: 1024px) {
  [role=main],
  .main {
    background-color: #eeeeee;
  }
  #organizationsSection .list-header {
    margin-top: 0;
  }
  #organizationsSection ul.dataset-list {
    padding: 0;
  }
  #organizationsSection ul.dataset-list .dataset-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  #organizationsSection ul.dataset-list .dataset-item .dataset-content .mL15 {
    margin-left: 0;
  }
  #organizationsSection ul.dataset-list .dataset-item .dataset-content .organization-heading {
    margin-top: 0;
  }
  #organizationsSection ul.dataset-list .dataset-item .dataset-content .organization-heading ~ .list-items {
    margin-top: 10px;
  }
  #organizationsSection ul.dataset-list .dataset-item .dataset-content .dataset-description {
    margin-top: 15px;
  }
  #organizationsSection .mobile-facets .control-group {
    float: none;
    margin-top: 15px;
  }
  #organizationsSection .mobile-facets .list-header-showall {
    margin-top: 10px;
  }
}
.organization-heading {
  text-decoration: none;
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: -5px;
  font-weight: bold;
}
.dataset-item {
  margin: 0;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
}
.featured-org {
  border: 1px solid #eeeeee;
}
.featured-org .feature-header {
  position: relative;
}
.featured-org .feature-header a:hover .org-thumbnail img {
  opacity: 1;
}
.featured-org .feature-header a:hover .feature-highlight {
  background-color: #f2645a;
}
.featured-org .feature-header a .org-thumbnail {
  overflow: hidden;
  height: 200px;
  width: 100%;
}
.featured-org .feature-header a .org-thumbnail img {
  height: 220px;
  opacity: 0.9;
}
.featured-org .feature-header a .feature-highlight {
  width: 100%;
  padding: 7px 15px;
  background-color: rgba(242, 100, 90, 0.9);
  position: absolute;
  top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.01em;
  color: #fff;
}
.featured-org .feature-header a .feature-highlight a {
  color: #fff;
}
.featured-org .feature-header .logo-box {
  position: absolute;
  top: 145px;
  right: 20px;
  max-height: 75px;
}
.featured-org .feature-header .logo-box .table-valign {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.featured-org .feature-header .logo-box .table-valign img {
  max-height: 60px;
  max-width: 60px;
}
.featured-org .feature-content {
  padding: 20px;
}
.featured-org .feature-content .list-items {
  margin-top: 3px;
}
.featured-org .feature-content .organization-heading a {
  color: #000;
}
.featured-org .feature-content .last-update {
  color: #333333;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 12px;
}
.featured-org .feature-content .dataset-description {
  min-height: 40px;
}
