.alert-danger,
.alert-error {
  color: #f2645a;
  border-color: #f2645a;
  background-color: #fde9e8;
}
.alert-danger .btn-close,
.alert-error .btn-close {
  float: right;
}
.alert-danger .btn-close:focus,
.alert-error .btn-close:focus {
  box-shadow: none;
}
