.ckan-icon {
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("/base/images/sprite-ckan-icons.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
}
/* Style dataset labels */
.dataset-resources {
  margin-top: 8px;
  padding: 0;
}
.dataset-resources li {
  display: inline;
}
.dataset-resources li ~ li {
  margin-left: 3px;
}
.dataset-resources [class^="icon-"],
.dataset-resources [class*=" icon-"] {
  display: inline-block;
  font-size: 16px;
}
.dataset-resources [class^="icon-"]:before,
.dataset-resources [class*=" icon-"]:before {
  color: #888888;
}
/* Style dataset icons */
.label-icons span {
  font-size: 15px;
  color: #888888;
  margin-left: 10px;
  padding-top: 3px;
}
.label-icons span.download-counts {
  font-size: 12px;
  white-space: nowrap;
}
span.icn-txt-cods,
ul.dataset-resources li.label-icons span.icn-txt-cods {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 10px;
  background-color: #888888;
  color: #fff;
  padding: 4px;
  border-radius: 10px;
  line-height: 1;
  display: inline-block;
}
span.icn-txt-cods:hover,
ul.dataset-resources li.label-icons span.icn-txt-cods:hover {
  background-color: #007CE0;
}
.dataset-content .icn-txt-cods {
  margin-right: 5px;
  display: inline-block;
}
ul.dataset-resources {
  display: flex;
}
ul.dataset-resources li.label-icons {
  display: flex;
  align-items: center;
}
ul.dataset-resources li.label-icons a {
  line-height: 1;
}
ul.dataset-resources li.label-icons a[class*="humanitarianicons-"] {
  margin-left: 10px;
}
ul.dataset-resources li.label-icons span {
  padding: 0;
}
ul.dataset-resources li + li.label-icons {
  border-left: 1px solid #888888;
  margin-left: 10px;
  white-space: nowrap;
}
/* END Style dataset icons */
/* Label style (eg. tags) */
.label {
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #FFFFFF;
  background-color: #aaaaaa;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 4px;
  padding: 3px 10px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  min-width: 0;
  vertical-align: middle;
}
.label.label-small {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 9px;
  letter-spacing: 0.01em;
  line-height: 16px;
  margin-right: 0;
  padding: 0 5px;
  margin-bottom: 3px;
}
.label.label-small.label-new-feature {
  background-color: #F2645A;
}
/* Pill styling - seem to be the similar to labels, but gray and with a button*/
.pill {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #888888;
  border-radius: 0;
}
.pill .icon-remove,
.pill .humanitarianicons-Exit-Cancel {
  cursor: pointer;
  margin-left: 20px;
}
/* END Pill styling */
/* END Label style */
.label[data-format=html],
.label[data-format*=html] {
  background-color: #55a1ce;
}
.label[data-format=json],
.label[data-format*=json] {
  background-color: #ef7100;
}
.label[data-format=xml],
.label[data-format*=xml] {
  background-color: #ef7100;
}
.label[data-format=text],
.label[data-format*=text] {
  background-color: #74cbec;
}
.label[data-format=csv],
.label[data-format*=csv],
.label[data-format=xls],
.label[data-format*=xls] {
  background-color: #2db55d;
}
.label[data-format=zip],
.label[data-format*=zip] {
  background-color: #686868;
}
.label[data-format=api],
.label[data-format*=api] {
  background-color: #ec96be;
}
.label[data-format=pdf],
.label[data-format*=pdf] {
  background-color: #e0051e;
}
.label[data-format=rdf],
.label[data-format*=rdf],
.label[data-format*=nquad],
.label[data-format*=ntriples],
.label[data-format*=turtle] {
  background-color: #0b4498;
}
/* END Style dataset labels */
.resource-item {
  position: relative;
  padding: 10px 10px 10px 60px;
  margin-bottom: 0px;
}
.resource-item .format-label {
  position: absolute;
  top: 10px;
  left: 10px;
}
.resource-item .under-review {
  color: #f2645a;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
.resource-item .under-review.btn {
  color: #333333;
  border-color: #333333;
  opacity: 0.65;
  cursor: help;
  text-align: center;
}
.resource-item .under-review.btn:hover,
.resource-item .under-review.btn:focus {
  color: #333333;
  border-color: #333333;
}
.format-label {
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("/base/images/sprite-ckan-icons.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
  text-indent: -900em;
  background: url("/base/images/sprite-resource-icons.png") no-repeat 0 0;
}
.format-label {
  width: 60px;
  height: 65px;
  background-position: -1720px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=html],
.format-label[data-format*=html] {
  width: 60px;
  height: 65px;
  background-position: -120px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=json],
.format-label[data-format*=json] {
  width: 60px;
  height: 65px;
  background-position: -220px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=xml],
.format-label[data-format*=xml] {
  width: 60px;
  height: 65px;
  background-position: -320px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=txt],
.format-label[data-format*=txt] {
  width: 60px;
  height: 65px;
  background-position: -420px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=doc],
.format-label[data-format*=doc],
.format-label[data-format=docx],
.format-label[data-format*=docx] {
  width: 60px;
  height: 65px;
  background-position: -520px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=odt],
.format-label[data-format*=odt] {
  width: 60px;
  height: 65px;
  background-position: -620px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=csv],
.format-label[data-format*=csv] {
  width: 60px;
  height: 65px;
  background-position: -720px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=xls],
.format-label[data-format*=xls] {
  width: 60px;
  height: 65px;
  background-position: -820px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=zip],
.format-label[data-format*=zip] {
  width: 60px;
  height: 65px;
  background-position: -920px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=api],
.format-label[data-format*=api] {
  width: 60px;
  height: 65px;
  background-position: -1020px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=pdf],
.format-label[data-format*=pdf] {
  width: 60px;
  height: 65px;
  background-position: -1120px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=rdf],
.format-label[data-format*=rdf] {
  width: 60px;
  height: 65px;
  background-position: -1220px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=wms],
.format-label[data-format*=wms] {
  width: 60px;
  height: 65px;
  background-position: -1320px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=png],
.format-label[data-format*=png] {
  width: 60px;
  height: 65px;
  background-position: -1420px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=jpg],
.format-label[data-format*=jpg],
.format-label[data-format=jpeg],
.format-label[data-format*=jpeg] {
  width: 60px;
  height: 65px;
  background-position: -1520px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=gif],
.format-label[data-format*=gif] {
  width: 60px;
  height: 65px;
  background-position: -1620px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=wfs],
.format-label[data-format*=wfs] {
  width: 60px;
  height: 65px;
  background-position: -1820px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=gml],
.format-label[data-format*=gml] {
  width: 60px;
  height: 65px;
  background-position: -1920px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=wmts],
.format-label[data-format*=wmts] {
  width: 60px;
  height: 65px;
  background-position: -2020px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=kml],
.format-label[data-format*=kml] {
  width: 60px;
  height: 65px;
  background-position: -2120px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=geo],
.format-label[data-format=shp],
.format-label[data-format*=geo] {
  width: 60px;
  height: 65px;
  background-position: -2220px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.humanitarianicons-Environment.fresh {
  color: #1bb580;
  margin-left: 0;
}
.humanitarianicons-Help.freshness {
  color: #007CE0;
}
.humanitarianicons-Help.freshness::before {
  color: #007CE0;
}
