/* Style links inside header-nav, main navigation links */
.mainLinks {
  padding-left: 20px;
  margin: 0;
}
.mainLinks.mainLinks-gray > li > a {
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 12px;
  color: #cccccc;
  line-height: 1;
}
.mainLinks.mainLinks-gray > li > a:hover,
.mainLinks.mainLinks-gray > li > a:focus {
  color: #cccccc;
}
.mainLinks > li {
  display: inline;
}
.mainLinks > li > a {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #333333;
  letter-spacing: 0.03em;
  line-height: 31px;
  text-transform: uppercase;
}
.mainLinks > li > a:hover,
.mainLinks > li > a:focus {
  color: #000000;
}
.mainLinks > li > a:after {
  content: "|";
  margin-left: 15px;
}
@media (max-width: 1200px) {
  .mainLinks > li > a:after {
    margin-left: 10px;
  }
}
.mainLinks > li > a:focus {
  text-decoration: none;
  cursor: pointer;
}
.mainLinks > li .dropdown-menu a:hover {
  background-color: #FFFFFF;
  color: #333333;
  text-decoration: underline;
}
.mainLinks > li:first-child > a {
  margin-left: 0;
}
.mainLinks > li:last-child > a:after {
  content: "";
  margin: 0;
}
@media (max-width: 768px) {
  .mainLinks {
    display: none;
  }
}
