/* Social widget - share */
.resource-social a {
  line-height: 31px;
  vertical-align: middle;
  display: block;
  margin-bottom: 5px;
}
.resource-social a i {
  font-size: 31px;
  width: 31px;
  padding-right: 5px;
  vertical-align: middle;
}
.resource-social a span {
  font-size: 14px;
  vertical-align: middle;
  line-height: 25px;
}
.resource-social a:hover {
  text-decoration: none;
}
/**/
