/* Style Select2 Dropdown */
.select2-container {
  display: block;
  padding: 0;
}
.select2-container.required.error > .select2-choice {
  border-color: red;
}
.select2-container .select2-choice {
  background-image: none;
  color: #888888;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  padding-left: 15px;
  outline: none;
  border-color: #ffffff;
}
.select2-container-multi .select2-choices {
  box-shadow: none;
  border-color: #ffffff;
  background-image: none;
}
.select2-container-multi .select2-choices .select2-search-choice {
  line-height: 28px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
  top: 14px;
}
.select2-dropdown-open .select2-choice {
  background-color: #ffffff;
  border-color: #5897fb;
}
.select2-dropdown-open.select2-drop-above .select2-choice {
  background-color: #ffffff;
  background-image: none;
}
.select2-container .select2-choice .select2-arrow {
  background-color: #888888;
  background-image: none;
  padding-top: 14px;
  padding-left: 13px;
}
.select2-container .select2-choice .select2-arrow b {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #ffffff;
  display: inline;
  background: none;
  background-image: none !important;
}
/* END Style Select2 Dropdown */
/* Style Select2 Dropdown */
.select2-container .select2-choice .select2-arrow {
  width: 42px;
}
/* END Style Select2 Dropdown */
