.red {
  color: #ff0000;
}
.blue {
  color: #007CE0;
}
.grey {
  color: #888888;
}
.black {
  color: #000;
}
.no-margin {
  margin: 0;
}
.vertically-center-reference {
  position: relative;
}
.vertically-center-reference .vertically-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hide-heading {
  display: none;
}
.whitebg {
  background-color: #ffffff;
}
/* Private dataset label fix */
.label-inverse,
.badge-inverse {
  background-color: #333333;
}
/* END Private dataset label fix */
/* Fonts */
.gothamBold20 {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.gothamBold30 {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.gothamBook12 {
  font-family: 'Gotham-Book', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.gothamBold10 {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 10px;
}
.sspRegular12 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.sspRegular14 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.sspBold16 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.sspBold14 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.sspBold20 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.sspBold28 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 28px;
}
/* END Fonts */
/* Style Bootstrap Flash messages*/
.flash-messages {
  background-color: #eeeeee;
  padding-bottom: 1px;
}
/* END Style Bootstrap Flash messages*/
/* Common Classes */
.mTop60 {
  margin-top: 60px;
}
.mTop70 {
  margin-top: 70px;
}
.mTop110 {
  margin-top: 110px;
}
.mTop80 {
  margin-top: 80px;
}
.mTop45 {
  margin-top: 45px;
}
.mTop40 {
  margin-top: 40px;
}
.mTop35 {
  margin-top: 35px;
}
.mTop30 {
  margin-top: 30px;
}
.mTop23 {
  margin-top: 23px;
}
.mTop25 {
  margin-top: 25px;
}
.mTop20 {
  margin-top: 20px;
}
.mTop15 {
  margin-top: 15px;
}
.mTop8 {
  margin-top: 8px;
}
.mTop10 {
  margin-top: 10px;
}
.mTop_25 {
  margin-top: -25px;
}
.mBottom5 {
  margin-bottom: 5px;
}
.mBottom10 {
  margin-bottom: 10px;
}
.mBottom15 {
  margin-bottom: 15px;
}
.mBottom20 {
  margin-bottom: 20px;
}
.mBottom30 {
  margin-bottom: 30px;
}
.mBottom35 {
  margin-bottom: 35px;
}
.mBottom40 {
  margin-bottom: 40px;
}
.mBottom65 {
  margin-bottom: 65px;
}
.mBottom100 {
  margin-bottom: 100px;
}
.mBottom110 {
  margin-bottom: 110px;
}
.mLR45 {
  margin-left: 45px;
  margin-right: 45px;
}
.mLR30 {
  margin-left: 30px;
  margin-right: 30px;
}
.mLR15 {
  margin-left: 15px;
  margin-right: 15px;
}
.mLR10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mTB0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mTB30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mTB35 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.mTB45 {
  margin-top: 45px;
  margin-bottom: 45px;
}
.mTB15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.pLR45 {
  padding-left: 45px;
  padding-right: 45px;
}
.pTB15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pR45 {
  padding-right: 45px;
}
.pR7 {
  padding-right: 7px;
}
.pL5 {
  padding-left: 5px;
}
.pL15 {
  padding-left: 15px;
}
.pL45 {
  padding-left: 45px;
}
.pTopBottom5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pTopBottom10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pTopBottom15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pTopBottom35 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.pTopBottom80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.pTop80 {
  padding-top: 80px;
}
.pBottom80 {
  padding-bottom: 80px;
}
.pBottom35 {
  padding-bottom: 35px;
}
.mL45 {
  margin-left: 45px;
}
.mR45 {
  margin-right: 45px;
}
.mL35 {
  margin-left: 35px;
}
.mR35 {
  margin-right: 35px;
}
.mL15 {
  margin-left: 15px;
}
.mR15 {
  margin-right: 15px;
}
.mL30 {
  margin-left: 30px;
}
.mR30 {
  margin-right: 30px;
}
.mL25 {
  margin-left: 25px;
}
.mL20 {
  margin-left: 20px;
}
hr {
  margin: 0;
}
hr.dotted {
  border-top: 1px dotted #888888;
  border-bottom: none;
}
.border-bottom-grey {
  border-top: none;
  border-bottom: 1px solid #dddddd;
}
.border-grey {
  border: 1px solid #dddddd;
}
.center {
  text-align: center;
}
.no-transform {
  text-transform: none;
}
.txt-justify {
  text-align: justify;
}
.float-right {
  float: right;
}
/* END Common Classes */
.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
