{#
Follow widget

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/onboarding/follow.html', id="followPopup") }}
#}

{% resource 'hdx_theme/follow.js' %}
{% resource 'hdx_theme/widget/onboarding/follow.css' %}
{% resource 'hdx_theme/widget/onboarding/follow.js' %}
{% set class = "popup-onboarding" %}
{% set two_column_class = "two-column-follow" %}

{% extends "widget/onboarding/two-column.html" %}

{% block left_content %}
    <div>
        <div class="large-title">Follow</div>
        <div class="mTop20 large-text">Track the changes being made to the data you are interested in.</div>
        <div class="mTop20 regular-text">These changes appear as a running list in your <strong>user dashboard.</strong></div>
        <div class="center">
            <img class="mTop10 envelope " src="/images/onboarding/follow.png">
        </div>
    </div>
{% endblock %}

{% block right_content %}
    <div class="fading"></div>
    <div class="row follow-form">
        <div class="col-xs-12">
            <span class="bold-regular-text">Select the locations, organisations, topics and crises you want to follow : </span><span class="regular-text">If you would like to follow more - click on "follow" button on most of the HDX pages.</span>
            <ul id="follow-form-item-list" class="selectable-list">
                <li class="table-valign"><input type="checkbox" style="visibility: hidden;" /><label id="follow-form-item-loading" class="regular-text table-valign-content">Loading items ... </label><span></span></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block actions %}
    <form id="follow-form" onsubmit="return false;">
        <input class="btn btn-empty btn-empty-black btn-large" type="button" onclick="closeCurrentWidget(this);" value="Skip">
        <input class="btn btn-primary btn-large mL45" type="submit" value="Next">
    </form>
{% endblock %}

