{#
Shows the login popup

Depends on:
    Fanstatic resource bundle "popup".
    The "class" and "content_class" parameters come from the "popup.html" that this extends.

Example:
   {{ h.snippet('widget/onboarding/login.html', id="loginPopup",
        content_class="fade-in", class="popup-onboarding bg-transparent",
        show=True, error_message=error_message, info_message=info_message, data=data) }}
#}

{% extends "widget/popup/popup.html" %}

{% block titlebar %}{% endblock %}
{% block popup_attributes %}{% if (not show) %} {{ super() }} {% endif %} {% endblock %}v
{% block content %}
    <div class="login-widget">
        <div class="row">
            <div class="login-top">
                <div class="login-photo center">
                    <div id="login-photo-gravatar" style="display: none;">
                        <img id="login-photo-gravatar-img" src="" class="gravatar" width="95" height="95">
                    </div>
                    <div id="login-photo-default" class="text-center position-relative">
                      <i class="fa fa-user"></i>
                    </div>
                </div>
{#                <i class="close humanitarianicons-Exit-Cancel"></i>#}
            </div>
        </div>
        <div class="row">
            {% set form_url = h.url_for('hdx_signin.login', came_from=data.login_came_from) if data.login_came_from else h.url_for('hdx_signin.login') %}
            <form id="hdx-login-form" action="{{ form_url }}" method="post" onsubmit="checkLockout">
                <div class="login-content">
                    <div class="col-12">
                        {% if info_message %}
                          <div id="login-info-message" class="error-explanation alert alert-danger mBottom5 pTopBottom5">
                            {{ info_message }}
                          </div>
                        {% endif %}
                        <div id="username-static" class="username-static" style="display: none;">
                            <div id="user-display-name" class="username-text center"></div>
                            <div class="email-text center"> <span id="user-display-email"></span>&nbsp;<span><a onclick="notYou()" href="javascript:void(0);">Not you?</a></span></div>
                        </div>
                        <div id="username-form-field" class="username mTop10 control">
                            <label for="field-login" class="form-label">Username or Email</label>
                            <input id="field-login" name="login" class="full-width required" type="text" value="" required>
{#                            <label for="field-login">Username or Email</label>#}
                        </div>
                        <div class="password mTop10 control">
                            <label for="field-password" class="form-label">Password</label>
                            <input id="field-password" name="password" class="full-width required" type="password" required>
{#                            <label for="field-password">Password</label>#}
                        </div>
                        <div id="mfa-form-field" style="display: none;" class="mfa mTop10 control">
                             <label for="field-mfa" class="form-label">One Time Password</label>
                            <input id="field-mfa" name="mfa" class="full-width required" type="number" min="0" max="999999" required>
{#                            <label for="field-mfa">One Time Password</label>#}
                        </div>
                        <div class="error-message" style="{{ '' if error_message else 'display: none;' }}">
                          {{ error_message }}
                        </div>
                        <div class="checkbox-style mTop10"><input id="field-remember" name="remember" type="checkbox" value="63072000"><label for="field-remember">Remember me</label> </div>
                        <div class="mTop10"><input class="full-width btn btn-primary btn-large" type="submit" value="Login" disabled></div>
                        <div class="member center mTop10"><a href="/user/reset">Forgot your password?</a></div>
                        <div class="member center">Not a member? <a
                          href="{{ h.url_for('hdx_user_onboarding.value_proposition') }}"
                          aria-label="register">Register</a></div>
                        <div class="mTop20 center">
                          <a href="/" rel="noopener noreferrer">
                            <img class="footer-hdx-logo" src="/images/homepage/logo-combined.png"/>
                          </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>

        </div>
    </div>
{% endblock %}
