{#
Recover Password widget

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/onboarding/recover.html', id="recoverPopup") }}
#}
{#{% resource 'hdx_theme/widget/onboarding/recover.css' %}#}
{#{% resource 'hdx_theme/widget/onboarding/recover.js' %}#}


{% set class = "popup-onboarding" %}
{% set title = "Forgot your password?" %}

{% extends "widget/onboarding/notification.html" %}
{% import "macros/form.html" as form %}

{% block popup_attributes %}{% endblock %}

{% block notification_content %}
<div id="password-reset-form">
    <div class="recover-widget">
        <div>Simply enter a new password and we'll update your account.</div>
        <div class="mTop20">
          <form action="" method="post">
            {{ form.input("password1", id="field-password", label=_("Password"), type="password", value='', error='', attrs={'autocomplete': 'no', 'class': 'form-control control-medium'}, classes=["form-group"]) }}
            {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", value='', error='', attrs={'autocomplete': 'no', 'class': 'form-control control-medium'}, classes=["form-group"]) }}
            {% for message in h.flash.pop_messages() | list %}
              <div class="alert alert-warning fade in {{ message.category }}">
                {{ h.literal(message) }}
              </div>
            {% endfor %}
            <button class="btn btn-primary btn-large" type="submit" name="save">{{ _("Update Password") }}</button>
          </form>
        </div>
        <div class="mTop30 center">
          <a href="/" rel="noopener noreferrer"><img class="logo" src="/images/homepage/logo-combined.png"/></a>
        </div>
    </div>
</div>
{% endblock %}

{% block notification_title %}
  <img src="/images/onboarding/reset-password.png" />
  <span class="title">Reset your password</span>
{% endblock %}
