{#
Recover Password widget

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/onboarding/recover.html', id="recoverPopup") }}
#}

{% set class = "popup-onboarding" %}
{% set title = "Forgot your password?" %}

{% extends "widget/onboarding/notification.html" %}

{% block popup_attributes %}{% if (not show) %} {{ super() }} {% endif %} {% endblock %}

{% block notification_content %}
<form id="recover-form" onsubmit="return false;">
    <div class="recover-widget">
        <div>Enter your username or email below and we will send you an email with a link to enter a new password.</div>
        <div class="mTop20">
            <div class="control-group form-group">
              <div class="control">
                  <input id="field-recover-id" name="user" class="full-width required" type="text">
                  <label for="field-recover-id">Username or Email</label>
              </div>
            </div>
            {% block error_section %}
              {% for message in h.flash.pop_messages() | list %}
                  <div class="alert alert-warning fade in {{ message.category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
                <div class="error-message" style="display: none;">
                </div>
            {% endblock %}
        </div>
        <div class="mTop20">
          <input class="btn btn-primary btn-large hdx-recaptcha mTop20" type="submit" value="Reset" data-sitekey="{{ g.recaptcha_publickey }}" data-callback='onSubmit' data-size="invisible" data-badge="inline">
        </div>
        {#<div class="mTop20 center not-member">
          Not a member? <a href="">Register</a>
        </div>#}
        <div class="mTop30 center">
          <a href="/" rel="noopener noreferrer"><img class="logo" src="/images/homepage/logo-combined.png"/></a>
        </div>
    </div>
</form>
{% endblock %}

{% block notification_title %}
  <img src="/images/onboarding/reset-password.png" />
  <span class="title">Forgot your password?</span>
{% endblock %}
