{#
Verify email widget

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/onboarding/verify.html', id="recoverSuccessPopup") }}
#}
{% set class = "popup-onboarding" %}
{% set title = "Forgot your password?" %}

{% extends "widget/onboarding/notification.html" %}

{% block notification_content %}
    <div class="verify-widget">
        <div class="center">
            <img class="gif mTop45" src="/images/onboarding/incomingmail.gif">
            <div class="notification-message mTop20">Please check your inbox for the reset link.</div>
        </div>
    </div>
{% endblock %}