{#
Select organization widget

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/onboarding/select-organization.html', id="selectOrganizationPopup") }}
#}

{% set class = "popup-onboarding" %}
{% set two_column_class = "two-column-select-organisation" %}

{% resource 'hdx_theme/widget/onboarding/select-organisation.css' %}
{% resource 'hdx_theme/widget/onboarding/select-organisation.js' %}
{% extends "widget/onboarding/two-column.html" %}

{% block left_content %}
    <div>
        <div class="large-title">Prepare to share data</div>
        <div class="mTop20 large-text">Sharing data on HDX is easy.</div>
        <div class="mTop20 regular-text">
            Data on HDX is <strong>shared through organisations.</strong><br/>
            Create a new organisation or join an existing one. <br/>
            Data can be shared publicly or privately with members of an organisation.
        </div>
    </div>
{% endblock %}

{% block right_content %}
    <div id="select-organisation">
        <div class="bold-regular-text">Find your organisation: </div>
        <div class="regular-text">see if your organisation exists by scrolling through the list below:</div>

        <form id="select-organisation-form">
            <select class="mTop20" id="existing-org-selector">
                <option id=""></option>
            </select>
        </form>

        <div class="regular-text mTop20">Don't see your organisation? <a href="#" onclick="$('#select-organisation').hide();$('#create-organisation').show();">Request a new organisation</a></div>
        <div class="regular-text mTop20">Confirm that you would like to become a member of the organisation above.</div>
        <div class="regular-text mTop20">If the administrator of the organisation agrees to your request, you will receive an email confirming your membership.</div>
    </div>

    <div id="create-organisation" style="display: none;">
        <div class="bold-regular-text">Create a new organisation: </div>
        <div class="regular-text">Tell us a bit more about your organisation. We will review your request and get back to you within 24 hours. Check <a href="#" onclick="$('#create-organisation').hide();$('#select-organisation').show();">existing organisations</a></div>
        <form id="create-organisation-form">
            <div class="mTop20 control">
                <input id="org-name" name="name" class="full-width required" type="text">
                <label for="org-name">Name of organisation</label>
            </div>

            <div class="mTop20 control">
                <input id="org-url" name="url" class="full-width required" type="text">
                <label for="org-url">URL of organisation</label>
            </div>

            <div class="mTop20 control">
                <textarea id="org-description" name="description" class="full-width required"></textarea>
                <label for="org-description">Description of organisation</label>
            </div>

            <div class="mTop20 control">
                <input id="org-fts" name="fts_id" class="full-width required" type="text">
                <label for="org-fts">FTS ID</label>
            </div>
        </form>

    </div>
{% endblock %}

{% block actions %}
    <input class="btn btn-empty btn-empty-black btn-large" type="button" onclick="closeCurrentWidget(this);" value="Skip">
    <input id="organisation-form-submit" class="btn btn-primary btn-large mL45" type="button" value="Submit">
{% endblock %}

