{#
Select organization widget

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/onboarding/select-organization.html', id="selectOrganizationPopup") }}
#}

{% set class = "popup-onboarding" %}
{% set two_column_class = "two-column-select-organisation" %}

{% extends "widget/onboarding/two-column.html" %}

{% block left_content %}
    <div>
        <div class="large-title">Prepare to share* data</div>
        <div class="mTop20 large-text">Sharing data on HDX is easy.</div>
        <div class="mTop20 regular-text">
            Data on HDX is <strong>shared through organisations.</strong><br/>
            Create a new organisation or join an existing one. <br/>
            Data can be shared publicly or privately with members of an organisation.
        </div>
        <div class="mTop20 star-text star-box">
          <span id="onboard-org-join-text">*Please note that you need to work for the organisation to request membership.</span>
          <span id="onboard-org-request-new-text" style="display: none;">*Approved organisations will remain inactive and not displayed under "Organisations" until at least one dataset has been shared through HDX.</span>
        </div>
    </div>
{% endblock %}

{% block right_content %}
    <div id="select-organisation">
        <div class="bold-regular-text">Find your organisation: </div>
        <div class="regular-text">See if your organisation exists by scrolling through the list below:</div>

        <form id="select-organisation-form">
            <select class="mTop20" id="existing-org-selector" name="org_id">
                <option id="">{{_('Select an organisation...')}}</option>
            </select>
            <div class="control">
              <textarea id="msg_id" name="message" class="full-width required mTop10" style="height: 90px;"></textarea>
              <label for="msg_id">Message for organization admin</label>
            </div>
            <div class="control">
                <label class="mTop10 vertically-center" data-module="hdx_terms_checkbox" data-module-button="join-org-action">
                    <input type="checkbox">
                    <span class="red">*</span>I confirm that I work for this organization.
                </label>
            </div>

            <div class="regular-text mTop20">Don't see your organisation? <a href="#" onclick="$('#select-organisation, #onboard-org-join-text').hide();$('#create-organisation, #onboard-org-request-new-text').show();">Request a new organisation</a></div>
            <div class="regular-text mTop20">Confirm that you would like to become a member of the organisation above.
{#            </div>#}
{#            <div class="regular-text mTop20">#}
              If the administrator of the organisation agrees to your request, you will receive an email confirming your membership.</div>

            <div class="right-side-actions">
                <input class="btn btn-empty btn-empty-black btn-large" type="button" onclick="closeCurrentWidget(this);" value="Cancel">
                <input id="join-org-action" class="btn btn-primary btn-large mL45" type="submit" value="Submit">
            </div>
        </form>
    </div>

    <div id="create-organisation" style="display: none;">
        <div class="bold-regular-text">Create a new organisation: </div>
        <div class="regular-text">
          Please tell us more about your organisation. We will review your request and get back to you within 24 hours
          to discuss the data you would like to share. Please confirm that your organisation does not already exist by
          checking the current organisation list
          <a href="#" onclick="$('#create-organisation, #onboard-org-request-new-text').hide();$('#select-organisation, #onboard-org-join-text').show();">here</a>.
        </div>
        <form id="create-organisation-form">
            <div class="mTop20 control">
                <input id="org-name" name="name" class="full-width required" type="text">
                <input id="user_extra" name="user_extra" class="full-width required" type="hidden" value="True">
                <label for="org-name">Name of Organisation</label>
            </div>
            <div class="mTop20 control">
                <textarea id="org-description" name="description" class="full-width required"></textarea>
                <label for="org-description">Description of Organisation</label>
            </div>
            <div class="mTop20 control">
                <textarea id="org-description-data" name="description_data" class="full-width required"></textarea>
                <label for="org-description-data">Description of data you plan to share</label>
            </div>
            <div class="mTop20 control">
                <input id="org-work-email" name="work_email" class="full-width required" type="text">
                <label for="org-work-email">Your Work Email</label>
            </div>
            <div class="mTop20 control">
                <input id="org-url" name="url" class="full-width" type="text">
                <label for="org-url">URL of Organisation</label>
            </div>
            <div class="mTop20 control">
                <input id="org-acronym" name="acronym" class="full-width" type="text">
                <label for="org-acronym">Organisation Acronym</label>
            </div>
            <div class="mTop20 control">
                {% set hdx_org_type_list = h.hdx_organization_type_list() %}
                <select class="mTop20" id="org-type-selector" name="org_type">
                  <option value="-1">{{_('Select organisation type...')}}</option>
                  {% for t in hdx_org_type_list %}
                    <option value="{{t.value}}">{{ t.text }}</option>
                  {% endfor %}
                </select>

            </div>

<!-- FTS ID is removed
            <div class="mTop20 control">
                <input id="org-fts" name="fts_id" class="full-width required" type="text">
                <label for="org-fts">FTS ID</label>
            </div>
-->

            <div class="mTop20 control">
                <label class="terms-of-service vertically-center" data-module="hdx_terms_checkbox" data-module-button="new-org-req-submit">
                    <input type="checkbox">
                    I have read and accept the <a target="_blank" href="{{ h.url_for('hdx_faqs.read', category='terms') }}">HDX Terms of Service</a>
                </label>
            </div>
            <div class="right-side-actions">
                <input class="btn btn-empty btn-empty-black btn-large" type="button" onclick="closeCurrentWidget(this);" value="Cancel">
                <input id="new-org-req-submit" class="btn btn-primary btn-large mL45" type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}

