{#
Two even columned widget:
   - info left side
   - content right side

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/onboarding/two-column.html', id="twoColumnPopup") }}
#}

{% resource 'hdx_theme/popup' %}
{% resource 'hdx_theme/onboarding' %}
{% resource 'hdx_theme/widget/onboarding/two-column.css' %}
{% set class = "popup-onboarding" %}

{% extends "widget/popup/popup.html" %}


{% block titlebar %}{% endblock %}
{% block all_content %}
    <div class="row two-column-widget {{ two_column_class }}">
        <div class="two-column-left col-xs-6">
            {% block left_content %}
            {% endblock %}
        </div>
        <div class="two-column-right col-xs-6">
            {% block right_content %}
            {% endblock %}
            <div class="right-side-actions">
                {% block actions %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}