<p>Dear {{ data.org_name }},</p>

<p>You have received a request from {{ data.user_fullname }} to join {{ data.org_name }}.</p>

<p>Please log in to respond to the membership request, which you will find on your organisation page in the Members tab listed under "Pending Approval".</p>

<div>
  <p>If approved, you will be prompted to assign the user one of the following roles:</p>
  <ul>
    <li><strong>Administrator</strong>: Add, edit, and delete datasets, and manage organisation membership.</li>
    <li><strong>Editor</strong>: Add, edit, and delete datasets. The user cannot manage organisation members.</li>
    <li><strong>Member</strong>: View all of an organisation’s datasets (including private datasets). The user cannot add new datasets or manage organisation members.</li>
  </ul>
</div>
<p><a href="https://humanitarian.atlassian.net/wiki/spaces/HDXKB/pages/1254490113/For+HDX+org+admins+How+to+Manage+Organizational+Membership">Learn more about managing HDX organisation members here</a>, or feel free to reply to this email if you have any questions.</p>

<a href="{{ h.url_for('hdx_user_auth.new_login', qualified=True) }}" target="_blank" title="Login to HDX" class="button">Login to HDX</a>

