<p>Dear {{ data.user_fullname }},</p>

<p>Your request to join the HDX organisation {{ data.org_name }} was denied by the organisation administrator(s).</p>

<p>Please keep in mind that you need to work for the organisation or be part of that organisation's trusted network in order to become an organisation member. If you are not part of the organisation but want to keep track of their data, please <a href="https://data.humdata.org/faq#auto-faq-Getting_Started-What_does_it_mean_to__follow__data_-a">use the 'follow' function</a> instead.</p>

<p>If you feel that this decision was made in error, or should you require additional assistance, please reply to this email.</p>
