<p>Dear Colleague,

<p>An HDX account has been created for you by the administrator(s) of {{ data.org_name }}. HDX is a free and open platform for finding and sharing humanitarian data managed by the
  <a href="https://unocha.org">United Nations Office for the Coordination of Humanitarian Affairs</a> (OCHA) -
  <a href="https://centre.humdata.org">Centre for Humanitarian Data</a>. We welcome you to join the HDX community.</p>

<p>Your account has been assigned the role of
  {% if data.capacity == 'admin' %} <strong>administrator</strong>: add, edit, and delete datasets, and manage organisation membership.
  {% elif data.capacity == 'editor' %} <strong>editor</strong>: add, edit, and delete datasets.
  {% elif data.capacity == 'member'  %} <strong>member</strong>: view all of an organisation's datasets (including private datasets).
  {% endif %}
</p>

<p><strong>To accept this invitation, <a href="{{ data.user_reset_link }}">please click here</a> in the next {{ data.expiration_in_hours }} hours.</strong></p>

<p>If you feel that this account was created in error, or if you require any additional assistance, please reply to this email.</p>

<p><strong><i>You are receiving this one-time email because {{ data.user_fullname }} shared your email address with HDX.</i></strong></p>

