<p>Dear HDX Data Partnerships Team,</p>

<p>{{ data.user_fullname}} ({{ data.requestor_hdx_email }}) has requested the creation of a new organisation on HDX.</p>

<p>
Organisation name: {{ data.org_name }}<br/>
Organisation acronym: {{ data.org_acronym }}<br/>
Organisation description: {{ data.org_description }}<br/>
Organisation type: {{ data.org_type }}<br/>
Organisation website: {{ data.org_website }}<br/>
Data description: {{ data.data_description }}<br/>
Requestor work email: {{ data.requestor_work_email }}<br/>
Requestor HDX username: {{ data.requestor_hdx_username }}<br/>
Requestor HDX registered email: {{ data.requestor_hdx_email }}<br/>
Request time: {{ data.request_time }}<br/>
</p>

<p>Please reply directly to {{ data.user_fullname}} within two business days.</p>
