<p>Dear <strong>{{ data.user_first_name}}</strong>,</p>

<p>Welcome to the HDX community! You have successfully registered your account on HDX with the user name {{ data.username}}.</p>

<p>As a registered user, you are able to:
<ul>
  <li>Request to create a new organisation or to become a member of an existing organisation;</li>
  <li>Get notified of the latest changes to <a href="https://data.humdata.org/dataset">dataset</a>,
    <a href="https://data.humdata.org/group">location</a>,
    <a href="https://data.humdata.org/organization">organisation</a>, or crisis pages;
  </li>
  <li><a href="https://data.humdata.org/faq#auto-faq-Getting_Started-How_do_I_contact_a_data_contributor_-a">Contact the
    contributor</a> of any public dataset to ask a question or report a problem; and
  </li>
  <li>
    <a href="https://data.humdata.org/faq#auto-faq-Getting_Started-How_do_I_request_access_to_a_dataset_where_I_can_only_see_metadata_-a">Ask
      for access</a>
  to protected datasets through HDX Connect.</li>
</ul>
</p>
<p>If you have any questions, check out our <a href="https://data.humdata.org/faq">Frequently Asked Questions</a> or
  reply to this email.</p>
<p>PS: Look out for a few more emails from us in the coming days with tips on making the most of the HDX platform.</p>
