<p>Dear Colleague,</p>

<p>{{ data.user_fullname }} ({{ data.user_email }}) just signed up for the Humanitarian Data Exchange (HDX) and wanted to invite you to join as well.</p>

<p>HDX is a free and open platform for finding and sharing humanitarian data managed by the <a href="https://unocha.org">United Nations Office for the Coordination of Humanitarian Affairs</a> (OCHA) - <a href="https://centre.humdata.org">Centre for Humanitarian Data</a>.</p>

<p><a href="https://data.humdata.org/user/register">Join HDX now</a>, or learn more about HDX by <a href="https://data.humdata.org/faq">reading our FAQs</a>.</p>
<p><strong><i>You are receiving this one-time email because {{ data.user_fullname }} shared your email address with HDX.</i></strong></p>
