<p>Dear {{ data.user_fullname }},

<p>Your request for access to the metadata-only dataset <a href="{{ data.dataset_link }}">{{ data.dataset_title }}</a> has been responded to by {{ data.user_admin_fullname }} of
    {{ data.org_name }}.

<p>{{ data.user_admin_fullname }} has passed along the following message:</p>
<p>{{ data.msg }}</p>

{#{% if data.is_attach %}#}
{#  <p>The requested file has been attached to this email.</p>#}
{#{% else %}#}
<p>We suggest that you contact {{ data.user_admin_fullname }} directly at {{ data.user_admin_email }} to make arrangements for accessing the requested data (if applicable).</p>
{#{% endif %}#}


<p>Please feel free to reach out to the HDX team by replying to this email if you have any questions or concerns.</p>

