<p>Dear <a href="{{ data.dataset_link }}">{{ data.dataset_title }}</a> maintainer,</p>

<p>The request for access to the metadata-only dataset <a href="{{ data.dataset_link }}">{{ data.dataset_title }}</a> submitted by {{ data.user_fullname }} ({{ data.user_email }}) was automatically archived because the dataset became public.</p>

<p>The requester was notified to visit the dataset URL to download the data.</p>

<p>Please feel free to reach out to the HDX team by replying to this email if you have any questions or concerns.</p>
