<p>Dear {{ data.maintainer_fullname }},</p>

<p>{{ data.user_fullname }} ({{ data.user_email }}){% if data.extras %} located in {{ data.extras.country }}, from {{ data.extras.organization_name }} - {{ h.hdx_organization_type_get_value(data.extras.organization_type) }}{% endif %}{% if data.extras and not data.extras.organization_member %} (Unverified - this user is not a member of this organization on HDX){% endif %} has requested access to one of your organisation’s metadata-only datasets on HDX.</p>

<p>
  <strong>Dataset name</strong>: <a href="{{ data.dataset_link }}">{{ data.dataset_title }}</a><br/>
  {% if data.extras and data.extras.intend %}<strong>Intended use</strong>: {{ data.extras.intend }}<br/>{% endif %}
  <strong>Message from requestor</strong>: {{ data.msg }}
</p>

<p>We would appreciate it if you could respond to this request within two business days.
  <a href="{{ data.requestdata_org_url }}">Click here to approve or decline the dataset request</a>, which you will find on your organisation page in the "Requested Data" tab.</p>

<p>Sensitive data should always be shared via a secure channel, such as encrypted email or an encrypted file transfer service.
  Share the password to decrypt data separately via a different secure channel.
  You may want to establish a data sharing agreement before sharing sensitive data.
  For more on responsible approaches to data sharing read this guidance note: <br/>
  <a href="https://centre.humdata.org/guidance-note-responsible-approaches-to-data-sharing/">https://centre.humdata.org/guidance-note-responsible-approaches-to-data-sharing/</a>
</p>
<p>Please reply to this email if you have any questions.</p>
