{% ckan_extends %}

{% block scripts %}
    {{ super() }}
{#    {% resource 'hdx_theme/datasets/related.css' %}#}
{#    {% resource 'hdx_theme/order-by-dropdown.js' %}#}
{#    {% resource 'hdx_theme/search' %}#}

    {% asset 'hdx_theme/dataset-related-styles' %}
    {% asset 'hdx_theme/search-scripts' %}
{% endblock %}

{% block secondary_content %}{% endblock %}

{% block primary_content %}
  <section id="showcaseSection" class="list-items module">
    <div class="list-items module-content mT35">
      {% block page_primary_action %}
      {% endblock %}
        {% block form %}
            <div>
              {% set searchValue =c.q if c.q else '' %}
              {% set facets = {
                'fields': c.fields_grouped,
                'search': c.search_facets,
                'titles': c.facet_titles,
                'translated_fields': c.translated_fields,
                'remove_field': c.remove_field }
              %}
              {% set sorting = [
                  (_('Relevance'), 'score desc, metadata_modified desc'),
                  (_('Name Ascending'), 'title_string asc'),
                  (_('Name Descending'), 'title_string desc'),
                  (_('Last Modified'), 'metadata_modified desc'),
                  (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
                %}
{#              {% set sort_param = request.args.get('sort') %}#}
{#              {% set sorting_selected = sort_param if sort_param else 'score desc, metadata_modified desc' %}#}
              {% set sorting_selected = h.hdx_get_request_param('sort', 'score desc, metadata_modified desc') %}
              {% set searchPlaceholder = _("Search showcases...") %}
              {% snippet 'snippets/search_form_new.html', type='showcase', query=c.q, sorting=sorting, sorting_selected=sorting_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields, placeholder=searchPlaceholder, sectionAnchor="showcaseSection" %}
            </div>

        {% endblock %}

        {% block package_search_results_list %}
          {{ h.snippet('showcase/snippets/showcase_list.html', packages=c.page.items) }}
        {% endblock %}
    </div>

    {% block page_pagination %}
    {{ c.page.pager(q=c.q) }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
  {% endblock %}
{% endblock %}
