{% extends "landing_pages/page.html" %}

{% block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/hdx-hapi-scripts' %}
{% endblock %}

{% set CONST = h.HDX_CONST('UI_CONSTANTS')['LANDING_PAGES']['HAPI_LANDING_PAGE'] %}

{% block subtitle %}{{ _('HDX HAPI Beta') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="breadcrumb-item active">{% link_for _('HDX HAPI'), controller='hdx_landing_pages', action='hapi' %}</li>
{% endblock %}

{% block content %}
  {{ h.snippet('bem.blocks/hero.html', title=CONST.HERO_SECTION_TITLE, text=CONST.HERO_SECTION_DESCRIPTION.format('mailto:hdx@un.org'), image='/images/landing_pages/logo_hdx_hapi.png', sections=sections, click_stopper_link_type='hapi jump nav', spacing_class="mb-3") }}

  <div class="container">

    <div class="row" id="data-availability">
      <div class="col-12 mx-auto my-3">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <iframe
                class="col-12"
                height="866"
                id="hapi-availability-iframe"
                src="/visualization/hapi-availability/"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="be-inspired">
      <div class="col-12 mx-auto my-3">
        <div class="text-center">
          {{ h.snippet('bem.blocks/heading.html', title=CONST.BE_INSPIRED_SECTION_TITLE, heading_type=3, spacing_class="mb-1") }}
          {{ h.snippet('bem.blocks/paragraph.html', text=CONST.BE_INSPIRED_SECTION_DESCRIPTION, paragraph_classes=["paragraph__text_font-size-big"]) }}
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-6 col-lg-3 d-md-flex align-items-md-stretch">
            {{ h.snippet('bem.blocks/card.html', title=CONST.BE_INSPIRED_CARD_TITLE_POWER_BI, text=CONST.BE_INSPIRED_CARD_TEXT_POWER_BI, button=CONST.BE_INSPIRED_CARD_BUTTON_POWER_BI, link=CONST.BE_INSPIRED_CARD_BUTTON_LINK_POWER_BI, click_stopper_link_type='hapi tools', click_stopper_link_label=CONST.BE_INSPIRED_CARD_TITLE_POWER_BI, spacing_class="my-3") }}
          </div>
          <div class="col-12 col-md-6 col-lg-3 d-md-flex align-items-md-stretch">
            {{ h.snippet('bem.blocks/card.html', title=CONST.BE_INSPIRED_CARD_TITLE_API, text=CONST.BE_INSPIRED_CARD_TEXT_API, button=CONST.BE_INSPIRED_CARD_BUTTON_API, link=CONST.BE_INSPIRED_CARD_BUTTON_LINK_API, click_stopper_link_type='hapi tools', click_stopper_link_label=CONST.BE_INSPIRED_CARD_TITLE_API, spacing_class="my-3") }}
          </div>
          <div class="col-12 col-md-6 col-lg-3 d-md-flex align-items-md-stretch">
            {{ h.snippet('bem.blocks/card.html', title=CONST.BE_INSPIRED_CARD_TITLE_VISUALIZATION, text=CONST.BE_INSPIRED_CARD_TEXT_VISUALIZATION, button=CONST.BE_INSPIRED_CARD_BUTTON_VISUALIZATION, link=CONST.BE_INSPIRED_CARD_BUTTON_LINK_VISUALIZATION, click_stopper_link_type='hapi tools', click_stopper_link_label=CONST.BE_INSPIRED_CARD_TITLE_VISUALIZATION, spacing_class="my-3") }}
          </div>
          <div class="col-12 col-md-6 col-lg-3 d-md-flex align-items-md-stretch">
            {{ h.snippet('bem.blocks/card.html', title=CONST.BE_INSPIRED_CARD_TITLE_CHATBOT, text=CONST.BE_INSPIRED_CARD_TEXT_CHATBOT, button=CONST.BE_INSPIRED_CARD_BUTTON_CHATBOT, link=CONST.BE_INSPIRED_CARD_BUTTON_LINK_CHATBOT, click_stopper_link_type='hapi tools', click_stopper_link_label=CONST.BE_INSPIRED_CARD_TITLE_CHATBOT, spacing_class="my-3") }}
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="faq">
      <div class="col-12 mx-auto my-3">
        {{ h.snippet('bem.blocks/heading.html', title=CONST.FAQ_SECTION_TITLE, heading_type=3) }}
        {{ h.snippet('bem.blocks/faq.html', data=faq_data) }}
      </div>
    </div>
  </div>

  <div class="py-5 background-color-snow mt-3">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="text-center">
            {{ h.snippet('bem.blocks/heading.html', title=CONST.PARTNERS_SECTION_TITLE, spacing_class="mb-5", heading_type=3) }}
          </div>
          {{ h.snippet('bem.blocks/partners.html', partners=partners) }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
