{% extends "page.html" %}

{% import 'macros/form.html' as form %}

{% set data = data if data else h.generate_mandatory_fields()  %}
{% set errors = {} %}
{% set test_options = [{},{'value':'test', 'text':'Test'}, {'value':'test2', 'text':'Test2'}] %}

{% block bodytag %} {{ super() }} class="contribute-body" {% endblock %}

{% block page %}
<div class="hdx-form container-fluid" data-module="contribute_flow_main" {% if data.id  %} data-module-dataset_id="{{ data.id }}" {% endif %}>
    <div class="hdx-form-breadcrumb row paddingRowHack">
        <ol class="breadcrumb paddingLeftHack paddingRightHack">
            <li class="active">
                Add Details - <span class="small">Please fill out all required fields</span>
            </li>
        </ol>
    </div>

    <form id="create_dataset_form" class="" method="post" enctype="multipart/form-data" data-module="basic-form">
        <div class="row paddingRowHack background-gray">
            <div class="paddingLeftHack paddingRightHack">

                    <div class="row form-section">
                        <div class="col-xs-3">
                            <h3>Your files</h3>
                            <p> You can add more resources as needed by clicking on "Add more resources"</p>
                        </div>

                        <div class="col-xs-9" id="resource-app">

                            <div id="hdx_error" class="error-explanation alert alert-error hdx-visible-element">
                                <p>{{ _('The form contains invalid entries:') }}</p>
                                <ul>
                                  <li data-field-label="type of error">type of error: error</li>
                                </ul>
                            </div>

                            <div class="label-title-style mBottom10"><span>#</span> Resources <small>(drag and drop to sort)</small></div>

                            <script type="text/template" id="resource-item-tmpl">
                                <div class="drag-drop-component">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <% if (position === 'new') {
                                                    print('New Resource');
                                                }else{
                                                    print('Resource '); print(position + 1);
                                                } %>
                                                <ul class="list-horizontal">
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="<%= id %>-upload_type" value="public">
                                                            Upload file
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="<%= id %>-upload_type" value="public">
                                                            Upload file2
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <i class="glyphicon glyphicon-collapse-down"></i>
                                                        Dropbox
                                                    </li>
                                                    <li>
                                                        <i class="glyphicon glyphicon-collapse-down"></i>
                                                        Google Drive
                                                    </li>
                                                    <li>
                                                        <button type="button" class="<%= action_btn_class %>"><%= action_btn_label %></button>
                                                    </li>
                                                </ul>

                                                <span class="pull-right">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                      <div class="control-group form-group control-full">
                                                        <div class="controls ">
                                                        <input type="text" name="url" value="<%= url %>" placeholder="eg. http://example.com/population-jan-2011.json" class="resource_url_field form-control">
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                      <div class="control-group form-group required">
                                                        <div class="controls ">
                                                        <input type="text" name="name" value="<%= name %>" placeholder="File name" class="form-control resource_name_field">
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="form-group">
                                                            <div class="controls">
                                                            <input class="form-control resource_format_field" type="text" name="format" value="<%= format %>" placeholder="File type"  data-module="autocomplete" data-module-source="/api/2/util/resource/format_autocomplete?incomplete=?" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                      <div class="control-group form-group control-full">
                                                        <div class="controls ">
                                                        <textarea name="description" cols="20" rows="5" placeholder="Add description" style="height: 68px;" class="form-control resource_description_field"><%= description %></textarea>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="drag-drop-area">Drop file to overwrite or <a>Browse</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </script>

                            <div id="resource-list"></div>

                            <div id="resource-create"></div>

    <!--                         <div class="drag-drop-component">
                                <div class="row">
                                    <div class="col-xs-12">

                                        <div class="row">
                                            <div class="col-xs-12">
                                                Resource ##
                                                <ul class="list-horizontal">
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="privacy" value="public" />
                                                            Upload file
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="privacy" value="public" />
                                                            Upload file2
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <i class="glyphicon glyphicon-collapse-down"></i>
                                                        Dropbox
                                                    </li>
                                                    <li>
                                                        <i class="glyphicon glyphicon-collapse-down"></i>
                                                        Google Drive
                                                    </li>
                                                </ul>

                                                <span class="pull-right">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        {{ form.input('file_name', id='field_file_name', placeholder=_('File name'), value=data.file_name, error=errors.file_name, classes=['form-group', 'required'], attrs={'class':'form-control'}) }}
                                                    </div>
                                                    <div class="col-xs-4">
                                                        {{ form.select('type', id='field_type', options=test_options, selected=data.type, error=errors.type, classes=['form-group'], attrs={'class':'form-control', 'data-placeholder':_('File type')}) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        {{ form.textarea('notes', id='field_notes',value=data.notes, placeholder=_('Add note'), error=errors.notes, classes=['form-group'], attrs={'class':'form-control', 'style': 'height: 68px;'}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="drag-drop-area">Drop file to overwrite or <a>Browse</a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="drag-drop-component">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                Resource ##
                                                <ul class="list-horizontal">
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="privacy" value="public" />
                                                            Upload file
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="privacy" value="public" />
                                                            Upload file2
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <i class="glyphicon glyphicon-collapse-down"></i>
                                                        Dropbox
                                                    </li>
                                                    <li>
                                                        <i class="glyphicon glyphicon-collapse-down"></i>
                                                        Google Drive
                                                    </li>
                                                </ul>

                                                <span class="pull-right">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        {{ form.input('file_name', id='field_file_name', placeholder=_('File name'), value=data.file_name, error=errors.file_name, classes=['form-group', 'required'], attrs={'class':'form-control'}) }}
                                                    </div>
                                                    <div class="col-xs-4">
                                                        {{ form.select('type', id='field_type', options=test_options, selected=data.type, error=errors.type, classes=['form-group'], attrs={'class':'form-control', 'data-placeholder':_('File type')}) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        {{ form.textarea('notes', id='field_notes',value=data.notes, placeholder=_('Add note'), error=errors.notes, classes=['form-group'], attrs={'class':'form-control', 'style': 'height: 68px;'}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="drag-drop-area">Drop file to overwrite or <a>Browse</a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="drag-drop-component">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                Resource ##
                                                <ul class="list-horizontal">
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="privacy" value="public" />
                                                            Upload file
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="privacy" value="public" />
                                                            Upload file2
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <i class="glyphicon glyphicon-collapse-down"></i>
                                                        Dropbox
                                                    </li>
                                                    <li>
                                                        <i class="glyphicon glyphicon-collapse-down"></i>
                                                        Google Drive
                                                    </li>
                                                </ul>

                                                <span class="pull-right">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        {{ form.input('file_name', id='field_file_name', placeholder=_('File name'), value=data.file_name, error=errors.file_name, classes=['form-group', 'required'], attrs={'class':'form-control'}) }}
                                                    </div>
                                                    <div class="col-xs-4">
                                                        {{ form.select('type', id='field_type', options=test_options, selected=data.type, error=errors.type, classes=['form-group'], attrs={'class':'form-control', 'data-placeholder':_('File type')}) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        {{ form.textarea('notes', id='field_notes',value=data.notes, placeholder=_('Add note'), error=errors.notes, classes=['form-group'], attrs={'class':'form-control', 'style': 'height: 68px;'}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="drag-drop-area">Drop file to overwrite or <a>Browse</a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div>
                                <input type="button" class="btn btn-primary btn-lg" value="Add more resources"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="form-hr"/>
                        </div>
                    </div>
                    <section id="contribute-flow-form-body">
                        <div class="row form-section">
                            <div class="col-xs-3">
                                <h3>Privacy Settings</h3>
                                <p> You can add more resources as needed by clicking on "Add more resources"</p>
                            </div>
                            <div class="col-xs-9">
                                <div class="form-group">
                                    <label class="control-label">This dataset is</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="private" value="true" {% if "true" == data.private %}selected="selected"{% endif %} />
                                            <strong>Private</strong> (Only you and other HDX members of your organisation can <strong>search</strong>, <strong>view/edit</strong> or <strong>download</strong> this dataset)
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="private" value="false" {% if "false" == data.private %}selected="selected"{% endif %}/>
                                            <strong>Public</strong> (Anyone can <strong>search</strong>, <strong>view/edit</strong> or <strong>download</strong> this dataset)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr class="form-hr"/>
                            </div>
                        </div>
                        <div class="row form-section">
                            <div class="col-xs-3">
                                <h3>Dataset title & description</h3>
                                <p> You can add more resources as needed by clicking on "Add more resources"</p>
                            </div>
                            <div class="col-xs-9">
                                <div data-module="hdx_form_element_manager" data-module-element_name="title">
                                {{ form.input('title', id='field_title', label=_('Title of dataset'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['form-group', 'required'], attrs={'data-module': 'slug-preview-target', 'class':'form-control'}) }}
                                </div>

                                {% set prefix = h.url_for(controller='package', action='read', id='') %}
                                {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
                                {% set domain = domain|replace("http://", "")|replace("https://", "") %}
                                {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

                                <div data-module="hdx_form_element_manager" data-module-element_name="name">
                                {{ form.prepend('name', id='field_name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs) }}
                                </div>

                                <div data-module="hdx_form_element_manager" data-module-element_name="notes">
                                {{ form.markdown('notes', id='field_notes', label=_('Description (optional)'), placeholder=_('Description of dataset'), value=data.notes, error=errors.notes, classes=['form-group'], attrs={'class':'form-control', 'style': 'height: 80px;'}) }}
                                </div>

                                <div data-module="hdx_form_element_manager" data-module-element_name="subnational">
                                {{ form.checkbox('subnational', id='field_subnational', label=_('Dataset contains sub-national data'), value='1', checked=data.subnational, error=errors.subnational, classes=['form-group'], attrs={}) }}
                                </div>

                                <div data-module="hdx_form_element_manager" data-module-element_name="quality">
                                {{ form.checkbox('quality', id='field_quality', label=_("Dataset\'s quality has been confirmed"), value='1', checked=data.quality, error=errors.quality, classes=['form-group'], attrs={}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr class="form-hr"/>
                            </div>
                        </div>
                        <div class="row form-horizontal form-section">
                            <div class="col-xs-3">
                                <h3>Metadata</h3>
                                <p> You can add more resources as needed by clicking on "Add more resources"</p>
                            </div>
                            <div class="col-xs-9">
                                <div data-module="hdx_form_element_manager" data-module-element_name="dataset_source">
                                {{ form.input('dataset_source', id='field_dataset_source', label=_('Source'), placeholder=_('Who collected the data?'), value=data.dataset_source, error=errors.dataset_source, classes=['form-group', 'required'], attrs={'class':'form-control'}) }}
                                </div>

                                {% set organisations = h.hdx_organisation_list() %}
                                <div data-module="hdx_form_element_manager" data-module-element_name="owner_org">
                                {{ form.select('owner_org', id='field_owner_org', label=_('Organisation'), options=organisations, selected=data.owner_org, error=errors.owner_org, classes=['form-group'], attrs={'class':'form-control', 'data-placeholder':_('Which organisation is contributing data?')}) }}
                                </div>

                                {% set maintainer_attrs = {'data-module': 'hdx_autocomplete',
                                'data-module-source': '/api/2/util/user/autocomplete?q=?', 'class':'form-control' } %}
                                <div data-module="hdx_form_element_manager" data-module-element_name="maintainer">
                                {{ form.input('maintainer', id='field_maintainer', label=_('Maintainer'), value=data.maintainer, error=errors.maintainer, classes=['form-group'], attrs=maintainer_attrs) }}
                                </div>


                                {% set dataset_date_attrs = {'data-module': 'hdx_datepicker',  'data-module-group': '1',
                                'data-module-type': 'single', 'data-module-topic': 'date-field-clicked',
                                'data-module-alt_field_id': 'field-dataset_date',
                                'data-module-original_value': '{{ data.dataset_date }}', 'class':'form-control' } %}

                                <div data-module="hdx_form_element_manager" data-module-element_name="ui_dataset_date">
                                {{ form.input('ui_dataset_date', id='field-ui_dataset_date', label=_('Date of dataset'), placeholder=_('Date of Dataset'), value=data.dataset_date, error=errors.dataset_date, classes=['form-group', 'required'], attrs=dataset_date_attrs) }}
                                <input type="hidden" name='dataset_date' id='field-dataset_date' value='{{data.dataset_date}}' error='{{errors.dataset_date}}' />
                                </div>



                                {% set locations = h.hdx_location_list() %}
                                <div data-module="hdx_form_element_manager" data-module-element_name="location">
                                {{ form.select('location', id='field_location', label=_('Location'), options=locations, selected=data.location, error=errors.location, classes=['form-group'], attrs={'class':'form-control', 'multiple':'true'}) }}
                                </div>


                                {% set licenses = h.hdx_license_list() %}
                                <div data-module="hdx_form_element_manager" data-module-element_name="license_id">
                                    {{ form.select('license_id', id='field_license_id', label=_('License'), options=licenses, selected=data.license_id, error=errors.license_id, classes=['form-group'], attrs={'class':'form-control'}) }}
                                </div>
                                <div data-module="hdx_form_element_manager" data-module-element_name="license_other" id="license-other-define" {% if data.license_id != 'Other' %}style="display:none;"{% endif %}>
                                    {{ form.markdown('license_other', id='field_license_other', label=_('Define License'), placeholder=_('Describe how people can and cannot use this data'), value=data.license_other, error=errors.license_other, classes=['form-group'], attrs={'class':'form-control', 'style': 'height: 80px;'}) }}
                                </div>

                                {% set methodologies = h.hdx_methodology_list() %}
                                <div data-module="hdx_form_element_manager" data-module-element_name="methodology">
                                    {{ form.select('methodology', id='field_methodology', label=_('Methodology'), options=methodologies, selected=data.methodology, error=errors.methodology, classes=['form-group'], attrs={'class':'form-control'}) }}
                                </div>
                                <div data-module="hdx_form_element_manager" data-module-element_name="methodology_other" id="methodology-other-define" {% if data.methodology != 'Other' %} style="display:none;" {% endif %}>
                                    {{ form.markdown('methodology_other', id='field_method_other', label=_('Define Methodology'), placeholder=_('Describe how this data was collected'), value=data.methodology_other, error=errors.methodology_other, classes=['form-group'], attrs={'class':'form-control', 'style': 'height: 80px;'}) }}
                                </div>

                                <div data-module="hdx_form_element_manager" data-module-element_name="update">
                                {{ form.select('data_update_frequency', id='field_data_update_frequency', label=_('Update frequency (?)'), options=test_options, selected=data.data_update_frequency, error=errors.data_update_frequency, classes=['form-group'], attrs={'class':'form-control'}) }}
                                </div>

                                <div data-module="hdx_form_element_manager" data-module-element_name="caveats">
                                {{ form.textarea('caveats', id='field_caveats', label=_('Caveats / Comments'),value=data.caveats, error=errors.caveats, classes=['form-group'], attrs={'class':'form-control', 'style': 'height: 80px;'}) }}
                                </div>

                                {# replaced with ajax one below
                                    {% set tags = h.hdx_tag_list() %}
                                    {{ form.select('tag_string', id='field_tags', label=_('Tags'), options=tags, selected=data.tag_string, error=errors.tag, classes=['form-group'], attrs={'class':'form-control choices-orange', 'multiple':'true'}) }}
                                #}

                                {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '',
                                  'class':'form-control choices-orange', 'multiple':'true',
                                  'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
                                <div data-module="hdx_form_element_manager" data-module-element_name="tag_string">
                                {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full', 'form-group'], attrs=tag_attrs) }}
                                </div>

                                TODO author, author_email, maintainer_email as hidden ?
                            </div>
                        </div>
                    </section>
            </div>
        </div>
        <div class="row paddingRowHack background-white">
            <div class="paddingLeftHack paddingRightHack">
                <div class="pTopBottom35">
                    <input type="button" class="btn btn-danger btn-lg" value="Delete this entry"/>
                    <input type="submit" class="btn btn-primary btn-lg pull-right" value="Submit"/>
                    <input type="button" class="btn btn-inverse btn-lg pull-right" value="See preview"/>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}

{% block scripts2 %}
    {{ super() }}
    {% resource 'hdx_theme/contribute-flow' %}
{% endblock %}
