/* Topline numbers style change for Colombia
 * (smaller fonts + smaller margins)
 */
    .topline .indicator-title {
        font-size: 14px;
        margin-bottom: 0;
    }

    .topline .indicator-value {
        font-size: 47px;
    }

    .topline .small {
        font-size: 25px;
        margin-bottom: 10px;
        margin-left: -10px;
    }
/* END Topline numbers */

.graph-title{
    font-family: 'Gotham-Bold', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    margin-left: 45px;
    color: #333333;
}

.graph-title span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.crisis-top-line-value-prefix {
	font-family: 'Gotham-Light', sans-serif;
    font-size: 37px;
    line-height: 1;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    margin-right: -10px;
}
