@import "../../base/variables";
@import "../../base/mixins";

@import "../../datasets/dataset";

.dataset-light {
  .nav-tabs {
    margin: 0 -@gutterSmallSize;
    padding: 0 @gutterSmallSize;
  }

  .table-condensed > tbody > tr {
    & > td, & > th {
      display: block;
      color: @grayColor;
    }
    & > th {
      padding-bottom: 0;
      max-width: unset;
      width: 100%;
    }
    & > td {
      padding-top: 0;
    }
  }

  @resourceItemPadding: 10px;
  .resource-list {
    margin: 0;
    padding: 10px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 1rem;

    .resource-item {
      background-color: @whiteColor;
      margin-bottom: 3px;
      border: 1px solid @extraLightGrayColor;
      padding: 0;

      &.in-review {
        opacity: 60%;
      }
      &:last-child {
        margin-bottom: 0;
      }

      .animation-wrapper {
        padding: 0;
        // in case a fixed height needs to be set, check HDX-7009
        //max-height: 500px;
        overflow: hidden;
        transition: max-height 1s;
        &.closed {
          max-height: 0;
        }
      }

      .resource-item-title {
        padding: @resourceItemPadding;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
      }

      .spacer {
        flex-grow: 1;
      }
      .toggle-show {
        justify-self: flex-end;
        .glyphicon {
          color: @blueColor;
        }
      }
      .heading {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-grow: 0;
      }
      .format-label {
        //transform: scale(0.6);
        position: initial;
        min-width: 32px;
        margin: 2px 0 0 -20px;
      }

      .content {
        border-top: 1px solid @extraLightGrayColor;
        padding: @resourceItemPadding;

        .actions {
          margin-top: 10px;
          text-align: center;
          a.btn {
            width: 100%;
          }
        }
      }
    }
  }

  .tab-content {
    background-color: #fafafa;
    margin: 0 -@gutterSmallSize;
    padding: 5px @gutterSmallSize 15px @gutterSmallSize;

    .tab-pane-background {
      margin: @resourceItemPadding 0;
      padding: @resourceItemPadding;

      background-color: @whiteColor;
      border: 1px solid @extraLightGrayColor;
    }

    .btn-primary {
      width: 100%;
    }
    .btn-primary-small {
      width: auto;
    }
  }

  .lines {
    overflow: hidden;
  }

  .details .dataset-resources .label-icons:first-child {
    margin-left: -10px;
  }
}

@media (max-width: @cut-point-mobile-m) {
  .dataset-light {
    .nav-tabs {
      .hdx-tab-button {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
