.c-activity-card {
  background-color: var(--hdx-neutral-01);
  border: 1px solid var(--hdx-neutral-1);
  border-radius: var(--hdx-radius-sm);
  box-shadow: var(--hdx-shadow-sm);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: border 0.15s ease;
}
.c-activity-card:hover {
  border: 1.5px solid var(--hdx-neutral-8);
}
.c-activity-card__header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.c-activity-card__icon {
  display: block;
  line-height: 0;
  flex-shrink: 0;
  color: var(--hdx-neutral-5);
  width: 1.5rem;
}
.c-activity-card__icon svg {
  width: 100%;
  height: auto;
  display: block;
}
.c-activity-card__body {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.c-activity-card__heading {
  align-self: stretch;
  font-family: var(--hdx-font-display);
  font-weight: var(--hdx-fw-bold);
  line-height: var(--hdx-lh-normal);
  color: var(--hdx-neutral-95);
  margin: 0;
}
.c-activity-card__subtitle {
  align-self: stretch;
  font-family: var(--hdx-font-body);
  line-height: var(--hdx-lh-normal);
  color: var(--hdx-neutral-8);
  margin: 0;
}
.c-activity-card__footer {
  max-width: 12.5rem;
}
.c-activity-card--size-lg {
  padding: var(--hdx-space-8);
  gap: var(--hdx-space-12);
}
.c-activity-card--size-lg .c-activity-card__header {
  gap: var(--hdx-space-6);
}
.c-activity-card--size-lg .c-activity-card__body {
  gap: var(--hdx-space-4);
}
.c-activity-card--size-lg .c-activity-card__heading {
  font-size: var(--hdx-fs-3xl);
}
.c-activity-card--size-lg .c-activity-card__subtitle {
  font-size: var(--hdx-fs-l);
}
.c-activity-card--size-md {
  padding: var(--hdx-space-6);
  gap: var(--hdx-space-10);
}
.c-activity-card--size-md .c-activity-card__header {
  gap: var(--hdx-space-5);
}
.c-activity-card--size-md .c-activity-card__body {
  gap: var(--hdx-space-4);
}
.c-activity-card--size-md .c-activity-card__heading {
  font-size: var(--hdx-fs-2xl);
}
.c-activity-card--size-md .c-activity-card__subtitle {
  font-size: var(--hdx-fs-m);
}
.c-activity-card--size-sm {
  padding: var(--hdx-space-5);
  gap: var(--hdx-space-8);
}
.c-activity-card--size-sm .c-activity-card__header {
  gap: var(--hdx-space-4);
}
.c-activity-card--size-sm .c-activity-card__body {
  gap: var(--hdx-space-3);
}
.c-activity-card--size-sm .c-activity-card__heading {
  font-size: var(--hdx-fs-xl);
}
.c-activity-card--size-sm .c-activity-card__subtitle {
  font-size: var(--hdx-fs-m);
}
.c-activity-card--size-responsive {
  padding: var(--hdx-space-5);
  gap: var(--hdx-space-8);
}
.c-activity-card--size-responsive .c-activity-card__header {
  gap: var(--hdx-space-4);
}
.c-activity-card--size-responsive .c-activity-card__body {
  gap: var(--hdx-space-3);
}
.c-activity-card--size-responsive .c-activity-card__heading {
  font-size: var(--hdx-fs-xl);
}
.c-activity-card--size-responsive .c-activity-card__subtitle {
  font-size: var(--hdx-fs-m);
}
@media (min-width: 48rem) {
  .c-activity-card--size-responsive {
    padding: var(--hdx-space-6);
    gap: var(--hdx-space-10);
  }
  .c-activity-card--size-responsive .c-activity-card__header {
    gap: var(--hdx-space-5);
  }
  .c-activity-card--size-responsive .c-activity-card__body {
    gap: var(--hdx-space-4);
  }
  .c-activity-card--size-responsive .c-activity-card__heading {
    font-size: var(--hdx-fs-2xl);
  }
  .c-activity-card--size-responsive .c-activity-card__subtitle {
    font-size: var(--hdx-fs-m);
  }
}
@media (min-width: 80rem) {
  .c-activity-card--size-responsive {
    padding: var(--hdx-space-8);
    gap: var(--hdx-space-12);
  }
  .c-activity-card--size-responsive .c-activity-card__header {
    gap: var(--hdx-space-6);
  }
  .c-activity-card--size-responsive .c-activity-card__body {
    gap: var(--hdx-space-4);
  }
  .c-activity-card--size-responsive .c-activity-card__heading {
    font-size: var(--hdx-fs-3xl);
  }
  .c-activity-card--size-responsive .c-activity-card__subtitle {
    font-size: var(--hdx-fs-l);
  }
}
