.c-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--hdx-radius-md);
  font-family: var(--hdx-font-body);
  font-weight: var(--hdx-fw-regular);
  line-height: 130%;
  white-space: nowrap;
  box-sizing: border-box;
}
.c-label__icon {
  flex-shrink: 0;
  display: block;
}
.c-label__text {
  position: relative;
}
.c-label--size-m {
  padding: var(--hdx-space-1) var(--hdx-space-2);
  gap: var(--hdx-space-13);
  font-size: var(--hdx-fs-m);
}
.c-label--size-m .c-label__icon {
  width: 1rem;
}
.c-label--size-s {
  padding: var(--hdx-space-15) var(--hdx-space-13);
  gap: var(--hdx-space-1);
  font-size: var(--hdx-fs-s);
}
.c-label--size-s .c-label__icon {
  width: 0.875rem;
}
.c-label--size-xs {
  padding: var(--hdx-space-15) var(--hdx-space-1);
  gap: var(--hdx-space-1);
  font-size: var(--hdx-fs-xs);
  min-height: 1.25rem;
}
.c-label--size-xs .c-label__icon {
  width: 0.75rem;
}
.c-label--icon-only {
  padding: 0;
}
.c-label--icon-only.c-label--size-m {
  width: 1.8125rem;
  height: 1.8125rem;
}
.c-label--icon-only.c-label--size-s {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: var(--hdx-radius-sm);
}
.c-label--icon-only.c-label--size-xs {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: var(--hdx-radius-sm);
  min-width: 1.25rem;
}
.c-label--light {
  background-color: #f5f7f7;
  color: var(--hdx-neutral-95);
}
.c-label--grey {
  background-color: #ebeff0;
  color: var(--hdx-neutral-95);
}
.c-label--dark {
  background-color: var(--hdx-neutral-2);
  color: var(--hdx-neutral-95);
}
.c-label--cyan {
  background-color: #d4eae4;
  color: #0b2d24;
}
.c-label--yellow {
  background-color: #f6e9d4;
  color: #553911;
}
.c-label--blue {
  background-color: #d1e0f7;
  color: #05142b;
}
.c-file-type {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
}
.c-file-type__icon {
  display: block;
  width: 1.5rem;
  max-height: 100%;
}
.c-file-type--size-m {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--hdx-radius-md);
  padding: var(--hdx-space-2);
}
.c-file-type--size-m .c-file-type__icon {
  width: 1.5rem;
}
.c-file-type--size-s {
  width: 2rem;
  height: 2rem;
  border-radius: var(--hdx-radius-sm);
  padding: var(--hdx-space-2);
}
.c-file-type--size-s .c-file-type__icon {
  width: 1rem;
}
.c-file-type--size-xs {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: var(--hdx-radius-sm);
  padding: var(--hdx-space-1);
}
.c-file-type--size-xs .c-file-type__icon {
  width: 1rem;
}
.c-file-type--neutral {
  background-color: #ebeff0;
}
.c-file-type--geo {
  background-color: #f6e9d4;
}
.c-file-type--tabular {
  background-color: #d4eae4;
}
.c-file-type--document {
  background-color: #d1e0f7;
}
.c-file-type--web {
  background-color: #f3dad7;
}
.c-tooltip {
  border-radius: var(--hdx-radius-sm);
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--hdx-space-2) var(--hdx-space-3);
  max-width: 18.75rem;
  isolation: isolate;
  position: relative;
  font-family: var(--hdx-font-body);
}
.c-tooltip__arrow {
  width: 1rem;
  height: 0.5rem;
  position: absolute;
  object-fit: contain;
  z-index: 0;
  flex-shrink: 0;
}
.c-tooltip__arrow--below {
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.c-tooltip__arrow--above {
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}
.c-tooltip__text {
  position: relative;
  line-height: 130%;
  z-index: 1;
  flex-shrink: 0;
}
.c-tooltip--dark {
  background-color: #0b2d24;
  color: var(--hdx-neutral-0);
  font-size: var(--hdx-fs-s);
}
.c-tooltip--dark .c-tooltip__text {
  align-self: stretch;
}
.c-tooltip--light {
  background-color: var(--hdx-neutral-0);
  color: var(--hdx-neutral-95);
  padding: var(--hdx-space-2);
  gap: var(--hdx-space-13);
  font-size: var(--hdx-fs-s);
}
.c-tooltip--light .c-tooltip__body {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--hdx-space-13);
  z-index: 1;
  flex-shrink: 0;
}
.c-tooltip--light .c-tooltip__flag {
  width: 1.25rem;
}
.c-tooltip--light .c-tooltip__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--hdx-space-1);
}
.c-tooltip--light .c-tooltip__title {
  align-self: stretch;
  font-weight: var(--hdx-fw-medium);
  line-height: 130%;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3.25rem;
}
.c-tooltip--light .c-tooltip__subtitle {
  align-self: stretch;
  font-size: var(--hdx-fs-xs);
  line-height: 130%;
  color: #2f3536;
}
.c-tooltip--graph {
  background-color: var(--hdx-neutral-0);
  color: var(--hdx-neutral-8);
  padding: var(--hdx-space-2);
  gap: var(--hdx-space-13);
  font-size: var(--hdx-fs-s);
}
.c-tooltip--graph .c-tooltip__legend {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--hdx-space-1);
}
.c-tooltip--graph .c-tooltip__legend-row {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.c-tooltip--graph .c-tooltip__legend-key {
  display: flex;
  align-items: center;
  gap: var(--hdx-space-2);
}
.c-tooltip--graph .c-tooltip__legend-swatch {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: var(--hdx-radius-sm);
  flex-shrink: 0;
}
.c-tooltip--graph .c-tooltip__legend-label {
  font-weight: var(--hdx-fw-medium);
  line-height: 130%;
}
.c-tooltip--graph .c-tooltip__legend-value {
  font-weight: var(--hdx-fw-medium);
  line-height: 130%;
  color: var(--hdx-neutral-8);
}
