@import "../../variables";

/* Style Dataset Item */
.dataset-item {
  border-bottom: 0;
  margin-top: 35px;
  margin-bottom: 60px;
  padding-bottom: 0;

  .dataset-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0;
  }
}

.updatedNameColor, .updatedNameColor a{
  color: @blueColor;
}
/* END Style Dataset Item */

.info-label {
  @infoFontSize: 14px;
  background-color: @orangeColor;
  color: @whiteColor;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;

  i {
    font-size: 12px;
    font-weight: 400;
  }
  &.inverted {
    background-color: @extraLightGrayColor;
    color: @grayColor;
  }
}


.plain-list {
  list-style: none;
  padding: 0;
}
