/* Style Modal Dialogs */
@import "../../../widget/onboarding/notification-mixins";

.modal.show {
  .modal-dialog {
    @modalContentHeight: 360px;
    .modal-content {
      min-width: 370px;
      min-height: @modalContentHeight;

      .notification-widget-style();
      .modal-header{
        .notification-title-style();
      }
      .modal-body{
        min-height: @modalContentHeight - 65px - 102px;

        padding: 30px 30px 0;
        .nav-tabs {
          border-color: @lightGrayColor;
          h4{
            margin: 0;
          }
        }

        input[type="text"]{
          height: 44px;
          line-height: 14px;
          box-shadow: none;
          padding-left: 15px;
          font-size: 14px;
          color: #000000;
          border-radius: 3px;
          border: 1px solid #ffffff;

          &:disabled{
            background-color: @extraLightGrayColor;
          }
        }
      }
      .modal-footer{
        padding: 30px;
        box-shadow: none;
        border-top: none;

        position: relative;
        bottom: 0;
        right: 0;

        .btn-large {
          min-width: 150px;
          &.btn-empty {
            min-width: 0;
            margin-right: 30px;
            color: @blackColor;
          }

        }

      }
    }
  }
}
/* END Style Modal Dialogs */
