/* search_form.html customisations */
    .list-items.search-form {
        border-bottom: none;
        margin: 0;
        padding: 0;

        .search-input.search-giant input {
    		border-radius: 14px;
            background-color: #ffffff;
            border: 1px solid #cccccc;
        }
        .search-input {
    	    margin-bottom: 25px;
        }
    }

/* END search_form.html customisations */
