@import "../../variables";
@import "../../mixins";


@navTabsActiveColor: @orangeColor;
@navTabsBorderHeight: @navBorderHeight;

/* Alter page-header style - used with nav-tabs */
.page-header{
  background: none;
  border-bottom: @navTabsBorderHeight solid @extraLightGrayColor;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  &.page-header-gray{
    border-bottom-color: @lightGrayColor;

    .nav-tabs{
      a:hover {
        background-color: inherit;
      }
    }
  }

  .nav-tabs {
    margin-bottom: -@navTabsBorderHeight; //reset default CKAN style
  }

}
/* END Alter page-header style */

.nav-tabs{
  @borderDefinition: @navTabsBorderHeight solid @extraLightGrayColor;
  border-bottom: @borderDefinition;

  &.inverted {
    border-bottom: none;
    border-top: @borderDefinition;

    > li {
      margin-bottom: 0;
      &.active > a {
        &,
        &:hover,
        &:focus {
          margin-top: -@navTabsBorderHeight;
          border: none;
          border-top: @borderDefinition;
          border-top-color: @navTabsActiveColor;
        }
      }
    }
  }

  &.nav-tabs-upper {
    text-transform: uppercase;
  }

  &.nav-tabs-gray{
    border-bottom-color: @lightGrayColor;
    > li.active > a {
      background-color: inherit;
    }
  }

  > li {
    margin-bottom: -@navTabsBorderHeight;
    > a {
      .gothamBoldFont(14px);
      padding-left: 30px;
      padding-right: 30px;
      .letter-spacing-3;
      color: @grayColor;
      border: none;
      border-radius: 0;
    }

    > a:hover {
      color: @navTabsActiveColor;
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        border: none;
        background-color: inherit;
        border-bottom: @borderDefinition;
        border-bottom-color: @navTabsActiveColor;
        color: @navTabsActiveColor;
      }
    }
  }

  .hdx-tab-button {
//    color: @blueColor;
    i {
      display: none;
    }
  }

}
/* END Style tabs*/
