/* Tooltip style */
    .tooltip{
        text-transform: uppercase;
        font-size: 10px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        letter-spacing: 0.01em;

        /*don't override opacity globally it will cancel the fade effect*/
        /*opacity: 1;*/
    }
    .tooltip .tooltip-inner{
        padding: 10px 15px;
    }
/* END Tooltip style */
