/* Style Sysadmin settings*/
.user-list {
  margin: 0;
  list-style: none;

  li {
    margin: 0 0 10px 0;
  }

  .gravatar {
    vertical-align: -4px;
    margin-right: 3px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
}
/* END Style Sysadmin settings*/
