{% extends "organization/read_v1_base.html" %}

{% block subtitle_suffix %}{{ _('Activity Stream') }}{% endblock %}
{% block meta_description %}
	<meta name="description" content="Explore recent activity for the {{ org_dict.display_name }} organization on HDX. Recent dataset updates are listed in this section." />
{% endblock %}


{% block primary_content_inner %}
	<h2 class="hide-heading">{% block page_heading %}{{ _('Activity Stream') }}{% endblock %}</h2>
	{% block activity_stream %}
	{% snippet 'organization/snippets/activity_stream.html', activity_stream=group_activity_stream, id=org_dict.id, object_type='organization' %}
	{% endblock %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/base-dashboard-styles' %}
{% endblock %}
