{% extends "page.html" %}

{% set group_dict = c.group_dict %}

{% block subtitle %}{{ group_dict.display_name }}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/other_breadcrumb_item.html", title=_('Organizations'), controller='organization', action='index', position=2 %}
  {% block breadcrumb_content_inner %}
    {% snippet "snippets/other_breadcrumb_item.html", title=group_dict.display_name|truncate(35), controller='organization', action='read', id=group_dict.name, position=3 %}
    <li class="active">{% link_for _('Admin'), controller='organization', action='edit', id=group_dict.name %}</li>
  {% endblock %}
{% endblock %}

{% block content_action %}

{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('organization.edit', _('Edit'), id=group_dict.name) }}
  {#
  {{ h.build_nav_icon('organization_bulk_process', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('organization_members', _('Members'), id=c.group_dict.name) }}
  #}
{% endblock %}

{% block secondary_content %}
  {% if group_dict %}
    {% snippet 'snippets/organization.html', organization=group_dict %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

