{% extends "page.html" %}
{% set logged_in = true if c.userobj else false %}
{% set is_sys_admin = c.userobj.sysadmin %}
{% block subtitle %}{{ _('Organisations') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{% link_for _('Organisations'), controller='organization', action='index' %}</li>
{% endblock %}


{% block primary_content %}

    <div class="list-items search-form">
        <h2>All Organisations</h2>
    </div>

    <div id="organizationsSection" class="row list-items module paddingRowHack">
        <div class="col-xs-12 paddingLeftHack paddingRightHack">
            <div class="list-header crisis-list-header">
                <span class="mL15 list-header-title">{{ _("Organisations") }} [{{c.page.item_count}}]</span>
                <span class="mL30">
                    <input id="headerSearch" class="header-search" type="text" placeholder="Search {{c.page.item_count}} organisations ..." value="{{request.params.get('q')}}">
                </span>
                {% set sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
                {% set sort_param = request.params.get('sort') %}
                {% set sorting_selected = sort_param if sort_param else 'title asc' %}
                <div class="form-select control-group control-order-by pull-right">
                    <label for="field-order-by" class="uppercase">{{ _('Order by') }}</label>
                    <div class="dropdown orderDropdown" data-module-additional="#organizationsSection">
                        <button id="field-order-by" class="dropdown-toggle sspBold16" data-toggle="dropdown">
                            <span class="dropdown-toggle-text">
                            {% for label, value in sorting %}
                            {% if sorting_selected == value %} {{ label }} {% endif %}
                            {% endfor %}
                            </span>
                            <b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu dropdown-inverse" role="menu" style="max-height: 241px; overflow-y: auto;">
                            {% for label, value in sorting %}
                                {% if label and value %}
                                    <li><a tabindex="-1" val="{{ value }}">{{ label }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <span class="mL15 list-header-showall pull-right mR45">
                    {% set limits = [25, 50, 100] %}
                    {% set limit_param = request.params.get('limit') %}
                    {% set limit_selected = limit_param if limit_param else 25 %}

                    Show
                    {% for value in limits %}
                        {% if limit_selected|int == value %}
                            <span>{{ value }}</span>
                        {% else %}
                            <span><a href="#">{{value}}</a></span>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            <div>
                <ul class="hdx-bs3 list-items {{ list_class or 'dataset-list unstyled' }}">
                    {% for organization in c.page.items %}
                        {% snippet 'browse/snippets/org_item.html', organization=organization %}
                    {% endfor %}
                </ul>
            </div>
            {% block page_pagination %}
            {{ c.page.pager() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block secondary %}
{% endblock %}

{% block scripts2 %}
  {{ super() }}
    {% resource 'hdx_theme/search' %}
    {% resource 'hdx_theme/organization/organizations.css' %}
    {% resource 'hdx_theme/organization/organizations.js' %}
    {% resource 'hdx_theme/browse' %}
  {% resource 'hdx_theme/jquery.expander' %}
  {% resource 'hdx_theme/hdx_show_more.js' %}
{% endblock %}
