{% extends "organization/base_form_page.html" %}

{% block subtitle %}{{ _('Create an Organisation') }}{% endblock %}

{% block breadcrumb_link %}
	{{ h.nav_link(_('Create an Organisation'), controller='organization', action='edit', id=c.organization.name) }}
{% endblock %}

{# block page_heading %}{{ _('Create an Organisation') }}{% endblock #}

{# block page_header %}{% endblock #}

{% block breadcrumb_content %}
	{% block breadcrumb_content_inner %}
  <li class="active">{% link_for _('Add Organisation'), controller='organization', action='new'%}</li>
	{% endblock %}
{% endblock %}

{% block toolbar %}
    {{ super() }}
    {% snippet "snippets/greeting_message.html", show_small_message=True, greeting=_('Creating an organisation is easy.'),
              explanation=_('Organisations don\'t have to be legal entities - they can be informal groups that users create to share data publicily or privately.') %}
{% endblock %}

{% block primary %}
    <div class="create-org">
	{% block primary_content %}
	  <article class="module">
	    {% block page_header %}
	    {% endblock %}
	    <div class="module-content">
	      {% if self.page_primary_action() | trim %}
	        <div class="page_primary_action">
	          {% block page_primary_action %}{% endblock %}
	        </div>
	      {% endif %}
		  {% block primary_content_inner %}
		    <h1 class="h1-title uppercase">
		      {% block page_heading %}1. {{ _('Basic Details') }}{% endblock %}
		    </h1>
		    <p>{{ _('Tell us some basic details about your organisation.') }}</p>
		    {% block form %}
		      {{ c.form | safe }}
		    {% endblock %}
		  {% endblock %}
	    </div>
	  </article>
	{% endblock %}
	</div>
{% endblock %}


{% block secondary %}{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/org_create.css"/>
{% endblock %}


