{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active"><a href="{% if c.userobj %}/dataset/preselect{% else %}/contribute{% endif %}">{{ _("Submit data") }}</a></li>
{% endblock %}

{% block toolbar%}
	{{ super() }}
	{% set find_org_url = h.url_for(controller='organization', action='index') %}
	{% set create_org_url = h.url_for(controller='organization', action='new') if c.am_sysadmin 
	            else h.url_for(controller='ckanext.hdx_org_group.controllers.request_controller:HDXReqsOrgController', action='request_new_organization') %}
	{% snippet "snippets/greeting_message.html", show_small_message=True, greeting=_('Thanks for contributing - you rock.'),
          explanation=_('Select the organisation through which you want to share data. You can also <a href="'+create_org_url+'">'+_('create a new organisation')+'</a> or request to become an editor of an <a href="'+find_org_url+'">'+_('existing organisation')+'</a>.') %}
              
{% endblock %}

{% block primary %}
    {% resource 'hdx_theme/css/organization_preselector.css' %}
    <div class="row paddingRowHack ">
        <div class="span12 all-org-selector-wrapper paddingLeftHack paddingRightHack">
            {% for org in c.organizations_available %}
                {% snippet 'organization/snippets/organization_preselector_item.html', 
                display_name = org.display_name, id = org.id, name = org.name, 
                description = org.description, role = org.role, has_add_dataset_rights = org.has_add_dataset_rights %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block secondary %}{% endblock %}

