{% extends "organization/read_base.html" %}

{# The lines below are for analytics #}
{% block analytics_org_name %}{{ c.group_dict.name }}{% endblock %}
{% block analytics_org_id %}{{ c.group_dict.id }}{% endblock %}

{% set can_create_dataset = h.check_access('package_create', {'organization_id': c.group_dict.id, 'owner_org': c.group_dict.id}) %}
{% set can_edit = h.check_access('organization_update', {'id': c.group_dict.id}) %}
{% set can_actions = can_create_dataset or can_edit %}

{% block item_title_contrib %}
	<div>
		<ul style="list-style: none; padding: 0;">
			{% snippet 'browse/snippets/org_item_read.html', organization=c.group_dict %}
		</ul>
	</div>
	<div class="row mTop20">
		<div class="col-xs-12">
			{% snippet "organization/snippets/org_actions_menu.html", request_membership=c.org_meta.allow_req_membership, organization=c.group_dict, can_create_dataset=can_create_dataset, can_edit=can_edit, classes='base-actions-menu followButtonContainer pull-right' %}
		</div>
	</div>
{% endblock %}

{% block page_header %}
<div>
	<header class="module-content page-header paddingRowHack mTop20 mBottom10">
		<ul class="nav nav-tabs paddingLeftHack paddingRightHack">
		   {% block content_primary_nav %}
			   	{{ h.build_nav_icon('organization_read', _('Datasets'), id=c.group_dict.name, class_='hdx-tab-button') }}
			   	{{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=c.group_dict.name, class_='hdx-tab-button') }}
				{{ h.build_nav_icon('organization_members', _('Members'), id=c.group_dict.name, class_='hdx-tab-button') }}
		   {% endblock %}
		</ul>
	</header>
</div>
{% endblock %}


{% block page_primary_action %}
{% endblock %}

{% block primary_content_inner %}
	{% block package_notes %}
    {% endblock %}
    {% block groups_search_form %}
	{% endblock %}

	{% block packages_list %}
      {% if c.page.items %}
		<div>
			{% snippet 'search/snippets/search_results_wrapper.html', tracking_enabled=g.tracking_enabled, my_c=c %}
		</div>
  	  {% else %}
        <div>
		  	<div class="big-message">
			    <p>
			      {{ _('There are no datasets currently uploaded to this organisation.') }}
			    </p>
			    <p>
			      {% if h.check_access('package_create', {'organization_id': c.group_dict.id, 'owner_org': c.group_dict.id}) %}
				  		{% link_for _('+ Add Dataset'), controller='package', action='new', group=c.group_dict.id, class_='big-info-item-name' %}
				  {% endif %}
			    </p>
		    </div>
		</div>
      {% endif %}
    {% endblock %}
  {% block page_pagination %}
  {% endblock %}
{% endblock %}

{% block secondary %}{% endblock %}
