{% extends "organization/read_base.html" %}

  	 {% set can_create_dataset = h.check_access('package_create', {'organization_id': c.group_dict.id, 'owner_org': c.group_dict.id}) %}
     {% set can_edit = h.check_access('organization_update', {'id': c.group_dict.id}) %}
     {% set can_actions = can_create_dataset or can_edit %}

{% block item_title_contrib %}
    <div class="mTop35">
      <h1 class="itemTitle">
        {{ c.group_dict.display_name or c.group_dict.title or c.group_dict.name }}
      </h1>
      
	      <span class="followButtonContainer pull-right">
	      	{{ h.follow_button('group', c.group_dict.id) }}<br/><br/>
		 	{% if can_create_dataset %}
	        	{% link_for _('+ Add Dataset'), controller='package', action='new', organization_id=c.group_dict.id, class_='btn hdx-btn org-edit-btn' %}
    		{% endif %}
	      </span>
    </div>
    <div class="info-secondary-data">{{ _('updated on') }} {{ h.render_datetime(c.group_dict.metadata_modified or c.group_dict.metadata_created or c.group_dict.created, with_hours=False) }}</div>

{% endblock %}

{% block page_header %}
	<header class="module-content page-header paddingRowHack">
		<ul class="nav nav-tabs paddingLeftHack paddingRightHack">
		   {% block content_primary_nav %}
				<li class="active">
					{% link_for _('Datasets'), controller='organization', action='read', id=c.group_dict.name, class_='hdx-tab-button' %}
				</li>
			   	{{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=c.group_dict.name, class_='hdx-tab-button') }}
		   {% endblock %}
		</ul>
	</header>
	
	{% if can_edit %}
		<div class="content_action">
			{% link_for _('Edit'), controller='organization', action='edit', id=c.group_dict.name, class_='btn hdx-btn org-edit-btn' %}
		</div>
  	{% endif %}
{% endblock %}


{% block page_primary_action %}
{% endblock %}

{% block primary_content_inner %}
	{% block package_notes %}
	    {% if c.group_dict.description %}
	      <div class="notes embedded-content mBottom15">
	        {{ c.group_dict.description }}
	        {% set org_url = h.hdx_get_extras_element(c.group_dict.extras) %}  	 
		  	{% if org_url != '' %}
		      	<span>
		      		&nbsp;&nbsp;&nbsp;{{ _('More info') }}
		      		<a class="info-item-name" href="http://{{ org_url}}" target="_blank">{{ c.group_dict.title or c.group_dict.name }} {{_('Website')}}</a>
		      	</span>
 	        {% endif %}
	      </div>
	    {% endif %}
    {% endblock %}
    {% block groups_search_form %}
      {% set facets = {
        'fields': c.fields_grouped,
        'search': c.search_facets,
        'titles': c.facet_titles,
        'translated_fields': c.translated_fields,
        'remove_field': c.remove_field }
      %}
      {% set sorting = [
        (_('Name Ascending'), 'title_string asc'),
        (_('Name Descending'), 'title_string desc'),
        (_('Last Modified'), 'metadata_modified desc') ]
      %}
      {% set search_text=_('Search within') ~ ' '~ c.group.title ~'\'s ' ~ _('datasets...') %}
      {% set sorting_option = c.sort_by_selected or 'metadata_modified desc' %}	
      {% snippet 'snippets/search_form.html', type='dataset', query=c.q, sorting=sorting, sorting_selected=sorting_option, count=c.page.item_count, facets=facets, placeholder=search_text, show_empty=request.params %}
	{% endblock %}

	{% block packages_list %}
      {% if c.page.items %}
        {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
        {% else %}
		  	<div class="big-message">
			    <p>
			      {{ _('There are no datasets currently uploaded to this organisation.') }}
			    </p>
			    <p>
			      {% if h.check_access('package_create', {'organization_id': c.group_dict.id, 'owner_org': c.group_dict.id}) %}
				  		{% link_for _('+ Add Dataset'), controller='package', action='new', group=c.group_dict.id, class_='big-info-item-name' %}
				  {% endif %}
			    </p>
		    </div>
      {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q) }}
  {% endblock %}
{% endblock %}

{% block organization_facets %}
  {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }}
  {% endfor %}
{% endblock %}
