{% extends "page.html" %}
{% set page_has_mobile_version = True %}
{% set org_dict = org_dict or c.group_dict %}

{% block styles %}
  {{ super() }}

  {% asset 'hdx_theme/organization-styles' %}
{% endblock %}

{% block subtitle %}{{ org_dict.display_name }} Humanitarian Data {% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/other_breadcrumb_item.html", title=_('Organisations'), controller='organization', action='index', position=2 %}
  {% snippet "snippets/active_breadcrumb_item.html", title=org_dict.display_name|truncate(35), position=3 %}
{% endblock %}


{% block content_action %}
  {% if h.check_access('organization_update', {'id': org_dict.id}) %}
    {% link_for _('Edit'), controller='organization', action='edit', id=org_dict.name, class_='btn hdx-btn org-edit-btn' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('hdx_org.read', _('Datasets'), id=org_dict.name, class_='hdx-tab-button') }}
  {{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=org_dict.name, class_='hdx-tab-button') }}
  {# h.build_nav_icon('organization_about', _('About'), id=c.group_dict.name) #}
{% endblock %}


{% block secondary_content %}
  {# snippet 'snippets/organization_info.html', organization=c.group_dict, show_nums=true #}
  {% set show_members_num = c.action != 'members' %}
  {% snippet 'snippets/organization.html', organization=org_dict, show_nums=true, show_members_num=show_members_num, user=c.user %}
  {% block organization_facets %}{% endblock %}
{% endblock %}

{% block links %}
  <link rel="alternate" media="{{ h.HDX_CONST('MOBILE_MEDIA') }}" href="{{ h.hdx_switch_url_path(force=False) }}">
  {% set canonical_url = h.url_for('hdx_org.read', id=org_dict.name)  %}
  {% snippet "snippets/add_optional_canonical_link.html", no_params=True, canonical_url=canonical_url %}
  {{ super() }}
    {% if 'country_dict' in org_dict %}
      {% set group_dict = org_dict %}
      {% include "organization/snippets/feeds.html" %}
    {%  endif %}
{% endblock %}

