{% extends "organization/snippets/organization_form.html" %}

{% import 'macros/form.html' as form %}

{#
As the form is rendered as a seperate page we take advantage of this by
overriding the form blocks depending on the current context
#}
{%  block general_information_section_title %}{% endblock %}

{% block dataset_fields %}
  {% if action == "edit" %}{{ super() }}{% endif %}
{% endblock %}


{% block error_summary %}
    {{ form.errors(error_summary) }}
  {% endblock %}
  <div class="org-control-container">
    <h1 class="h1-title uppercase">
          {% block page_heading %}1. {{ _('Basic Details') }}{% endblock %}
        </h1>
        <p>{{ _('Tell us some basic details about your organisation.') }}</p>
  </div>

  {% block basic_fields %}
    {% set attrs = {'data-module': 'slug-preview-target', 'type':'hidden'} %}
    <div class="org-control-container">
        {{ form.input('title', label=_('Name of Organisation'), id='field-title', value=data.title, error=errors.title, classes=['control-full', 'org-control', 'mandatory', 'field-with-info'], attrs=attrs) }}

        {# Perhaps these should be moved into the controller? #}
        {% set prefix = h.url_for(controller='organization', action='read', id='') %}
        {% set domain = h.url_for(controller='organization', action='read', id='', qualified=true) %}
        {% set domain = domain|replace("http://", "")|replace("https://", "") %}
        {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<organization>'} %}
		<div class="org-control-info  info-field">
			<div class="org-info-label">{{_("Be as specific as possible (i.e. don't just say WFP, say WFP-Colombia)")}}</div>
		</div>
	</div>
	<div class="org-control-container url-align">
    {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder=_('my-organisation'), value=data.name, error=errors.name, attrs=attrs) }}
	</div>
	<div class="org-control-container">
		{% set org_url_value = h.hdx_get_extras_element(data.extras) %}
	    {{ form.input('org_url', label=_('URL of Organisation'), id='field-org-url', type='url', placeholder=_('http://example.com/about'), value=org_url_value, error=errors.image_url, classes=['control-full','org-control','field-with-info']) }}
	    <div class="org-control-info info-field">
	    	<div class="org-info-label">{{_('Where can people go to find more about this organisation?')}}</div>
	    </div>
	</div>
	<div class="org-control-container">
	    {{ form.markdown('description', id='field-description', label=_('Description of Organisation'), value=data.description, error=errors.description, classes=['org-control', 'mandatory','field-with-info']) }}
	    <div class="org-control-info-large  info-field">
	    	<div class="org-info-label-large">
	    		{{_('Brief overview of what organisation is for.')}}</div>
	    </div>
    </div>
	  {% if c.userobj.sysadmin %}
	  <div class="org-control-container" style="margin-top:50px;">
		{% set fts_id = h.hdx_get_extras_element(data.extras, value_key="fts_id") %}
		  {{ form.input('fts_id', label=_('FTS ID'), id='field-fts-id', type='text', value=fts_id, error=errors.fts_id, classes=['control-full','org-control','field-with-info']) }}
		  <div class="org-control-info info-field">
			<div class="org-info-label">{{_('ID for Financial Tracking Service')}}</div>
		  </div>
	  </div>
	  {% endif %}

  {% endblock %}

{% block custom_fields %}
<div class="org-control-container">
	<h1 class="h1-title uppercase">
		2. {{ _('Details about you ') }}
    </h1>
    <p>{{ _('Tell us some basic details about you.') }}</p>
</div>
	{% block user_info_fields %}
			<div class="org-control-container">
				<input type="hidden" name="from" value="{{data.from}}" /> 
			    {{ form.input('your_name', label=_('Your Name'), id='field-image-url', placeholder=_('Type your name here'), 
			    	value=data.your_name, error=errors.your_name, classes=['control-full','org-control','field-with-info', 'mandatory']) }}
			    <div class="org-control-info info-field">
			    	<div class="org-info-label">{{_('We need your full, real name')}}</div>
			    </div>
			</div>
			<div class="org-control-container">
			    {{ form.input('your_email', label=_('Your Email'), id='your-email', type='email', placeholder=_('name@example.com'), 
			    	value=data.your_email, error=errors.your_email, classes=['control-full','org-control','field-with-info', 'mandatory']) }}
			    <div class="org-control-info info-field">
			    	<div class="org-info-label">{{_('This email should be related to the organisation.')}}</div>
			    </div>
			</div>
	{% endblock %}
{% endblock %}

{% block action_buttons %}
<div class="org-control-container button-align">
	  <div class="create-org form-actions">
		<button class="btn btn-primary" name="save" type="submit">
			{% block save_text %}{{ _('Request New Organisation') }}{% endblock %}
		</button>
	  </div>
	</div>
{% endblock %}

