{% extends "organization/new.html" %}

{% block toolbar %}
    {% snippet "snippets/greeting_message.html", show_small_message=True, greeting=_('Create new organisation'),
              explanation=_('We try to get the highest quality data in our system so we review 
              new organisation requests before they are posted on the site. Once you fill out a request form 
              we try and accept the new organisation request within 24h.') %}
{% endblock %}

{% block primary_content_inner %}
	{% block form %}
      {{ c.form | safe }}
    {% endblock %}
{% endblock %}