{% extends "organization/read.html" %}

{% block subtitle %}{{ _('Stats') }} - {{ org_meta.org_dict.title or org_meta.name }}{% endblock %}

{% block primary_content_inner %}
    <div id="stats-data-single-dataset-downloads"  style="display: none">
        {{ h.json_dumps(data.stats_1_dataset_downloads_last_weeks) }}
    </div>
    <div id="stats-data-single-dataset-name" style="display:none">{{ data.stats_1_dataset_name }}</div>
    <div id="stats-data-pageviews" style="display: none">
        {{ h.json_dumps(data.stats_dw_and_pv_per_week) }}
    </div>
    <div id="stats-data-top-downloads"  style="display: none">
        {{ h.json_dumps(data.stats_top_dataset_downloads) }}
    </div>

	<h2 class="hide-heading">{% block page_heading %}{{ _('Stats') }}{% endblock %}</h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="list-header crisis-list-header">
                <span class="mL15 list-header-title">Number of Downloads (last 24 weeks)</span>
                <a class="pull-right vertically-center faq-question-mark" target="_blank" href="/faq#auto-faq-Organisations-Where_can_I_see_how_popular_an_organisation_s_datasets_are_-a">
                    <div class="question-mark">?</div>
                </a>
            </div>
        </div>
        <div class="col-xs-9">
            <div id="chart-data-top-downloads" style="height: 320px;" class="mTop20"></div>
        </div>
        <div class="col-xs-3">
            <div class="topline">
                <div class="row">
                    <div class="col-xs-12 indicator-title">
                        Total number of downloads for this organisation's content
                    </div>
                    <div class="col-xs-12 indicator-value">
                        <div class="topline-value">
                            <span id="stats-data-total-downloads" data-module="bs_tooltip" data-toggle="tooltip" data-module-placement="right" title="" data-original-title="">
                                {{ data.stats_total_downloads.formatted_value }}
                            </span>
                            <span class="small">{{ data.stats_total_downloads.units }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                    <div class="list-header crisis-list-header">
                        <span class="mL15 list-header-title">Downloads and Total Page Views (last 24 weeks)</span>
                        <a class="pull-right vertically-center faq-question-mark" target="_blank" href="/faq#auto-faq-Organisations-Where_can_I_see_how_popular_an_organisation_s_datasets_are_-a">
                            <div class="question-mark">?</div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div id="chart-data-pageviews" style="height: 320px;" class="mTop20"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="list-header crisis-list-header">
                <span class="mL15 list-header-title">Users (last 30 days)</span>
                <a class="pull-right vertically-center faq-question-mark" target="_blank" href="/faq#auto-faq-Organisations-Where_can_I_see_how_popular_an_organisation_s_datasets_are_-a">
                    <div class="question-mark">?</div>
                </a>
            </div>
            <div class="topline">
                <div class="row">
                    <div class="col-xs-12 indicator-title">
                        Unique visitors who downloaded at least one dataset from this org
                    </div>
                    <div class="col-xs-12 indicator-value">
                        <div class="topline-value">
                            <span data-module="bs_tooltip" data-toggle="tooltip" data-module-placement="right" title="" data-original-title="">
                                {{ data.stats_downloaders.formatted_value }}
                            </span>
                            <span class="small"> {{ data.stats_downloaders.units }} users </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="topline">
                <div class="row">
                    <div class="col-xs-12 indicator-title">
                        Unique visitors to this organisation's content
                    </div>
                    <div class="col-xs-12 indicator-value">
                        <div class="topline-value">
                            <span data-module="bs_tooltip" data-toggle="tooltip" data-module-placement="right" title="" data-original-title="">
                                {{ data.stats_viewers.formatted_value }}
                            </span>
                            <span class="small"> {{ data.stats_viewers.units }} users </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="mBottom100"></div>
        </div>
    </div>
{% endblock %}

{% block primary_content_module_margin %}{% endblock %}

{% block styles %}
	{{ super() }}
{#	{% resource 'hdx_theme/dashboard.css' %}#}
{#	{% resource 'hdx_theme/hdx_dashboard.js' %}#}
{#    {% resource 'hdx_theme/crisis/topline.css' %}#}
{#    {% resource 'hdx_theme/organization/stats.js' %}#}
{#    {% resource 'hdx_theme/organization/stats.css' %}#}
{#    {% resource 'hdx_theme/d3' %}#}
{#    {% resource 'hdx_theme/c3' %}#}
{#    {% resource 'hdx_theme/datasets/stats-chart.js' %}#}

  {% asset 'hdx_theme/base-dashboard-scripts' %}
  {% asset 'hdx_theme/charting-scripts' %}
  {% asset 'hdx_theme/organization-stats-scripts' %}



{% endblock %}
