{% extends "organization/read.html" %}

{% resource 'hdx_theme/activity-stream' %}

{% block subtitle %}{{ _('Stats') }} - {{ c.group_dict.title or c.group_dict.name }}{% endblock %}

{% block primary_content_inner %}
    <div id="stats-data-pageviews" style="display: none">
        {{ h.json_dumps(data.stats_dw_and_pv_per_week) }}
    </div>
    <script id="stats-data-top-downloads" type="application/json">
        [
            {"name":"Health Infrastructure Nepal 3 word Addresses","url":"https://data.humdata.org/dataset/0013fbe3-4b43-4da0-985a-4fda7f0081dc","date":1498435200000,"value":2},
            {"name":"Yemen: Cholera Outbreak Epidemiology Update Data","url":"https://data.humdata.org/dataset/00215f01-9326-493a-aff1-6267684fa962","date":1497225600000,"value":1},
            {"name":"Guinea administrative boundaries (levels 0-3)","url":"https://data.humdata.org/dataset/004daf8f-2f9e-417a-92ee-9e2187d2da7e","date":1496620800000,"value":1},
            {"name":"HOTOSM Democratic Republic of the Congo Points of Interest (OpenStreetMap Export)","url":"https://data.humdata.org/dataset/00710e3e-c8ef-46c2-9cb0-d87070600bd7","date":1497830400000,"value":1},
            {"name":"Airports in Saint-Martin (French part)","url":"https://data.humdata.org/dataset/0087e82a-83c6-4aeb-9681-4cebf664e7e6","date":1496620800000,"value":1},
            {"name":"Ebola Treatment Units - 3 Word Addresses","url":"https://data.humdata.org/dataset/008e23ea-9d98-482e-bc1e-555b32b44715","date":1497225600000,"value":1}
        ]
    </script>

	<h2 class="hide-heading">{% block page_heading %}{{ _('Stats') }}{% endblock %}</h2>

    <div class="row">
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                    <div class="list-header crisis-list-header">
                        <span class="mL15 list-header-title">Top Downloads (last 24 weeks)</span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div id="chart-data-top-downloads" style="height: 320px;"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="list-header crisis-list-header">
                        <span class="mL15 list-header-title">Downloads and Total Page Views (last 24 weeks)</span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div id="chart-data-pageviews" style="height: 320px;"></div>
                </div>
            </div>

        </div>
        <div class="col-xs-3">
            <div class="list-header crisis-list-header">
                <span class="mL15 list-header-title">Users (last 30 days)</span>
            </div>
            <div class="topline">
                <div class="row">
                    <div class="col-xs-12 indicator-title">
                        Unique visitors who downloaded at least one dataset from this org
                    </div>
                    <div class="col-xs-12 indicator-value">
                        <div class="topline-value">
                            <span data-module="bs_tooltip" data-toggle="tooltip" data-module-placement="right" title="" data-original-title="">
                                {{ data.stats_downloaders }}
                            </span>
                            <span class="small"> users </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="topline">
                <div class="row">
                    <div class="col-xs-12 indicator-title">
                        Unique visitors to this organisation's content
                    </div>
                    <div class="col-xs-12 indicator-value">
                        <div class="topline-value">
                            <span data-module="bs_tooltip" data-toggle="tooltip" data-module-placement="right" title="" data-original-title="">
                                {{ data.stats_viewers }}
                            </span>
                            <span class="small"> users </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block primary_content_module_margin %}{% endblock %}

{% block styles %}
	{{ super() }}
	{% resource 'hdx_theme/dashboard.css' %}
	{% resource 'hdx_theme/hdx_dashboard.js' %}
    {% resource 'hdx_theme/crisis/topline.css' %}
    {% resource 'hdx_theme/organization/stats.js' %}
    {% resource 'hdx_theme/organization/stats.css' %}
    {% resource 'hdx_theme/d3' %}
    {% resource 'hdx_theme/c3' %}

{% endblock %}