{% extends "package/base_form_page.html" %}

{% if c.userobj %}
  {% set logged_in = true %}
{% else %}
  {% set logged_in = false %}
{% endif %}

{% block subtitle %}{{ _('Add data to the dataset') }}{% endblock %}

{% block form %}{% snippet 'package/snippets/resource_form.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, stage=stage, allow_upload=g.ofs_impl and logged_in %}{% endblock %}

{% block secondary_content %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  {% resource 'vendor/fileupload' %}
{% endblock %}

{% block primary %}
<div class="primary">
{% block primary_content %}
  {% if pkg_dict and pkg_dict.state != 'draft' %}
    <header class="module-content page-header">{% block form_title %}
  <div class="package-upload-header">{{ _("ADD FILES") }}</div>
  {% endblock %}</header>
  {% endif %}
  {{ super() }}
{% endblock %}
</div>
{% endblock %}

