{% extends "package/base.html" %}

{% set onepage = 1 %}

{% block toolbar %}
{{super()}}
{% snippet "snippets/greeting_message.html", show_small_message=False, greeting=_('Thanks for contributing - you rock.'),
              explanation=_('In order to contribute a dataset, you first need to register or login.') %}

{% endblock %}

{% block primary %}

<div>
{% block primary_content %}
  <section class="module">
    <div class="module-content" id="dataset_part_1">
      <div class="package-upload-header">1. {{ _("CHOOSE COUNTRY") }}</div>
      {% block country_list %}{{super()}}{% endblock %}
      <br>
      <div class="package-upload-header">2. {{ _("TELL US SOME DETAILS ABOUT YOUR DATASET") }}</div>
      {% block form %}{{ c.form | safe }}{% endblock %}
    </div>
  </div>
  <div class="module-content" style="margin-top:0px;">
    <div class="form-actions">
      {% block cancel_button %}
        <a class="btn" href="">{% block cancel_button_text %}{{ _('Cancel') }}{% endblock %}</a>
      {% endblock %}
      <button class="btn btn-primary" id="onepage_submit" name="save">{% block save_button_text %}{{ _('Next: Add Data') }}{% endblock %}</button>
    </div>
  </div>
</section>



  {#
    <div class="module-content graybg" id="dataset_part_2">
      <div class="package-upload-header-sm">{{ _("OPTIONAL DETAILS") }}</div>
      {% block form2 %}{{ c.form | safe }}{% endblock %}
    </div>
    <div class="module-content" style="margin-top:0px;">
    <div class="form-actions">
      {% block cancel_button %}
        <a class="btn" href="">{% block cancel_button_text %}{{ _('Cancel') }}{% endblock %}</a>
      {% endblock %}
      <button class="btn btn-primary" id="onepage_submit" name="save">{% block save_button_text %}{{ _('Next: Add Data') }}{% endblock %}</button>
    </div>
  </div>
  </section>
  #}
  {#
  <section class="module inactive">
    <div class="overlay"></div>
    <div class="module-content" id="dataset_part_3">
      <div class="package-upload-header">3. {{ _("ADD FILES") }}</div>
      {% block form3 %}{{ c.form | safe }}{% endblock %}
    </div>
  </section> #}

 {% endblock %}
</div>
{% endblock %}

{% block secondary %}
  
{% endblock %}

{%- block scripts2 %}
    {{ super() }}
     <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="/javascript/jquery.ui.datepicker.js"></script>
<!-- <script src="/base/vendor/jquery.ui.widget.js"></script>
<script src="/base/vendor/jquery-fileupload/jquery.iframe-transport.js"></script>
<script src="/base/vendor/jquery-fileupload/jquery.fileupload.js"></script>
<script src="/base/vendor/jquery-fileupload/jquery.fileupload-ui.js"></script>-->

  <script>
  $( "#field-dataset_date, #date_range1, #date_range2").datepicker();
  $('document').ready(function(){
    //Just in case of page back
    $('option[value=-1]').attr('selected', true);

    $('#country-drop').change(function(){
      var country = $(this+'option:selected').val();
      var country_name = $(this+'option:selected').attr('display_name');
      if($('#'+country).length == 0){
        var number_of_groups = $('.group_checked').length;
        //Add country
        $('#selected_groups').append('<span class="filtered pill">'+country_name+' <input id="field-group-'+(number_of_groups)+'" type="checkbox" name="groups__'+(number_of_groups)+'__id" value="'+country+'" checked="checked" class="group_checked"/></span>');
        //Add country for real
        $('#select_groups_hidden').append('<input id="'+country+'" type="checkbox" name="groups__'+(number_of_groups)+'__id" value="'+country+'" checked="checked"/>');
      }
    });

    $('#selected_groups').on("click", ".pill", function(){
      if($(this).children('input').attr('checked') == 'checked'){
        //Uncheck hidden
        var id = $(this).children('input').val();
        $('#'+id).remove();
        $(this).remove();
      }
    });

    $('#field-organizations').change(function(){
      if($(this).val() == ''){
        $('#field-private option[value=False]').attr('selected', true);
        $('#field-private').attr('disabled', true);
      }else{
        $('#field-private').removeAttr('disabled');
      }
    })

    $('#onepage_submit').click(function(e){
      if($('.group_checked').length == 0){
        $('#select_country').prepend('<div class="error-explanation alert alert-error" id="error-country"><p>Must select a country first.</p></div>');
        $('html, body').animate({
              scrollTop: $('#select_country').offset().top
            }, 2000);
      }else{
      $('#error-explanation, .error-block, .error-country').remove();
      $('.error').removeClass('error');

      //Add other specifics
      var other = $('#method_other').val();
      $('input[value="Other"]').val("Other - "+other);

      //Create date range
      $('#field-dataset_date').val($('#date_range1').val() +'-'+$('#date_range2').val());

      //Remove extra form elements
      $('#method_other, #date_range1, #date_range2').remove();
      

      /*
      //Deactivate button and add loading
      $('#onepage_submit').attr('disabled', 'disabled');
      $('#onepage_submit').html('<img src="/images/ajax-loader-b.gif"> Processing');

      e.preventDefault();
        $.ajax({
          type: 'POST',
          url: $('#dataset_part_1 form').attr('action'),
          data: $('#dataset_part_1 form').serialize()+'&save',
          success: function(data){
            if(data.validation_fail){
              var print_errors = "<ul>";
              for(var p in data['error_summary']){
                print_errors += '<li data-filed-label="'+p+'">'+p+': '+data['error_summary'][p]+'</li>';
              }
              print_errors += '</ul>';
              $('#dataset_part_1 form').prepend('<div class="error-explanation alert alert-error" id="error-explanation"><p>The form contains invalid entries:'+print_errors+'</p></div>');
              for(var e in data['errors']){
                var element = $('#dataset_part_1 #field-'+e);
                if(e=='name'){
                  $('#dataset_part_1 #field-title').parent().parent().addClass('error');
                }
                element.parent().append('<span class="error-block">'+data['errors'][e][0]+'</span>');
                
              }
              $('html, body').animate({
              scrollTop: $('#error-explanation').offset().top
            }, 2000);
            }else{
              //Point the form at correct endpoint
              $('#dataset_part_2 form').attr('action', data['action_url']);
            /*Activate form
            $('#dataset_part_2').parent().children(".overlay").remove();
            $('#dataset_part_2').parent().removeClass('inactive');
            $('html, body').animate({
              scrollTop: $('#dataset_part_2').offset().top
            }, 2000);
              submit_metadata();
            }
          }
        });*/
      $('form').submit();
  }
    });

    function submit_metadata(){
        $.ajax({
          type: 'POST',
          url: $('#dataset_part_2 form').attr('action'),
          data: $('#dataset_part_2 form').serialize()+'&save=finish-ajax',
          success: function(data){
            //Point the form at correct endpoint
            $('#onepage_submit').html('Done!');
            $('#dataset_part_1 form')[0].reset();
            $('#dataset_part_2 form')[0].reset();
            $('input[type=hidden]').remove();
            $('.pill').remove();
            $('option[value=-1]').attr('selected', true);
            $('#select_groups_hidden input').remove();
            window.location = data['action_url'];
            /*$('#dataset_part_3 form').attr('action', data['action_url'])
            //Activate form
            $('#dataset_part_3').parent().children(".overlay").remove();
            $('#dataset_part_3').parent().removeClass('inactive');
            $('html, body').animate({
              scrollTop: $('#dataset_part_3').offset().top
            }, 2000);*/
          }
        });
    };
  });
  </script>

{% endblock -%}

