{% extends "package/base.html" %}

{% block toolbar %}
{{super()}}
{% snippet "snippets/thanks_for_contributing.html" %}
{% endblock %}

{% block primary %}
<div>
{% block primary_content %}
  <section class="module">
    <div class="module-content" id="dataset_part_1">
      <div class="package-upload-header">1. {{ _("CHOOSE COUNTRY") }}</div>
      {% block country_list %}{{super()}}{% endblock %}
      <br>
      <div class="package-upload-header">2. {{ _("TELL US SOME DETAILS ABOUT YOUR DATASET") }}</div>
      {% block form %}{{ c.form | safe }}{% endblock %}
    </div>
    <div id="dataset_part_2">
      {% block form2 %}{{ c.form | safe }}{% endblock %}
    </div>
  </section>
  <section class="module inactive">
    <div class="overlay"></div>
    <div class="module-content" id="dataset_part_3">
      <div class="package-upload-header">3. {{ _("ADD FILES") }}</div>
      {% block form3 %}{{ c.form | safe }}{% endblock %}
    </div>
  </section>

 {% endblock %}
</div>
{% endblock %}

{% block secondary %}
  
{% endblock %}

{%- block scripts2 %}
    {{ super() }}
  <script>
  $('document').ready(function(){
    $('#country-drop').change(function(){
      var countries = $('#field-group').val();
      if(!countries){
        countries = new Array();
      }
      countries.push($('#country-drop').val());
      $('#field-group').val(countries);
    });

    $('#dataset_part_1 form').submit(function(e){
      e.preventDefault();
        $.ajax({
          type: 'POST',
          url: $('#dataset_part_1 form').attr('action'),
          data: $('#dataset_part_1 form').serialize()+'&save',
          success: function(data){
            //Point the form at correct endpoint
            $('#dataset_part_2 form').attr('action', data['action_url']);
            /*Activate form
            $('#dataset_part_2').parent().children(".overlay").remove();
            $('#dataset_part_2').parent().removeClass('inactive');
            $('html, body').animate({
              scrollTop: $('#dataset_part_2').offset().top
            }, 2000);*/
            submit_metadata();
          }
        });
    });

    function submit_metadata(){
        console.log($('#dataset_part_2 form').attr('action'));
        $.ajax({
          type: 'POST',
          url: $('#dataset_part_2 form').attr('action'),
          data: $('#dataset_part_2 form').serialize()+'&save=finish-ajax',
          success: function(data){
            //Point the form at correct endpoint
            console.log(data);
            $('#dataset_part_3 form').attr('action', data['action_url'])
            //Activate form
            $('#dataset_part_3').parent().children(".overlay").remove();
            $('#dataset_part_3').parent().removeClass('inactive');
            $('html, body').animate({
              scrollTop: $('#dataset_part_3').offset().top
            }, 2000);
          }
        });
    };
  });
  </script>

{% endblock -%}

