.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
.popup.popup-contribute .content {
  width: 90%;
  max-width: 1200px;
  height: 90%;
}
.popup.popup-contribute .content .details-content {
  height: 100%;
}
.popup.popup-contribute .content .details-content iframe {
  border: none;
  height: 100%;
  width: 100%;
}
