.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
.popup.popup-contribute {
  z-index: 90000;
}
.popup.popup-contribute .content {
  width: 1260px;
  height: 100%;
  padding: 0;
}
.popup.popup-contribute .content i.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #888888;
  opacity: .8;
}
.popup.popup-contribute .content .details-content {
  height: 100%;
}
.popup.popup-contribute .content .details-content iframe {
  border: none;
  height: 100%;
  width: 100%;
}
