{#
Creates a popup base that can be extended to embed content in it

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/popup/popup.html', id="embedPopup", title="Embed visualization", class="zero-padding") }}
#}

<div id="{{ id }}" class="popup {{ class }}" {% block popup_attributes %}style="display: none;" {% endblock %}>
    <div class="content {{ content_class }}">
        {% block all_content %}
            <div class="row">
                {% block titlebar %}
                    <div class="col-12">
                        <div class="title float-start">
                            {{ title }}
                        </div>
                        <div class="float-end">
                            <i class="close humanitarianicons-Exit-Cancel"></i>
                        </div>
                    </div>
                {% endblock %}
                <div class="col-12">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
        {% endblock %}
    </div>
</div>

