@import "../base/variables";

@media (max-width: @cut-point-mobile-s) {
  body{
    .hdx-footer {
      .social-footer .service .service-details .license-group .license {
        width: 100%;
      }
    }
  }
}

@media (max-width: 414px) {
  body{
    .hdx-footer {
      .mailChimpForm {
        form {
          input[type="submit"].btn.btn-primary {
            margin-left: 0;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
      .social-footer {
        .service {
          .service-details {
            .ocha-service {
              flex-wrap: wrap;
            }
            .spacer {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media(max-width: @cut-point-tablet) {
  body {
    .hdx-footer {
      .mailChimpForm {
        form {
          input[type="submit"].btn.btn-primary {
            margin-left: 7px;
            margin-top: -3px;
          }
        }
        margin-bottom: 10px;
      }

      .match-logo-margin {
        margin-top: 30px;
      }
      .social-footer {
        .terms {
          flex-direction: column;
          align-items: center;
          .separator {
            display: none;
          }
          a {
            flex-shrink: 0;
            margin-right: 0;
            margin-bottom: 10px;
          }
          .social-actions {
            margin-top: 30px;
            a:first-child {
              margin-right: 30px;
            }
          }
        }

        .service {
          .provided-by {
            text-align: center;
          }
          .service-details {
            flex-direction: column;
            align-items: center;

            .ocha-service {
              flex-direction: column;
              align-items: center;
              .spacer {
                display: none;
              }
              .ocha-text {
                flex: auto;
                text-align: center;
              }
            }
            .license-group {
              .license {
                text-align: center;
              }
            }
          }
        }
      }

    }
  }
  .new-header{
    .mainLinks {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  body {

    .new-header{
      .submitData{
        padding: 10px;
      }
      .header-nav{
        span{
          margin-left: 0;
        }
        .table-valign{
          margin-left: 0px !important;
        }
      }
    }

    .hdx-footer {
      .footer-wrapper {
        text-align: center;
        .other-services:nth-child(-n+3) {
          margin-bottom: 20px;
        }
      }

      .links-list {
        width:100%;

        .logo-tools-gray {
          height: auto;
          width: 100%;
        }
      }

      .mailChimpForm {
        form {
          .six.columns {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          input[type="submit"].btn.btn-primary {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: @cut-point-laptop-s) {
  .new-header .hdx-header .navbar-header .submit-data .submitData {
    display: none;
  }
}

@media (max-width: @cut-point-laptop-m) {
  .new-header{
    .homepage-header-nav-border{
      > .container{
        padding: 0;
      }
    }
    //.submitData{
    //  padding: 10px 20px;
    //}
  }

  .mainLinks{
    > li{
      > a:after{
        margin-left: 10px;
      }
    }
  }
}
