@import "variables";
@import "fonts";
@import "base";
@import "mixins";

@import "pagination";
@import "orderby";
@import "layout";

@import "components/header/_global-components";
//Do remove :)
@import "components/deprecated";
@import "components/forms-deprecated";

@import "../search/list-header-search";
@import "components/forms";
@import "footer";


@hdxLogoUrl: "@{imagePath}/homepage/logo-hdx.svg";

@headerNavHeight: 57px;
@headerNavBorderHeight: @navBorderHeight;
@headerNavBackgroundColor: @whiteColor;
@headerNavBorderColor: @lightGrayColor;
@headerNavSearchBorderColor: @grayColor;

@searchPlaceholderColor: #dadada;
@searchTextColor: @blackColor;



.new-header {
  @global-header-height: 35px;
  .global-header {
    a:hover {
      &.btn {
        text-decoration: none;
      }
      text-decoration: underline;
    }
    .global-header-content {
      position: relative;
      height: @global-header-height;
      display: flex;
      align-items: center;


      &.open .ocha-services {
        .icon-o-arrow-up {
          display: block;
        }
        .icon-o-arrow-down {
          display: none;
        }
      }
      .ocha-services {
        display: flex;
        align-items: center;

        .helveticaFont(12px);
        color: @extraLightGrayColor;

        .ocha-logo {
          background: url("@{imagePath}/homepage/logo-ocha-white.svg") 50% no-repeat;
          background-size: contain;
          display: inline-block;
          flex-shrink: 0;
          height: 18px;
          margin-right: 4px;
          width: 21px;
        }



        @arrowSize: 9px;
        .icon-o-arrow-up, .icon-o-arrow-down {
          margin-left: 10px;
          height: @arrowSize;
          fill: @extraLightGrayColor;
        }

        .icon-o-arrow-up {
          display: none;
        }
      }

      .ocha-services-menu {
        padding: 22px 0;
        width: 100%;
        background-color: @darkGrayColor;
        color: @extraLightGrayColor;
        margin: 0;
        background-clip: unset;
        box-shadow: 0px -8px 12px rgba(0, 0, 0, .375);
        border: none;

        .helveticaFont(12px);

        &:before {
          @servicesMenuCaretSize: 10px;
          content: " ";
          position: absolute;
          top: -@servicesMenuCaretSize/2;
          left: 110px;

          height: @servicesMenuCaretSize;
          width: @servicesMenuCaretSize;
          background-color: @darkGrayColor;
          transform: translate(-50%, 0) rotateZ(45deg);
        }

        .list-title {
          font-weight: 300;
        }
        .ocha-links-list {
          list-style: none;
          padding: 0;
          li {
            margin-bottom: 12px;
            font-weight: 600;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              color: @extraLightGrayColor;
            }
          }
        }

        .ocha-see-all {
          width: 210px;
          padding: 12px;
          background-color: @lightGrayColor;
          color: @blueColor;
        }
      }

      .header-user-box {
        margin-left: auto;
        color: @extraLightGrayColor;

        a {
          color: @extraLightGrayColor;
          i {
            display: none;
          }
        }

        svg[class^='icon-o-'] {
          height: 14px;
          fill: @extraLightGrayColor;
          margin-right: 10px;
        }

        ul.separated-list {
          display: inline-flex;
          padding: 0;
          margin: 0;
          list-style: none;
          > li {
            display: inline-flex;
            align-items: center;

            &:last-child:after {
              content: none;
            }
            &:after {
              content: '|';
              margin: 0 20px;
            }
          }
        }
        a.action {
          display: flex;
          align-items: center;
        }

        .dropdown-menu {
          margin: 0;
          li a {
            color: @darkGrayColor;
          }

          > li {
            > a:hover, > a:focus{
              color: @whiteColor;
              background-color: @blueColor;
              background-image: none;
            }
          }
        }
      }

    }
    .global-header-bg{
      background-color: @darkGrayColor;
    }
  }

  .hdx-header {
    .hdx-header-bg {
      background-color: @headerNavBackgroundColor;
    }
    .header-nav-border {
      border-bottom: @headerNavBorderHeight solid @headerNavBorderColor;
    }
    .header-nav {
      height: @headerNavHeight;
      display: flex;
      align-items: center;

      .table-valign{
        height: @headerNavHeight;
      }

      .header-nav-search .header-search-form input::-webkit-input-placeholder {
        color: @searchPlaceholderColor;
        .sourceSansProFont(400, 18px);
        line-height: 28px;
      }

      .submit-data {
        margin-left: auto;

        .submitData{
          /*Submit Data Button*/
          background-color: @orangeColor;
          border-radius: 6px;
          display: inline-block;
          padding: 10px 30px;

          .gothamBoldFont(14px);
          color: @whiteColor;
          .uppercase;
          white-space: nowrap;
        }
      }
    }


  }
}
.crises-menu {
  padding: 0;
  width: 250px;

  li.crises-group {
    text-transform: uppercase;
    color: @grayColor;
    .gothamBookFont(12px);
    padding: 10px 20px;
    border-bottom: 1px solid @extraLightGrayColor;

    &:last-child{
      border-bottom: none;
    }

    ul {
      padding: 0;
      list-style: none;
      text-transform: none;
      .sourceSansProFont(400, 14px);
      li {
        padding-top: 5px;
        font-size: 12px;
        a {
          color: @blackColor;
          font-size: 14px;
          &:hover{
            text-decoration: none;
          }
        }
        .crises-datasets {
          line-height: 1;
        }
      }

    }
  }
}

//Used in mobile header also
.header-message {
  // Placeholder to be overridden by nginx on staging/dev servers
  max-width: @containerRealSize + 2*@containerMarginSize;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .header-message-container {
    line-height: 1;
    font-size: 0;
    background-image: url("/images/empty.png");
    background-repeat: repeat-x;

    img.header-message-image {
      visibility: hidden;
    }
  }
}





//==============================


/* HEADER Search Widget  */
.searchPlaceholderStyle(){
  color: @searchPlaceholderColor;
  .sourceSansProFont(400, 18px);
  line-height: 28px;
}
.header-nav-search {
  display: flex;
  align-items: center;
  height: @headerNavHeight + 2*@headerNavBorderHeight;
  margin-left: 15px;
  width: 310px;

  border-bottom: @headerNavBorderHeight solid @headerNavSearchBorderColor;

  .header-search-form{
    margin: 0;
    padding: 0;

    .input-prepend{
      margin: 0;
    }

    .icon-search{
      margin: 0 20px;
      color: @grayColor;
      font-size: 20px;
      line-height: 28px;
    }

    .filter-icon{
      //margin-right: 20px;
      visibility: hidden;

      color: @blueColor;
      font-size: 20px;

      cursor: pointer;
    }

    input, input:focus {
      border: none;
      text-shadow: none;
      box-shadow: none;
      transition: none;
      width: 224px;
      margin: 0;
      padding: 0;
      height: 28px;
      background: transparent;

      .sourceSansProFont(400, 18px);
      line-height: 28px;
      outline: none;
      color: @searchTextColor;
    }

    input::-webkit-input-placeholder, input:-ms-input-placeholder{
      .searchPlaceholderStyle;
    }

    input:-moz-placeholder, input::-moz-placeholder{ //Firefox
      .searchPlaceholderStyle;
      opacity: 1;
    }
  }
}

/* HDX Version display */
.hdxLogo {
  position: relative;
  .logo {
    #hdxVersion{
      color: @grayColor;
      position: absolute;
      font-size: 10px;
      left: 99px;
      bottom: 0;
      display: none;
      line-height: 10px;
    }
    .logo-img:hover ~ #hdxVersion{
      display: block;
    }

    @logoImageHeight: 31px;
    @logoImageWidth: 126px;
    .logo-img {
      background-image: url(@hdxLogoUrl);
      background-repeat: no-repeat;
      background-size: @logoImageWidth @logoImageHeight;
      width: @logoImageWidth;
      height: @logoImageHeight;
      min-width: @logoImageWidth;
      min-height: @logoImageHeight;
    }
  }
}

/* END HDX Version display */


nav{
  &.mobile-only{
    display: none;
  }
}

label.terms-of-service {
  font-weight: 400;
  margin: 0;

  &:after {
    content: none;
  }
}

