@import "variables";
@import "fonts";
@import "mixins";

@import "pagination";
@import "orderby";
@import "layout";

@import "components/header/_global-components";
//Do remove :)
@import "components/deprecated";
@import "components/forms-deprecated";

@import "../search_/list-header-search";
@import "components/forms";

@import "footer";

@import "mixins/_global-header";
@import "mixins/_hdx-header";
@import "mixins/_header-nav-search";

@headerNavBorderHeight: @navBorderHeight;
@headerNavBackgroundColor: @whiteColor;
@headerNavBorderColor: @lightGrayColor;
@headerNavSearchBorderColor: @grayColor;

@searchPlaceholderColor: #dadada;
@searchTextColor: @blackColor;

.new-header {
  margin-bottom: 0;
  &.navbar-static-top{
    border-color: #c3cbcb;
    border-width: 0 0 3px;
  }
  .global-header();
  .hdx-header();
  .header-nav-search();
}

@import "components/crises-menu";
@import "components/header-message";
@import "components/hdx-logo";

//==============================


/* HEADER Search Widget  */
.searchPlaceholderStyle(){
  color: @searchPlaceholderColor;
  .sourceSansProFont(400, 18px);
  line-height: 28px;
}



label.terms-of-service {
  font-weight: 400;
  margin: 0;
  &.disabled {
    color: @grayColor;
  }
  &:after {
    content: none;
  }
}
