@import "../../base/variables";

//overrides test
@headerUserBackgroundColor: @blackColor;
@headerNavBackgroundColor: #363636;
@headerNavBorderColor: @grayColor;
@headerNavSearchBorderColor: @extraLightGrayColor;
@toolbarBackgroundColor: @lightGrayColor;

@mainLinksColor: @whiteColor;

@searchPlaceholderColor: @grayColor;
@searchTextColor: @whiteColor;

@bodyBackgroundColor: @wfpBlueColor;