@import "../../base/variables";

@bodyBackgroundColor: @wfpBlueColor;
@logoBackgroundColor: @wfpBlueColor;
@logoBorderColor: @wfpBlueColor;

@navTabsActiveColor: @wfpBlueColor;
@orderByDropdownColor: @wfpBlueColor;
@defaultLinkColor: @wfpBlueColor;

@paginationActiveBackground: @wfpBlueColor;

@defaultLinkColor: @wfpBlueColor;

@topLineItemNumberFontSize: 56px;
@topLineItemUnitFontSize: 28px;


@modalSubmitButtonBackgrColor: #FFFFFF;

@modalSubmitButtonColor: #888888;

@modalHeaderBackgroundColor: #EEEEEE;
@modalFooterBackgroundColor: #EEEEEE;