/* Dataset search results on crisis page */
.crisis-list-header.list-header {
	/*background-color: inherit; */
}
/* END -  Dataset search results on crisis page */

.sparkline {
    width: 103px;
    height: 74px;
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
}

.crisis-top-line-value-prefix {
	font-family: 'Gotham-Light', sans-serif;
    font-size: 37px;
    line-height: 1;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    margin-right: -15px;
}