.hdx-visible-element {
  display: inherit;
}
.hdx-invisible-element {
  display: none;
}
.form-header {
  background-color: #007ce0;
  height: 45px;
}
.cp-content-background {
  background-color: #eeeeee;
}
.cp-hr {
  background-color: #999999;
  border: 0 none;
  height: 1px;
}
