{# 
 # This snippet adds the canonical to the same url, after removing the query "params", if any of them are present
 # Arguments: 
 # - params - array of whitelisted params to remove, but keep others
 # - no_params - if True then we'll remove all params
 # - canonical_url - set a specific canonical url (not automatic); checks current path (w/o params) versus canonical_url -> useful for pages that are available via /page/{item} where the item should be name, but can be id
 # - on_mobile_page - if on the mobile page, then we need to remove the prefix "/m/"
 #}

{% set canonical_info = h.generate_canonical_link(request.path, request.args, canonical_url, params, no_params) %}

{% if canonical_info.add_canonical %}
  <link rel="canonical" href="{{ canonical_info.canonical_url }}">
{% endif %}