{# 
 # This snippet creates the link for the filters
 # Arguments: 
 # - title
 # - param
 # - param_values 
 # - remove - if True then we'll remove the param
 #}



{% for value in param_values %}
  {% if remove %}
    {% set group_args = extra_args.get(param, []) %}
    {% if value in group_args %}
      {% do group_args.remove(value) %}
      {% do extra_args.update({param: group_args}) %}
    {% endif %}
  {% else %}
    {% set group_args = extra_args.get(param, []) %}
    {% do group_args.append(value) %}
    {% do extra_args.update({param: group_args}) %}
  {% endif %}
{% endfor %}


{% set query_parts = [] %}
{% for key, values in extra_args.items() %}
  {% for val in values %}
    {% do query_parts.append(key ~ '=' ~ val | urlencode) %}
  {% endfor %}
{% endfor %}

{% if query_parts|length > 0 %}
  {% set url = url ~ "?" ~ query_parts | join('&') %}
{% endif %}

{{ url }}
