{# modified snippet of core ckan's follow_button.html to be able to inject any class in the 'a' tag #}

{% resource 'hdx_theme/follow.js' %}

{% set controller = obj_type %}
{% if controller == 'dataset' %}
	{% set controller = 'package' %}
{% endif %}

{% if following %}
<a href="{{ h.url_for(controller=controller, action='unfollow', id=obj_id) }}"
	{% for key,value in params.iteritems() %}
	 {{ key }}="{{ value }}"
	 {% endfor%}  
	data-module="hdx_follow" data-module-type="{{ obj_type }}" data-module-id="{{ obj_id }}" data-module-action="unfollow" data-module-extra_text='{{ follow_extra_text }}'>
	{{ _('Unfollow') }} {{ follow_extra_text }}
</a>
{% else %}
<a href="{{ h.url_for(controller=controller, action='follow', id=obj_id) }}"
	 {% for key,value in params.iteritems() %}
	 {{ key }}="{{ value }}"
	 {% endfor%} 
	 data-module="hdx_follow" data-module-type="{{ obj_type }}" data-module-id="{{ obj_id }}" data-module-action="follow" data-module-extra_text='{{ follow_extra_text }}'>
	{{ _('Follow') }} {{ follow_extra_text }}
</a>
{% endif %}