{#
Embeds a organization within the sidebar of a page.

organization    - The organization dict.
truncate - A max length for the organization description. If not provided the description
           will be full length.
has_context_title - Boolean for whether to display a module-heading for when
                    this snippet appears within a non-organization template
                    (e.g. dataset page sidebar)

Example:

    {% snippet 'snippets/organization, organization=c.group_dict %}

#}

{% with truncate=truncate or 0, url=h.url_for(controller='organization', action='read', id=organization.name) %}
    <section class="info-wrapper">
    	<div class="uppercase"> {{ _('Organisation:') }}</div>

		<div> <a class="info-item-name" href="{{ url }}">{{ organization.title or organization.name }}</a></div>
      	<div class="info-secondary-data">
      {% if organization.description %}
        <p>
          {{ h.markdown_extract(organization.description, 180) }} - 
          {% link_for _('read more'), controller='organization', action='about', id=organization.name, class_='info-item-name' %}
        </p>
      {% else %}
        <p class="empty">{{ _('There is no description for this organisation') }}</p>
      {% endif %}
      	</div>
      
    </section>
{% endwith %}
