{% set current_url = h.full_current_url() %}
<section class="info-wrapper social mTop35">
		<div class="uppercase"> {{ _('Share:') }}</div>
		<div>
    		<a href="https://plus.google.com/share?url={{ current_url }}" target="_blank">
    			<img class="social-images" src="/images/svg/google-plus.svg" />
    		</a>
			<a href="https://twitter.com/share?url={{ current_url }}" target="_blank">
				<img class="social-images" src="/images/svg/twitter.svg" />
			</a>
			<a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank">
				<img class="social-images" src="/images/svg/fb.svg" />
			</a>
			<a href="mailto:?subject={{ title }}&body={{ current_url }}" target="_blank">
				<img class="social-images" src="/images/svg/email.svg" />
			</a>
    	</div>
</section>
