{#
Embeds a organization within the sidebar of a page.

organization    - The organization dict.
truncate - A max length for the organization description. If not provided the description
           will be full length.
has_context_title - Boolean for whether to display a module-heading for when
                    this snippet appears within a non-organization template
                    (e.g. dataset page sidebar)

Example:

    {% snippet 'snippets/organization, organization=c.group_dict, show_nums=true, show_members_num=show_members_num, user=c.user %}

#}
{% resource 'hdx_theme/bs_tooltip.js' %}

{% with truncate=truncate or 0, url=h.url_for(controller='organization', action='read', id=organization.name) %}

      {% if show_nums %}
        <div class="org-nums">
          {% if show_members_num %}
          <dl>
            <dt class="uppercase">{{ _('Members') }}</dt>
            <dd class="count-info-big">
	            {% if h.check_access('hdx_basic_user_info') %}
         		   	{% link_for h.get_group_members(organization.id), controller='organization', action='members', id=organization.name or organization.title %}
         		{% else %}
         			{{h.get_group_members(organization.id) }}
         		{% endif %}
            </dd>
            {% if h.check_access('organization_update', {'id': organization.id}) %}
            <dd>
            	<a href="{% url_for controller='organization', action='members', id=organization.name or organization.title %}#add-member" class="btn hdx-btn org-btn">+ {{ _('Add Member') }}</a>
            </dd>
            {% endif %}
          </dl>
          {% else %}
          <dl>
            <dt class="uppercase">{{ _('Datasets') }}</dt>
            <dd class="count-info-big">
            	{% link_for organization.packages|length, controller='organization', action='read', id=organization.name or organization.title %}
            </dd>
          </dl>
          {% endif %}
          <dl>
            <dt class="uppercase">{{ _('Followers') }}</dt>
            <dd  class="followersNumber count-info-big">{{ h.SI_number_span(organization.num_followers) }}</dd>
            <dd>
            	{{ h.follow_button('group', organization.id) }}
                {% set follow_tooltip = _('If you want to get updates on this dataset, follow it here. Then you can go to your dashboard to see the latest updates.') %}
				{% if user %}
	         		 <a class="info-tooltip" onclick="return false;" href="#" data-module="bs_tooltip" data-module-placement="top"   
          			data-toggle="tooltip" title="{{ follow_tooltip }}">{{ _("What's this?") }}</a>
				{% endif%}
            </dd>
          </dl>
          {#
          <dl>
            <dt>{{ _('Datasets') }}</dt>
            <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
          </dl>
          #}
        </div>
      {% endif %}
      

	  {% set org_url = h.hdx_get_extras_element(organization.extras) %}  	 
  	  {% if org_url != '' %}
      <div class="org-nums">
      	<h4 class="uppercase">{{ _('More Info About') }}&nbsp;{{ organization.title or organization.name }}</h4>
      	<div>
      		<a class="info-item-name" href="{{ org_url}}" target="_blank">{{ organization.title or organization.name }} {{_('Website')}}</a>
      	</div>
      </div>
      {% endif %}

{% endwith %}
