{# Used to insert an intermediate breadcrumb item with schema.org RDFa markup #}
<li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
  <a href="{% if id %}{{ h.hdx_url_for(named_route, controller=controller, action=action, id=id, _external=True) }}{% else %}{{ h.hdx_url_for(named_route, controller=controller, action=action, _external=True) }}{% endif %}" property="item" typeof="WebPage">
    <span property="name">{{ title }}</span>
  </a>
  <meta property="position" content="{{ position }}">
</li>
