.quick-edit {
  position: relative;
}
.quick-edit td.dataset-details {
  padding-right: 90px;
}
.quick-edit:hover {
  background-color: #f4f4f4;
}
.quick-edit:hover .quick-link {
  display: block;
}
.quick-edit .quick-link {
  display: none;
  background-color: #fff;
  color: #007CE0;
  border-color: #007CE0;
  position: absolute;
  font-size: 11px;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  padding: 4px 8px;
  line-height: 1;
}
.quick-edit .quick-link:hover {
  background-color: #007CE0;
  color: #fff;
}
