.wrapper-secondary .banner {
  top: 10px;
  right: -20px;
}
.wrapper-secondary .media-grid {
  margin: 0 -10px;
}
.wrapper-secondary .media-item {
  width: 250px;
  margin: 15px 0 0 -20px;
}
.wrapper-secondary .media-image {
  width: 230px;
}
