#wfp-visualization-wrapper #map {
  height: 500px;
}
#wfp-visualization-wrapper .modal-content {
  padding-left: 10px;
  padding-right: 10px;
}
#wfp-visualization-wrapper #header {
  height: 45px;
}
#wfp-visualization-wrapper .sparkline {
  fill: none;
  stroke-width: 2px;
  stroke: #2a93fc;
}
#wfp-visualization-wrapper .sparkyearline {
  fill: none;
  stroke-width: 1px;
  stroke: #eeeeee;
  shape-rendering: crispEdges;
}
#wfp-visualization-wrapper .productsparkline {
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
}
#wfp-visualization-wrapper .productsparkline:hover {
  border-width: 2px;
  border-color: #2a93fc;
  border-style: solid;
  cursor: pointer;
}
#wfp-visualization-wrapper .area {
  fill: #2a93fc;
  clip-path: url(#clip);
}
#wfp-visualization-wrapper .axis path,
#wfp-visualization-wrapper .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#wfp-visualization-wrapper .axis {
  font-size: 11px;
}
#wfp-visualization-wrapper .brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
#wfp-visualization-wrapper .bar {
  fill: #2a93fc;
}
#wfp-visualization-wrapper .bar:hover {
  cursor: pointer;
}
#wfp-visualization-wrapper #embedoptions {
  display: none;
  padding: 10px;
}
#wfp-visualization-wrapper #hdxembedoptions {
  display: none;
  padding: 10px;
}
#wfp-visualization-wrapper #hdxembed {
  padding-top: 15px;
}
#wfp-visualization-wrapper .wfplabel {
  font-size: 11px;
}
#wfp-visualization-wrapper .setbrush {
  text-decoration: underline;
  font-size: 10px;
  color: #2a93fc;
  margin-left: 5px;
}
#wfp-visualization-wrapper .setbrush:hover {
  cursor: pointer;
}
#wfp-visualization-wrapper .leaflet-container .leaflet-top-pane {
  pointer-events: none;
}
#wfp-visualization-wrapper .leaflet-container .leaflet-popup-pane {
  z-index: 10;
}
#wfp-visualization-wrapper .leaflet-container .leaflet-popup-close-button {
  display: none;
}
#wfp-visualization-wrapper .leaflet-container .leaflet-popup-content {
  padding: 0 0 0 0 !important;
}
#wfp-visualization-wrapper .leaflet-container .leaflet-popup-content-wrapper {
  pointer-events: none;
  background: #333;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
#wfp-visualization-wrapper .leaflet-container .leaflet-popup-tip-container {
  width: 16px;
  height: 8px;
}
#wfp-visualization-wrapper .leaflet-container .leaflet-popup-tip {
  margin-top: -9px;
  margin-left: -5px;
  border: none;
  border-top: 10px solid #333;
  box-shadow: none;
  background: transparent;
  width: 17px;
  height: 17px;
  padding: 1px;
}
