.form-search .input-append {
  width: 100%;
  display: flex;
}
.form-search .input-append .searchInput {
  flex-grow: 1;
  height: 45px;
  border-radius: 6px 0 0 6px;
  background-color: #fff;
  border: 0;
  padding: 0 0 0 20px;
}
.form-search .input-append .searchInput::-webkit-input-placeholder {
  color: #cccccc;
}
.form-search .input-append .button {
  width: 50px;
  height: 45px;
  padding: 0;
  background-color: #007CE0;
  border: 0;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  color: #eeeeee;
}
