.mobile-carousel {
  display: none;
}
@media (min-width: 1260px) {
  body.responsive {
    background: #1ebfb3;
    max-width: 1260px;
    margin: auto;
  }
  body [role=main],
  body .main {
    background-color: #fff;
  }
}
@media (min-width: 1200px) {
  body nav.new-header.navbar-static-top .global-header .global-header-bg {
    margin: 0;
  }
  body.responsive .toolbar {
    width: 1170px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  body.home {
    min-width: 100%;
  }
  body.home .container {
    padding: 0 15px;
    width: 100%;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .count-items .item-count a {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  body.home .homepage-main .hero-section {
    margin-bottom: 0;
  }
  body.home .homepage-main .hero-section .section-title {
    width: 100%;
  }
  body.home .homepage-main .hero-section .hero-section-content {
    margin-top: 0;
  }
  body.home .homepage-main .hero-section .hero-description {
    text-align: center;
    width: 100%;
  }
  body.home .homepage-main .hero-section .hero-description .section-title {
    text-align: center;
  }
  body.home .homepage-main .hero-section .hero-boxes-container {
    width: 100%;
    display: flex;
    float: none;
  }
  body.home .homepage-main .hero-section .hero-boxes-container .hero-boxes {
    width: 50%;
    margin: 50px auto 28px;
  }
  body.home .homepage-main .hero-section .hero-boxes-container .hero-boxes .action-box ~ .action-box {
    margin-left: 0;
    margin-top: 30px;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .count-items .item-count a {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  body.home {
    min-width: 100%;
    width: 100%;
  }
  body.home .container,
  body.home .navbar-static-top .container,
  body.home .navbar-fixed-top .container,
  body.home .navbar-fixed-bottom .container {
    width: auto;
    padding: 0 15px;
  }
  body.home .homepage-main .homepage-section .section-title {
    font-size: 40px;
  }
  body.home .homepage-main .homepage-section .hero-boxes {
    width: 100% !important;
  }
}
@media (max-width: 425px) {
  body.home .homepage-main .homepage-section .section-title {
    font-size: 40px;
  }
  body.home .homepage-main .homepage-section .section-description {
    font-size: 20px;
  }
  body.home .homepage-main .homepage-section .hero-boxes {
    padding: 0 10px;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box {
    width: 100%;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .count-items .item-count a {
    font-size: 26px;
  }
  body.home .homepage-main .homepage-section .hero-boxes {
    padding: 0;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box {
    width: 100%;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .first-search {
    padding: 22px 15px;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .count-items {
    padding: 0 10px 10px;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .count-items .item-count a {
    font-size: 24px;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .count-items .item-name {
    font-size: 10px;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .add-data-actions .add-data-item {
    margin: 15px;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .add-data-actions .add-data-item .add-data-item-content .description {
    height: 60px;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .add-data-actions .add-data-item .add-data-item-content img {
    height: 40px;
  }
  body.home .homepage-main .homepage-section .hero-boxes .action-box .add-data-actions .add-data-item .add-data-item-content .action {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  body.home .homepage-main .homepage-section .section-title {
    font-size: 28px;
    line-height: 1.3;
  }
}
