{#{% resource 'hdx_theme/widget/onboarding/logout.css' %}#}
{% asset 'hdx_theme/onboarding-styles' %}

{% set class = "popup-onbording" %}
{% set title = "QA Checklist" %}

{% extends "widget/onboarding/notification.html" %}

{% block notification_content %}
  <div class="qa-checklist-widget">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#qa-resources" data-toggle="tab" class="hdx-tab-button">Resources</a>
      </li>
      <li>
        <a href="#qa-data-protection" data-toggle="tab" class="hdx-tab-button">Data Protection</a>
      </li>
      <li>
        <a href="#qa-metadata" data-toggle="tab" class="hdx-tab-button">Metadata</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="qa-resources">
        <h3>No resources in dataset!</h3>
      </div>
      <div class="tab-pane" id="qa-data-protection">
        <h1>Data Protection</h1>
      </div>
      <div class="tab-pane" id="qa-metadata">
        <h1>Metadata</h1>
      </div>
    </div>
    <div class="action-container">
      <div class="confirm">
        <label class="checklist-label"><input id="checklist-complete" name="checklist_complete" type="checkbox"><span>Mark as checklist complete</span></label>
      </div>
      <div class="actions">
        <a id="checklist-close" class="btn">Close</a>
        <a id="checklist-save" class="btn btn-primary">Save</a>
      </div>
    </div>
  </div>

{% endblock %}
