{% macro qa_check_item(status, status_text, isodate_string=None, link_to_log=None, package=None) %}
  {# status - OK, ERROR, RUNNIG/QUEUED, None/False #}
  {# status_text - not needed in case it's still RUNNING/QUEUED #}

  {% if status == 'RUNNING' or status == 'QUEUED' %}
    <span class="pii-label gray">
      <img src="/images/filter_loading.gif">
    </span>
    <span class="pii-status">
      In progress
    </span>
  {% elif status == 'OK' or status == 'FINDINGS' or status == 'EXCEPTION' or status == 'ERROR' or status=='' or not status  %}
    {% if status == 'OK' %}
      {% set status_class = 'ok' %}
      {% set icon_class = 'humanitarianicons-Selected' %}
    {% elif status == 'FINDINGS' or status == 'ERROR' %}
      {# status ERROR triggered by checklist #}
      {% set status_class = 'warn' %}
      {% set icon_class = 'humanitarianicons-Alert' %}
      {% if status == 'FINDINGS' %}
        {% set status_text = 'Find.' %}
      {% endif %}
    {% elif status == 'EXCEPTION'%}
      {% set status_class = 'error' %}
      {% set icon_class = 'humanitarianicons-Alert' %}
      {% set status_text = 'Error' %}
    {% endif %}
    {# Overrides if pii_is_sensitive is set #}
    {% if package.pii_is_sensitive == True %}
      {% set status_class = 'warn' %}
      {% set icon_class = 'humanitarianicons-Alert' %}
      {% set status_text = 'Sensitive' %}
    {% elif package.pii_is_sensitive == False %}
      {% set status_class = 'ok' %}
      {% set icon_class = 'humanitarianicons-Selected' %}
      {% set status_text = 'OK' %}
    {% endif %}

    <span class="pii-label {{ status_class }}">
      <span class="pii-label-text">
        {{ status_text }}
      </span>
      <i class="{{icon_class}}"></i>
    </span>
    <span class="pii-status">
      {% if link_to_log %}
        <a href="{{ link_to_log }}" target="_blank" title="{{ h.render_datetime(isodate_string) }}">[LOG]</a>
      {% else %}
        {{ h.render_datetime(isodate_string, date_format='%Y-%m-%d') }}
      {% endif %}
    </span>
  {% endif %}
{% endmacro %}

{% macro qa_check_pii_item(status, status_text, isodate_string=None, link_to_log=None, link_to_debug=None, link_to_dlp=None, resource=None, dlp_run=False) %}
  {# status - OK, FINDINGS, EXCEPTION, RUNNING/QUEUED, None/False #}
  {# status_text - not needed in case it's still RUNNING/QUEUED #}

  {% if status == 'RUNNING' or status == 'QUEUED' %}
    <span class="pii-label gray">
      <img src="/images/filter_loading.gif">
    </span>
    <span class="pii-status">
      In progress
    </span>
  {% elif status == 'OK' or status == 'FINDINGS' or status == 'EXCEPTION' or status=='' or not status %}
    {% if status == 'OK' %}
      {% set status_class = 'ok' %}
      {% set icon_class = 'humanitarianicons-Selected' %}
    {% elif status == 'FINDINGS' %}
      {% set status_class = 'warn' %}
      {% set icon_class = 'humanitarianicons-Alert' %}
      {% if resource.pii_predict_score %}
        {% set score = resource.pii_predict_score|float %}
        {% set score = score * 100 %}
        {% if score > 32 %}
          {% set status_text = "High Risk" %}
          {% set status_class = 'error' %}
          {% set icon_class = "" %}
        {% else %}
          {% set status_text = "Normal Risk" %}
          {% set status_class = 'warn' %}
          {% set icon_class = "" %}
        {% endif %}
      {% endif %}
    {% elif status == 'EXCEPTION' %}
      {% set status_class = 'error' %}
      {% set icon_class = 'humanitarianicons-Alert' %}
      {% set status_text = 'Error' %}
    {% endif %}
    {% if resource.pii_is_sensitive==True %}
      <span class="pii-label warn">
        <span class="pii-label-text" title="Predict score: {{score}}%">
          Sensitive
        </span>
        <i class="humanitarianicons-Alert"></i>
      </span>
    {% elif resource.pii_is_sensitive==False %}
      <span class="pii-label ok">
        <span class="pii-label-text">
          OK
        </span>
        <i class="humanitarianicons-Selected"></i>
      </span>
    {% else %}
      <span class="pii-label {{ status_class }}">
        <span class="pii-label-text" title="Predict score: {{score}}%">
          {{ status_text }}
        </span>
        <i class="{{icon_class}}"></i>
      </span>
    {% endif %}

    <span class="pii-status">
      {% if 'pii_is_sensitive' not in resource %}
        <a href="#" data-toggle="modal" data-target="#pii-confirm-modal-{{resource.id}}">Confirm</a>
      {% endif %}
      <div class="modal pii-confirm-modal" id="pii-confirm-modal-{{resource.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm Risk Classification</h5>
            </div>
            <div class="modal-body">
              <label><input name="pii-confirm" type="radio" value="true" {% if resource.pii_is_sensitive==True %} checked="checked"{% endif %}> <span class="icon-bell"></span> I have checked this resource and I believe it may contain sensitive content</label> <br><br>
              <label><input name="pii-confirm" type="radio" value="false" {% if resource.pii_is_sensitive==False %} checked="checked"{% endif %}> <span class="icon-check"></span> I have checked this resource and I did not find any sensitive content</label>
            </div>
            <div class="modal-footer">
              {% set score_for_mixpanel = resource.pii_predict_score|float  if resource.pii_predict_score else 0 %}
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="confirmPIIState(this, '{{ res.id }}', {{ score_for_mixpanel }}, '{{ link_to_log }}', '{{ dlp_run }}')">Confirm</button>
            </div>
          </div>
        </div>
      </div>

{#      {% if link_to_log and (status == 'OK' or status == 'FINDINGS' or status == 'EXCEPTION') %}#}
      {% if 'pii_is_sensitive' in resource or dlp_run %}
        <div class="more-options center-y">
          <a data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="dropdown-toggle">
            <i class="humanitarianicons-More-options"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right crises-menu" role="menu" aria-labelledby="crises-label">
            {% if 'pii_is_sensitive' in resource %}
              <li>
                <a href="#" data-toggle="modal" data-target="#pii-confirm-modal-{{ res.id }}">Update Risk Classification</a>
              </li>
            {% endif %}
            {% if dlp_run and link_to_dlp %}
              <li>
                <a href onclick="viewPIIResults('{{link_to_dlp}}'); return false;" title="{{ h.render_datetime(isodate_string) }}">Visualize results</a>
              </li>
{#            {% endif %}#}
            <li>
              <a href="{{ link_to_log }}" target="_blank" title="{{ h.render_datetime(isodate_string) }}">Main JSON</a>
            </li>
{#            {% if link_to_dlp %}#}
              <li>
                <a href="{{ link_to_dlp }}" target="_blank" title="{{ h.render_datetime(isodate_string) }}">DLP JSON</a>
              </li>
            {% endif %}
            {% if dlp_run and link_to_debug %}
              <li>
                <a href="{{ link_to_debug }}" target="_blank" title="{{ h.render_datetime(isodate_string) }}">Debug Log</a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </span>
  {% endif %}
{% endmacro %}
