{% extends  "search/snippets/package_item.html" %}
{% import 'package/snippets/base_actions_macros.html' as macro %}

{% block package_item_content %}
  {% resource 'hdx_theme/qa-package' %}
  {% resource 'hdx_theme/onboarding' %}
    <div class="dataset-content2 qa-package-item" data-index="{{loop.index}}">
      <div class="dataset-top">
        <div class="dataset-heading">
          <input type="checkbox" />
          {% set title = package.title or package.name %}
          {{ h.link_to(title, h.url_for(controller='package', action='read', id=package.name), class_='dataset-page-link') }}
        </div>
        <div class="more-options">
          <a href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="dropdown-toggle">
            <i class="humanitarianicons-More-options"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right crises-menu" role="menu" aria-labelledby="crises-label">
            <li>
              <a href="#" onclick="contributeAddDetails('{{ package.id }}', 'dataset')">Edit dataset</a>
            </li>
            <li>
              <a href="#" onclick="updateQuarantineList({{h.json_dumps(h.dict_list_reduce(package.resources, 'id'))}}, true);">Quarantine all resources</a>
            </li>
            <li>
              <a href="#" onclick="updateQuarantineList({{h.json_dumps(h.dict_list_reduce(package.resources, 'id'))}}, false);">Remove from quarantine all resources</a>
            </li>
            <li>
              <a href="#">Mark as QA Completed</a>
            </li>
            <li>
              <a href="#">Open checklist</a>
            </li>
            <li>
              <a href="#" onclick="{{macro.contributor_action(package, h, 'true')}}"
                 id="contact-the-contributor">
                <span>Contact the contributor</span>
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="dataset-updated">
        {% block updated %}
          {{ super() }}
        {% endblock %}
      </div>
      <div class="dataset-pii">
        <ul class="pii-list">
          <li class="pii-item">
            <span class="pii-title">
              DISK. RISK:
            </span>
            <span class="pii-label warn">
              <span class="pii-label-text">
              2/3
              </span>
              <i class="humanitarianicons-Alert"></i>
            </span>
            <span class="pii-status">
              In progress
            </span>
          </li>
          <li class="pii-item">
            <span class="pii-title">
              PII CHECK:
            </span>
            <span class="pii-label gray">
              <img src="/images/filter_loading.gif">
            </span>
            <span class="pii-status">
              In progress
            </span>
          </li>
          <li class="pii-item">
            <span class="pii-title">
              CHECKLIST:
            </span>
            <span class="pii-label ok">
              <span class="pii-label-text">
              2/2
              </span>
              <i class="humanitarianicons-Selected"></i>
            </span>
            <span class="pii-status">
              Oct 17, 2019
            </span>
          </li>
        </ul>
      </div>

    </div>
{% endblock %}

