{% extends "search/snippets/package_list.html" %}

{% block search_list %}
  {{ h.snippet('qa_dashboard/qa_results.html', id="qa-results-visualisation", title="PII Results") }}
  <div class="qa-dataset-list-head">
    <input type="checkbox" onclick="updateQASelection(this)"> Select all

    <div class="more-options">
      <a data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="dropdown-toggle">
        <i class="humanitarianicons-More-options"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right crises-menu" role="menu" aria-labelledby="crises-label">
        <li>
          <a onclick="bulkUpdateQAComplete(true)">Mark as QA Completed</a>
        </li>
        <li>
          <a onclick="bulkUpdateQAComplete(false)">Remove QA Completed</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="qa-dataset-list">
    <div class="dataset-items">
      {{ super() }}
    </div>
    <div class="dataset-description">
      {% for package in packages %}
        <div id="qa-package-details-{{loop.index}}" class="qa-package-details" style="display: none;">
          <div class="mL30">
            <div class="qa-dataset-description" data-module="hdx_show_more" style="visibility:hidden; word-wrap: break-word"><div>{{ h.render_markdown(h.get_translated(package, 'notes')) | urlize }}</div></div>
          </div>
          {% snippet "package/hdx_resources_list.html", pkg=package, id_suffix=loop.index, resource_item_snippet='qa_dashboard/qa_resource_item.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block package %}
  {% for package in packages %}
    {% snippet "qa_dashboard/qa_package_item.html", query=query, package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title, show_my_links=show_my_links, show_edit_link=show_edit_link, loop=loop %}
  {% endfor %}
{% endblock %}
