{% extends  "search/snippets/package_item.html" %}
{% import 'package/snippets/base_actions_macros.html' as macro %}
{% import "qa_dashboard/qa_macros.html" as qa_macros with context %}

{% block package_item_content %}
  {% asset 'hdx_theme/qa-package-scripts' %}

    <div class="dataset-content2 qa-package-item" data-package-id="{{ package.id }}">
      <div class="dataset-top">
        <div class="dataset-heading">
          {% set title = package.title or package.name %}
          {{ h.link_to(title, h.url_for('dataset.read', id=package.name), class_='dataset-page-link') }}
          <div id="package-resources-{{loop.index}}" class="package-resources" data-package-id="{{package.id}}" style="display: none;">{{h.json_dumps(package.resources)}}</div>
        </div>
        <div class="more-options">
          <a href="" data-bs-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            <i class="humanitarianicons-More-options"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right crises-menu" role="menu" aria-labelledby="crises-label">
            <li>
              <a class="dropdown-item" onclick="contributeAddDetails('{{ package.id }}', 'dataset')">Edit dataset</a>
            </li>
{#            <li>#}
{#              <a onclick="updateQuarantineList('#package-resources-{{loop.index}}', true);">Quarantine all resources</a>#}
{#            </li>#}
{#            <li>#}
{#              <a onclick="updateQuarantineList('#package-resources-{{loop.index}}', false);">Remove from quarantine all resources</a>#}
{#            </li>#}
            <li>
              <a class="dropdown-item" onclick="updateAllResourcesQuarantine('{{ package.id }}','True');">Quarantine all resources</a>
            </li>
            <li>
              <a class="dropdown-item" onclick="updateAllResourcesQuarantine('{{ package.id }}','False');">Remove from quarantine all resources</a>
            </li>
            <li>
              <a class="dropdown-item" onclick="{{macro.contributor_action(package, h, 'true')}}"
                 id="contact-the-contributor">
                <span>Contact the contributor</span>
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="dataset-updated">
        {% block updated %}
          {{ super() }}
        {% endblock %}
      </div>
      

    </div>
{% endblock %}

