{% extends "package/snippets/resource_item.html" %}

{% block resource_item_edit %}
  <div class="more-options">
    <a href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="dropdown-toggle">
      <i class="humanitarianicons-More-options"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right crises-menu" role="menu" aria-labelledby="crises-label">
      <li>
        <a href="#" onclick="runPIICheck('{{ res.id }}')">Run PII Check</a>
      </li>
      <li>
        <a href="#" onclick="openSDCMicro('{{ pkg.name }}', '{{ res.id }}', '{{ res.download_url }}')">Run SDC Micro</a>
      </li>
      <li>
        <a href="{{ h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=res.id) }}" target="_blank">Preview</a>
      </li>
      <li>
        <a href="{{ res.hdx_rel_url }}">Download</a>
      </li>
      <li>
        <a href="#" onclick="updateQuarantine('{{ res.id }}', {% if res.in_quarantine %}false{% else %}true{% endif %});">{% if res.in_quarantine %}Remove from{% else %}Add to{% endif %} Quarantine</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block resource_item_explore %}
  <div class="dataset-pii">
    <ul class="pii-list">
      <li class="pii-item">
        <span class="pii-title">
          DISK. RISK:
        </span>
        <span class="pii-label warn">
          <span class="pii-label-text">
          2/3
          </span>
          <i class="humanitarianicons-Alert"></i>
        </span>
        <span class="pii-status">
          In progress
        </span>
      </li>
      <li class="pii-item">
        <span class="pii-title">
          PII CHECK:
        </span>
        <span class="pii-label gray">
          <img src="/images/filter_loading.gif">
        </span>
        <span class="pii-status">
          In progress
        </span>
      </li>
      <li class="pii-item">
        <span class="pii-title">
          CHECKLIST:
        </span>
        <span class="pii-label ok">
          <span class="pii-label-text">
          2/2
          </span>
          <i class="humanitarianicons-Selected"></i>
        </span>
        <span class="pii-status">
          Oct 17, 2019
        </span>
      </li>
    </ul>
  </div>
{% endblock %}
