{% extends "package/snippets/resource_item.html" %}
{% block in_review %}{% if res.in_quarantine %}in-quarantine{% endif %}{% endblock %}

{% block in_quarantine_label %}
  {% if res.in_quarantine %}
    <span class="label label-info label-small">{{ _('In quarantine') }}</span>
  {% endif %}
{% endblock %}

{% block broken_link_label %}
  {% if res.broken_link %}
    <span class="label label-info label-small">{{ _('Broken Link') }}</span>
  {% endif %}
{% endblock %}

{% import "qa_dashboard/qa_macros.html" as qa_macros with context %}
{% block resource_item_edit %}
  <div class="more-options">
    <a data-bs-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
      <i class="humanitarianicons-More-options"></i>
    </a>
    <ul class="dropdown-menu crises-menu" role="menu" aria-labelledby="crises-label">
      <li>
        <a class="dropdown-item" href="{{ h.url_for('resource.read', id=pkg.name, resource_id=res.id) }}" target="_blank">Preview</a>
      </li>
      {% if h.check_access('hdx_resource_download', res) %}
        <li>
          <a class="dropdown-item" href="{{ res.hdx_rel_url }}">Download</a>
        </li>
      {% endif %}
      <li>
        <a class="dropdown-item" onclick="updateQuarantine('{{ res.id }}', {% if res.in_quarantine %}false{% else %}true{% endif %});">{% if res.in_quarantine %}Remove from{% else %}Add to{% endif %} Quarantine</a>
      </li>
      <li>
        <a class="dropdown-item" onclick="updateBrokenLink('{{ res.id }}', {% if res.broken_link %}false{% else %}true{% endif %});">{% if res.broken_link %}Unmark{% else %}Mark{% endif %} as Broken Link</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block resource_item_explore %}
  
{% endblock %}
