{% resource 'hdx_theme/widget/onboarding/logout.css' %}
{% set class = "popup-onbording" %}
{% set title = "SDC Micro" %}

{% extends "widget/onboarding/notification.html" %}

{% block notification_content %}
  <div id="qa-sdc-widget">
    <div id="sdc-micro-table" class="sdc-micro-table"></div>
    <div class="action-container">
      <div class="actions">
        <a id="qa-sdc-popup-close" href="#" class="btn">Cancel</a>
        <a id="qa-sdc-popup-save" href="#" class="btn btn-primary">Run SDC</a>
      </div>
    </div>
  </div>

{% endblock %}





