{#{% resource 'hdx_theme/widget/onboarding/logout.css' %}#}

{% asset 'hdx_theme/onboarding-styles' %}
{% set class = "popup-onbording popup-close-only-x" %}
{% set title = "SDC Micro" %}

{% extends "widget/onboarding/notification.html" %}

{% block notification_content %}
  <div id="qa-sdc-widget">
    <div id="qa-sdc-hxl-proxy" style="display: none;">{{ h.hdx_get_ckan_config('hdx.hxlproxy.url') }}</div>
    <div id="sdc-micro-table" class="sdc-micro-table"></div>
    <ul class="nav nav-tabs inverted">
    </ul>
    <div class="action-container">
      <div class="actions">
        <a id="qa-sdc-popup-close" class="btn">Cancel</a>
        <a id="qa-sdc-popup-save" class="btn btn-primary disabled">Run SDC</a>
      </div>
    </div>
  </div>

{% endblock %}





