{% import 'macros/form.html' as form %}

<div class="modal request-data-modal two-cols request-data-two-cols reply-request-form">
  <div class="modal-content request-data-modal-content">
    <div class="modal-body request-data-modal-body">
      <div class="row two-cols request-data-two-cols" style="width: initial !important;">
        <div class="col-sm-6 left-col" style="height: 610px;">
          <div class="large-title reply-request-form-large-title white">
            {{ package_name }}
          </div>
          <div class="reply-request-form-request-info white">
            {% set sender_profile = h.url_for(controller='user', action='read', id=sender_id) %}
            <p>Requested by: <a href="{{ sender_profile }}">{{ requested_by }}</a></p>
            {% set maintainers = h.requestdata_convert_str_to_json(maintainers) %}

            <p>Maintainer:
              {% for item in maintainers %}
                {% set sender_profile = h.url_for(controller='user', action='read', id=item.id) %}
                <a href="{{ sender_profile }}">{{ item.fullname }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </p>
          </div>
          <div class="reply-request-form-line white"></div>
          <div class="reply-request-form-sender-message white">
            <span>{{requested_by}} wrote:</span>
            <br>
            <p>{{ message_content }}</p>
          </div>
        </div>
        <div class="col-sm-6 right-col" style="background-color: #EEEEEE;">
          <div class="alert alert-danger hide"></div>
          <div class="paddingfix">
            <div class="ds-title">
              Reply to this request
            </div>
            <div style="overflow: auto; height: 450px;">
              <div class="ds-contrib mTop10">
                <p>Please reply to the request using the form below. HDX tracks whether data requests are accepted or denied but does not track the content of the email message.</p>
                <p>Sensitive data should always be shared via a secure channel, such as encrypted email or an encrypted file transfer service. Share the password to decrypt data separately via a different secure channel. You may want to establish a data sharing agreement before sharing sensitive data.</p>
                <p>For more on responsible approaches to data sharing read this <a href="https://centre.humdata.org/guidance-note-responsible-approaches-to-data-sharing/">guidance note</a>.</p>
              </div>
              <form class="form-horizontal" id="request-data-form" enctype="multipart/form-data">
                {% block message_content %}
                  <div class="request-data-form-control reply-request-form-control mBottom5">
                    <textarea
                            id="field-comments"
                            name="message_content"
                            class="request-data-form-input reply-request-form-message-content"
                            required="required"
                            style="height: 75px; padding: 10px;"
                            placeholder="Your response"></textarea>
                  </div>
                {% endblock %}

                <!--<div class="ds-title">-->
                  <!--Reply email-->
                <!--</div>-->
                <div class="ds-contrib mtop5">
                  Please indicate which email address the requester should use to contact you should they have questions.
                </div>

                <div class="request-data-form-control reply-request-form-control">
                  <input type="email"
                         name="email"
                         class="request-data-form-input reply-request-form-reply-email"
                         required="required"
                         value="{{ c.userobj.email }}"
                         placeholder="Your email (e.g user@email.com)"
                         style="max-width: 100%;"
                         title="Please provide a valid email address !"/>
                </div>

  {#              <div class="ds-title">#}
  {#                Share File <input type="file" name="file_upload" class="reply-request-form-file-upload" />#}
  {#              </div>#}
              </form>
            </div>
            <div class="modal-footer request-data-modal-footer">
              <button class="btn btn-empty btn-empty-black btn-large btn-cancel" style="border-color: transparent;">Cancel</button>
              <button type="submit" class="btn btn-primary btn-submit" style="width: 120px; margin-left: 25px;">Send</button>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
