{% asset 'hdx_theme/requestdata-styles' %}

{% import 'macros/form.html' as form %}

<div class="modal request-data-modal two-cols request-data-two-cols posfix">
  <div class="modal-content request-data-modal-content">
    <div class="modal-body request-data-modal-body">
      <div class="row two-cols request-data-two-cols">
        <div class="col-sm-6 col-xs-12 left-col">
          <div class="large-title">
            Request access
          </div>
          <div class="large-text mTop20">
            Get in touch with the contributing organization to request access to the data.
          </div>
          <div class="regular-text mTop20 white">
            Tell them about your work and why you would like to use their data.
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 right-col">
          <div class="paddingfix">
            <div class="ds-title">
              Dataset {{ package_name }}
            </div>
            <form class="form-horizontal" id="request-data-form">
              <div class="control mTop20">
                <input id="field-name" name="sender_name" class="full-width required {% if c.userobj.fullname %}input-content{% endif %}" type="text" value="{% if c.userobj.fullname %}{{ c.userobj.fullname }}{% endif %}" required="required">
                <label for="field-name">Your name</label>
              </div>
              <div class="control mTop20">
                <input id="field-email" name="email_address" class="full-width required {% if c.userobj.email %}input-content{% endif %}" type="text" value="{{ c.userobj.email }}" required="required">
                <label for="field-email">Your email</label>
              </div>
              <div class="control mTop20">
                <select class="mTop20" id="field-country" name="sender_country" required>
                  <option value="-1">{{_('Where are you located?')}}</option>
                  {% for location in h.hdx_location_list(False)  %}
                    <option value="{{ location.text }}">{{ location.text }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="control mTop20">
                <select class="mTop20" id="field-organization" name="sender_organization_id" data-default-value="{{ user_organization_id }}" required>
                  <option value="-1">{{_('Select organization...')}}</option>
                  {% for organization in h.hdx_cached_org_list() %}
                    <option value="{{ organization.id }}">{{ organization.display_name }}</option>
                  {% endfor %}
                  <option value="other">{{ _('Other...') }}</option>
                </select>
              </div>
              <div class="control mTop20 hidden">
                <input id="field-organization-other" name="sender_organization_id_other" class="full-width required" type="text" value="">
                <label for="field-organization-other">Organization</label>
              </div>
              <div class="control mTop20">
                <select class="mTop20" id="field-organization-type" name="sender_organization_type" data-default-value="{{ user_organization_type }}" required>
                  <option value="-1">{{_('Select organization type...')}}</option>
                  {% for t in h.hdx_organization_type_list() %}
                    <option value="{{t.text}}">{{ t.text }}</option>
                  {% endfor %}
                  <option value="other">{{ _('Other...') }}</option>
                </select>
              </div>
              <div class="control mTop20 hidden">
                <input id="field-organization-type-other" name="sender_organization_type_other" class="full-width required" type="text" value="">
                <label for="field-organization-type-other">Organization type</label>
              </div>
              <div class="control mTop20">
                <select class="mTop20" id="field-intend-message" name="sender_intend" required>
                  <option value="-1">{{_('Intended use of this data')}}</option>
                  <option value="Humanitarian Assistance">Humanitarian Assistance</option>
                  <option value="Academic">Academic</option>
                  <option value="Advocacy">Advocacy</option>
                  <option value="other">Other...</option>
                </select>
              </div>
              <div class="control mTop20 hidden">
                <input id="field-intend-message-other" name="sender_intend_other" class="full-width required" type="text" value="">
                <label for="field-intend-message-other">Intended use of this data</label>
              </div>
              <div class="control mTop20">
                <textarea id="field-comments" name="message_content" class="full-width required" required="required"></textarea>
                <label for="field-comments">{{ _('Why you need to access this data') }}</label>
              </div>
              <div class="control">
                <label class="mTop10 vertically-center" id="field-checkbox-label">
                  <input type="checkbox" required>
                  I understand that my request for this dataset may be denied by the contributor at their discretion. If the contributor decides to share this dataset I will manage the data in accordance with the applicable license and any other instructions the contributor may provide. <span class="red">*</span>
                </label>
              </div>
              <div class="alert alert-danger mBottom5 mTop10 hide"></div>
            </form>
          </div>
        </div>
    </div>
    <div class="modal-footer request-data-modal-footer bottom-actions" style="bottom: 30px !important;">
      <button class="btn btn-empty btn-empty-black btn-large btn-cancel">Cancel</button>
      <button type="submit" class="btn btn-primary btn-submit">Send request</button>
    </div>
  </div>
  </div>
</div>
