.search-light {
  background-color: #eeeeee;
}
.search-light .show-filters {
  display: flex;
  justify-content: flex-end;
}
.search-light .show-filters a {
  z-index: 999;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.search-light .show-filters .checkbox-slider {
  margin-left: 10px;
}
.search-light .dataset-filter-start {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.search-light .dataset-filter-start .form-select {
  display: flex;
  align-items: center;
}
.search-light .dataset-filter-start .form-select > label {
  height: 20px;
  margin-bottom: 0;
}
.search-light .dataset-filter-start .orderDropdown {
  display: flex;
  height: 20px;
  margin-bottom: 0;
  align-items: flex-end;
}
.search-light .dataset-filter-start .orderDropdown .dropdown-toggle {
  display: flex;
  align-items: center;
}
.search-light .dataset-filter-start .orderDropdown .dropdown-toggle-text {
  display: inline;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  margin-bottom: 0;
}
#search-recs {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  color: #333333;
}
.search-list .dataset-item .dataset-content2 {
  padding: 15px;
}
.search-list .search-empty {
  background-color: #fff;
  padding: 15px;
}
.search-list .dataset-list {
  padding: 0;
  background-color: #eeeeee;
}
.search-list .dataset-list .dataset-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background-color: #fff;
}
.search-list .dataset-list .dataset-item .dataset-content2 .dataset-heading {
  font-size: 15px;
}
.search-list .dataset-list .dataset-item .dataset-content2 .dataset-description {
  font-size: 14px;
  line-height: 1.4;
}
.search-list .dataset-list .dataset-item .dataset-content2 .read-less {
  margin-left: 0;
}
.search-list .dataset-list .dataset-item .dataset-updated .dataset-dates {
  line-height: 14px;
}
.search-list .dataset-list .dataset-item .dataset-updated .dataset-updated-icons {
  margin-top: 2px;
}
.search-list .dataset-list .dataset-item .dataset-updated .dataset-updated-org {
  margin-bottom: 4px;
}
.search-list .dataset-list .dataset-item .dataset-updated .dataset-updated-other {
  margin: 4px 0 6px;
}
.list-header {
  border-bottom: none;
}
.mobile-facets {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 1000;
  background-color: #fff;
  padding: 15px;
}
.mobile-facets .mobile-order-by {
  margin-top: 20px;
  float: none;
}
.mobile-facets .text-search {
  line-height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  padding: 7px 6px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  width: 100%;
}
.mobile-facets .actions {
  margin-bottom: 15px;
}
.mobile-facets .actions .back-button {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.mobile-facets .actions .back-button i {
  font-size: 17px;
  font-weight: 700;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
