@import "../base/variables";
@import "../base/mixins";

header {
  //moving the .homepage-main under the header with it's size (78px) so the header should overlap
  position: relative;
  z-index: 10000;

  /* Header Homepage */
  .global-header{
    background-color: @darkGrayColor;
    .header-message {
      max-width: 100%;
    }
  }

  .homepage-header-nav-border{
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
  }
  .homepage-header-nav-border > div{
    margin-bottom: -3px;
  }
  /* END Header Homepage */

}
