
@homepage-hanging-actions-height: 80px;

@tool-image-size: 150px;
@tool-image-top-extend: (@tool-image-size/2) + 10px;
@tool-set-padding: 25px;
@tool-set-margin-top: @tool-image-top-extend - @tool-set-padding;
