@import "../base/variables";


.form-search {
  .input-append {
    width: 100%;
    display: flex;
    .searchInput {
      flex-grow: 1;
      height: 45px;
      border-radius: 6px 0 0 6px;
      background-color: @whiteColor;
      border: 0;
      padding: 0 0 0 20px;

      &::-webkit-input-placeholder{
        color: @lightGrayColor;
      }
    }

    .button{
      width: 50px;
      height: 45px;
      padding: 0;
      background-color: @blueColor;
      border: 0;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
      color: @extraLightGrayColor;
    }
  }
}
