/* Fix search widget */
    /* Fix size due to different box-sizing */
    .form-search .input-append .searchInput {
        width: 266px;
        float: left;
    }
    /* Fix button position */
    .form-search .input-append .input-group-addon {
        padding: 0;
        border: none;
        float: left;
    }
/* END Fix search widget */

/* Search widget style */
    /*Also used on the homepage*/
    .form-search .input-append .searchInput{
        width: 265px;
        height: 45px;
        border-radius: 6px 0 0 6px;
        background-color: white;
        border: 0;
        padding: 0 0 0 20px;
    }

    .form-search .input-append .searchInput::-webkit-input-placeholder{
        color: #cccccc;
    }

    .form-search .input-append .button{
        width: 50px;
        height: 45px;
        padding: 0;
        background-color: #007ce0;
        border: 0;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        color: #eeeeee
    }

    .form-search .input-append .button .icon-search{
        font-size: 20px;
        line-height: 100%;
        text-align: right;
        width: 20px;
        color: #ffffff;
    }
/* END Search widget style */
