@import "../base/variables";

.hdx-warning {
    position: absolute;
    bottom: 0;
    min-width: 1260px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: @lightRedColor;
    z-index: 20;

    .hdx-warning-text {
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
        color: @whiteColor;

        .light-text{
            font-family: "Gotham-Light", sans-serif;
        }
    }

    .hdx-warning-text a {
        font-family: "Gotham-Light", sans-serif;
        font-size: 16px;
        color: inherit;
    }

    &.hdx-announcement {
        background-color: @lightGrayColor;
        .hdx-warning-text {
            color: @blueColor;
        }
    }

}
.hdx-warning-text .hdx-warning-text-important {
    font-family: 'Gotham-Bold', sans-serif;
}

@media (max-width: 767px) {
    .hdx-warning {
        min-width: 0;

        .hdx-warning-text {
            padding: 0 10px;
            width: 100%;
        }
    }
}
