{#{% resource 'hdx_theme/jquery.highlight' %}#}
{#{% resource 'hdx_theme/jquery.expander' %}#}
{#{% resource 'hdx_theme/hdx_show_more.js' %}#}

{% asset 'hdx_theme/hdx-show-more' %}

{% set sender_profile = h.url_for(controller='user', action='read', id=item.sender_user_id) %}
{% if item.extras %}
  {% set extras = h.load_json(item.extras) %}
{% endif %}
{#{% set is_user_sysadmin = h.hdx_is_sysadmin(item.sender_user_id) %}#}
<div class="requested-data-container__content-item--requested-by" {% if type == 'archive' %}style="margin-right: 60px;"{% endif %}>
{#  {% set orgs = h.hdx_organization_list_for_user(item.sender_user_id) %}#}

  <div class="requested-data-container__content-item--requested-by-info" {% if type == 'archive' %}style="float: right; margin-right: 14px;"{% endif %} >
    <div>
      <a href="{{ sender_profile }}" title="{{ _('View profile') }}">{{ item.sender_name }}</a>
      {% if extras %}
        {% set org_type = h.hdx_organization_type_get_value(extras.organization_type) %}
        <span>located in {{ extras.country }}, from {% if extras.organization_id != extras.organization_name %}<a href="{{ h.url_for(controller='organization', action='read', id=extras.organization_id) }}">{{ extras.organization_name }}</a>{% else %}{{ extras.organization_name }}{% endif %} - {{ org_type }}{% if not extras.organization_member %} (Unverified <i class="glyphicon glyphicon-warning-sign"></i> - this user is not a member of this organization on HDX){% endif %}</span>
      {% endif %}
    </div>
{#    {% if is_user_sysadmin %}#}
{#      <div>Sysadmin</div>#}
{#    {% else %}#}
{#      <span data-module="hdx_show_more" style="visibility:hidden;">#}
{#        <div>#}
{#          {% for org in orgs %}#}
{#            <a href="{{ h.url_for(controller='organization', action='read', id=org.id) }}">{{ org.title }}</a>{% if not loop.last %},&nbsp;{% endif %}#}
{#          {% endfor %}#}
{#        </div>#}
{#      </span>#}
{#    {% endif %}#}

    {% if extras %}
      <p class="requested-data-container__content-item--requested-by-intend">
        <span>Intended use: {{ extras.intend }}</span>
      </p>
    {% endif %}
    <p class="requested-data-container__content-item--requested-by-date">
      <span>Requested on {{ h.render_datetime(item.created_at, date_format='%-d %B %Y') }}</span>
    </p>
    <p class="requested-data-container__content-item--requested-by-message">{{ item.message_content }}</p>
  </div>
</div>
