@import "../base/variables";
@import "../base/mixins";
/**
 OLD Dataset CSS
**/
.creation-info-author {
  .info-item-name{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
  }
  a.info-item-name:hover, a.info-item-name:focus{
    color: #cccccc;
    text-decoration: none;
  }
}

.info-wrapper {
  .uppercase {
    font-family: 'Gotham-Book', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #888888;
  }

  .info-item-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
  }
}
.followButtonContainer{
  line-height: 36px;
}


/* hdx_tags theming */
.tag-wrapper {
  float: left;
   .tag{
     background-color: #f2645a;
     font-weight: 400;
     font-size: 14px;
     letter-spacing: 0.03em;
     max-width: 340px;
     overflow: hidden;
     text-overflow: ellipsis;

     @media (max-width: @cut-point-mobile-m) {
       max-width: 280px;
     }
     @media (max-width: @cut-point-mobile-s) {
       max-width: 170px;
     }

     &:hover, &:focus {
       background-color: #ce554d;
       border: none;
       box-shadow: none;
     }
   }
}
/* END hdx_tags theming */

.info-secondary-data {
  color: #888888;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* Style Resources List */
.resource-list {
  list-style: none;
}

.resource-item {

  &.in-review {
    opacity: 60%;
  }
  .heading {
    color: @darkGrayColor;
    font-size: 14px;
    font-weight: bold;
  }
  .description{
    text-align: justify;
    max-width: 450px;
  }
}
/* END Style Resources List*/

/* Style Additional Info */
.additional-info {
  table tr {
    height: 38px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  td {
    text-align: justify;
    word-break: break-word;
  }

  th {
    max-width: 200px;
    width: 175px;
  }
}
/* END Style Additional Info */

/* Resource grouping */
.resource-grouping-btn {
  margin-bottom: 20px;

  .caret {
    position: relative;
    top: -1px;
    right: -10px;
    border-width: 7px;
  }
}
/* END Resource grouping */

.media-image{
  width: 150px;
}

.dataset-title {
  .humanitarianicons-Folder {
    font-size: 24px;
    margin-left: 5px;
  }
}
