.two-column-register .two-column-left {
  height: 560px;
}
.two-column-register .two-column-left .envelope {
  height: 250px;
}
.two-column-register .two-column-right {
  height: 560px;
  color: #000;
  padding: 60px 60px 0;
}
@media (max-width: 425px) {
  .two-column-widget.two-column-register .two-column-left,
  .two-column-widget.two-column-register .two-column-right {
    padding: 35px;
  }
  .two-column-widget.two-column-register .two-column-right {
    min-height: 380px;
    height: unset;
  }
}
