.signup-widget {
  height: 560px;
  width: 890px;
  background-color: #007CE0;
  background-image: url('/images/backgrounds/pixels_white.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  color: #fff;
}
.signup-widget .close {
  margin-top: 25px;
  margin-right: 25px;
}
.signup-widget .inner-bg {
  background-image: url('/images/backgrounds/browse_illustration.png');
  background-position: bottom right;
  background-size: 430px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 60px;
}
.signup-widget .signup-list {
  margin-left: 0;
  list-style: none;
  padding-left: 10px;
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 12px;
}
.signup-widget .signup-list .starred:after {
  content: "*";
  margin-left: 5px;
}
.signup-widget .signup-list li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -10px;
}
.signup-widget .signup-list li.starred-reason {
  font-size: 10px;
  font-style: italic;
}
.signup-widget .signup-list li.starred-reason:before {
  content: "*";
}
.signup-widget .signup-box {
  width: 100%;
  height: 320px;
  padding: 35px;
  background-color: #eeeeee;
  border-radius: 6px;
}
.signup-widget .signup-box .checkbox-row {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.signup-widget .signup-box .checkbox-row input[type="checkbox"] {
  margin: 0;
}
.signup-widget .signup-box .checkbox-row input[type="checkbox"] ~ label {
  margin: 0 0 0 5px;
}
.signup-widget .signup-action {
  text-transform: none;
}
.signup-widget .signup-action i {
  margin-left: 8px;
  font-size: 14px;
}
.signup-widget .grecaptcha-badge {
  transform: scale(0.8);
  transform-origin: 0;
}
@media (max-width: 1024px) {
  .signup-widget {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .signup-widget {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
  }
  .signup-widget .signup-box {
    margin-top: 20px;
    height: auto;
  }
}
@media (max-width: 375px) {
  .signup-widget {
    margin: 0 -15px;
  }
  .signup-widget .inner-bg {
    padding: 15px;
  }
}
