/* Default link style */
a,
.dataset-heading a {
  color: #007ce0;
  text-decoration: none;
}
a:hover,
.dataset-heading a:hover,
a:focus,
.dataset-heading a:focus {
  color: #00447a;
  text-decoration: none;
}
/* END Default link style */
.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.3);
  z-index: 1001;
}
.popup .content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  padding: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
}
.popup .content .title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}
#hxl-preview-popup.popup .content {
  background-color: #ffffff;
  width: 1260px;
  padding: 0;
}
#hxl-preview-popup.popup .content .header-row {
  background-color: #007ce0;
  margin-left: 0;
  margin-right: 0;
}
#hxl-preview-popup.popup .content .header-row .title {
  color: #ffffff;
}
#hxl-preview-popup.popup .content .header-row .pull-right {
  padding-top: 13px;
}
#hxl-preview-popup.popup .content .header-row .close {
  color: #ffffff;
  opacity: 1;
}
#hxl-preview-popup.popup .content .hxl-description {
  padding: 15px 15px 6px 15px;
  line-height: 20px;
  border-bottom: 1px solid #eeeeee;
}
#hxl-preview-popup.popup iframe {
  height: 600px;
}
