.confirmation-modal .modal-content {
  background-color: #fff;
  text-align: left;
}
.confirmation-modal .modal-content .modal-body {
  color: #888888;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 20px;
}
.confirmation-modal .modal-content .modal-body .select2-container .select2-choice {
  border-color: #888888;
}
.confirmation-modal .modal-content .modal-body .scrollable-container {
  max-height: 300px;
  overflow: auto;
}
.confirmation-modal .modal-content .modal-body p {
  font-weight: normal;
}
.confirmation-modal .modal-content .modal-body li {
  list-style-type: disc;
}
