{% set data = data or {} %}
{% set errors = errors or {} %}

{% set group_name = 'groups__%s__id' % data.groups|length %}
    {% set available_groups = h.groups_available() %}
  <div class="control-group">
      {% set error = errors.groups_list %}
      <label class="control-label" for="field-group">{{ _("Add Group") }}</label>
    <div class="controls">
        <select id="field-group" name="{{ group_name }}">
          <option value="-1">{{ _('Please select from below') }}</option>
          {% for grp in available_groups  %}
            <option value="{{ grp.id }}">{{ grp.display_name }}</option>
          {% endfor %}
        </select>
        {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
      </div>
  </div>