{% ckan_extends %}

{% block package_metadata_fields %}
  {% block dataset_fields %}
    {% if data.groups %}
      <div class="control-group">
        <label class="control-label">{{ _('Groups') }}</label>
        <div class="controls">
          {% for group in data.groups %}
          	{% if group.id != '-1' %}
            <label class="checkbox" for="field-group-{{ loop.index0 }}">
              <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{ loop.index0 }}__id" value="{{ group.id }}" checked="checked" />
              {{ group.title }}
            </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% if onepage == 0 %}
    {{ h.snippet('package/snippets/country_dropdown.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name) }}
  {% endif %}
    
    {# Replacing ajax-autocomplete with dropdown
    {% set group_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/group/autocomplete?q=?', 'data-module-key': 'id', 'data-module-label': 'title'} %}
    {{ form.input(group_name, label=_('Add Group'), id="field-group", value=data[group_name], classes=['control-medium'], error=errors.groups_list, attrs=group_attrs) }}
    #}
    
  {% endblock %}
{% endblock %}