{% ckan_extends %}

{% set username = request.environ.get('REMOTE_USER') %}
{% if data.package_creator %}
	{% set package_creator = data.package_creator %}
{% else %}
	{% set package_creator = username %}
{% endif %}

{% set onepage = onepage or 0 %}

{% block package_basic_fields_custom %}
	{% block package_basic_fields_custom_creator %}
	<div class="control-group">
        <label class="control-label" for="field-package-creator">{{ _('Creator') }} </label>
        <div class="controls">
			<input type="text" value="{{ package_creator }}" name="package_creator" id="field-package-creator" readonly="readonly" />
		</div>
	</div>
	{% endblock %}

	{% block basic_fields_source %}
  {{ form.input('dataset_source', id='field-dataset_source', label=_('Source'), placeholder=_('Enter the source(s) of the data'), value=data.dataset_source, error=errors.dataset_source, classes=['control-full']) }}
  {% endblock %}

{% endblock %}

{% block package_basic_fields_tags %}
{# Switched this with metadata field Source #}
{% endblock %}

{# if onepage == 1 #}
{% block form_actions %}
{% endblock %}
{# endif #}