{% ckan_extends %}

{% block package_metadata_fields %}
  {% block dataset_fields %}
    {% if data.groups %}
      <div class="control-group">
        <label class="control-label">{{ _('Groups') }}</label>
        <div class="controls">
          {% for group in data.groups %}
            {% if group.id != '-1' %}
            <label class="checkbox" for="field-group-{{ loop.index0 }}">
              <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{ loop.index0 }}__id" value="{{ group.id }}" checked="checked" />
              {{ group.title }}
            </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
   {% endif %}
	{% if not onepage_flag %} 
		{% set group_name = 'groups__%s__id' % data.groups|length %}
	    {% set available_groups = h.list_of_all_groups() %}
	    <div class="control-group">
	      	{% set error = errors.groups_list %}
		  	<label class="control-label" for="field-group">{{ _("Add Group") }}</label>
	      <div class="controls">
	        <select id="field-group" name="{{group_name}}" data-module="autocomplete">
	          <option value="-1">{{ _('Please select from below')}}</option>
	          {% for grp in available_groups %}
	            <option value="{{grp.id}}">{{ grp.display_name}}</option>
	          {% endfor %}
	        </select>
	        {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
	      </div>
	    </div>
	{% endif %}
    
  {% if onepage == 0 %}
    {{ h.snippet('package/snippets/country_dropdown.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, onepage=onepage) }}
  {% else %}
  	{% if onepage_flag %}
    <div id="select_groups_hidden" style="visibility:hidden;position:absolute;">
          {% if data.groups %}
          {% for group in data.groups %}
          <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{loop.index0}}__id" value="{{group.id}}" checked="checked" class="group_checked"/>
          {% endfor %}
          {% endif %}
    </div>
    {% endif %}
  {% endif %}

  {% block basic_field_date %}
  <div class="control-group" style="display:inline-block;">
  <label class="control-label" for="dataset_date">Date of Dataset</label>
    <div class="controls"> 
  <input type="text" name='dataset_date' id='field-dataset_date' label={{_('Date of Dataset')}} value='{{data.dataset_date}}' error='{{errors.dataset_date}}' class='control-full'>
</div>
</div>
    {% endblock %}

  {% block basic_field_methodology %}
  <div class="control-group">
    <div>
  <div id="field-dataset_methodology">
  <label class="control-label" for="methodology">Methodology</label>
    <div class="controls ">  
    <input type="radio" name="methodology" value="Census"> Census
    </div>
    <div class="controls ">  
      <input type="radio" name="methodology" value="Sample Survey"> Sample Survey
    </div>
    <div class="controls ">  
      <input type="radio" name="methodology" value="Direct Observational Data/Anecdotal Data"> Direct Observational Data/Anecdotal Data
    </div>
    <div class="controls ">  
      <input type="radio" name="methodology" value="Registry"> Registry</div>
    <div class="controls ">  
      <input type="radio" name="methodology" value="Other"> Other
<br><input type="text" name="method_other" id="method_other" style="width:30%; margin-left:20px;">
<br><br>
    </div>
  </div>
</div>
</div>
  {% endblock %}

  {% block basic_fields_source %}
  {{ form.input('dataset_source', id='field-dataset_source', label=_('Source'), placeholder=_('Enter the source(s) of the data'), value=data.dataset_source, error=errors.dataset_source, classes=['control-full']) }}
  {% endblock %}
  
  {% block basic_fields_caveats %}
  {{ form.markdown('caveats', id='field-caveats', label=_('Caveats'), placeholder=_('Caveats'), value=data.caveats, error=errors.caveats) }}
  {% endblock %}
    
    {# Replacing ajax-autocomplete with dropdown
    {% set group_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/group/autocomplete?q=?', 'data-module-key': 'id', 'data-module-label': 'title'} %}
    {{ form.input(group_name, label=_('Add Group'), id="field-group", value=data[group_name], classes=['control-medium'], error=errors.groups_list, attrs=group_attrs) }}
    #}
    
  {% endblock %}
{% endblock %}