@import "../../base/variables";
@import "../../base/mixins";

.org-light {
  background-color: @extraLightGrayColor;
  .org-details {
    background-color: @extraLightGrayColor;
  }
  .org-logo-large {
    margin-top: 20px; //title is aligned with the logo
    width: 100%;
    padding-right: 15px;
    text-align: right;

    img {
      max-width: 100%;
    }
  }
}
