.custom-page-light {
  background-color: #eeeeee;
}
.custom-page-light h1 {
  margin-bottom: 20px;
}
.custom-page-light .section-body {
  position: relative;
  padding-bottom: 24px;
}
.custom-page-light .section-body iframe {
  background-color: #fff;
}
.custom-page-light .section-body .fold {
  transition: height 1s;
}
.custom-page-light .section-body .fold.closed {
  height: 175px !important;
}
.custom-page-light .section-body .section-unfold {
  position: absolute;
  padding: 0 15px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.custom-page-light .section-body .section-unfold .overlay {
  padding: 5px 15px;
  background-color: #edf6fd;
  display: flex;
  justify-content: space-between;
}
.custom-page-light .section-body .section-unfold .overlay .fullscreen {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.custom-page-light .section-body .section-unfold .overlay .display-toggle {
  display: flex;
  align-self: flex-end;
}
.custom-page-light .section-body .section-unfold .overlay .display-toggle .checkbox-slider {
  margin-left: 5px;
}
.custom-page-light .show-filters {
  display: flex;
  justify-content: flex-end;
}
.custom-page-light .show-filters a {
  z-index: 999;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.custom-page-light .show-filters .checkbox-slider {
  margin-left: 10px;
}
.custom-page-light .custom-page-filter-start {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.custom-page-light .custom-page-filter-start .form-select {
  display: flex;
  align-items: center;
}
.custom-page-light .custom-page-filter-start .form-select > label {
  height: 20px;
  margin-bottom: 0;
}
.custom-page-light .custom-page-filter-start .orderDropdown {
  display: flex;
  height: 20px;
  margin-bottom: 0;
  align-items: flex-end;
}
.custom-page-light .custom-page-filter-start .orderDropdown .dropdown-toggle {
  display: flex;
  align-items: center;
}
.custom-page-light .custom-page-filter-start .orderDropdown .dropdown-toggle-text {
  display: inline;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  margin-bottom: 0;
}
