{% extends "page_light.html" %}

{%- block styles %}
    {{ super() }}
    {% asset 'hdx_theme/faq-styles' %}
{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block header_core %}
  {% set page_has_desktop_version = False %}
  {% set page_has_mobile_version = False  %}
  {% snippet "header-mobile.html", page_has_desktop_version=page_has_desktop_version, page_has_mobile_version=page_has_mobile_version %}
{% endblock %}

{% block subtitle %}{{ _("Frequently Asked Questions") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('FAQ'), named_route='hdx_main_faq.main_faq') }}</li>
{% endblock %}

{% block content %}
  <div class="hdx-wrapper">
    <div class="">
      {% block pre_primary %}
        {%- block faqwidget %}
          {{ h.snippet('widget/faq/faq-send-message.html', id="faqSendMsgPopup", topics=data.topics, fullname=data.fullname,
          email=data.email, capcha_api_key=capcha_api_key) }}
          {{ h.snippet('widget/faq/done.html', id="faqDonePopup") }}
        {% endblock -%}
        <div class="top-banner">
          <div class="col-xs-12">
            <div class="row">
              <div class="top-banner-text-wrapper">
                <div class="top-banner-title">
                  {{ _('Frequently Asked Questions') }}
                </div>
                <div class="top-banner-more mTop60">
                  {{ _("Don't see an answer you are looking for?") }}
                </div>
                <div class="top-banner-more-button-wrapper mTop30">
                  <a class="btn hdx-btn btn-blue-on-white" onclick="closeCurrentWidget(this);spawnRecaptcha('#faqSendMsgPopup');showFaqWidget('#faqSendMsgPopup');" href="#">
                    {{ _("Contact us") }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          {% block secondary %}
            <div id="hdx-faq-sidebar-wrapper" class="mTop60" style="min-height: 70px;">
              <div class="hdx-faq-sidebar" id="hdx-faq-sidebar">
                <ul class="nav">
                  {% for section in data.faq_data %}
                  <li>
                    <a id='menu-{{ section.id }}' href="#body-{{ section.id }}"> {{ section.title }} </a>
                  </li>
                  {% endfor %}
                </ul>
                <p class="no-answer-found mTop30">
                  <a onclick="closeCurrentWidget(this);spawnRecaptcha('#faqSendMsgPopup');showFaqWidget('#faqSendMsgPopup');" href="#">{{ _("Don't see an answer?") }}</a>
                </p>
                <p>
                  {% snippet 'faq_others/faq/search.html' %}
                </p>
              </div>
            </div>
          {% endblock %}
        </div>
        <div class="col-xs-12 col-md-9">
          {% block primary %}
            <div class="row mTop60">
              <div class="col-xs-12">
                <div id="body-about-hdx" class="section-flag" style="">About the Humanitarian Data Exchange</div>
                <p class="mTop10">
                  The Humanitarian Data Exchange (HDX) is an open platform for sharing data across crises and organisations.
                  Launched in July 2014, the goal of HDX is to make humanitarian data easy to find and use for analysis.
                  Our growing collection of datasets has been accessed by users in over 250 countries and territories.
                </p>

                <p>
                  HDX is managed by OCHA's <a href="https://centre.humdata.org/#" target="_blank">Centre for Humanitarian Data</a>, which is located in The Hague, the Netherlands.
                  OCHA is part of the United Nations Secretariat and is responsible for bringing together humanitarian actors to ensure a coherent response to emergencies.
                  The HDX team includes OCHA staff and a number of consultants, based in North America, Europe, Africa, the Middle East and Asia.
                </p>
                <p>
                  For the latest content about HDX, <a href="https://centre.humdata.org/category/article/" target="_blank">click here</a>. A selection is below:
                <ul>
                  <li>
                    Ukraine Resident Coordinator And Humanitarian Coordinator - <a href="https://ukraine.un.org/en/180969-local-and-global-businesses-contribute-more-1-billion-support-humanitarian-response-ukraine" target="_blank">Local And Global Businesses</a>
                  </li>
                  <li>
                    Google Public Policy - <a target="_blank" href="https://blog.google/outreach-initiatives/public-policy/collaborating-un-accelerate-crisis-response/">Collaborating With The UN To Accelerate Crisis Response</a>
                  </li>
                  <li>
                    Project Syndicate - <a target="_blank" href="https://www.project-syndicate.org/commentary/data-investments-save-lives-in-poorest-countries-by-mark-lowcock-and-rajiv-shah-1-2021-06?barrier=accesspaylog">Investing In Data Saves Lives</a>, by Mark Lowcock and Raj Shah
                  </li>
                  <li>
                    Frog Design Mind Podcast -
                    <a target="_blank" href="https://www.frog.co/designmind/design-mind-frogcast-ep-6-designing-data-for-humans-in-times-of-crisis?redirectbrand=frogdesign">Designing Data For Humans In Times Of Crisis</a>
                  </li>
                  <li>
                    UN DESA - <a href="https://covid-19-response.unstatshub.org/open-data/hdx-making-covid19-data-accessible/" target="_blank">Humanitarian Data Exchange: Making Data Accessible for the COVID-19 Pandemic</a>
                  </li>
                  <li>
                    Thomson Reuters Foundation - <a target="_blank" href="https://news.trust.org/item/20200205170710-56ry0">In a World Awash with Data, Aid Workers Contend with Gaps</a>
                  </li>
                  <li>
                    Good Code Podcast - <a target="_blank" href="https://soundcloud.com/chine-labbe/the-un-on-humanitarian-data">The UN on Humanitarian Data</a>
                  </li>
                  <li>
                    UN Radio -
                    <a target="_blank" href="https://news.un.org/en/audio/2018/12/1028891">Saving lives with data: how the UN is developing digital tools for improved humanitarian aid</a>
                  </li>
                  <li>
                    Capacity4Dev.eu -
                    <a target="_blank" href="https://europa.eu/capacity4dev/articles/qa-challenge-open-data-humanitarian-response">Q&A: The challenge of open data in humanitarian response</a>
                  </li>
{#                  <li>#}
{#                    AcademyHealth -#}
{#                    <a target="_blank" href="https://www.academyhealth.org/blog/2018-04/sixth-annual-health-data-liberator-award-honors-work-increase-use-and-impact-humanitarian-data">Sixth Annual Health Data Liberator Award Honors Work to Increase Use and Impact of Humanitarian Data</a>#}
{#                  </li>#}
{#                  <li>#}
{#                    Devex -#}
{#                    <a target="_blank" href="https://www.devex.com/news/opinion-humanitarian-world-is-full-of-data-myths-here-are-the-most-popular-91959/">Opinion: Humanitarian world is full of data myths. Here are the most popular</a>#}
{#                  </li>#}
                  {#                    <li>#}
                  {#                        Center for Data Innovation -#}
                  {#                        <a target="_blank" href="https://www.datainnovation.org/2017/01/5-qs-for-sarah-telford-chief-of-data-services-at-unocha/">5 Q’s for Sarah Telford, Chief of Data Services at UNOCHA</a>#}
                  {#                    </li>#}
                  {#                    <li>#}
                  {#                        Aidpreneur -#}
                  {#                        <a target="_blank" href="http://aidpreneur.com/tor129-humanitarian-data-exchange-with-sarah-telford/">Terms of Reference Podcast, with guest Sarah Telford</a>#}
                  {#                    </li>#}
                  {#                    <li>#}
                  {#                        Devex -#}
                  {#                        <a target="_blank" href="https://www.devex.com/news/solving-the-data-conundrum-how-to-leverage-tech-and-big-data-for-impact-88406">Solving the data conundrum: How to leverage tech and 'big data' for impact</a>#}
                  {#                    </li>#}
                  {#                    <li>#}
                  {#                        Thomson Reuters Foundation -#}
                  {#                        <a target="_blank" href="https://news.trust.org/item/20160526150716-78o0j/?source=hpOtherNews3">From displacement to death, UN data innovation aims to boost aid response</a>#}
                  {#                    </li>#}
                  {#                    <li>#}
                  {#                        Huffington Post -#}
                  {#                        <a target="_blank" href="https://www.huffingtonpost.com/entry/open-data-platform-enables-aid-groups-to-respond-more-efficiently-to-crises_us_574876fee4b03ede4414a6a4">Open data platform lets aid groups respond more efficiently to crises</a>#}
                  {#                    </li>#}
                  {#                    <li>#}
                  {#                        UN News -#}
                  {#                        <a target="_blank" href="https://www.un.org/apps/news/story.asp?NewsID=53851#.WCJDuhIrLJw">UN Agencies boost partnership on visualization of food security data for Yemen</a>#}
                  {#                    </li>#}
                  {#                    <li>#}
                  {#                        The Guardian -#}
                  {#                        <a target="_blank" href="https://www.theguardian.com/global-development/2014/dec/29/humanitarian-data-exchange-ebola-refugees">Data exchange helps humanitarians act fast and effectively</a>#}
                  {#                    </li>#}
                  {#                    <li>#}
                  {#                        Fast Company -#}
                  {#                        <a target="_blank" href="https://www.fastcodesign.com/3045699/how-the-candy-crush-of-data-is-saving-lives-in-nepal">How the candy crush of data is saving lives in Nepal</a>#}
                  {#                    </li>#}
                  {#                    <li>#}
                  {#                        Forbes -#}
                  {#                        <a target="_blank" href="https://www.forbes.com/sites/eshachhabra/2015/05/31/un-deploys-new-tech-to-make-relief-faster-in-nepal/">UN deploys new tech to make relief faster in Nepal</a>#}
                  {#                    </li>#}
                  {#                    <li>#}
                  {#                        The Independent -#}
                  {#                        <a target="_blank" href="https://www.independent.co.uk/life-style/gadgets-and-tech/news/open-data-what-is-it-and-why-are-people-so-scared-of-it-10405636.html">Open Data: What is it and why are people so scared of it?</a>#}
                  {#                    </li>#}

                </ul>
                </p>
                <p>
                  To find our logo files and other materials, please
                  <a href="https://centre.humdata.org/design-assets/" target="_blank">click here</a>.
                </p>
              </div>
            </div>
            {% snippet 'faq_others/faq/questions_sections.html', data=data.faq_data %}
          {% endblock %}
        </div>
      </div>

    </div>
  </div>
{% endblock %}

