{#{% resource 'hdx_theme/jquery.highlight' %}#}
{#{% resource 'hdx_theme/faq/faq-search.js' %}#}
{% asset 'hdx_theme/jquery-extra' %}
{% asset 'hdx_theme/faq-scripts' %}

<div class="search-box">
  <div class="search-box-title">Search FAQ:</div>
  <input id="faq-search" type="text">
  <div id="search-no-results" style="display: none;">No results</div>
  <div id="search-results" style="display: none;">
    <div>Result <span id="faq-search-current"></span> / <span id="faq-search-total"></span></div>
    <div><a id="faq-search-prev" href>« Prev</a> - <a id="faq-search-next" href>Next »</a></div>
  </div>
</div>

