@import "../../base/mixins";
@import "../../base/variables";
@import "notification";
@import "onboarding-variables";

#recoverPopup {
  .recover-widget {
    height: auto;
  }
  .notification-title {
    .close {
      display: none;
    }
  }
}
#recoverPopup, #recoverSuccessPopup {
  //background: none;
  pointer-events: none;
  .content {
    pointer-events: all;
    max-width: 400px;
  }

  .recover-background-image {
    background-image: url('/images/backgrounds/browse_illustration.png');
    background-color: #007CE0;
    background-size: 350px;
    background-position: 25px -97px;
    background-repeat: no-repeat;
  }
}
