@import "../../base/mixins";
@import "../../base/variables";
@import "notification";
@import "onboarding-variables";

#recoverPopup {
  .recover-widget {
    height: auto;
  }
  .notification-title {
    .close {
      display: none;
    }
  }
}
#recoverPopup, #recoverSuccessPopup {
  background: none;
  pointer-events: none;
  .content {
    pointer-events: all;
  }
}
