@import "notification-mixins";

.notification-widget {
  .notification-widget-style();

  .notification-title {
    .notification-title-style();
  }

  &.notification-small {
    min-width: unset;
    width: 370px;
  }

  .notification-message {
    .gothamBoldFont(12px);
    color: @blueColor;
    .letter-spacing-1();
  }

  .notification-content {
    background-color: @whiteColor;
    padding: 30px;
    text-align: left;
  }
}

@media (max-width: @cut-point-mobile-s) {
  .notification-widget {
    .notification-title {
      .gothamBoldFont(13px);
      .close {
        margin-left: 5px;
      }
    }
  }
}
