@import "../../base/mixins";
@import "../../base/variables";
@import "notification";
@import "onboarding-variables";

.notification-title {
  .close {
    display: none;
  }
}

#recoverPopup {
  background: none;
  pointer-events: none;
  .content {
    pointer-events: all;
  }
  .recover-widget {
    min-height: 380px;
    height: auto;
  }
}
