@import "../../base/mixins";
@import "../../base/variables";
@import "notification";
@import "onboarding-variables";

@recoverHeight: 360px - @notificationTitleHeight;

.recover-widget {
  position: relative;
  width: @popupContentWidth;
  height: @recoverHeight;
  background-color: @extraLightGrayColor;

  padding: @notificationPaddingSize;

  .bottom-actions {
    position: absolute;
    bottom: @notificationPaddingSize;
    width: @popupContentWidth - 2*@notificationPaddingSize;
  }
}
