@import "../../base/mixins";
@import "../../base/variables";
@import "onboarding-variables";

@widgetHeight: @baseHeight;

.two-column-register {
  .two-column-left {
    height: @widgetHeight;

    .envelope {
      height: 250px;
    }
  }
  .two-column-right {
    height: @widgetHeight;
    color: @blackColor;
    padding: @paddingLarge @paddingLarge 0;

  }
}

@media (max-width: @cut-point-mobile-l) {
  .two-column-widget.two-column-register {
    .two-column-left, .two-column-right {
      padding: @paddingNormal;
    }


    .two-column-right {
      min-height: 380px;
      height: unset;
    }
  }
}

