@import "../../base/mixins";
@import "../../base/variables";
@import "notification";
@import "onboarding-variables";

@registeredHeight: 360px - @notificationTitleHeight;

.registered-widget {
  position: relative;
  width: @popupContentWidth;
  height: @registeredHeight;
  background-color: @whiteColor;

  padding: @notificationPaddingSize;

  img {
    max-height: 150px;
    max-width: 100%;
  }

  .bottom-actions {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 @notificationPaddingSize;
    bottom: @notificationPaddingSize;
  }
}

@media (max-width: @cut-point-mobile-s) {
  .registered-widget {
    .bottom-actions {
      padding: 0 @notificationPaddingSize/2;
    }
  }
}
