@import "../../base/mixins";
@import "../../base/variables";
@import "onboarding-variables";

.signup-widget {
  height: @baseHeight;
  width: 2*@bigColumnWidth;

  background-color: @blueColor;
  background-image: url('/images/backgrounds/pixels_white.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  color: @whiteColor;

  .close {
    margin-top: 25px;
    margin-right: 25px;
  }

  .inner-bg {
    background-image: url('/images/backgrounds/browse_illustration.png');
    background-position: bottom right;
    background-size: 430px;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    padding: @paddingLarge;
  }

  .signup-list {
    margin-left: 0;
    list-style: none;
    padding-left: 10px;

    .gothamBookFont(12px);
    .starred:after {
      content: "*";
      margin-left: 5px;
    }

    li:before {
      display: inline-block;
      content: "-";
      width: 1em;
      margin-left: -10px;
    }
    li.starred-reason{
      font-size: 10px;
      font-style: italic;
      &:before{
        content: "*";
      }
    }

  }

  .signup-box {
    width: @popupContentWidth;
    height: 320px;
    padding: @paddingNormal;
    background-color: @extraLightGrayColor;
    border-radius: 6px;

    .checkbox-row {
      margin-top: 5px;
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        margin: 0;
        ~ label {
          margin: 0 0 0 5px;
        }
      }
    }


  }

  .signup-action {
    text-transform: none;
    i {
      //float: right;
      margin-left: 8px;
      font-size: 14px;
    }
  }

  .grecaptcha-badge{
    transform: scale(0.80);
    transform-origin: 0;
  }
}

@media (max-width: @cut-point-laptop-s) {
  .signup-widget {
    width: @cut-point-tablet;
  }
}

@media (max-width: @cut-point-tablet) {
  .signup-widget {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;

    .signup-box {
      margin-top: 20px;
      height: auto;
    }
  }

}

@media (max-width: @cut-point-mobile-m) {
  .signup-widget {
    margin: 0 -@gutterSmallSize;

    .inner-bg {
      padding: 15px;
    }
  }
}
