@import "../../base/mixins";
@import "../../base/variables";
@import "onboarding-variables";
@import "notification";

@doneHeight: 260px - @notificationTitleHeight;

.survey-widget {
  background-color: @whiteColor;
  width: @popupContentWidth;

  .survey-content {
    padding: @notificationPaddingSize;
    min-height: @doneHeight;
    display: flex;
    flex-direction: column;
  }
  .right-side-actions {
    margin-top: auto;
  }
  iframe {
    min-width: 100vw;
    min-height: 80vh;
    @media(min-width: @cut-point-tablet) {
      border: none;
      min-width: 800px;
      min-height: 80vh;
    }

  }
}
