@import "../../base/mixins";
@import "../../base/variables";
@import "onboarding-variables";

.two-column-widget {
  width: 2*@bigColumnWidth;

  .two-column-left {
    background-color: @blueColor;
    background-image: url('/images/backgrounds/pixels_white.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 200%;
    color: @whiteColor;

    padding: @paddingLarge;
  }

  .two-column-right {
    position: relative;
    background-color: @extraLightGrayColor;

    .right-side-actions{
      position: absolute;
      right: @paddingNormal;
      bottom: @paddingNormal;
    }
  }
}