#wfp-visualization-wrapper {
  #map {
    height: 500px;
  }

  .modal-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  #header {
    height: 45px;
  }

  .sparkline {
    fill: none;
    stroke-width: 2px;
    stroke: #2a93fc;
  }

  .sparkyearline {
    fill: none;
    stroke-width: 1px;
    stroke: #eeeeee;
    shape-rendering: crispEdges;
  }

  .productsparkline {
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
  }

  .productsparkline:hover {
    border-width: 2px;
    border-color: #2a93fc;
    border-style: solid;
    cursor: pointer;
  }

  .area {
    fill: #2a93fc;
    clip-path: url(#clip);
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis {
    font-size: 11px;
  }

  .brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: #2a93fc;
  }

  .bar:hover {
    cursor: pointer;
  }

  #embedoptions {
    display: none;
    padding: 10px;
  }

  #hdxembedoptions {
    display: none;
    padding: 10px;
  }

  #hdxembed {
    padding-top: 15px;
  }

  .wfplabel {
    font-size: 11px;
  }

  .setbrush {
    text-decoration: underline;
    font-size: 10px;
    color: #2a93fc;
    margin-left: 5px;
  }

  .setbrush:hover {
    cursor: pointer;
  }
}