/* Left - right layout */
.section-right {
  border-left: 1px solid #eeeeee;
  padding-left: 45px;
}
.section-left {
  border-right: 1px solid #eeeeee;
  margin-right: -1px;
  padding-right: 45px;
}
/* END - Left - right layout */
