{#
Membership: Contact Contributor widget

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/membership/contact-contributor.html',
            id="contactContributorPopup",
            title="Dataset title",
            topics={'1':'Dataset problem'}
       )
    }}
#}

{% set class = "popup-onboarding" %}
{% set two_column_class = "two-column-select-organisation" %}
{#{% resource 'hdx_theme/widget/membership/contact-contributor.css' %}#}
{#{% resource 'hdx_theme/widget/membership/contact-contributor.js' %}#}

{% asset 'hdx_theme/contact-contributor-scripts' %}

{% extends "widget/onboarding/two-column.html" %}

{% block left_content %}
    <div>
        <div class="large-title">{{ _("Contact the Contributor") }}</div>
        <div class="mTop20 large-text">{{ _("Use the form to ask a question or provide comments about this dataset to the contributor.") }}</div>
        <div class="mTop20 regular-text">
            {{ _("HDX feedback will be blind copied on this message so that we are aware of the initial correspondence related to datasets on the HDX site. Please ")}} &nbsp;<a href="https://centre.humdata.org/contact-us/">contact us</a>&nbsp; {{ _("directly should you need further support.") }}
        </div>
    </div>
{% endblock %}

{% block right_content %}
    <div id="contact-contributor">
        <form id="contact-contributor-form">
            <div class="row" style="overflow-y: auto; height: 400px;">
                <div class="col-xs-12">
                    <div class="bold-regular-text" title="{{ title }}" data-module="bs_tooltip" data-module-placement="bottom" data-toggle="tooltip">
                        [Dataset] <span class="contact-popup-title">{{ title | truncate(65) }}</span>
                        <input type="hidden" name="pkg_title" value="">
                        <input type="hidden" name="pkg_owner_org" value="">
                        <input type="hidden" name="pkg_id" value="">
                    </div>
                    <select class="required mTop15" id="contact-contributor-topics-selector" name="topic" required="required" onchange="_contactContributorFormValidator();">
                        <option id="" value="">{{ _("Your inquiry is regarding ...") }}</option>
                        {% for key, value in topics.items() %}
                            <option id="contact-contributor-{{key}}" value="{{key}}">{{value}}</option>
                        {% endfor %}
                    </select>
                    <div class="mTop15 control">
                        <input id="contact-contributor-fullname" name="fullname" class="full-width required" type="text" value="{{membership_data.fullname}}">
                        <label for="contact-contributor-fullname">Your name</label>
                    </div>
                    <div class="mTop15 control">
                        <input id="contact-contributor-email" name="email" class="full-width required" type="text" value="{{membership_data.email}}">
                        <label for="contact-contributor-email">Your email address</label>
                    </div>
                    <div class="mTop15 control">
                        <textarea id="contact-contributor-msg" name="msg" class="full-width required" required="required" oninput="_contactContributorFormValidator();"></textarea>
                        <label for="contact-contributor-msg">Comments</label>
                    </div>
                </div>
            </div>
            <div class="right-side-actions">
                <input class="btn btn-empty btn-empty-black btn-large" type="button" onclick="closeCurrentWidget(this);" value="Cancel">
                <input id="submitContactContributorMessage" class="btn btn-primary btn-large mL45 hdx-recaptcha disabled" type="submit" value="Submit" data-sitekey="{{ g.recaptcha_publickey }}" data-callback="contactContributorOnSubmit" data-size="invisible" data-badge="inline">
            </div>
        </form>
    </div>
{% endblock %}

