{#
Membership: Contact Contributor widget

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/membership/contact-contributor.html',
            id="contactContributorPopup",
            title="Dataset title",
            topics={'1':'Dataset problem'}
       )
    }}
#}

{% set class = "popup-onboarding" %}
{% set two_column_class = "two-column-select-organisation" %}
{% resource 'hdx_theme/widget/membership/contact-contributor.css' %}
{% resource 'hdx_theme/widget/membership/contact-contributor.js' %}
{% extends "widget/onboarding/two-column.html" %}

{% block left_content %}
    <div>
        <div class="large-title">{{ _("Contact the contributor") }}</div>
        <div class="mTop20 large-text">{{ _("Got questions or comments about this dataset?") }}</div>
        <div class="mTop20 regular-text">
            {{ _("Use the form to contact the dataset contributor") }}
        </div>
    </div>
{% endblock %}

{% block right_content %}
    <div id="contact-contributor">
        <form id="contact-contributor-form">
            <div class="row" style="overflow-y: auto; height: 400px;">
                <div class="col-xs-12">
                    <div class="bold-regular-text" title="{{ title }}" data-module="bs_tooltip" data-module-placement="bottom" data-toggle="tooltip">
                        [Dataset] {{ title | truncate(65) }}
                    </div>
                    <select class="required mTop15" id="contact-contributor-topics-selector" name="topic">
                        <option id="" value="">{{ _("Your inquiry is regarding ...") }}</option>
                        {% for key, value in topics.iteritems() %}
                            <option id="contact-contributor-{{key}}" value="{{value}}">{{value}}</option>
                        {% endfor %}
                    </select>
                    <div class="mTop15 control">
                        <input id="contact-contributor-fullname" name="fullname" class="full-width required" type="text" value="{{fullname}}">
                        <label for="contact-contributor-fullname">Your name</label>
                    </div>
                    <div class="mTop15 control">
                        <input id="contact-contributor-email" name="email" class="full-width required" type="text" value="{{email}}">
                        <label for="contact-contributor-email">Your email address</label>
                    </div>
                    <div class="mTop15 control">
                        <textarea id="contact-contributor-faq-msg" name="faq-msg" class="full-width required"></textarea>
                        <label for="contact-contributor-faq-msg">Comments</label>
                    </div>
                </div>
            </div>
            <div class="right-side-actions">
                <input class="btn btn-empty btn-empty-black btn-large" type="button" onclick="closeCurrentWidget(this);" value="Cancel">
                <input class="btn btn-primary btn-large mL45" type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}

