{#
Membership: Group Message widget

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/membership/group-message.html',
            id="contactContributorPopup",
            title="Dataset title",
            org="Org Name",
            groups={'1':'Dataset problem'}
       )
    }}
#}

{% set class = "popup-onboarding" %}
{% set two_column_class = "two-column-select-organisation" %}
{% resource 'hdx_theme/widget/membership/group-message.css' %}
{% resource 'hdx_theme/widget/membership/group-message.js' %}
{% extends "widget/onboarding/two-column.html" %}

{% block left_content %}
    <div>
        <div class="large-title">{{ _("Group Message") }}</div>
        <div class="mTop20 large-text">
            {{ _("Use group message to collaborate, communicate or make annoucements to other members of ") }}
            <strong>{{org}}</strong>
        </div>
        <div class="mTop20 regular-text">
            {{ _("This feature is available for both private and public datasets") }}<br/>
            {{ _("Your message may be monitored by the HDX team for internal use such as improving your user experience and the overall quality of our services.") }}
        </div>
    </div>
{% endblock %}

{% block right_content %}
    <div id="group-message">
        <form id="group-message-form">
            <div class="row" style="overflow-y: auto; height: 400px;">
                <div class="col-xs-12">
                    <div class="bold-regular-text" title="{{ title }}" data-module="bs_tooltip" data-module-placement="bottom" data-toggle="tooltip">
                        [Dataset] {{ title | truncate(65) }}
                        <input type="hidden" name="pkg_title" value="{{pkg.title}}">
                        <input type="hidden" name="pkg_title" value="{{pkg.title}}">
                        <input type="hidden" name="pkg_owner_org" value="{{pkg.owner_org}}">
                        <input type="hidden" name="pkg_id" value="{{pkg.name or pkg.id}}">
                    </div>
                    <select class="required mTop15" id="group-message-topics-selector" name="topic">
                        <option id="" value="">{{ _("Select recipient group(s)") }}</option>
                        {% for key, value in groups.iteritems() %}
                            <option id="group-message-{{key}}" value="{{key}}">{{value}}</option>
                        {% endfor %}
                    </select>
                    <div class="mTop15 control">
                        <input id="group-message-fullname" name="fullname" class="full-width required" type="text" value="{{fullname}}">
                        <label for="group-message-fullname">Your name</label>
                    </div>
                    <div class="mTop15 control">
                        <input id="group-message-email" name="email" class="full-width required" type="text" value="{{email}}">
                        <label for="group-message-email">Your email address</label>
                    </div>
                    <div class="mTop15 control">
                        <textarea id="group-message-msg" name="msg" class="full-width required"></textarea>
                        <label for="group-message-msg">Comments</label>
                    </div>
                </div>
            </div>
            <div class="right-side-actions">
                <input class="btn btn-empty btn-empty-black btn-large" type="button" onclick="closeCurrentWidget(this);" value="Cancel">
                <input class="btn btn-primary btn-large mL45" type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}

