{#
Displays a list of showcases.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

#}
{% block package_list %}
    <div style="display: none;" id="analytics-number-of-results">{{c.page.item_count if c.page else 0}}</div>
    {% if packages %}
    <div class="row mTop10">
        <div class="col-xs-12">
            <div class="row">
                {% block package_list_inner %}
                    {% for package in packages %}
                        {% snippet 'showcase/snippets/showcase_item.html', package=package, item_class=item_class, truncate=truncate, truncate_title=truncate_title, dataset=dataset %}
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
