{#
Displays a single dataset of type 'showcase'.

package        - A package to display.
item_class     - The class name to use on the list item.
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).
show_remove    - If True, show the remove button to remove showcase/dataset association.

#}
{% set truncate = truncate or 140 %}
{% set truncate_title = truncate_title or 25 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

{% block package_item %}

<div class="{% if dataset %} col-xs-12 {% else %} col-xs-3 {% endif %}">
  <a href="{{ h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='read', id=package.name) }}">
    <div class="showcase-item">
      <div class="showcase-image">
      {% if package.image_display_url %}
        <img src="{{ package.image_display_url }}" alt="{{ package.name }}">
      {% else %}
        <div class="img-placeholder">
          <span class="img-placeholder-text">236 x 150px</span>
        </div>
      {% endif %}
    </div>
      <div class="title">
        {{ h.truncate(title, truncate_title) }}
      </div>
      <div class="description">
        {% if notes %}
          {{ notes|urlize }}
        {% else %}
          {{ _("This showcase has no description") }}
        {% endif %}
      </div>

      {% if package.num_datasets %}
          <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', package.num_datasets).format(num=package.num_datasets) }}</strong>
      {% elif package.num_datasets == 0 %}
          <span class="count">{{ _('0 Datasets') }}</span>
      {% endif %}

      {% if show_remove %}
        <form method="post" class="pull-right">
          <input type="hidden" value="{{ package.id }}" name="remove_showcase_id" />
          <a href="#" onclick="$(this).parent().submit(); return false;" class="remove-link">{{ _('Remove') }}</a>
        </form>
      {% endif %}
    </div>
  </a>
</div>
{% endblock %}