@import "../base/variables";
@import "../base/mixins";

.drag-drop-component{

  .drag-drop-area {
    margin-top: 8px;
  }

  .source-file-fields {
    margin-top: 8px;
  }

  &.source-file {
    .source-file-fields {
      display: none;
    }
    .source-file-upload {
      width: 100% !important;
      margin-bottom: 15px;
      .drag-drop-area {
        .overwrite-text {
          display: none;
        }
      }
    }
  }
  &.source-file-selected {
    .url-field {
      display: none;
    }
  }
  &.source-url {
    .source-file-fields, .source-file-upload {

    }
  }
}
