.hdx-v2-contact-row {
  background-color: var(--hdx-neutral-0);
}
.hdx-v2-contact-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .hdx-v2-contact-content {
    align-items: center;
  }
}
.hdx-v2-contact-column {
  padding: var(--hdx-space-6) 0;
  display: flex;
  flex-direction: column;
  gap: var(--hdx-space-6);
}
@media (min-width: 48rem) {
  .hdx-v2-contact-column {
    padding: var(--hdx-space-8) 0;
    width: 80%;
    gap: var(--hdx-space-8);
  }
}
@media (min-width: 80rem) {
  .hdx-v2-contact-column {
    padding: var(--hdx-space-10) 0;
    width: 50%;
    gap: var(--hdx-space-10);
  }
}
.hdx-v2-contact-header {
  display: flex;
  flex-direction: column;
  gap: var(--hdx-space-4);
}
.hdx-v2-contact-header__title {
  font-family: var(--hdx-font-display);
  font-size: var(--hdx-fs-2xl);
  font-weight: var(--hdx-fw-bold);
  line-height: var(--hdx-lh-normal);
  color: var(--hdx-neutral-95);
  margin: 0;
}
.hdx-v2-contact-header__text {
  font-family: var(--hdx-font-body);
  font-size: var(--hdx-fs-m);
  font-weight: var(--hdx-fw-semibold);
  line-height: var(--hdx-lh-normal);
  color: var(--hdx-neutral-85);
  margin: 0;
}
.hdx-v2-contact-header__notice {
  font-family: var(--hdx-font-body);
  font-size: var(--hdx-fs-m);
  font-weight: var(--hdx-fw-regular);
  line-height: var(--hdx-lh-normal);
  color: var(--hdx-neutral-85);
  margin: 0;
}
.hdx-v2-contact-header__notice a {
  color: var(--hdx-neutral-85);
  text-decoration: underline;
}
.hdx-v2-contact-form {
  display: flex;
  flex-direction: column;
  gap: var(--hdx-space-5);
}
.hdx-v2-contact-dataset-name {
  font-family: var(--hdx-font-body);
  font-size: var(--hdx-fs-m);
  font-weight: var(--hdx-fw-semibold);
  line-height: var(--hdx-lh-normal);
  color: var(--hdx-neutral-85);
  margin: 0;
}
.hdx-v2-contact-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--hdx-space-4);
}
