.hdx-container {
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 48rem) {
  .hdx-container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media (min-width: 87.5rem) {
  .hdx-container {
    max-width: 1320px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }
}
