.hdx-v2 .container {
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .hdx-v2 .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media (min-width: 1400px) {
  .hdx-v2 .container {
    max-width: 1320px;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
}
