<section class="module module-narrow module-shallow license">
  <h2 class="module-heading"><i class="icon-medium icon-th-list"></i> {{ _('Data Themes') }}</h2>
      <p class="module-content">
         <select id="data-themes" style="width:185px;">
         	<option value="/dataset?tags=baseline">Baseline</option>
         	<option value="/dataset?tags=needs+assessment">Needs Assessment</option>
         	<option value="/dataset?tags=response">Response</option>
         	<option value="/dataset?tags=impact+monitoring">Impact Monitoring</option>
         	<option value="/dataset?tags=situational+awareness">Situational Awareness</option>
         </select> 
      </p>
    </section>