@import "../../base/variables";

.confirmation-modal {
  .modal-content {
    background-color: @whiteColor;
    text-align: left;

    .modal-body {
      color: @grayColor;
      font-family: @sourceSansProFont;
      line-height: 20px;

      .select2-container {
        .select2-choice {
          border-color: @grayColor;
        }
      }

      .scrollable-container {
        max-height: 300px;
        overflow: auto;
      }

      p {
        font-weight: normal;
      }

      li {
        list-style-type: disc;
      }
    }
  }
}
