{% extends "v2/page.html" %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/v2-search-styles' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/search-scripts' %}
  {% asset 'hdx_theme/v2-search-scripts' %}
{% endblock %}

{% set canonical_params = h.filter_search_seo_category_keys(data.full_facet_info.get('selected_categ_keys')) %}
{% set canonical_info = h.generate_canonical_link(request.path, request.args, canonical_url, canonical_params, no_params) %}
{% set add_canonical = canonical_info.add_canonical %}
{% if add_canonical is none or add_canonical is not defined %}
  {% set show_url = False %}
{% else %}
  {% set show_url = (not add_canonical) %}
{% endif %}
{% block links %}
  {# Filter out org/location filters from SEO and limit to max 2 content filters #}
  {% set canonical_params = h.filter_search_seo_category_keys(data.full_facet_info.get('selected_categ_keys')) %}
  {% set canonical_url = "/dataset"  %}
  {% snippet "snippets/add_optional_canonical_link.html", canonical_info=canonical_info, params=canonical_params, canonical_url=canonical_url %}

  {{ super() }}
{% endblock %}

{% set filters_no = data.full_facet_info.get('selected_titles') | length %}
{% set selected_titles_str = data.full_facet_info.get('selected_titles_str') %}

{% if filters_no < 1 %}
  {% set page_title = "Humanitarian Datasets | Find Crisis Data" %}}
{% else %}
  {% set page_title = selected_titles_str ~ " Humanitarian Datasets | Find Crisis Data" %}}
{% endif %}

{% block subtitle %}{{page_title}}{% endblock %}
{% block meta %}
    {{ super() }}
    {% if filters_no < 1 %}
      <meta name="description" content="Explore a comprehensive collection of humanitarian datasets curated by HDX. Access reliable data to support crisis response and informed decision-making." />
    {% else %}
      <meta name="description" content="Explore {{ selected_titles_str }} datasets on HDX. Access reliable data to support humanitarian efforts and informed decision making." />
    {% endif %}
{% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/active_breadcrumb_item.html", title=_('Datasets'), position=2 %}
{% endblock %}

{% block primary_content %}
    {% block search_results_wrapper %}
        <div id="search-recs" class="d-none"></div>
        {% snippet 'search/snippets/search_results_wrapper.html',
                            tracking_enabled=g.tracking_enabled, my_c=data or c, display_min=true,
                            show_url=show_url, v2=true %}

    {% endblock %}
  {% block package_search_results_api %}
  {% endblock %}
{% endblock %}

{% block secondary %}
{% endblock %}

{% block  global_dataset_input_search%}
	{% if c.other_links and c.other_links.params_noq %}
  		{% for key,value in  c.other_links.params_noq.items() %}
  			<input type="hidden" name="{{ key }}" value="{{ value }}" />
  		{% endfor %}
  	{% endif %}
  <input type="text" class="searchInput" name="q" id="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search all data') }}">
{% endblock %}
