{% extends "page-new.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _("Search for a Dataset") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block primary_content %}
<div id="filter_dropdown">
  <div class="row paddingRowHack filter_bg">
    <div class="col-xs-12 paddingLeftHack paddingRightHack">
        <div id="search_bar_content" style="display: none;">
          <div id="filter_container" class="mTB35 col-xs-8">
            <div class="row">
              {% for facet in c.facet_titles %}
                {{h.snippet('snippets/facet_list_new.html', title=c.facet_titles[facet], name=facet ,hide_empty=True)}}
              {% endfor %}
            </div>
          </div>
          <div id="date_container" class="mTB35 col-xs-4">
            <div class="row controls">
              <div class="col-xs-4">
                <label>Date Range</label>
              </div>
              <div class="col-xs-4">
                <input style="width: 100px;" placeholder="Start date" type="text" title="Coming soon" data-module="bs_tooltip">
              </div>
              <div class="col-xs-4">
                <input style="width: 100px;" placeholder="End date" type="text" title="Coming soon" data-module="bs_tooltip">
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
  <div id="search_filter_btn">Filter<span>+</span></div>
</div>


  <section class="list-items module">
    <div class="list-items module-content mT35">
      {% block page_primary_action %}
      {% endblock %}
      {% block form %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% snippet 'search/snippets/search_form.html', type='dataset', query=c.q, sorting=sorting, tab=c.tab, sorting_selected=c.sort_by_selected, count=(c.count), facets=facets, show_empty=request.params, error=c.query_error, search_in_results=true, placeholder=_('Search within found datasets...'), display_search_input=false, id=c.group_dict.name %}
      {% endblock %}

      {% block package_search_results_list %}
      {% if c.tab=='all' or c.tab=='indicators' %}
        <div class="list-header">
            <span class="mL15 list-header-title">
              Indicators [{{c.indicator_counts}}]
            </span>
            <span class="mL15 list-header-showall">
              <a href="{{ h.url_for(controller='package', action='search', q=c.q, ext_indicator=1) }}">Show all indicators</a>
            </span>
            <span class="pull-right list-header-actions">
            </span>
        </div>
        {% if  c.tab == 'indicators' %}
          {{ h.snippet('search/snippets/indicator_list.html', query=c.q, packages=c.page.items, tab=c.tab) }}
        {% else %}
          {{ h.snippet('search/snippets/indicator_list.html', query=c.q, packages=c.indicator, tab=c.tab) }}
        {% endif %}
      {% endif %}

      {% if c.tab=='all' or c.tab=='features' %}
        <div class="list-header">
          <span class="mL15 list-header-title">
            Feature Pages
          </span>
          <span class="mL15 list-header-showall">
            <a href="{{ h.url_for(controller='package', action='search', q=c.q, ext_feature=1) }}">{{ _("Show all feature pages") }}</a>
          </span>
          <span class="pull-right list-header-actions">
          </span>
        </div>
        {{ h.snippet('search/snippets/feature_list.html', query=c.q, packages=c.features) }}
      {% endif %}

      {% if c.tab=='all' or c.tab=='datasets' %}
        <div class="list-header">
          <span class="mL15 list-header-title">
            Datasets [{{c.dataset_counts}}]
          </span>
          <span class="mL15 list-header-showall">
            <a href="{{ h.url_for(controller='package', action='search', q=c.q, ext_indicator=0) }}">Show all datasets</a>
          </span>
          <span class="pull-right list-header-actions">
          </span>
        </div>
        {{ h.snippet('search/snippets/package_list.html', query=c.q, packages=c.page.items) }}
      {% endif %}
      {% endblock %}
    </div>

    {% block page_pagination %}
      {% if c.tab != 'all' %}
        {{ c.page.pager(q=c.q) }}
      {% endif %}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
  {% endblock %}
{% endblock %}

{% block secondary %}
{% endblock %}


{% block scripts2 %}
  {{ super() }}
  {% resource 'hdx_theme/bs_tooltip.js' %}
  {% resource 'hdx_theme/filter' %}
  {% resource 'hdx_theme/search' %}
  {% resource 'hdx_theme/jquery.highlight' %}
  <script src="/base/javascript/modules/autocomplete.js"></script>
{% endblock %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block  global_dataset_input_search%}
  <input type="text" class="searchInput" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search all datasets') }}">
{% endblock %}
