
<div class="dataviz-item">
  <div class="preview" style="background-image: url('{{ dataviz.image_url }}')">
    <div class="actions">
      <button class="btn btn-primary">Explore</button>
      {% if h.has_dataviz_gallery_permission() %}
      <a class="white-link mTop10" href="{{ h.url_for('showcase_blueprint.edit', id=dataviz.name) }}">Edit Showcase</a>
      {% endif %}
    </div>
    <div class="label label-inverse">
      {{ dataviz.dataviz_label or dataviz.title }}
    </div>
  </div>
  <div class="content">
    <div class="title">{{ dataviz.title }}</div>
    <div class="description">{{ dataviz.notes }}</div>
    <div class="others">
      <span>Updated on {{ dataviz.metadata_modified }}</span>
      <span class="separator"></span>
      <span><a href="{{ dataviz.data_url }}">DATA</a></span>
    </div>
  </div>
</div>
