{% extends "page_light.html" %}
{% import 'macros/form.html' as form %}
{% block subtitle %}{{ _("Dataviz Gallery") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Dataviz Gallery'), 'hdx_dataviz_gallery.index') }}</li>
{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block primary_content %}
{% endblock %}

{% block header_core %}
  {% set page_has_desktop_version = False %}
  {% set page_has_mobile_version = False  %}
  {% snippet "header-mobile.html", page_has_desktop_version=page_has_desktop_version, page_has_mobile_version=page_has_mobile_version %}
{% endblock %}

{% block content %}
  {% set facet_list = data.full_facet_info.get('facets') %}
  {# set searchValue = request.args.get('q') if request.args.get('q') else '' #}
  <div class="mobile-facets" style="display: none;">
    <div class="actions">
      <a class="back-button" href="#" onclick="$('.mobile-facets').hide();"><i class="humanitarianicons-Return"></i> Back</a>
    </div>
    <div>
      <div class="">
        <input class="text-search" autocomplete="off" id="headerSearch" name="q" class="header-search" type="text" placeholder="Search all dataviz ..." value="{{searchValue}}">
      </div>

      {% snippet 'search/snippets/package_search_order.html', sort_param = data.sort_by_selected, class='mobile-order-by' %}

      {%  set current_page_url = data.other_links.get('current_page_url') if 'current_page_url' in data.other_links else '' %}
      <div class="filter-title">
        Refine your search: <a href="{{current_page_url}}" class="filter-clear pull-right">Clear all</a>
      </div>

      {# snippet 'search/snippets/package_search_facets.html', facet_list=facet_list  #}
    </div>

  </div>

  <div class="container search-light dataviz-light">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ _("Dataviz Gallery") }}</h1>
      </div>
      <div class="col-xs-12">
        <div id="dataviz-carousel" class="carousel slide" data-ride="carousel2">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#dataviz-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#dataviz-carousel" data-slide-to="1"></li>
            <li data-target="#dataviz-carousel" data-slide-to="2"></li>
          </ol>

           <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="hero-item">

                <div class="hero-content">
                  <div class="content-group">
                    <div class="hero-title">
                      Hero Title
                    </div>
                    <div class="description">
                      Hero Description
                    </div>

                    <div>
                      <a href="" class="btn btn-primary">Explore</a>
                    </div>
                  </div>
                </div>
                <div class="hero-photo">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="hero-item ">
                <div class="hero-content">
                  <div class="content-group">
                    <div class="hero-title">
                      Hero Title2
                    </div>
                    <div class="description">
                      Hero Description
                    </div>

                    <div>
                      <a href="" class="btn btn-primary">Explore</a>
                    </div>
                  </div>
                </div>
                <div class="hero-photo">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="hero-item ">
                <div class="hero-content">
                  <div class="content-group">
                    <div class="hero-title">
                      Hero Title3
                    </div>
                    <div class="description">
                      Hero Description
                    </div>

                    <div>
                      <a href="" class="btn btn-primary">Explore</a>
                    </div>
                  </div>
                </div>
                <div class="hero-photo">
                </div>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#dataviz-carousel" role="button" data-slide="prev">
            <span class="glyphicon" aria-hidden="true">
              <span class="humanitarianicons-Return" aria-hidden="true"></span>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#dataviz-carousel" role="button" data-slide="next">
            <span class="glyphicon" aria-hidden="true">
              <span class="humanitarianicons-Go" aria-hidden="true"></span>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="dataset-filter-start list-header">
          <span class="mL15 list-header-title">{{ _("Dataviz") }} [{{ data.total_items }}]</span>
          <div class="show-filters">
            <a href="#" onclick="$('.mobile-facets').show();">
              Filters {% if data.full_facet_info.num_of_selected_filters > 0 %}[{{data.full_facet_info.num_of_selected_filters}}]{% endif %}
              <span class="checkbox-slider" style="display: inline-block; top: 5px; margin-left: 5px;">
                <input id="show-filter-toggle" onclick="return false;" type="checkbox" class="checkbox-slider-checkbox" {% if data.full_facet_info.filters_selected %} checked="checked" {% endif %}/>
                <label class="checkbox-slider-label" for="show-filter-toggle">
                  <span class="checkbox-slider-inner"></span>
                  <span class="checkbox-slider-switch"></span>
                </label>
              </span>
            </a>
          </div>
        </div>

        <div class="search-list">
          <ul class="hdx-bs3 list-items dataset-list unstyled dataviz-list">
            {% for dataviz in data.page.items %}
              {% snippet 'dataviz/dataviz_item.html', dataviz=dataviz %}
            {% endfor %}

            {% if data.page | length == 0 %}
              <div class="search-empty">
                <h3>Sorry no dataviz found for current filter selection</h3>
              </div>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    {% block page_pagination %}
      {{ data.page.pager(q=data.q) }}
    {% endblock %}
  </div>
{% endblock %}

{% block secondary %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/search-light-styles' %}
  {% asset 'hdx_theme/dataviz-styles' %}
  {#  {% resource 'hdx_theme/jquery.highlight' %}#}

{% endblock %}
