@import "../base/variables";
@import "../base/mixins";

.admin-two-col {
  .col-xs-3 {
    border-right-color: @lightGrayColor;
    border-right-style: solid;
    border-right-width: 1px;

    padding: 0 15px;
    color: @darkGrayColor;
    h1.heading {
      overflow-wrap: break-word;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 12px;
    }
  }
  .col-xs-9 {
    margin-left: -1px;
    border-left-color: @lightGrayColor;
    border-left-style: solid;
    border-left-width: 1px;
  }

  .dataset-form {
    .control-group {
      margin-bottom: 10px;
      display: flex;
      .control-label {
        padding-top: 0;
        width: 150px;
      }
      .controls {
        margin-left: 10px;
      }
    }
    .form-actions {
      width: 370px;
      margin-left: 135px;
      display: flex;
      justify-content: space-between;
    }
  }
}
