@import "../base/variables";
@import "../base/mixins";

.admin-two-col {
  .col-xs-3 {
    padding: 0 15px;
    color: @darkGrayColor;
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 12px;
    }
  }
  .col-xs-9 {
    border-left-color: @lightGrayColor;
    border-left-style: solid;
    border-left-width: 1px;
  }
}
