@import "../base/variables";
@import "../base/mixins";
@import "../homepage/homepage-carousel";

#carousel-config-main{
  @carouselItemRadius: 6px;
  .col-12 {
    > .carousel-item {
      .carousel-item-content {
        padding: 15px;
      }
    }
  }
  .carousel-item {
    margin-bottom: 20px;
    border-radius: @carouselItemRadius;
    display: block;

    .mini-carousel-item {
      .thumbnail-preview {
        margin: 0;
        .sample-text {
          display: none;
        }
      }

    }

    .carousel-item-header{
      border-top-left-radius: @carouselItemRadius;
      border-top-right-radius: @carouselItemRadius;
      background-color: @extraLightBlueColor;
      border: 1px solid @extraLightGrayColor;
      height: 40px;
      padding: 10px 15px;
      cursor: all-scroll;

      .gothamBoldFont(14px);


      .drag-handle{
        margin-left: -3px;
        i.fa {
          color: @grayColor;
          &.fa-align-justify {
            margin-left: -2px;
            margin-right: 5px;
          }
        }
      }

      .float-end{
        .fa {
          margin-left: 5px;
          color: @darkGrayColor;
        }
      }
    }

    .carousel-item-content {
      background-color: @extraLightGrayColor;
    }

    .thumbnail-preview {
      margin: 15px 0;

      .thumbnail-container{
        height: 285px;
        padding: 20px 0;
        width: 100%;

        border: 1px solid @grayColor;
        background-size: cover;
        background: @greenColor;

        .sub-item{
          width: 215px;
          margin: auto;
          float: none;
        }
      }
    }
    .homepage-carousel-sub-item();

  }

  .sortable-chosen {
    opacity: 0.9;
  }

  .sortable-ghost {
    opacity: 0.3;
  }
}







