.drag-drop-component {
  position: relative;
}
.drag-drop-component.orange {
  border: 1px solid #f2645a;
  background-color: #fde9e8;
}
.drag-drop-component .drag-drop-area {
  margin-top: 8px;
}
.drag-drop-component .source-file-fields {
  margin-top: 8px;
}
.drag-drop-component.source-file.error {
  border: 1px solid #f2645a;
}
.drag-drop-component.source-file .source-file-fields {
  display: none;
}
.drag-drop-component.source-file .source-file-upload {
  width: 100% !important;
  margin-bottom: 15px;
}
.drag-drop-component.source-file .source-file-upload .drag-drop-area .overwrite-text {
  display: none;
}
.drag-drop-component.source-file-selected .url-field {
  display: none;
}
.drag-drop-component.source-file-selected .source-file-upload .drag-drop-content {
  height: 122px;
}
.drag-drop-component.source-file-selected .source-file-upload .drag-drop-content .drag-text2 {
  line-height: 55px;
}
.drag-drop-component.source-url .source-file-upload {
  display: none;
}
@media (min-width: 1260px) {
  body.contribute-body,
  #create-dataset-app {
    overflow-x: hidden;
  }
}
body.contribute-body {
  min-width: 1260px;
}
html {
  height: 100%;
}
html > .contribute-body {
  height: 100%;
  background: transparent;
}
html > .contribute-body > .contribute-main {
  height: 100%;
  position: relative;
}
html > .contribute-body > .contribute-main .create-step1 {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 760px;
  overflow-x: hidden;
  position: relative;
}
html > .contribute-body > .contribute-main .create-step1 .contribute-splash {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
html > .contribute-body > .contribute-main > div {
  height: 100%;
  min-height: 760px;
}
html > .contribute-body > .contribute-main .btn.disabled {
  pointer-events: none;
}
.contribute-splash-box {
  display: table-cell;
}
.contribute-splash-box .drop-here {
  height: 730px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  color: #B6B6B6;
  font-size: 18px;
  padding: 40px;
  line-height: 1;
}
.contribute-splash-box .drop-here .drop-here-mask {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 0;
}
.contribute-splash-box .drop-here.drop-incoming {
  background-color: #007CE0;
  color: #fff;
}
.contribute-splash-box .drop-here.drop-incoming .drop-title .title1 {
  display: none;
}
.contribute-splash-box .drop-here.drop-incoming .drop-title .title2 {
  display: block;
}
.contribute-splash-box .drop-here.drop-incoming .drop-description .description1 {
  visibility: hidden;
}
.contribute-splash-box .drop-here.drop-incoming .drop-description .description2 {
  display: block;
  margin-top: 4px;
}
.contribute-splash-box .drop-here.drop-incoming .drop-size {
  display: none;
}
.contribute-splash-box .drop-here.drop-incoming .drop-separator {
  display: none;
}
.contribute-splash-box .drop-here.drop-incoming .drop-alternatives {
  display: none;
}
.contribute-splash-box .drop-here .cloud {
  font-size: 160px;
}
.contribute-splash-box .drop-here .drop-title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}
.contribute-splash-box .drop-here .drop-title .title2 {
  display: none;
}
.contribute-splash-box .drop-here .description-headline {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 13px;
}
.contribute-splash-box .drop-here .drop-description {
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 15px;
  margin-top: 14px;
  line-height: 1.4;
}
.contribute-splash-box .drop-here .drop-description .description2 {
  display: none;
}
.contribute-splash-box .drop-here .drop-browse {
  color: #007CE0;
  margin-top: 35px;
}
.contribute-splash-box .drop-here .drop-browse span {
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 15px;
  z-index: 1;
  cursor: pointer;
  text-decoration: underline;
}
.contribute-splash-box .drop-here .drop-browse .browse-button:after {
  content: "";
}
.contribute-splash-box .drop-here .drop-size {
  margin-top: 10px;
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 16px;
}
.contribute-splash-box .drop-here .drop-separator {
  margin: 20px 0;
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 16px;
}
.contribute-splash-box .drop-here .drop-alternatives {
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}
.contribute-splash-box .drop-here .import-files-from {
  margin-top: 25px;
}
.contribute-splash-box .drop-details {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4e4e4e;
}
.contribute-splash-box .drop-details .details-title,
.contribute-splash-box .drop-details .details-title-suitable {
  color: #333333;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-top: 30px;
}
.contribute-splash-box .drop-details strong {
  color: #007CE0;
  font-weight: 700;
}
.contribute-splash-box .drop-details a {
  font-weight: 700;
}
.contribute-splash-box .drop-details .details-title-suitable {
  font-size: 15px;
}
.contribute-splash-box .drop-here.drop-incoming .drop-details strong,
.contribute-splash-box .drop-here.drop-incoming .drop-details a {
  color: #fff;
}
.form-group .format-label {
  position: absolute;
  margin-left: -10px;
  margin-top: -12px;
}
.form-group .format-label + input {
  padding-left: 45px;
}
.special-license {
  position: relative;
}
.special-license .license-help {
  position: absolute;
  left: 100%;
  width: 30%;
  top: 13px;
  margin-left: 15px;
}
.browse-button .add-dataset-btn {
  background-color: #888888;
}
.drop-alternatives a,
.drop-details a {
  text-decoration: underline;
}
.field-names-select,
.file-types-select,
.num-of-rows-select {
  display: none;
}
.recommended-tags-wrapper {
  margin-left: 170px;
  margin-top: -10px;
}
.request-tags-wrapper {
  margin-left: 170px;
  margin-top: -10px;
}
