.new-contribute-main {
  background-color: #FFF;
}
.new-contribute-main .alert.alert-danger {
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #F2645A;
  background-color: #FAEAE8;
}
.new-contribute-main .alert.alert-danger .checkbox-field .checkbox-field__label {
  color: #F2645A;
}
.new-contribute-main .invalid-feedback {
  border-radius: 4px;
  font-weight: 600;
  color: #F2645A;
  background-color: #FAEAE8;
  padding: 0.75rem 1rem;
  font-size: 16px;
}
.new-contribute-main .slug-preview {
  margin-top: 0.5rem;
}
.new-contribute-main .slug-preview .btn {
  margin-left: 0.25rem;
}
.new-contribute-main .slug-preview .btn.btn-mini {
  background-color: #E1E4ED;
  padding: 0.1rem 0.5em;
  font-size: 0.9rem;
  border-radius: 4px;
}
.new-contribute-main .slug-preview .btn.btn-mini:active {
  border-color: #D1D5DB;
}
.new-contribute-main .resources_total {
  font-size: 18px;
}
.new-contribute-main .resources > div {
  border: 1px solid #888;
  border-radius: 8px;
  margin-top: 2rem;
}
.new-contribute-main .resources > div .resource-upload-type .radio-field .radio-field__label {
  font-weight: normal;
  margin-bottom: 0;
}
.new-contribute-main .resources > div .resource-upload-type a {
  color: #4B5563;
}
.new-contribute-main .resources > div .resource-upload-type a .cloud-img {
  height: 24px;
}
.new-contribute-main .resources > div .delete_resource {
  border: 0;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #F2645A;
}
.new-contribute-main .resources .resource-position {
  font-size: 16px;
  font-weight: bold;
}
.new-contribute-main .resources .resource-sort {
  font-size: 16px;
}
.new-contribute-main .resources .resource-sort .move-up,
.new-contribute-main .resources .resource-sort .move-down {
  cursor: pointer;
}
.new-contribute-main .resources .resource-sort .move-up:hover,
.new-contribute-main .resources .resource-sort .move-down:hover {
  color: #333333;
}
.new-contribute-main .resources .drag-handle {
  cursor: grab;
}
.drag-drop-component {
  position: relative;
}
.drag-drop-component .drag-drop-area {
  position: relative;
}
.drag-drop-component .drag-drop-area .drag-drop-content {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  border: 3px dashed #cccccc;
  background-color: #eeeeee;
  padding: 30px;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  letter-spacing: 0.03em;
  text-align: center;
}
.drag-drop-component .drag-drop-area .drag-drop-content .drag-text2 {
  display: none;
}
.drag-drop-component .drag-drop-area .drop-here-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.drag-drop-component .drag-drop-area.drop-incoming .drag-drop-content {
  background-color: #007CE0;
  color: #fff;
  border-color: #fff;
}
.drag-drop-component .drag-drop-area.drop-incoming .drag-drop-content .drag-text1 {
  display: none;
}
.drag-drop-component .drag-drop-area.drop-incoming .drag-drop-content .drag-text2 {
  display: block;
}
.drag-drop-component .drag-drop-area.drop-incoming .browse-button {
  display: none;
}
.drag-drop-component .drag-drop-area .browse-button {
  color: #007CE0;
  cursor: pointer;
  position: relative;
  margin: 0;
}
.drag-drop-component .drag-drop-area .browse-button:after {
  content: none;
}
.drag-drop-component .drag-drop-area .browse-button span {
  position: relative;
  z-index: 100;
}
.drag-drop-component .drag-drop-area .browse-button input[type="file"] {
  position: absolute;
  z-index: 99;
  height: 1px;
  width: 1px;
  opacity: 0;
  padding: 0;
  top: 0;
}
.drag-drop-component.source-file.error {
  border: 1px solid #f2645a;
}
.drag-drop-component.source-file .source-file-fields {
  display: none;
}
.drag-drop-component.source-file .source-file-upload .drag-drop-area .overwrite-text {
  display: none;
}
.drag-drop-component.source-file-selected .url-field {
  display: none;
}
.drag-drop-component.source-url .source-file-upload {
  display: none;
}
