@import "../../base/variables";
@import "../../base/mixins";


.search-light {
  background-color: @extraLightGrayColor;

  .show-filters {
    display: flex;
    justify-content: flex-end;
    a {
      z-index: 999;
      .sourceSansProFont(600, 14px);
    }

    .checkbox-slider {
      margin-left: 10px;
    }
  }

  .dataset-filter-start {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    .form-select {
      display: flex;
      align-items: center;

      > label {
        height: 20px;
        margin-bottom: 0;
      }
    }
    .orderDropdown {
      display: flex;
      height: 20px;
      margin-bottom: 0;
      align-items: flex-end;
      .dropdown-toggle {
        display: flex;
        align-items: center;
      }
      .dropdown-toggle-text{
        display: inline;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 20px;
        margin-bottom: 0;
      }
    }
  }
}
#search-recs {
  .sourceSansProFont(400, 14px);
  margin-top: 20px;
  color: @darkGrayColor;
}
.search-list {

  .dataset-item {
    .dataset-content2 {
      padding: 15px;
    }
  }

  .search-empty {
    background-color: @whiteColor;
    padding: 15px;
  }

  .dataset-list {
    padding: 0;
    background-color: @extraLightGrayColor;
    .dataset-item {
      border: 1px solid @extraLightGrayAccent;
      margin-bottom: 10px;
      background-color: @whiteColor;

      .dataset-content2 {
        .dataset-heading {
          font-size: 15px;
        }
        .dataset-description {
          font-size: 14px;
          line-height: 1.4;
        }
        .read-less {
          margin-left: 0;
        }
      }
      .dataset-updated {
        .dataset-dates {
          line-height: 14px;
        }
        .dataset-updated-icons {
          margin-top: 2px;
        }
        .dataset-updated-org{
          margin-bottom: 4px;
        }
        .dataset-updated-other {
          margin: 4px 0 6px;
        }
      }
    }
  }
}

.list-header {
  border-bottom: none;
}

@import "mobile-facets";
