.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
/* List header */
.list-header {
  margin-top: 25px;
  height: 50px;
  border-bottom: 1px solid #cccccc;
  vertical-align: middle;
  line-height: 49px;
  padding: 0;
  padding-right: 15px;
  background-color: #edf6fd;
}
.list-header .list-header-title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.list-header .header-search {
  line-height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  padding: 7px 6px;
  width: 400px;
  border: 1px solid #cccccc;
  border-radius: 6px;
}
.list-header .header-search:focus {
  outline: none;
}
.list-header .dropdown.orderDropdown .dropdown-toggle {
  cursor: pointer;
}
.list-header .list-header-showall {
  color: #333333;
}
.list-header .list-header-showall > span:before {
  content: "|";
  color: #888888;
  margin-left: 10px;
  margin-right: 10px;
}
.list-header .list-header-showall > span:first-child:before {
  content: "";
  margin-right: 0;
}
.list-header .list-header-showall > span input[type="radio"] {
  position: absolute;
  visibility: hidden;
}
.list-header .list-header-showall > span input[type="radio"]:checked ~ label {
  color: #000000;
  cursor: default;
}
.list-header .list-header-showall > span input[type="radio"] ~ label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #007CE0;
  cursor: pointer;
}
.list-header .list-header-showall > span input[type="radio"] ~ label:after {
  content: "";
}
.list-header.list-header-min ~ .list-header-filters {
  display: none;
}
.list-header.list-header-min ~ .list-header-apply {
  display: none;
}
.list-header.list-header-min .header-search {
  visibility: hidden;
}
.list-header.list-header-min .filters-actions {
  visibility: hidden;
}
.list-header-filters {
  height: 50px;
  border-bottom: 1px solid #cccccc;
  vertical-align: middle;
  line-height: 49px;
  padding: 0;
  padding-right: 15px;
  background-color: #eeeeee;
  padding-left: 15px;
}
.list-header-filters .filters-title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #888888;
}
.list-header-filters .filter-item {
  width: 130px;
  margin-right: 15px;
}
.list-header-filters .ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.list-header-filters input[type="checkbox"] {
  top: 0;
}
.list-header-filters input[type="checkbox"]:disabled ~ label {
  color: #cccccc;
}
.list-header-filters input[type="checkbox"] ~ label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #888888;
}
.list-header-filters input[type="checkbox"] ~ label:after {
  content: none;
}
.list-header-filters .ms-choice {
  display: block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #cccccc;
  color: #007CE0;
  background-color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: 700;
  margin-bottom: 3px;
}
.list-header-filters .ms-choice:focus,
.list-header-filters .ms-choice.open {
  outline: none;
  border-color: #007CE0;
}
.list-header-filters .ms-choice .placeholder {
  font-weight: 400;
  color: #007CE0;
  padding: 0 10px;
}
.list-header-filters .ms-choice > div {
  top: 11px;
  right: 6px;
  width: auto;
  height: auto;
  background: none;
  border-left-width: 7px;
  border-right-width: 7px;
  border-top-width: 7px;
  margin: 0;
}
.list-header-filters .ms-choice > div.open {
  border-top: none;
  border-bottom: 7px solid #007CE0;
}
.list-header-filters .ms-drop {
  overflow: visible;
  line-height: 20px;
  width: 245px !important;
  margin-left: -57.5px;
  margin-top: 10px;
  border: 1px solid #007CE0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 15px 0;
}
.list-header-filters .ms-drop .ms-search {
  padding: 0 15px;
  line-height: 30px;
}
.list-header-filters .ms-drop .ms-search input {
  background: #FFF url('../vendor/multiple-select-1.1.0/multiple-select.png') no-repeat 100% -19px;
}
.list-header-filters .ms-drop .nice-arrow {
  border-top: 1px solid #007CE0;
  border-left: 1px solid #007CE0;
  background-color: #fff;
  height: 10px;
  width: 10px;
  position: absolute;
  z-index: 10001;
  top: -8px;
  left: 117.5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -ms-transform-origin: 20% 40%;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  -webkit-transform-origin: 20% 40%;
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  transform-origin: 20% 40%;
}
.list-header-filters .ms-drop ul {
  padding: 0 14px;
  margin-top: 10px;
}
.list-header-filters .ms-drop ul li {
  padding: 0 5px;
}
.list-header-filters .ms-drop ul li:hover {
  background-color: #edf6fd;
}
.list-header-filters .ms-drop ul li label {
  margin: 2px 0;
  width: 165px;
  font-size: 12px;
  font-weight: 400;
}
.list-header-filters .ms-drop ul li label:after {
  content: "";
}
.list-header-filters .ms-drop ul li label input {
  top: -1px;
}
.list-header-filters .ms-drop ul li span {
  float: right;
  font-size: 10px;
  line-height: 24px;
}
.list-header-filters .filters-actions {
  padding-left: 10px;
  font-family: 'Gotham-Book', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #007CE0;
}
.list-header-filters .filters-actions .loading .loading-image {
  visibility: visible;
  margin-right: 3px;
}
.list-header-filters .filters-actions .loading .main-action,
.list-header-filters .filters-actions.error .main-action {
  color: #888888;
  cursor: not-allowed;
}
.list-header-filters .filters-actions .row {
  line-height: 1;
}
.list-header-filters .filters-actions .loading-image {
  margin-bottom: -37px;
  visibility: hidden;
}
.list-header-filters .filters-actions .list-header-showall {
  margin-top: 19px;
  text-align: right;
}
.list-header-filters .filters-actions.error .filter-results {
  color: #f2645a;
}
.list-header-filters .filters-actions .filter-results {
  margin-top: 6px;
  font-size: 10px;
  text-align: right;
}
.list-header-filters .filters-actions .filter-action-item .main-action {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}
.list-header-filters .filters-actions .filter-action-item:before {
  content: "|";
  margin-left: 2px;
  margin-right: 5px;
}
.list-header-filters .filters-actions .filter-action-item:first-child:before {
  content: "";
  margin: 0;
}
.list-header-apply {
  height: 50px;
  border-bottom: 1px solid #cccccc;
  vertical-align: middle;
  line-height: 49px;
  padding: 0;
  padding-right: 15px;
  background-color: #eeeeee;
  height: 30px;
  line-height: 29px;
  display: none;
  padding-left: 15px;
}
.list-header-apply .filter-results {
  color: #007CE0;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.list-header-apply .filter-results.error {
  color: #f2645a;
}
.list-header-apply .filter-results.error ~ .loading-div .main-action {
  display: none;
}
.list-header-apply .filter-results.error ~ .loading-div .or-text {
  display: none;
}
.list-header-apply .filter-results.error ~ .loading-div .reset-action {
  background: #f2645a;
  color: #ffffff;
  padding: 2px 6px;
}
.list-header-apply .filter-action-item .btn {
  padding: 2px 6px;
  text-transform: none;
  margin-top: -2px;
}
.list-header-apply .filter-action-item .btn.main-action {
  background-color: #007CE0;
}
.list-header-apply .filter-action-item .btn.reset-action {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  background: transparent;
  color: #007CE0;
  padding: 2px 0px;
}
.list-header-apply .loading-image {
  display: none;
}
.list-header-apply .loading-image.loading {
  display: block;
  padding-top: 12px;
}
.list-header-apply .loading-image.loading ~ .filters-actions {
  display: none;
}
/* END List header */
