{% extends "v2/page.html" %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/v2-signup-page-styles' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/v2-signup-scripts' %}
  {% asset 'hdx_theme/v2-form-validator-scripts' %}
{% endblock %}

{% set CONST = h.HDX_CONST('UI_CONSTANTS')['ONBOARDING']['CHANGE_EMAIL'] %}
{% set outer_row_class      = 'hdx-v2-signup-outer-row' %}
{% set breadcrumb_row_class = 'hdx-v2-breadcrumb-row--white' %}
{% set content_class        = 'hdx-v2-content-columns__content' %}

{% block subtitle %}{{ _('Re-enter email address') }}{% endblock %}

{% block breadcrumb_items %}
  {% snippet 'v2/components/breadcrumb.html',
      items=[{'label': _('Sign up'), 'href': ''}] %}
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary %}
<div class="hdx-v2-signup-form-page">

  {% snippet 'v2/components/step-pager.html',
      steps=[CONST.STEPS_1, CONST.STEPS_2, CONST.STEPS_3],
      current_step=2 %}

  <form class="hdx-v2-signup-form-page__card"
        method="post"
        action="{{ h.url_for('hdx_user_onboarding.change_email') }}"
        novalidate
        data-hdx-v2-form-validator>
    {{ h.csrf_input() }}

    <h1 class="hdx-v2-signup-form-page__heading">{{ CONST.PAGE_TITLE }}</h1>

    <div class="hdx-v2-signup-form-page__fields">

      <div class="c-form-field">
        {% snippet 'v2/components/text-field.html',
            size='l',
            type='email',
            label=CONST.INPUT_EMAIL_LABEL,
            required=True,
            name='email',
            placeholder=CONST.INPUT_EMAIL_PLACEHOLDER,
            autocomplete='new-email',
            errors=errors.get('email'),
            input_attrs={'data-validation': 'email', 'data-validation-error': CONST.INPUT_EMAIL_ERROR} %}
      </div>

      <div class="c-form-field">
        {% snippet 'v2/components/text-field.html',
            size='l',
            type='email',
            label=CONST.INPUT_EMAIL2_LABEL,
            required=True,
            name='email2',
            placeholder=CONST.INPUT_EMAIL2_PLACEHOLDER,
            autocomplete='new-email',
            errors=errors.get('email2'),
            input_attrs={'data-validation': 'email,match', 'data-validation-match': 'email', 'data-validation-error': CONST.INPUT_EMAIL2_ERROR} %}
      </div>

    </div>

    <div class="hdx-v2-signup-form-page__actions">
      {% snippet 'v2/components/button.html',
          label=CONST.BUTTON_SUBMIT,
          style='primary',
          size='l',
          state='disabled',
          button_type='submit' %}
    </div>

  </form>
</div>
{% endblock %}
