{% extends "onboarding/base.html" %}

{% block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/hdx-form-validator' %}
{% endblock %}

{% set CONST = h.HDX_CONST('UI_CONSTANTS')['ONBOARDING']['USER_INFO'] %}

{% block subtitle %}{{ _('User info') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="breadcrumb-item active">{{ h.nav_link(_('Sign up'), named_route='hdx_user_onboarding.user-info') }}</li>
{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-12 col-md-7 mx-auto">
        {{ h.snippet('bem.blocks/stepper.html', steps=[CONST.STEPS_1, CONST.STEPS_2, CONST.STEPS_3], spacing_class="my-5", current_step=1) }}
        <div class="text-center">
          {{ h.snippet('bem.blocks/heading.html', title=CONST.PAGE_TITLE, spacing_class="mb-4") }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        {{ h.snippet('bem.blocks/form_info.html', message=CONST.MANDATORY_HELP, spacing_class="mb-4") }}
        <form method="post" action="{{ h.url_for('hdx_user_onboarding.user-info') }}" data-module="hdx-form-validator">
          {{ h.csrf_input() }}
          {{ h.snippet('bem.blocks/input_field.html', type="text", required=True, label=CONST.INPUT_FULLNAME_LABEL, name="fullname", value=data.get('fullname'), errors=errors.get('fullname'), placeholder=CONST.INPUT_FULLNAME_PLACEHOLDER, spacing_class="mb-3") }}
          {{ h.snippet('bem.blocks/input_field.html', type="email", required=True, label=CONST.INPUT_EMAIL_LABEL, data_attributes={"validation": "email", "validation-error": CONST.INPUT_EMAIL_ERROR}, name="email", value=data.get('email'), errors=errors.get('email'), placeholder=CONST.INPUT_EMAIL_PLACEHOLDER, spacing_class="mb-3") }}
          {{ h.snippet('bem.blocks/input_field.html', type="email", required=True, label=CONST.INPUT_EMAIL2_LABEL, data_attributes={"validation": "email,match", "validation-match": "email", "validation-error": CONST.INPUT_EMAIL2_ERROR}, name="email2", value=data.get('email2'), errors=errors.get('email2'), placeholder=CONST.INPUT_EMAIL2_PLACEHOLDER, spacing_class="mb-3") }}
          {{ h.snippet('bem.blocks/input_field.html', type="text", required=True, label=CONST.INPUT_USERNAME_LABEL, data_attributes={"validation": "username", "validation-error": CONST.INPUT_USERNAME_ERROR}, name="name", value=data.get('name'), errors=errors.get('name'), placeholder=CONST.INPUT_USERNAME_PLACEHOLDER, spacing_class="mb-3", help_text=CONST.INPUT_USERNAME_HELP) }}
          {{ h.snippet('bem.blocks/input_field.html', type="password", required=True, label=CONST.INPUT_PASSWORD_LABEL, name="password1", errors=errors.get('password1'), data_attributes={"validation": "password", "validation-error": CONST.INPUT_PASSWORD_ERROR}, placeholder=CONST.INPUT_PASSWORD_PLACEHOLDER, help_text=CONST.INPUT_PASSWORD_HELP, spacing_class="mb-3") }}
          {{ h.snippet('bem.blocks/input_field.html', type="password", required=True, label=CONST.INPUT_PASSWORD2_LABEL, name="password2", errors=errors.get('password2'), data_attributes={"validation": "password,match", "validation-match": "password1", "validation-error": CONST.INPUT_PASSWORD2_ERROR}, placeholder=CONST.INPUT_PASSWORD2_PLACEHOLDER, spacing_class="mb-3") }}
          {{ h.snippet('bem.blocks/checkbox_field.html', required=True, label=CONST.CHECKBOX_TERMS_OF_SERVICE.format(h.url_for('hdx_faqs.read', category='terms')), data_attributes={"validation": "checkbox", "validation-error": CONST.CHECKBOX_TERMS_OF_SERVICE_ERROR}, name="user_info_accept_terms", checked=False, spacing_class="mb-3") }}
          {{ h.snippet('bem.blocks/checkbox_field.html', label=CONST.CHECKBOX_NEWSLETTER, name="user_info_accept_emails", checked=False, spacing_class="mb-3") }}
          {% if g.recaptcha_publickey %}
            <div class="recaptcha-field mb-3">
              <div class="g-recaptcha" data-sitekey="{{ g.recaptcha_publickey }}"></div>
            </div>
          {% endif %}
          {{ h.snippet('bem.blocks/form_button.html', type="submit", title=CONST.BUTTON_SUBMIT, button_classes=["btn-primary", "btn-lg", "d-block", "w-100"]) }}
          <div class="text-center mb-5">
            {{ h.snippet('bem.blocks/form_button.html', type="href", url=h.url_for('home.index'), title=CONST.BUTTON_CANCEL, button_classes=["btn-link"], spacing_class="mt-1") }}
          </div>
        </form>
      </div>
    </div>

  </div>
{% endblock %}
