{% extends "onboarding/base.html" %}

{% block scripts %}
  {{ super() }}
{% endblock %}

{% set CONST = h.HDX_CONST('UI_CONSTANTS')['ONBOARDING']['VALUE_PROPOSITION'] %}

{% block subtitle %}{{ _('Account options') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="breadcrumb-item active">{{ h.nav_link(_('Sign up'), named_route='hdx_user_onboarding.user-info') }}</li>
{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 col-lg-10 mx-auto">
        <div class="text-center">
          {{ h.snippet('bem.blocks/heading.html', title=CONST.PAGE_TITLE, spacing_class="my-5") }}
        </div>

        <div class="account-options">
          <div class="row">
            <div class="d-none d-lg-block col-lg-3">
              <div class="account-options__cell account-options__cell_content_feature account-options__cell_content_feature_state_empty">
                <div></div>
              </div>
              <div class="account-options__cell account-options__cell_content_feature">
                <div>
                  <div class="account-options__title">{{ CONST.ROW_SEARCH_DOWNLOAD_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_SEARCH_DOWNLOAD_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_feature">
                <div>
                  <div class="account-options__title">{{ CONST.ROW_CONTACT_CONTRIBUTOR_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_CONTACT_CONTRIBUTOR_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_feature">
                <div>
                  <div class="account-options__title">{{ CONST.ROW_HDX_CONNECT_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_HDX_CONNECT_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_feature">
                <div>
                  <div class="account-options__title">{{ CONST.ROW_ADD_DATA_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_ADD_DATA_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_feature account-options__cell_content_feature_state_empty">
                <div></div>
              </div>
            </div>
            <div class="col-12 col-lg-3 mb-3 mb-lg-0">
              <div class="account-options__cell account-options__cell_content_type">
                <div class="account-options__title account-options__title_font_size_small">{{ CONST.COLUMN_NO_ACCOUNT_LABEL }}</div>
                <div class="account-options__title_icon account-options__title_icon_state_inactive"><i
                        class="fa-solid fa-user-slash"></i></div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-circle-check"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_SEARCH_DOWNLOAD_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_SEARCH_DOWNLOAD_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-minus"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_CONTACT_CONTRIBUTOR_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_CONTACT_CONTRIBUTOR_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-minus"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_HDX_CONNECT_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_HDX_CONNECT_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-minus"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_ADD_DATA_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_ADD_DATA_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_button">
                {{ h.snippet('bem.blocks/form_button.html', type="href", url=h.url_for('home.index'), title=CONST.COLUMN_NO_ACCOUNT_BUTTON, button_classes=["btn-outline-primary", "d-block"], container_classes=["w-100"]) }}
              </div>
            </div>
            <div class="col-12 col-lg-3 mb-3 mb-lg-0">
              <div class="account-options__cell account-options__cell_content_type account-options__cell_state_highlight">
                <div class="account-options__title account-options__title_font_size_small">{{ CONST.COLUMN_INDIVIDUAL_ACCOUNT_LABEL }}</div>
                <div class="account-options__title_icon"><i class="fa-solid fa-user"></i></div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-circle-check"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_SEARCH_DOWNLOAD_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_SEARCH_DOWNLOAD_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-circle-check"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_CONTACT_CONTRIBUTOR_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_CONTACT_CONTRIBUTOR_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-circle-check"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_HDX_CONNECT_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_HDX_CONNECT_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-minus"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_ADD_DATA_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_ADD_DATA_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_button">
                {{ h.snippet('bem.blocks/form_button.html', type="href", data_attributes={"module": "hdx-onboarding-flow", "value-proposition-page": "individual_account"}, url=h.url_for('hdx_user_onboarding.user-info'), title=CONST.COLUMN_INDIVIDUAL_ACCOUNT_BUTTON, button_classes=["btn-primary", "d-block"], container_classes=["w-100"]) }}
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="account-options__cell account-options__cell_content_type account-options__cell_state_highlight">
                <div class="account-options__title account-options__title_font_size_small">
                  {{ CONST.COLUMN_INDIVIDUAL_ACCOUNT_WITH_ORG_LABEL }}
                  <div class="account-options__subtitle">{{ CONST.COLUMN_INDIVIDUAL_ACCOUNT_WITH_ORG_HELP }}</div>
                </div>
                <div class="account-options__title_icon"><i class="fa-solid fa-user-check"></i></div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-circle-check"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_SEARCH_DOWNLOAD_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_SEARCH_DOWNLOAD_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-circle-check"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_CONTACT_CONTRIBUTOR_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_CONTACT_CONTRIBUTOR_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-circle-check"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_HDX_CONNECT_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_HDX_CONNECT_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_icon">
                <i class="fa-solid fa-circle-check"></i>
                <div class="d-block d-lg-none flex-grow-1">
                  <div class="account-options__title">{{ CONST.ROW_ADD_DATA_LABEL }}</div>
                  <div class="account-options__description">{{ CONST.ROW_ADD_DATA_HELP }}</div>
                </div>
              </div>
              <div class="account-options__cell account-options__cell_content_button">
                {{ h.snippet('bem.blocks/form_button.html', type="href", data_attributes={"module": "hdx-onboarding-flow", "value-proposition-page": "individual_account_with_org"}, url=h.url_for('hdx_user_onboarding.user-info'), title=CONST.COLUMN_INDIVIDUAL_ACCOUNT_WITH_ORG_BUTTON, button_classes=["btn-outline-primary", "d-block"], container_classes=["w-100"]) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="d-none d-lg-block col-lg-3"></div>
            <div class="col-12 col-lg-9">
              <div class="text-center mt-3 mb-5">
                <div class="account-options__help">
                  <p>{{ CONST.ALREADY_HAVE_ACCOUNT_HELP.format(h.url_for('hdx_user_auth.new_login'))|safe }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
