{% extends "v2/page.html" %}

{% block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/hdx-verify-email-scripts' %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/v2-signup-page-styles' %}
{% endblock %}

{% set CONST = h.HDX_CONST('UI_CONSTANTS')['ONBOARDING']['VERIFY_EMAIL'] %}
{% set outer_row_class      = 'hdx-v2-signup-outer-row' %}
{% set breadcrumb_row_class = 'hdx-v2-breadcrumb-row--white' %}
{% set content_class        = 'hdx-v2-content-columns__content' %}

{% block subtitle %}{{ _('Verify email') }}{% endblock %}

{% block breadcrumb_items %}
  {% snippet 'v2/components/breadcrumb.html',
      items=[{'label': _('Sign up'), 'href': ''}] %}
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary %}
<div class="hdx-v2-signup-form-page">

  {% snippet 'v2/components/step-pager.html',
      steps=[CONST.STEPS_1, CONST.STEPS_2, CONST.STEPS_3],
      current_step=2 %}

  <div class="hdx-v2-signup-form-page__card">
    <h1 class="hdx-v2-signup-form-page__heading">{{ CONST.PAGE_TITLE }}</h1>

    {% set main_text = CONST.BODY_MAIN_TEXT.format(session.get('user_info_email')) if session.get('user_info_email') else CONST.BODY_MAIN_TEXT_WITHOUT_EMAIL %}
    <p class="hdx-v2-signup-form-page__body-text">{{ main_text }}</p>

    {% if session.get('user_info_id') and not h.is_user_extra_email_updated(session.get('user_info_id')) %}
      <div class="c-divider"></div>
      <p class="hdx-v2-signup-form-page__body-text">
        {{ CONST.CHANGE_EMAIL_TEXT.format(h.url_for('hdx_user_onboarding.change_email'))|safe }}
      </p>
    {% endif %}
  </div>

</div>
{% endblock %}
