{% extends "page.html" %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/admin-styles' %}
{% endblock %}

{% block subtitle %}{{ _('Administration') }}{% endblock %}
{% block primary_content_module_margin %} mTop30 {% endblock %}
{% block breadcrumb_content %}{% endblock %}
{% block secondary %}{% endblock %}
{% block item_title_contrib %}
  <h2 class="sspBold28 black">
    {% block page_heading %}
      {{ _('Sysadmin Dashboard') }}
    {% endblock %}
  </h2>
{% endblock %}

{% block primary_content_inner_wrapper %}
  <div class="row admin-two-col">
    <div class="col-xs-3">
      {% block secondary_content %}
      {% endblock %}

    </div>
    <div class="col-xs-9">
      {% block primary_content_inner %}
      {% endblock %}
    </div>
  </div>
{% endblock %}


{% block content_primary_nav %}

  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% if user_is_sysadmin %}
    {{ h.build_nav_icon('admin.index', 'All Sysadmins [%s]' % h.hdx_user_count(only_sysadmin=True, include_site_user=True)) }}
  {% endif %}
  {% if user_is_sysadmin %}
    <li><a href="/user/">{{ _('All users') }} [{{ h.hdx_user_count() }}]</a></li>
  {% endif %}
  {% if user_is_sysadmin or h.check_access('hdx_carousel_update') %}
    {{ h.build_nav_icon('hdx_carousel.show', _('Carousel')) }}
  {% endif %}
  {% if user_is_sysadmin or h.check_access('hdx_request_data_admin_list') %}
    {{ h.build_nav_icon('requestdata_ckanadmin.requests_data', _('HDX Connect Dashboard')) }}
  {% endif %}
  {% if user_is_sysadmin or h.check_access('admin_page_list') %}
    {{ h.build_nav_icon('hdx_custom_pages.index', _('Custom/Event Pages')) }}
  {% endif %}
  {% if c.userobj.sysadmin %}
    <li class="nav-tabs-more">
      <a href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        <span id="crises-label">More <i class="humanitarianicons-Down"></i></span>
      </a>
      <ul class="dropdown-menu crises-menu" role="menu" aria-labelledby="crises-label">
        <li class="crises-group">
          <ul>
            {% if user_is_sysadmin or h.check_access('hdx_quick_links_update') %}
              {{ h.build_nav_icon('hdx_quick_links.show', _('Quick Links')) }}
              {{ h.build_nav_icon('hdx_package_links.show', _('Package Links')) }}
            {% endif %}
            {{ h.build_nav_icon('requestdata_ckanadmin.email', _('Email')) }}
            {{ h.build_nav_icon('admin.config', _('Config')) }}

          </ul>
        </li>
      </ul>
    </li>
  {% endif %}
{% endblock %}

