{% import 'macros/autoform.html' as autoform %}
{% import 'macros/form.html' as form %}


{% extends "admin/base.html" %}

{% block primary_content_module_margin %}{% endblock %}
{% block primary_content_inner %}

  <div id="carousel-config-main" data-module="hdx_custom_pages" class="paddingLeftHack">
    <div style="float:right" class="mBottom20"><a class="btn" href="/page/new">Create New Page</a></div>
    <table class="table table-header table-hover table-bordered">
      <tr>
        <th>Title</th>
        <th>Slug</th>
        <th>Type</th>
        <th>Archived/Ongoing</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      {% for p in page_list %}
        <tr>
          <td><a href="/{{p.type}}/{{p.id}}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ p.title }}</a></td>
          <td><a href="/{{p.type}}/{{p.name}}" data-module="hdx_click_stopper" data-module-link_type="main nav">{{ p.name }}</a></td>
          <td>{{ p.type }}</td>
          <td>{{ p.status }}</td>
          <td>{{ p.state }}</td>
          <td>
            <a href="/page/edit/{{p.id}}" >Edit</a> | <a href="#confirmation-div-{{ p.id }}" data-toggle="modal" title="{{ _('Delete') }}">{{ _('Delete') }}</a>
            {% snippet 'snippets/confirmation_post.html',
              form_url=h.url_for('hdx_custom_page.delete_page', id=p.id),
              modal_div_id='confirmation-div-' + p.id,
              header='Confirm',
              body='Are you sure you want to delete this page?',
              confirm_btn_label='Confirm' %}
          </td>
        </tr>
      {% endfor %}

    </table>
  </div>

{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('Event/Custom Pages') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}

        {% trans %}
          <h3>How to create a new event/custom page:</h3>
          <p>Click on “CREATE NEW PAGE” and follow the instructions to fill out the required fields.</p>

          <h3>How to edit or delete existing event/custom page:</h3>
          <p>Click on edit or delete for the the page you want to modify in the table. </p>

          <h3>How to archive existing event/custom page:</h3>
          <p>Click on edit for the page you want to archive in the table. Update the "Status" field to "Archived".
            This pushes the page to the list in
            <a href="/archive" style="color:#007CE0;text-decoration: none">archived page</a>.
            Location page should be deleted instead of archived as the list of data would no longer be relevant. </p>
        {% endtrans %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block scripts2 %}
    {{ super() }}
{#    {% resource 'hdx_theme/custom-pages' %}#}
{#    {% resource 'hdx_theme/carousel-admin' %}#}
{% endblock %}
