{% ckan_extends %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('What are sysadmins?') }}
    </h2>
    <div class="module-content">
      {% set docs_url = "http://docs.ckan.org/en/{0}/paster.html#sysadmin-give-sysadmin-rights".format(g.ckan_doc_version) %}
      {% trans %}
        <p>A sysadmin is someone that has full control over a CKAN instance.
          You can only add CKAN sysadmins via the <code>sysadmin</code> paster
          command.</p>
      {% endtrans %}
      <p><a href="{{ docs_url }}" target="_blank">{{ _('Read the documentation') }}</a></p>
    </div>
  </div>
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('Add a new user') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>In order to add a new user please follow the link below:</p>
      {% endtrans %}
      <p><a href="{{ h.url_for(controller='user', action='register') }}">{{ _('Create an Account') }}</a></p>
    </div>
  </div>
{% endblock %}
