#ebola-map {
  height: 350px;
}

.ebola-map-title {
    height:50px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 300px;
    width: 100%;
}

.item-info {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
    margin-top: -1px;
    color: #333333;
}

.item-info-title{
    font-family: 'Gotham-Bold', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    color: #333333;
}

.item-info .item-info-number {
    font-family: 'Gotham-Light', sans-serif;
    font-size: 74px;
    line-height: 1;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.item-info .item-info-number span.small {
    font-family: 'Gotham-Light', sans-serif;
    font-size: 37px;
    line-height: 1;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    margin-left: -15px;
}

.item-info-source-title-text{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.01em;
}

.item-info .item-info-source-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    letter-spacing: 0.01em;
}
.item-info .item-info-source-date {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #888888;
}

.crisisTitle{
    color: #000000;
    margin-top: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.01em;
    line-height: 50px;
    text-transform: capitalize;
}
/* Dataset search results on crisis page */
.crisis-list-header.list-header {
	/*background-color: inherit; */
}
/* END -  Dataset search results on crisis page */

.leaflet-bottom{
    bottom: 50px;
}

.map-info {
    padding: 6px 8px;
    font: 14px/16px 'Source Sans Pro';
    color: white;
    background: #333333;
    background: rgba(51,51,51,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.map-info h4 {
    font: 'Source Sans Pro';
    margin: 0 0 5px;
    color: white;
    font-weight: bold;
}

.map-info.legend {
    line-height: 14pt;
    color: white;
    z-index: 0;
    position: relative;
}
.map-info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.leaflet-container input[type=radio], .leaflet-container input[type=checkbox] {
    top: 0;
}

.leaflet-container label::after {
    content: "";
}
