{% extends "package/hdx_read.html" %}
    {% block title_and_actions_container_class %} custom-dataset{% endblock %}
    {% block title_and_actions_right_side %}
        <!--old style <div style="background-color: {{ c.logo_config.background_color }}; border: 1px solid {{ c.logo_config.border_color }}"-->
        <div
             class="org-logo-large table-valign">
            <div class="table-valign-content">
                {% set org_id = pkg.organization.name or pkg.owner_org %}
                {% set url_org = h.url_for(controller='organization', action='read', id=org_id) or '#' %}
                <a href="{{url_org}}">
                    <img class="org-logo lazyload" data-src="{{ c.logo_config.image_url }}" alt="{{ _('Organization logo') }}"/>
                </a>

            </div>
        </div>
    {% endblock %}
