{% extends "package/hdx_read.html" %}

{% set pkg = pkg_dict %}

{% block pre_primary_content %}
  <div class="col-xs-12 paddingLeftHack paddingRightHack">
    <div id="mapbox-baselayer-url-div" style="display: none;">{{ h.hdx_get_ckan_config('hdx.mapbox.baselayer.url') }}</div>
    <div id="shapeData" style="display: none;">
      {{ shapes }}
    </div>

    <div class="row mTop20">
      <div class="col-xs-12">
        <div id="map" style="height: 400px; margin-bottom: 15px;"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="mBottom15" style="border-bottom: 1px solid #dddddd;">
    </div>
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
  {% snippet "organization/custom/custom_style.html", customizations=logo_config %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{#  {% resource 'hdx_theme/d3' %}#}
{#  {% asset 'hdx_theme/crisis-base-styles' %}#}
  {% asset 'hdx_theme/crisis-base-scripts' %}
{#  {% asset 'hdx_theme/shape-view-styles' %}#}
  {% asset 'hdx_theme/shape-view-scripts' %}
  {# {% resource 'hdx_theme/explorer' %} #}
{% endblock %}
