{% extends "indicator/read.html" %}

{% block breadcrum_parent_item %}
  <li>{{ h.nav_link(_('Datasets'), 
  	controller='ckanext.hdx_search.controllers.search_controller:HDXSearchController', action='search') }}</li>
{% endblock %}

{% block pre_primary %}
<div class="row paddingRowHack whiteBackground">


    {% block title_and_actions %}
    <div class="col-xs-12 paddingLeftHack paddingRightHack">
      <div class="row">
        <div class="col-xs-12 mTop35 mBottom30">
          <h1 class="itemTitle">
            {{ pkg.title or pkg.name }}
            {% snippet 'package/snippets/package_status_labels.html', pkg=pkg %}
          </h1>
        </div>
      </div>
      <div class="row mBottom30">
        <div class="col-xs-12 mBottom20">
            {% if c.pkg_notes_formatted %}
              <div class="notes embedded-content">
                {{ c.pkg_notes_formatted }}
              </div>
            {% endif %}
        </div>
        <div class="col-xs-12 align-bottom-right">
            <ul class="pull-left dataset-resources ">
                {% snippet 'search/snippets/package_icons.html', package=pkg%}
            </ul>
            {% snippet "indicator/snippets/indicator_actions_menu.html", pkg = pkg, is_indicator=False, classes='indicator-actions followButtonContainer pull-right' %}
        </div>
      </div>
      
    </div>
    {% endblock %}
    <div class="col-xs-12">
      <div class="mBottom15" style="border-bottom: 1px solid #dddddd;">
      </div>
    </div>
</div>
{% endblock %}

{% block package_notes %}
{% endblock %}

{% block package_resources %}
	<div class="dataset-res-wraper">
	{{ super() }}
    {% resource 'hdx_theme/explorer' %}
	</div>
{% endblock %}