{% extends "package/base_form_page.html" %}

{% if c.userobj %}
  {% set logged_in = true %}
{% else %}
  {% set logged_in = false %}
{% endif %}

{% block subtitle %}{{ _('Add data to the dataset') }}{% endblock %}

{% block form %}{% snippet 'package/snippets/resource_form.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, stage=stage, allow_upload=g.ofs_impl and logged_in %}{% endblock %}

{% block secondary %}{% endblock %}


{% block scripts %}
  {{ super() }}
  {% resource 'vendor/fileupload' %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
      .module{
        margin-top: 0;
      }

      .module .module-content{
        padding-top: 0;
        margin-bottom: 0;
      }
    </style>
    <link rel="stylesheet" href="/dataset_create.css" />
{% endblock %}


{% block primary %}
{% if c.action != 'resource_edit' %}
</div></div>
<div>
{% else %}
<div class="primary">
{% endif %}
  {% block primary_content %}
  {% if pkg_dict and pkg_dict.state != 'draft' %}
    <header class="module-content">{% block form_title %}
  <div class="package-upload-header">{{ _("ADD FILES") }}</div>
  {% endblock %}</header>
  {% endif %}
  {{ super() }}
{% endblock %}
</div>
{% endblock %}


