{% extends "package/base.html" %}

{% resource 'hdx_theme/hdx-datepicker.js' %}

{% set onepage = 1 %}

{% block toolbar %}
{{super()}}
{% endblock %}

{% block primary %}
  <div class="paddingRowHack">
    <div class="paddingLeftHack paddingRightHack mTB45">
      <div class="row">
        <div class="col-xs-5 countrySelectorDiv">
          <div class="content">
            {% block country_list %}{{super()}}{% endblock %}
          </div>
        </div>
        <div id="country-map" class="col-xs-7 countryMapDiv">
        </div>
      </div>
    </div>
  </div>

  {% block primary_content %}
    <div class="paddingRowHack graybg">
      <div class="paddingLeftHack paddingRightHack">
        <section class="module datasetModule">
          <div class="pull-right">
            {% snippet "snippets/help_box.html", links=[{'url':'http://docs.hdx.rwlabs.org/screencasts#submitting-data','text':'Submitting Data'},{'url':'http://docs.hdx.rwlabs.org/get-involved/','text':'Contact Us'}] %}
          </div>
          <div class="module-content" id="dataset_part_1">
            <div class="row">
              <div class="col-xs-12">
                <div class="package-upload-header mTop45 sspBold20 mBottom40" style="color: #333333">1. {{ _("Tell us some details about your dataset") }}</div>
              </div>
              <div class="col-xs-12">
                {% block form %}{{ c.form | safe }}{% endblock %}
              </div>
            </div>
          </div>
          <div class="paddingLeftHack paddingRightHack" style="margin-top:0px;">
          </div>
        </section>
      </div>
    </div>
    <div class="form-actions">
      {% block cancel_button %}
        <a class="btn" href="">{% block cancel_button_text %}{{ _('Cancel') }}{% endblock %}</a>
      {% endblock %}
      <button class="btn btn-primary" id="onepage_submit" name="save">{% block save_button_text %}{{ _('Next: Add Data') }}{% endblock %}</button>
    </div>
  {% endblock %}
{% endblock %}

{% block secondary %}
{% endblock %}

{%- block scripts2 %}
  {{ super() }}
  {% resource 'hdx_theme/leaflet'  %}
  {% resource 'hdx_theme/submit-dataset-map' %}
{% endblock -%}

{% block styles %}
  {{ super() }}
  {% resource 'hdx_theme/datasets/dataset.css' %}
  {% resource 'hdx_theme/datasets/dataset_create.css' %}
{% endblock %}
