{% extends "page.html" %}

{% set res = resource %}
{% set pkg = pkg_dict %}
{% set analytics = h.hdx_compute_analytics(pkg_dict) %}

{# The lines below are for analytics #}
{% block analytics_org_name %}{{ package.organization.name }}{% endblock %}
{% block analytics_org_id %}{{ package.organization.id }}{% endblock %}
{% block analytics_is_cod %}{{ analytics.analytics_is_cod }}{% endblock %}
{% block analytics_is_indicator %}{{ analytics.analytics_is_indicator }}{% endblock %}
{% block analytics_is_archived %}{{ analytics.analytics_is_archived }}{% endblock %}
{% block analytics_group_names %}{{ analytics.analytics_group_names | safe }}{% endblock %}
{% block analytics_group_ids %}{{ analytics.analytics_group_ids | safe }}{% endblock %}
{% block analytics_dataset_name %}{{ package.name  }}{% endblock %}
{% block analytics_dataset_id %}{{ package.id }}{% endblock %}
{% block analytics_dataset_availability %}{{ analytics.analytics_dataset_availability }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(res.description, extract_length=200) if res.description else h.markdown_extract(package.notes, extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}

{% block subtitle %}{{ h.dataset_display_name(package) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/other_breadcrumb_item.html", title=_('Datasets'), named_route='hdx_dataset.search', position=2 %}
  {% snippet "snippets/other_breadcrumb_item.html", title=pkg.title|truncate(30), named_route='hdx_dataset.read', id=pkg.name, position=3 %}
  <li class="active"><a href="">{{ h.resource_display_name(res)|truncate(30) }}</a></li>
{% endblock %}

{% block pre_primary %}
  {% block resource %}
    <section class="module module-resource">
      {% block resource_inner %}
        <div class="module-content">
        <div class="actions">
          {% block resource_actions %}
          <ul class="mTop10 pull-right">
            {% block resource_actions_inner %}
            {# No longer needed because of the new contribute flow
              {% if h.check_access('package_update', {'id':pkg.id }) %}
                <li>{% link_for _('Edit'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn hdx-btn resource-btn' %}</li>
              {% endif %}
             #}
            {% if res.url and h.is_url(res.url) and h.check_access('hdx_resource_download', res) %}
              <li>
                <a class="btn hdx-btn ga-download resource-btn resource-icon-btn resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.hdx_rel_url }}">
                {#
                  {% if res.resource_type in ('listing', 'service') %}
                    <i class="icon-eye-open"></i> {{ _('View') }}
                  {% elif  res.resource_type == 'api' %}
                    <i class="icon-key"></i> {{ _('API Endpoint') }}
                  {% elif not res.has_views or not res.can_be_previewed %}
                    <i class="humanitarianicons-Out-of-platform"></i> {{ _('Go to resource') }}
                  {% else %}
                    <i class="icon-download"></i> {{ _('Download') }}
                  {% endif %}
                #}
                  <img src="/images/homepage/download-white.svg" alt=" {{ _('Download') }}" style="width: 14px;" />
                  <span class="ga-download-resource-title" style="display: none">{{ res.name }}</span>
                  <span class="ga-download-resource-id" style="display: none">{{ res.id }}</span>
                </a>
              </li>
            {% endif %}
            {% if res.datastore_active %}
              <li>{% snippet 'package/snippets/data_api_button.html', resource=res %}</li>
            {% endif %}
            {% endblock %}
          </ul>
          {% endblock %}
        </div>
        {% block resource_content %}
          {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
          {% block resource_read_url %}

             <p class="muted ellipsis">{{ _('URL:') }}
              {% if h.check_access('hdx_resource_download', res) %}
                {% if res.url and h.is_url(res.url) %}
                  <a href="{{ res.hdx_rel_url }}" title="{{ res.hdx_rel_url }}">{{ res.url }}</a>
                {% elif res.url %}
                  {{ res.hdx_rel_url }}
                {% endif %}
              {% else %}
                <a href="/faq#auto-faq-Metadata_and_Data_Quality-What_does_it_mean_for_a_dataset_to_be__under_review__-a" class="under-review">[ under review ]</a>
              {% endif %}
             </p>

          {% endblock %}
          <div class="prose notes" property="rdfs:label">
            {% if res.description %}
              {{ h.render_markdown(res.description) }}
            {% else %}
              <p class="empty">{{ _('There is no description for this resource') }}</p>
            {% endif %}
            {% if not res.description and package.notes %}
              <h3>{{ _('From the dataset abstract') }}</h3>
              <blockquote>{{ h.markdown_extract(package.get('notes')) }}</blockquote>
              <p>{% trans dataset=package.title, url=h.url_for('dataset_read', id=package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
            {% endif %}
          </div>
        {% endblock %}
      </div>
        {% block data_preview %}
          {% if h.check_access('hdx_resource_download', res) %}
          {% block resource_view %}
            {% block resource_view_nav %}
              {% set resource_preview = h.resource_preview(resource, package) %}
              {% snippet "package/snippets/resource_views_list.html",
                 views=resource_views,
                 pkg=pkg,
                 is_edit=false,
                 view_id=current_resource_view['id'],
                 resource_preview=resource_preview,
                 resource=resource,
                 extra_class="nav-tabs-plain"
               %}
            {% endblock %}
            <div class="module-content">
              {% block resource_view_content %}
                <div class="resource-view">
                  {% set resource_preview = h.resource_preview(resource, package) %}
                  {% set views_created = res.has_views or resource_preview %}
                  {% if views_created %}
                    {% if resource_preview and not current_resource_view %}
                      {{ h.resource_preview(resource, package) }}
                    {% else %}
                      {% for resource_view in resource_views %}
                        {% if resource_view == current_resource_view %}
                          {% snippet 'package/snippets/resource_view.html',
                             resource_view=resource_view,
                             resource=resource,
                             package=package
                           %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% else %}
                    {# Views not created #}
                    <div class="module-content data-viewer-info">
                      <p>{{ _("There are no views created for this resource yet.") }}</p>
                      {% if h.check_access('resource_view_create', {'resource_id': resource.id}) %}
                        <p class="muted">
                          <i class="icon-info-sign"></i>
                          {{ _("Not seeing the views you were expecting?")}}
                          <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                            {{ _('Click here for more information.') }}</a>
                        </p>
                        <div id="data-view-info" class="collapse">
                          <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                          <ul>
                            <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                            <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                            <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                          </ul>
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endblock %}
            </div>
          {% endblock %}
          {% endif %}
        {% endblock %}
      {% endblock %}
    </section>
  {% endblock %}
{% endblock %}

{% block primary_content %}
  {# resource page should only show the preview accordig to https://github.com/OCHA-DAP/hdx-ckan/issues/204
  {% block resource_additional_information %}
    {% if res %}
      <section class="module">
        {% block resource_additional_information_inner %}
        <div class="module-content">
          <h2>{{ _('Additional Information') }}</h2>
          <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ _('Last updated') }}</th>
                <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Created') }}</th>
                <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Format') }}</th>
                <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('License') }}</th>
                <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
              </tr>
              {% for key, value in h.format_resource_items(res.items()) %}
                <tr class="toggle-more"><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endblock %}
      </section>
    {% endif %}
  {% endblock %}
  #}
{% endblock %}

{% block secondary %}{% endblock %}

{% block secondary_content %}
{#
  {% block resources_list %}
    {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}
  {% endblock %}

  {% block resource_license %}
    {% snippet "snippets/social.html" %}
  {% endblock %}
#}
{% endblock %}

