{% extends "page-new.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _("Search for a Dataset") }}{% endblock %}

{% block maintag %}<div role="main">
{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block primary_content %}
  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': c.remove_field }
  %}
  <div id="filter_dropdown">
    <div id="search_bar_content" style="height:0px;">
      <div id="filter_container">
        {% for facet in c.facet_titles %}
          {{h.snippet('snippets/facet_list_new.html', title=c.facet_titles[facet], name=facet ,hide_empty=True)}}
        {% endfor %}

      </div>
      {#
      <div id="date_container">
        <label>Date Range</label>
        <input placeholder="Start date" type="text">
        <input placeholder="End date" type="text">
      </div>
      #}
    </div>
{#    <div id="search_filter_btn">Filter<span>-</span></div>#}
  </div>
  <section class="list-items module">
    <div class="list-items module-content mT35">
      {% block page_primary_action %}
            {# if h.check_access('package_create') #}
            {#
              <div class="list-items page_primary_action">
                {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
              </div>
              #}
            {# % endif % #}
      {% endblock %}
      {% block form %}
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% snippet 'snippets/search_form.html', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, search_in_results=true, placeholder=_('Search within found datasets...'), display_search_input=false %}
      {% endblock %}

      {% block package_search_results_list %}
      {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
      {% endblock %}
    </div>

    {% block page_pagination %}
    {{ c.page.pager(q=c.q) }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
  {#
  <section class="module">
    <div class="module-content">
      <small>
        {% set api_link = h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=3)) %}
        {% set api_doc_link = h.link_to(_('API Docs'), 'http://docs.ckan.org/en/{0}/api.html'.format(g.ckan_doc_version)) %}
        {% if g.dumps_url -%}
          {% set dump_link = h.link_to(_('full {format} dump').format(format=g.dumps_format), g.dumps_url) %}
          {% trans %}
            You can also access this registry using the {{ api_link }} (see {{ api_doc_link }}) or download a {{ dump_link }}.
          {% endtrans %}
        {% else %}
          {% trans %}
            You can also access this registry using the {{ api_link }} (see {{ api_doc_link}}).
          {% endtrans %}
        {% endif %}
      </small>
    </div>
  </section>
  #}
  {% endblock %}
{% endblock %}

{% block secondary %}
    {# include "group/snippets/data_themes.html" #}
{% endblock %}

{% block scripts2 %}
  <!--
    -- Removed as they are not needed in the new search page
  <script src="/scripts/chosen.min.js"></script>
  <script type="text/javascript" src="/scripts/bootstrap-multiselect.js"></script>
<script>
$(document).ready(function(){
  $("#search_bar_content").slideUp(300, function() {
          $("#search_bar_content").css('height','0px');
          return $("#search_filter_btn span").text('+');
        });

  $('.multiselect').multiselect();

  $('#filter_dropdown').on('change','input', function(){
      window.location = $(this).val();
  });

  $("#search_filter_btn").click(function() {
      if ($("#search_filter_btn span").text() === '+') {
        return $("#search_bar_content").slideDown(300, function() {
          $("#search_bar_content").css('height','230px');
          return $("#search_filter_btn span").text('-');
        });
      } else {
        return $("#search_bar_content").slideUp(300, function() {
          $("#search_bar_content").css('height','0px');
          return $("#search_filter_btn span").text('+');
        });
      }
    });
});
</script>
   -->
{% endblock %}

{% block styles %}
  {{ super() }}
  <!--
    -- Removed as they are not needed in the new search page
  <link rel="stylesheet" href="/frog_search.css" />
  <link rel="stylesheet" href="/css/chosen.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-multiselect.css" type="text/css"/>
  -->
{% endblock %}

{% block  global_dataset_input_search%}
  <input type="text" class="searchInput" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search all datasets') }}">
{% endblock %}
