@import "variables";

/* Left - right layout */
.section-right {
  border-left: @verticalLineWidth solid @verticalLineColor;
}

.section-right .section-right-data-wrapper {
  margin-left: @spaceToVerticalLine;
}

.section-left .section-left-data-wrapper {
  margin-right: @spaceToVerticalLine;
}
/* END - Left - right layout */