[main]

dont_bundle = tracking.js

[depends]

main = vendor/vendor
ckan = vendor/bootstrap

[custom render order]

apply_html_class = 1

[inline scripts]

apply_html_class =
    document.getElementsByTagName('html')[0].className += ' js';

[groups]

ckan =
main =
    apply_html_class
    plugins/jquery.inherit.js
    plugins/jquery.proxy-all.js
    plugins/jquery.url-helpers.js
    plugins/jquery.date-helpers.js
    plugins/jquery.slug.js
    plugins/jquery.slug-preview.js
    plugins/jquery.truncator.js
    plugins/jquery.masonry.js
    plugins/jquery.form-warning.js
    plugins/jquery.images-loaded.js

    sandbox.js
    module.js
    pubsub.js
    client.js
    i18n.js
    main.js

