.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
.list-items.facet-items:last-child {
  border-bottom: 0px;
}
dt.uppercase {
  color: #888888;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.member-item {
  position: relative;
}
.member-actions {
  position: absolute;
  top: 20px;
  right: 14px;
  display: inline-block;
  /*font-size: 0;*/
  vertical-align: middle;
  white-space: nowrap;
}
/* Org member search customization */
.page_primary_action .list-items.search-form {
  margin: 0;
}
/* Customizations of modal popups */
.hdx-modal.modal-content {
  background-color: #eee;
  color: #000;
  top: 30%;
}
.hdx-modal .modal-header {
  border: 0 none;
}
.hdx-modal .modal-footer {
  box-shadow: 0 1px 0 #ffffff inset;
}
.hdx-modal .control-label {
  margin-left: 10px;
  margin-right: 15px;
  text-align: left;
  width: 50px;
  float: left;
  font-size: 16px;
}
.hdx-modal .controls {
  margin-left: 80px;
  margin-right: 10px;
}
.hdx-modal .control-group {
  margin-top: 10px;
}
.hdx-modal .control-medium .controls input {
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  padding: 5px;
  padding-left: 10px;
  font-size: 16px;
}
.hdx-modal .control-medium .controls input[disabled] {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.hdx-modal.hdx-has-tabs .modal-body {
  padding-top: 0px;
}
.hdx-modal.hdx-has-tabs .tab-content {
  padding-top: 15px;
}
.hdx-modal .nav-tabs > li.active > a,
.hdx-modal .nav-tabs > li.active > a:focus {
  background-color: inherit;
}
.js .hdx-modal .tab-content {
  display: block;
}
/*END - Customizations of modal popups */
.hdx-btn.main-hdx-btn.hdx-btn.add-member {
  margin-bottom: 10px;
}
.primary .page_primary_action {
  margin-left: 40px;
}
.btn.hdx-btn.main-hdx-btn {
  margin-left: 10px;
  padding: 4px 12px;
}
.list-items.dataset-item {
  margin: 0;
}
.btn.dropdown-toggle-org .caret {
  margin-top: 5px;
  margin-left: 5px;
  border-top-color: #888888;
}
/* Order dropdown on org member pages */
.dropdown.orderDropdown .dropdown-menu {
  right: 0;
  left: auto;
}
/* END - Order dropdown on org member pages */
/* Override for members table on 8 columns*/
.col-xs-8 > .list-items > .list-header {
  margin-top: 0;
}
.col-xs-8 > .list-items > .list-header .header-search {
  width: 320px;
}
/* end override*/
.role-categ {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #888888;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
}
.current-role {
  background-color: #333333;
  color: #fff;
  padding: 5px 10px;
}
.invite-box {
  background-color: #edf6fd;
  padding: 30px;
}
.invite-box textarea {
  width: 100%;
  height: 100px;
  border: none;
}
.invite-box p {
  color: #000;
  margin: 10px 0;
}
.current-user {
  margin: 20px;
  margin-bottom: 0;
  position: relative;
}
.current-user .image {
  height: 70px;
  position: absolute;
}
.current-user .user-details {
  margin-left: 90px;
}
.approval-request {
  padding: 20px;
  position: relative;
  background-color: #fefbed;
  border-bottom: 1px solid #cccccc;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.approval-request.request-approved {
  background-color: #fff;
}
.approval-request.request-approved .user-details .approval-actions button {
  opacity: 0;
}
.approval-request.request-approved .user-details .approval-actions .approved-message {
  top: 0;
  opacity: 1;
}
.approval-request .image {
  height: 20px;
  position: absolute;
}
.approval-request .user-details {
  margin-left: 40px;
}
.approval-request .user-details .btn-primary .caret {
  border-top-color: #fff;
  vertical-align: middle;
  margin-left: 10px;
}
.approval-request .user-details .approval-actions {
  margin-top: 5px;
  position: relative;
}
.approval-request .user-details .approval-actions button {
  opacity: 1;
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function: linear;
  z-index: 10;
  position: relative;
}
.approval-request .user-details .approval-actions .approved-message {
  opacity: 0;
  position: relative;
  z-index: 9;
  color: #cccccc;
  line-height: 31px;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: .5s;
  transition-delay: .5s;
  transition-timing-function: linear;
}
