.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
.organization-heading {
  text-decoration: none;
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: -5px;
  font-weight: bold;
}
.dataset-item {
  margin: 0;
  border-bottom: 1px solid #eeeeee;
}
.featured-org {
  border: 1px solid #eeeeee;
}
.featured-org .feature-header {
  position: relative;
}
.featured-org .feature-header a:hover .org-thumbnail img {
  opacity: 1;
}
.featured-org .feature-header a:hover .feature-highlight {
  background-color: #f2645a;
}
.featured-org .feature-header a .org-thumbnail {
  overflow: hidden;
  height: 200px;
  width: 100%;
}
.featured-org .feature-header a .org-thumbnail img {
  height: 220px;
  opacity: 0.9;
}
.featured-org .feature-header a .feature-highlight {
  width: 100%;
  padding: 7px 15px;
  background-color: rgba(242, 100, 90, 0.9);
  position: absolute;
  top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.01em;
  color: #fff;
}
.featured-org .feature-header a .feature-highlight a {
  color: #fff;
}
.featured-org .feature-header .logo-box {
  position: absolute;
  top: 145px;
  right: 20px;
  max-height: 75px;
}
.featured-org .feature-header .logo-box .table-valign {
  width: 75px;
  height: 75px;
  text-align: center;
}
.featured-org .feature-header .logo-box .table-valign img {
  max-height: 60px;
  max-width: 60px;
}
.featured-org .feature-content {
  padding: 20px;
}
.featured-org .feature-content .list-items {
  margin-top: 3px;
}
.featured-org .feature-content .organization-heading a {
  color: #000;
}
.featured-org .feature-content .last-update {
  color: #333333;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 12px;
}
.featured-org .feature-content .dataset-description {
  min-height: 40px;
}
