{% extends "page-new.html" %}


{% block breadcrumb_content %}
  <li>Pcode Mapper</li>
{% endblock %}


{% block primary_content %}
  	<div id="crisis-map-url-div" style="display: none;">{{ h.hdx_get_ckan_config('hdx.crisismap.url') }}</div>
  	<div id="mapbox-baselayer-url-div" style="display: none;">{{ h.hdx_get_ckan_config('hdx.mapbox.baselayer.url') }}</div>
	<div id="mapbox-labelslayer-url-div" style="display: none;">{{ h.hdx_get_ckan_config('hdx.mapbox.labelslayer.url') }}</div>

    <div class="row paddingRowHack intro-section">
        <div class="col-xs-12 paddingLeftHack paddingRightHack">
            <div class="row">
                <div class="col-xs-12">
                    test header
                </div>
            </div>
        </div>
    </div>

    <div class="row paddingRowHack whiteBackground">
        <div class="col-xs-12 paddingLeftHack paddingRightHack">
            <select id="pcode"><option>Loading</option></select>
            <select id="value"><option>Loading</option></select>

        </div>
    </div>

    <div class="row paddingRowHack whiteBackground">
        <div class="col-xs-12 paddingLeftHack paddingRightHack">
            <br/>
            <label>Number of classes</label><select id="lClass"><option>Loading</option></select>
            <label>Color 1</label><input type="text" id="lColor1"/>
            <label>Color 2</label><input type="text" id="lColor2"/>
        </div>
    </div>



    <div class="row paddingRowHack whiteBackground">
        <div class="col-xs-12 paddingLeftHack paddingRightHack">
            <div class="row">
                <div class="col-xs-12">
                    <div id="map" style="height: 400px;">
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block secondary %}
{% endblock %}

{% block scripts2 %}
  {{ super() }}
  {% resource 'hdx_theme/activity-stream' %}
  {% resource 'hdx_theme/jquery.highlight' %}
  {% resource 'hdx_theme/jquery.expander' %}
  {% resource 'hdx_theme/search' %}
  {% resource 'hdx_theme/hdx_show_more.js' %}
  {% resource 'hdx_theme/search-facets' %}
  {% resource 'hdx_theme/d3' %}
  {% resource 'hdx_theme/leaflet' %}
  {% resource 'hdx_theme/pcode-mapper' %}

{% endblock %}
