{% extends "base.html" %}

{% block page %}
    <div style="position: relative;">
    {% block crisis_map %}
        <div id="map-configuration" style="display: none">{{ h.dump_json(map) }}</div>
        <div id="crisis-map-url-div" style="display: none;">{{ h.hdx_get_ckan_config('hdx.crisismap.url') }}</div>
        <div id="mapbox-baselayer-url-div"
             style="display: none;">{{ h.hdx_get_ckan_config('hdx.mapbox.baselayer.url') }}</div>
        <div id="mapbox-labelslayer-url-div"
             style="display: none;">{{ h.hdx_get_ckan_config('hdx.mapbox.labelslayer.url') }}</div>
        <div id="crisis-map" style="position: relative; z-index: 0;">
        </div>
    {% endblock %}
    </div>

    {% resource 'hdx_theme/base/fonts.css' %}
    {% resource 'hdx_theme/crisis-base' %}
    {% resource 'hdx_theme/leaflet' %}
    {% resource 'hdx_theme/country-custom' %}
{% endblock %}