{% import 'macros/form.html' as form %}

{{ form.input('map_name', id='field-map-name', label=_('Map Name'), placeholder=_('Name of the map'),
    value=data.map_name, error=errors.map_name, classes=['control-full']) }}

{% if formdata.map_columns %}
    {{ form.select('map_join_column', id='field-map-join-column', label=_('Map Join Column'), options=formdata.map_columns, selected=data.map_join_column, error=errors.map_join_column) }}
    {{ form.select('district_name_column', id='field-district-name-column', label=_('District Name Column'), options=formdata.map_columns, selected=data.district_name_column, error=errors.district_name_column) }}
    {{ form.select('district_name_column', id='field-district-name-column', label=_('District Name Column'), options=formdata.map_columns, selected=data.district_name_column, error=errors.district_name_column) }}
{% else %}
    {{ form.input('map_join_column', id='field-map-join-column', label=_('Map Join Column'), placeholder=_('Name of the column with the district IDs'),
        value=data.map_join_column, error=errors.map_join_column, classes=['control-full']) }}
    {{ form.input('district_name_column', id='field-district-name-column', label=_('District Name Column'), placeholder=_('Name of the column that holds the district names'),
        value=data.district_name_column, error=errors.district_name_column, classes=['control-full']) }}
{% endif %}

{{ form.input('values_resource_id', id='field-values-resource-id', label=_('Values Resource Id'), placeholder=_('The ID of the resource that holds the values for the map'),
    value=data.values_resource_id, error=errors.values_resource_id, classes=['control-full']) }}

{{ form.input('values_join_column', id='field-values-join-column', label=_('Values Join Column'), placeholder=_('Name of the column with the district IDs'),
    value=data.values_join_column, error=errors.values_join_column, classes=['control-full']) }}

{{ form.input('values_column_name', id='field-values-column-name', label=_('Values Column Name'), placeholder=_('The name of the datastore column which holds the values for the map'),
    value=data.values_column_name, error=errors.values_column_name, classes=['control-full']) }}

{{ form.input('threshold', id='field-threshold', label=_('Threshold'), placeholder=_('Thresholds for color grouping'),
    value=data.threshold, error=errors.threshold, classes=['control-full']) }}