{% extends "base.html" %}

{% block page %}


    <div class="row">
        {% for top_line_item in key_figures %}
            <div class="col-xs-3">
                {{ h.snippet('crisis/snippets/topline.html', title=top_line_item.title, value=top_line_item.formatted_value,
                unit=top_line_item.units,
                notes=top_line_item.notes, source=top_line_item.source,
                source_link=top_line_item.source_link, explore=top_line_item.explore, latest_date=top_line_item.latest_date) }}
            </div>
        {% endfor %}
    </div>

    {% resource 'hdx_theme/base/fonts.css' %}
    {% resource 'hdx_theme/css/header-extra.css' %}
    {% resource 'hdx_theme/crisis/topline-nepal-quake.css' %}
{% endblock %}