@import "../base/variables";
@import "../base/mixins";

#qa-sdc-widget {
  @qaChecklistPadding: 20px;
  @qaChecklistHeight: 500px;
  @qaActionContainerHeight: 40px;
  @qaTabsHeight: 43px;
  position: relative;
  background-color: @whiteColor;
  height: @qaChecklistHeight;
  width: 1024px;
  padding: 0 0 2*@qaChecklistPadding+31px+43px;

  .sdc-col-selected {
    background-color: rgba(30,191,179,0.51);
  }

  .sdc-col-weight {
    background-color: rgba(0,124,224,0.5);
  }

  .action-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: @qaChecklistPadding;
    display: flex;
    justify-content: flex-end;
  }
  .center-spinner {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .spinkit-spinner > div {
      background-color: @blueColor;
    }
  }
  .sdc-micro-table {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .nav {
    .extra-sheets.active {
      font-weight: bold;
    }
  }

  .handsontable .changeType {
    position: relative;
    z-index: 100;
  }
}

