{% extends "v2/page.html" %}

{% set content_class = 'hdx-v2-content-columns__content' %}

{% block subtitle %}{{ _('Archived Dataviz') }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/v2-archived-dataviz-page-styles' %}
{% endblock %}

{% block breadcrumb_items %}
  {% snippet 'v2/components/breadcrumb.html',
      items=[
        {'label': _('Products'), 'href': ''},
        {'label': _('Archived Dataviz'), 'href': ''},
      ] %}
{% endblock %}

{# No sidebar #}
{% block secondary %}{% endblock %}

{% block primary %}
  <div class="hdx-v2-archived-dataviz">

    {% snippet 'v2/components/page-header.html',
        title=_('Archived Dataviz'),
        title_count=data.viz_list | length %}

    {% if data.viz_list %}
      {% for item in data.viz_list %}
        {% snippet 'v2/components/text-button.html',
            style='tertiary', size='m', label=item.title,
            icon_position='right', icon_src='v2/icons/link-external.svg',
            tag='a', href=item.url, attrs={'target': '_blank'},
            extra_classes='hdx-v2-archived-dataviz__row' %}
        {% if not loop.last %}<hr class="c-divider">{% endif %}
      {% endfor %}
    {% else %}
      <p class="hdx-v2-archived-dataviz__empty">{{ _('No archived items found.') }}</p>
    {% endif %}
  </div>
{% endblock %}
