{% extends "page.html" %}

{% block subtitle %}{{ _("Frequently Asked Questions") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Archived Dataviz'), 'hdx_archived_quick_links.show') }}</li>
{% endblock %}

{% block pre_primary %}
    <div class="row top-banner-archive">
        <div class="col-xs-12">
            <div class="top-banner-text-wrapper">
                <div class="top-banner-title-archive">
                   {{ _('Archived Dataviz') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block primary %}
    <div class="row mTop60">
        <div class="col-xs-12">
{#            <div id="body-about-hdx" class="section-flag" style="">Archived Dataviz</div>#}
        </div>
    </div>
    {% snippet 'archived_quick_links/questions_sections.html', data=data.pages %}
{% endblock %}

{% block secondary %}
    <div id="hdx-faq-sidebar-wrapper" class="mTop60">
        <div class="hdx-faq-sidebar" id="hdx-faq-sidebar">
          <p>The list includes archived humanitarian crisis pages.</p>
          <p>Country pages that were displayed under Quick Links can be found
            <a href="/group">here</a></p>
            <p class="no-answer-found mTop30">
                <a onclick="closeCurrentWidget(this);spawnRecaptcha('#faqSendMsgPopup');showFaqWidget('#faqSendMsgPopup');" href="#">&nbsp;</a>
            </p>
        </div>
    </div>
{% endblock %}


{%- block styles %}
    {{ super() }}
    {% asset 'hdx_theme/faq-scripts' %}
{% endblock %}
