{% extends "page.html" %}

{% block subtitle %}{{ _("Frequently Asked Questions") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Archived Quicklinks'), controller='ckanext.hdx_theme.controllers.archived_quick_links_controller:ArchivedQuickLinksController', action='show') }}</li>
{% endblock %}

{% block pre_primary %}
    <div class="row top-banner-archive">
        <div class="col-xs-12">
            <div class="top-banner-text-wrapper">
                <div class="top-banner-title-archive">
                   {{ _('Archived Quicklinks') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block primary %}
    <div class="row mTop60">
        <div class="col-xs-12">
{#            <div id="body-about-hdx" class="section-flag" style="">Archived QuickLinks</div>#}
        </div>
    </div>
    {% snippet 'archived_quick_links/questions_sections.html', data=data.pages %}
{% endblock %}

{% block secondary %}
    <div id="hdx-faq-sidebar-wrapper" class="mTop60">
        <div class="hdx-faq-sidebar" id="hdx-faq-sidebar">
{#            <ul class="nav">#}
{#            {% for page in data.pages %}#}
{#                <li>#}
{#                    <a id='menu-{{ page.id }}' href="#body-{{ page.id }}"> {{ page.title }} </a>#}
{#                </li>#}
{#            {% endfor %}#}
{#            </ul>#}
          <p>The list includes archived humanitarian crisis pages.</p>
          <p>Country pages that used to be displayed under Quick Links are excluded from this list as the datasets
            would no longer be relevant.</p>
            <p class="no-answer-found mTop30">
                <a onclick="closeCurrentWidget(this);showFaqWidget('#faqSendMsgPopup');" href="#">&nbsp;</a>
            </p>
        </div>
    </div>
{% endblock %}


{%- block styles %}
    {{ super() }}
    {% resource 'hdx_theme/faq/faq.css' %}
    {% resource 'hdx_theme/faq/faq.js' %}
{% endblock %}
