
    <div class="panel-group hdx-panel-group" id="accordion-general" role="tablist" aria-multiselectable="false">
        {% for page in data %}
            {% set q_id = 'auto-%s-%s-q' | format(page.id, page.id) %}
            {% set a_id = 'auto-%s-%s-a' | format(page.id, page.id) %}
            <div class="panel">
                <div class="panel-heading" role="tab" id="{{ q_id }}">
                    <h4 class="panel-title">
                        <a role="button" href="/{{page.type}}/{{page.name}}" class="faq-question-link">
                            {{ page.title | safe }} <i class="icon humanitarianicons-Out-of-platform"></i>
                        </a>
                    </h4>
                </div>
            </div>
         {% endfor %}

    </div>

<div style="height: 75vh;">
    {# Necessary for the left side menu to be able to scroll to the last item also #}
</div>

