
    <div class="panel-group hdx-panel-group" id="accordion-general" role="tablist" aria-multiselectable="false">
        {% for viz in data.get('viz_list',[]) %}
            {% set q_id = 'auto-%s-%s-q' | format(viz.id, viz.id) %}
            {% set a_id = 'auto-%s-%s-a' | format(viz.id, viz.id) %}
            <div class="panel">
                <div class="panel-heading" role="tab" id="{{ q_id }}">
                    <h4 class="panel-title">
                        <a role="button" href="{{viz.url}}" class="faq-question-link">
                            {{ viz.title | safe }} <i class="icon humanitarianicons-Out-of-platform"></i>
                        </a>
                    </h4>
                </div>
            </div>
         {% endfor %}

    </div>

<div style="height: 75vh;">
    {# Necessary for the left side menu to be able to scroll to the last item also #}
</div>

