{% extends "onboarding/base.html" %}

{% set CONST = h.HDX_CONST('UI_CONSTANTS')['ONBOARDING']['REQUEST_JOIN_ORGANISATION'] %}

{% block subtitle %}{{ _('Request to join an organisation') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="breadcrumb-item active">{% link_for _('Organisations'), controller='organization', action='index' %}</li>
{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        {{ h.snippet('bem.blocks/stepper.html', steps=[CONST.STEPS_1, CONST.STEPS_2, CONST.STEPS_3], spacing_class="my-5", current_step=1) }}
        <div class="text-center">
          {{ h.snippet('bem.blocks/heading.html', title=CONST.PAGE_TITLE, spacing_class="mb-4") }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-5 mx-auto">
        {{ h.snippet('bem.blocks/info_box.html', paragraphs=[CONST.BODY_INFO_1ST_PARAGRAPH, CONST.BODY_INFO_2ND_PARAGRAPH], spacing_class="mb-5") }}
        {{ h.snippet('bem.blocks/paragraph.html', paragraph_classes=["paragraph__text_font-size-big", "fw-bold"], text=CONST.SELECT_ORGANISATION_NAME) }}
        {{ h.snippet('bem.blocks/paragraph.html', text=CONST.SELECT_ORGANISATION_LABEL.format(h.url_for('hdx_splash.index'))) }}

        <form method="post" action="{{ h.url_for('hdx_org_join.confirm_organisation') }}" id="find-organisation-form">
          {{ h.snippet('bem.blocks/select2_field.html',
              data=data.org_dict, name="org_id",
              required=True,
              select_classes=['select2-field__select_size_large'],
              data_attributes={"placeholder": CONST.SELECT_ORGANISATION_PLACEHOLDER},
              spacing_class="mb-4") }}
          {{ h.snippet('bem.blocks/form_button.html',
              type="submit",
              title=CONST.BUTTON_SUBMIT,
              button_id="user-info-submit-button",
              button_classes=["form-button__btn_font-size_big", "btn-primary", "btn-lg", "d-block", "w-100"]) }}
          <div class="text-center mb-5">
            {{ h.snippet('bem.blocks/form_button.html', type="href", url=h.url_for('home.index'), title=CONST.BUTTON_CANCEL, button_classes=["form-button__btn_font-size_medium", "btn-link"], container_classes=["mt-1"]) }}
          </div>
        </form>

      </div>
    </div>

  </div>
{% endblock %}
