{#
Shows the loading screen

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/loading/loading.html', id="loadingScreen", message="Please wait...") }}
#}
{% resource 'hdx_theme/popup' %}
{% resource 'hdx_theme/widget/loading/loading.css' %}

{% extends "widget/popup/popup.html" %}
{% block all_content %}
    <div class="spinkit-spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="spinner-message">
        {{ message }}
    </div>
{% endblock %}