{#
Example:

  {% snippet 'organization/snippets/edit_member.html', form_url=form_url, roles=roles, role=role, modal_div_id='add-member-div', user=user %}

#}

{% import 'macros/form.html' as form %}
{% resource 'hdx_theme/hdx_autocomplete.js' %}

<form class="dataset-form form-horizontal" method='post' action="{{ form_url }}">
  <div id="{{ modal_div_id }}" class="modal" role="dialog" aria-labelledby="{{ modal_div_id }}-label" aria-hidden="true">
	  <div class="modal-dialog">
	  <div class="modal-content hdx-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 class="modal-title" id="{{ modal_div_id }}-label">{{ _('Edit Member') }}</h3>
		</div>
		<div class="modal-body">
			<div class="mBottom20">
				{% if user %}
					<input type="hidden" name="username" value="{{ user }}" />
					{% set format_attrs = {'disabled': true, 'style':'width: 286px;'} %}
					<input id="username" name="username" type="text" value="{{ user }}" disabled="True" style="width: 100%;">
				{% else %}
					<input id="username" type="text" name="username" placeholder="Username"
					   value="" class="control-medium" data-module="hdx_autocomplete"
					   style="width: 100%" data-module-interval="200"
					   data-module-source="/api/2/util/user/autocomplete?q=?">
				{% endif %}
			</div>

            <select id="role" name="role" data-module="hdx_autocomplete" style="width: 100%">
              {% for option in roles %}
                <option value="{{ option.value }}"{% if option.value == role %} selected{% endif %}>{{ option.text or option.value }}</option>
              {% endfor %}
            </select>
		</div>
		<div class="modal-footer">
			<button class="btn btn-empty btn-large" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</button>
			<button class="btn btn-primary btn-large">{{ _('Submit') }}</button>
		</div>
	  </div>
	  </div>
  </div>
</form>