{# {% snippet "organization/snippets/mem_or_org.html", parent_route='user_dashboard_organizations' %} #}
{% set parent_route = parent_route if parent_route else 'user_dashboard_organizations' %}
<div class="row row-fluid">
	<div class="span6 lined"><div class="header-user-message header-user-message-med">1. {{ _("REQUEST MEMBERSHIP IN AN ORGANISATION")}}</div>
	<p>{{ _("There's a good chance that your organisation is already a part of our database. You can find your organisation and request membership. Once the admin has accepted your request, you should be able to upload datasets. Note that you have to be either an editor or admin role in order to upload datasets, so make sure to request one of those roles.")}}</p>
	<br>
	<center><a href="/organisation" class="btn">{{ _("Find Your Organisation")}}</a></center>
</div>
	<div class="span6 lined"><div class="header-user-message header-user-message-med">2. {{ _("CREATE A NEW ORGANISATION")}}</div>
<p>{{ _("If you don't see your organisation in our organisations list, you can request the creation of a new organisation. We try to get the highest quality data in our system, so we review new org requests before they are posted to the site. Once you fill out a request form, however, we try and accept the new org request within 24 hours.")}}</p>
<br>
	<center><a href="/organization/request_new?from={{ parent_route }}" class="btn">{{ _("Request New Organisation")}}</a></center>
</div>
</div>

<style>
/* Put here for now because Arti is not down with the new layouts and he may have something better we can use instead */
.lined{
	border: 20px solid #eee;
	padding: 26px;
	margin-bottom: 80px;
}
.header-user-message-med {
    font-size: 12pt;
    margin-top: 25px;
    margin-bottom: 60px;
    font-weight: bold;
}
</style>