{#
Example:

  {% snippet 'organization/snippets/member_item.html', translated_role= translated_role, 
  	id=user_id, role=role, roles=roles, group_id=c.group_dict.id, authorized=True %}

#}

{% set member = h.hdx_get_user_info(id) %}

<li class="list-items dataset-item">
	<div class="list-items dataset-content member-item">
		<h3 class="list-items dataset-heading">
			{{member.display_name }} 
		</h3>
		<div class="member-info-content">
			{% link_for member.name, controller='user', action='read', id=member.name, class_='info-item-name' %}
			<span class="less-visible">{{ translated_role }} - {{ _('Registered') }} {{ h.render_datetime(member.created) }} </span>
		</div>
		<div class="list-items counter">
			<span class="count"> {{ h.hdx_show_singular_plural(member.ds_num, _('Dataset'), _('Datasets')) }}</span>
			-
			<span class="count"> {{ h.hdx_show_singular_plural(member.org_num, _('Organization'), _('Organizations')) }}</span>
			-
			<span class="count"> {{ h.hdx_show_singular_plural(member.grp_num, _('Countries'),  _('Countries')) }}</span>
		</div>
		 {% if authorized %}
			{% set locale = h.dump_json({'content': _('Are you sure you want to delete this member?')}) %}
	          <div class="btn-group member-actions">
	            <a class="btn hdx-btn" href="#edit-member-div-{{member.name}}" data-toggle="modal" 
	            	title="{{ _('Edit') }}">
	              {{ _('Edit') }}
	            </a>
	            <a class="btn hdx-btn" 
	            	href="#confirm-del-member-div-{{member.name}}" 
	            	data-toggle="modal" title="{{ _('Delete') }}">
	            	{% block delete_button_text %}<img src="/images/actions/delete.png" alt=" {{ _('Download') }}" />{% endblock %}
	            </a>
         
	          {% set confirm_delete_message = _('Are you sure you want to delete this member?') %}
	          {% snippet 'snippets/confirmation_post.html', form_url=h.url_for(controller='organization', 
	          		action='member_delete', id=group_id, user=id), 
	          		body=confirm_delete_message, modal_div_id='confirm-del-member-div-'+member.name %}
	          </div>
	          {% snippet 'organization/snippets/edit_member.html', form_url=h.url_for(controller='organization', 
	          		action='member_new', id=group_id, user=id),
	          		user=member.name, role=role, roles=roles, modal_div_id='edit-member-div-'+member.name %}
		{% endif %}
	</div>
</li>