{% extends "package/snippets/base_actions_menu.html" %}

{% set panel_title = _('Share Org') %}
{% set title = organization.title %}

{% set base_type = 'group' %}
{% set base_title = 'organisation' %}

{% set membership = organization.group_message_info if 'group_message_info' in organization else c.org_meta.group_message_info %}
{% set group_topics = membership.data.group_topics %}
{% set hide_contact_contributor = true %}
{% set org_id = organization.id %}
{% set follow_id = org_id %}
{% set request_membership_flag = organization.request_membership or "true" %}

{% block user_actions %}
    {% if can_create_dataset %}
        <li>
            <a href="#" onclick="contributeAddDetails(null, 'org')">
                {{_('Add Dataset')}}
            </a>
        </li>
    {% endif %}
    {% if can_edit %}
        <li>
            {% link_for _('Edit'), controller='organization', action='edit', id=organization.name, class_='' %}
        </li>
    {% endif %}
    {% if request_membership and request_membership_flag == 'true' %}
        <li>
            <a href="#" class="" data-toggle="modal" data-target="#req-membership-div">
                {{ _("Request Membership") }}
            </a>
            {% snippet 'organization/snippets/req_membership_new.html',
                modal_div_id='req-membership-div', modal_div_class='',
                modal_submit_id='req-membership-popup-submit', form_action=h.url_for('ytp_request.new'),
                org_id=organization.id %}
        </li>
    {% endif %}
{% endblock %}}
