{#
Example:
	{% snippet 'organization/snippets/organization_preselector_item.html', id=id, name = name, description = description, role = role %}
	
#}
{% resource 'hdx_theme/hdx_clickable_div.js' %}
{% if has_add_dataset_rights %}
	{% set new_dataset_url = h.url_for(controller='package', 
  			action='new', organization_id=id) %}
{% else %}
	{% set modal_div_id = 'request-rights-'+name %}
{% endif %}

<div class="row paddingRowHack">
	<div class="span12 paddingLeftHack paddingRightHack big-org-selector-wrapper" 
		data-module='hdx_clickable_div' data-module-popup_id='{{ modal_div_id }}'
			data-module-url='{{ new_dataset_url }}' >
		<div class="org-selector-wrapper">
			<div class="org-selector-name">{{ display_name }}</div>
			<div class="org-selector-role">{{ _('Your role') }}: {{ role }}</div>
			<div class="org-selector-description">{{ description|truncate(150) }}</div>
		</div>
	</div>
</div>

<div>
{% if not has_add_dataset_rights %}
	{% set confirm_delete_message = _('Looks like you\'re not an editor or an admin of this organization, so you can\'t add a dataset. Click the button below to send a request to the admin to make you an editor and close this box.') %}
	{% snippet 'snippets/confirmation_post.html', 
			form_url=h.url_for('request_editing_rights',org_id=name, from='dataset_preselect'), 
			header = _('Oops!'), confirm_btn_label = _('Send a request to the admin'),
  			body=confirm_delete_message, modal_div_id=modal_div_id %}
 {% endif %}
 </div>