{#
Renders a media item for a organization. This should be used in a list.

organization - A organization dict.

Example:

    <ul class="media-grid">
      {% for organization in organizations %}
        {% snippet "organization/snippets/organization_item.html", organization=organization %}
      {% endfor %}
    </ul>
#}

{% set url = h.url_for(organization.type + '_read', action='read', id=organization.name, sort='metadata_modified desc') %}
{% set last_rev_id = h.get_last_revision_group(organization.id) %}
{% set res = h.get_last_modifier_user(last_rev_id, get_timestamp=True) %}
{% set last_user = res[0] %}
{% set updated_time = res[1] %}
{% set f_updated_time = h.render_datetime(updated_time) %}
{% set followers = h.get_group_followers(organization.id) %}
{% set members = h.get_group_members(organization.id) %}

<li class="list-items dataset-item">
    <div class="list-items dataset-content">
      {% block title %}
   		 <h3 class="list-items dataset-heading">
   		   <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}" >
    			<span>{{ _('{organization_name}').format(organization_name=organization.display_name) }}</span>
  		   </a>
   		 </h3>
  	{% endblock %}
      <div>
        <span class="sspBold16">
          {{ _('Updated by') }}
        </span>
        <span class="sspBold16 updatedNameColor">
          {{ h.hdx_linked_user(last_user) }}
        </span>
        - {{f_updated_time}}</div>
      {% block description %}
    	{% if organization.description %}
      		<div class="list-items content">{{ h.markdown_extract(organization.description, extract_length=80) }}</div>
    	{% else %}
      		<p class="empty">{{ _('This organization has no description') }}</p>
    	{% endif %}
	  {% endblock %}
	  
	  {% block role %}
	  	{% if organization.role %}
	  		<div class="list-items extra-info">{{ _('Your role') }}: {{ organization.role }}</div>
	  	{% endif %}
	  {% endblock %}
	  
	  {% block counters %}
	  <div class="list-items counter">
		  {% block datasets %}
			  {% if organization.packages %}
			    {% if organization.packages is number %}
			    	{% set num_of_pack = organization.packages %}
			    {% else %}
			    	{% set num_of_pack = organization.packages|length %}
			    {% endif %}
			   <span class="count">{{ num_of_pack }} {% if num_of_pack != 1 %}{{ _('Datasets') }}{% else %}{{ _('Dataset') }}{% endif %}</span>
			   {% else %}
			      <span class="count">{{ _('0 Datasets') }}</span>
			   {% endif %}
		  {% endblock %}
		-
		  {% block members %}
		   <span class="count">{{ members }} {% if members != 1 %}{{ _('Members') }}{% else %}{{ _('Member') }}{% endif %}</span>
		  {% endblock %}
		-
		  {% block followers %}
		   <span class="count">{{ followers }} {% if followers != 1 %}{{ _('Followers') }}{% else %}{{ _('Follower') }}{% endif %}</span>
		  {% endblock %}
	  </div>
	  {% endblock %}
    </div>
</li>
{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}
