{#
Example:

  {% snippet 'organization/snippets/req_membership.html', form_url=form_url, modal_div_id='req-membership-div', user=user %}

#}

{% import 'macros/form.html' as form %}

<form class="dataset-form form-horizontal" method='get' action="{{ form_url }}">
  <div id="{{ modal_div_id }}" class="modal hide hdx-modal" tabindex="-1" role="dialog" aria-labelledby="{{ modal_div_id }}-label" aria-hidden="true">
  	<div class="modal-header">
  		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
  		<h3 id="{{ modal_div_id }}-label">{{ _('Request Membership') }}</h3>
  	</div>
  	<div class="modal-body">
  		{% set format_attrs = {'style':'width: 350px;'} %}
  		{{ form.textarea('message', label=_('Message'), placeholder=_('Please add me to this organisation'), value=user, classes=['control-medium'], attrs=format_attrs) }}
  	</div>
  	<div class="modal-footer">
    	<button class="btn hdx-btn hdx-submit-btn">{{ _('Submit') }}</button>
  		<button class="btn hdx-btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</button>
  	</div>
  </div>
</form>