@import "_mixins";

.crises-menu {
  padding: 0;
  width: 250px;

  li.crises-group {
    text-transform: uppercase;
    color: @grayColor;
    .gothamBookFont(12px);
    padding: 10px 20px;
    border-bottom: 1px solid @extraLightGrayColor;

    a:hover {
      color: @defaultLinkColor;
    }

    a.archive {
      text-transform: uppercase;
      color: @grayColor;
      .gothamBookFont(12px);
      padding: 0px;
      &:hover{
        text-decoration: none;
      }
    }

    &:last-child{
      border-bottom: none;
    }

    ul {
      padding: 0;
      list-style: none;
      text-transform: none;
      .sourceSansProFont(400, 14px);
      li {
        padding-top: 5px;
        font-size: 12px;
        a {
          color: @blackColor;
          font-size: 14px;
          &:hover{
            text-decoration: none;
          }
        }
        .crises-datasets {
          line-height: 1;
        }
      }

    }
  }
}

