@import "_mixins";

//Used in mobile header also
.header-message {
  // Placeholder to be overridden by nginx on staging/dev servers
  //max-width: @bodySize;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .header-message-container {
    line-height: 1;
    font-size: 0;
    background-image: url("/images/empty.png");
    background-repeat: repeat-x;

    img.header-message-image {
      visibility: hidden;
    }
  }
}
