{#
Displays a list of datasets.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_list.html', packages=c.datasets, show_my_links=false %}

#}

{% resource 'hdx_theme/indicator' %}

{% if packages %}
  <ul class="hdx-bs3 list-items {{ list_class or 'dataset-list unstyled' }}">
    {% for package in packages %}
      {% if package.indicator and package.indicator == "1" %}
        {% snippet 'search/snippets/indicator_item.html', query=query, package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title, show_my_links=show_my_links, loop=loop, show_preview_on_first=show_preview_on_first %}
      {% else %}
      	{% snippet 'search/snippets/package_item.html', query=query, package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title, show_my_links=show_my_links, loop=loop %}
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}


