{% extends 'search/snippets/package_item.html' %}

{% set geolocated=true %}
{% set visualization=true %}

{% block package_item_content %}
  {{ super() }}
  {% if loop.index == 1 %}
    <div id="chart-container" data-module="hdx-indicator-graph" data-module-label="{{ package.title }}" data-module-name="{{ package.title }}" data-module-subchart="true">
    </div>
  {% endif %}
{% endblock %}

{% block preview_link %}
  <a data-module="hdx-indicator-graph" data-module-label="{{ package.title }}" data-module-name="{{ package.title }}"
     data-module-subchart="true" data-module-click_only="true" data-module-container="chart-container"
     data-module-parent_selector=".dataset-item" style="cursor: pointer;">Preview</a>
{% endblock %}

{% block follow_link %}
   {{ h.hdx_follow_link('dataset', package.id, "this indicator", "link-separator") }}
{% endblock %}


