{#
The snippet for showing the facets for a specific package search

Example:
  {% snippet 'search/snippets/package_search_facets.html', facet_list=facets  %}

#}

{% macro render_facet_list(items, ul_name, ul_class) %}
  <ul name="{{ ul_name }}" class="{{ ul_class }}">
    {% for option in items %}
      <li>
        <label class="facet">
        <input name="{{ option.category_key }}" value="{{ option.name }}" type="checkbox"
               {% if option.selected %}checked="checked"{% endif %}
               {% if option.get('items') %} class="parent-facet" {% endif %}
               {% if option.count == 0 and not option.selected %}disabled="disabled"{% endif %} />
          {% if option.category_key == 'ext_archived' %}<label class="label label-small label-new-feature">NEW</label>{% endif %}
          {{ option.display_name }}
          {% if option.explanation %}
            <a href="javascript:void(0)" title="{{ option.explanation }}" data-module="bs_tooltip"
               data-toggle="tooltip">[?]</a>
          {% endif %}
          {% if option.explanation_link %}
            <a href="{{ option.explanation_link }}" target="_blank">[{{ _('Learn more') }}]</a>
          {% endif %}
          <span class="item-count">[{{ option.count }}]</span>
          {% if option.get('items') %}
            {{ render_facet_list(option.get('items'), '', '') }}
          {% endif %}
        </label>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% for id in facet_list %}
    {% set facet = facet_list.get(id) %}
    <div class="filter-category">
        <div class="categ-title" data-value="{{ facet.get('display_name') | lower }}">
            {{ facet.get('display_name') }}: <i class="pull-right glyphicon glyphicon-minus"></i>
        </div>
        <div class="categ-content">
            <div class="categ-list {% if facet.show_everything %}show-always{% endif %}">
                <div class="categ-search">
                    <input type="text" ><i class="humanitarianicons-Search"></i>
                </div>
                {{ render_facet_list(facet.get('items'), id, 'categ-items') }}
            </div>
            {% if not facet.show_everything %}
            <div class="categ-actions">
                <div>
                    <span class="show-more"><span class="show-more-text" style="display: none;">Less</span><span class="show-more-text">More</span></span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <select name="{{id}}" style="display: none; width: 140px;" class="filter-item" title="" multiple="multiple">

    </select>
    <div name="{{id}}_initial_values" style="display: none;">
        {% for option in facet.get('items') %}
        <option value="{{option.name}}" count="{{option.count}}" {% if option.selected %}selected="selected"{% endif %}>{{option.display_name}}</option>
        {% endfor %}
    </div>
{% endfor %}
