{% extends "search/snippets/package_icons_base.html" %}

{% block other_icons %}
  {% if package.has_quickcharts %}
    <a href="{% url_for controller='package', action='search', ext_quickcharts=1 %}">
        <span class="icon-quickchart" title="{{ _('Dataset Containing Quick Charts') }}" data-module="bs_tooltip"
              data-module-placement="top" data-toggle="tooltip"></span>
    </a>
  {% endif %}
  {% if popular %}
    <span class="popular icon-fire" title="{{ _('Trending') }}" data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip" ></span>
  {% endif %}
{% endblock %}


{% block other_info %}
  {% if package.approx_total_downloads  %}
    <li class="label-icons"><span class="download-counts" title="{{ _('Total number of downloads') }}" data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip">{{ package.approx_total_downloads }}+ {{ _('Downloads') }} </span></li>
  {% endif %}

  {% if package.is_requestdata_type %}
    <li class="label-icons"><span class="download-counts">{{ _('This data is by request only') }}</span></li>
  {% elif package.type == 'dataset' and package.data_update_frequency %}
    <li class="label-icons">
      <span class="download-counts">{{ _('This dataset updates') }}: {{ h.hdx_get_frequency_by_value(package.data_update_frequency) }}</span>
      {%  if package.is_fresh %}
        <span class="icon-leaf fresh" title="{{ _('This dataset is up to date') }}" data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip" ></span>
        <a href="/faq#auto-faq-Metadata_and_Data_Quality-What_does_the_green_leaf_symbol_mean_-a" target="_blank" class="icon-questionmark freshness"></a>
      {% endif %}
    </li>
  {% endif %}
{% endblock %}
