{% extends "search/snippets/package_icons_base.html" %}

{% block other_info %}
  {% if package.is_requestdata_type %}
    <div class="label-icons">
      <span class="download-counts">{{ _('This data is by request only') }}</span>
    </div>
  {% endif %}

  {% snippet 'search/snippets/package_icons_cod.html', package=package, dataset_page=True %}

  {% if package.approx_total_downloads %}
    <div class="label-icons d-inline-block">
      {% set popular = package.pageviews_last_14_days and package.pageviews_last_14_days >= 50 %}
      {% if popular %}
        <span class="popular humanitarianicons-Trending me-1" title="{{ _('Trending') }}" data-module="bs_tooltip" data-module-placement="top" data-bs-toggle="tooltip"></span>
      {% endif %}
      <span class="download-counts" title="{{ _('Total number of downloads') }}" data-module="bs_tooltip" data-module-placement="top" data-bs-toggle="tooltip">
        {{ package.approx_total_downloads }}+ {{ _('Downloads') }}
      </span>
    </div>
  {% endif %}

  {% if package.page_list %}
    <div class="label-icons">
      <span class="dataset-page-list">
          Part of
        {% for page in package.page_list %}
          <a href="/{{ page.type }}/{{ page.name }}">{{ page.title }}</a>
        {% endfor %}
      </span>
    </div>
  {% endif %}

  {% if package.links_list %}
    {% for link in package.links_list %}
      <div class="label-icons">
      <span class="dataset-link-list">
            {% if link.label %}
              {{ link.label|replace("This dataset is part", "Part") }}
            {% else %}
              This dataset can be viewed in the
            {% endif %}
        <a href="{{ link.url }}"
           target="{% if link.newTab == True %}_blank{% else %}_self{% endif %}"> {{ link.title }} </a>
      </span>
      </div>
    {% endfor %}
  {% endif %}

  {#
  {% if package.dataseries_name %}

    <div class="label-icons">
      <span class="dataseries-info">{{ _('Part of the data series') }} <span class="dataseries-explanation"
                                                                             title="{{ _('A data series is a collection of datasets that has a shared topic usually provided by a single organization') }}"
                                                                             data-module="bs_tooltip"
                                                                             data-bs-toggle="tooltip">[?]</span>: <a
        href="{% url_for 'search', dataseries_name=package.dataseries_name %}" data-module="hdx_click_stopper"
        data-module-link_type="dataseries dataset page">{{ package.dataseries_name }}</a></span>
    </div>
   {% endif %}
  #}

  {% if package.subnational == '1' %}
    <div class="label-icons">
      <span class="dataset-subnational">{{ _('Sub-national') }}</span>
    </div>
  {% endif %}

{% endblock %}
