{#
The snippet for showing the facets for a specific package search

Example:
  {% snippet 'search/snippets/package_search_facets.html', facet_list=facets  %}

#}

{% macro render_facet_list(items, ul_name, ul_class) %}
  <ul name="{{ ul_name }}" class="{{ ul_class }}">
    {% for option in items %}
      <li>
        <label class="facet">
          {% if option.category_key == 'cod_level' and option.name=='ALL' %}
            {% set category_values=[] %}
            {% for categ in option['items'] %}
              {% do category_values.append(categ.name) %}
            {% endfor %}
          {% else %}
            {% set category_values=[option.name] %}
          {% endif %}

          {% set extra_args = {} %}
          {% for id in facet_list %}
            {% set param_values = [] %}
            {% set categkey_holder = {'key': 'KeyError'} %}
            {% set facet = facet_list.get(id) %}
            {% if facet.get('items') %}
              {% for fi in facet.get('items') %}
                {% if fi.get('selected') == True %}
                  {% set categkey = fi.get('category_key') %}
                  {% if categkey == 'cod_level' and fi.get('name')=='ALL' %}
                    {% set category_values=[] %}
                    {% for categ in fi['items'] %}
                      {% do param_values.append(categ.name) %}
                    {% endfor %}
                  {% else %}
                    {% do param_values.append(fi.get('name')) %}
                  {% endif %}

                  {% do categkey_holder.update({'key': fi.get('category_key')}) %}
                {% endif %}
              {% endfor %}
              {% if param_values|length > 0 %}
                {% do extra_args.update({categkey_holder.key: param_values}) %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% set url = request.path %}
          {% set param_values = values %}

          {% set existing_args = request.args.copy() %}
          {% set arg_q = existing_args.get('q', []) %}
          {% if arg_q %}
            {% do extra_args.update({'q': [arg_q]}) %}
          {% endif %}
          {% set arg_sort = existing_args.get('sort', []) %}
          {% if arg_sort %}
            {% do extra_args.update({'sort': [arg_sort]}) %}
          {% endif %}
          {% set arg_page = existing_args.get('ext_page_size', []) %}
          {% if arg_page %}
            {% do extra_args.update({'ext_page_size': [arg_page]}) %}
          {% endif %}
          
          <a class="facet-link" href="{% snippet 'snippets/create_filter_link.html', extra_args=extra_args, param=option.category_key, param_values=category_values, remove=option.selected %}">
          <input name="{{ option.category_key }}" value="{{ option.name }}" type="checkbox"
               {% if option.selected %}checked="checked"{% endif %}
               {% if option.get('items') %} class="parent-facet" {% endif %}
               {% if option.count == 0 and not option.selected %}disabled="disabled"{% endif %} />
          {% if option.category_key == 'ext_archived' %}<label class="label label-small label-new-feature">NEW</label>{% endif %}
          {{ option.display_name }}
          {% if option.explanation %}
            <a class="facet-option-explanation" href="javascript:void(0)" title="{{ option.explanation }}" data-module="bs_tooltip"
               data-bs-toggle="tooltip">[?]</a>
          {% endif %}
          {% if option.explanation_link %}
            <a href="{{ option.explanation_link }}" target="_blank">[{{ _('Learn more') }}]</a>
          {% endif %}
          <span class="item-count">[{{ option.count }}]</span>
          {% if option.get('items') %}
            {{ render_facet_list(option.get('items'), '', '') }}
          {% endif %}
        </a>
        </label>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% for id in facet_list %}
    {% set facet = facet_list.get(id) %}
    {% if facet.get('items') %}
      <div class="filter-category">
          <div class="categ-title" data-value="{{ facet.get('display_name') | lower }}">
              {% set tooltip = facet.get('tooltip') %}
              {{ facet.get('display_name') }}{% if tooltip %} <span title="{{ tooltip }}" data-module="bs_tooltip" data-bs-toggle="tooltip">[?]</span>{% endif %}: <i class="float-end fa fa-minus"></i>
          </div>
          <div class="categ-content">
              <div class="categ-list {% if facet.show_everything %}show-always{% endif %}">
                  <div class="categ-search">
                      <input type="text" ><i class="humanitarianicons-Search"></i>
                  </div>
                  {{ render_facet_list(facet.get('items'), id, 'categ-items') }}
              </div>
              {% if not facet.show_everything %}
              <div class="categ-actions">
                  <div>
                      <span class="show-more"><span class="show-more-text" style="display: none;">Less</span><span class="show-more-text">More</span></span>
                  </div>
              </div>
              {% endif %}
          </div>
      </div>
    {% endif %}

    <select name="{{id}}" style="display: none; width: 140px;" class="filter-item" title="" multiple="multiple">

    </select>
    <div name="{{id}}_initial_values" style="display: none;">
        {% for option in facet.get('items') %}
        <option value="{{option.name}}" count="{{option.count}}" {% if option.selected %}selected="selected"{% endif %}>{{option.display_name}}</option>
        {% endfor %}
    </div>
{% endfor %}
