{#
Displays a list of datasets.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

{% snippet 'snippets/package_list.html', packages=c.datasets, show_my_links=false %}

#}
{% resource 'hdx_theme/dataset-search' %}
{% resource 'hdx_theme/indicator' %}
{% resource 'hdx_theme/jquery.highlight' %}
{% resource 'hdx_theme/bs_tooltip.js' %}

{% set min_version = full_facet_info.get("filters_selected") or full_facet_info.get("query_selected") %}
{% set searchValue = request.params.get('q') if request.params.get('q') else '' %}

<div style="display: none;" id="analytics-number-of-results">{{c.page.item_count}}</div>

{% if packages %}
<form id="dataset-filter-form" style="display: inline;">
    <div id="base-filter-location" style="display: none;">{{other_links.get('current_page_url')}}</div>
    <div id="dataset-filter-start" class="list-header {% if display_min and not min_version %}list-header-min{% endif %}">
        <span class="mL15 list-header-title">{{ _("Data") }} [{{ c.batch_total_items or c.page.item_count}}]</span>
          <span class="mL30">

              <input id="headerSearch" name="q" class="header-search" type="text" placeholder="Search all datasets ..." value="{{searchValue}}">
          </span>
          <span class="mL45 list-header-showall filter-pagination">
              Show filter:

              <span>
                <span class="checkbox-slider" style="display: inline-block; top: 5px; left: -7px;">
                  <input id="show-filter-toggle" type="checkbox" class="checkbox-slider-checkbox" checked="checked"/>
                  <label class="checkbox-slider-label" for="show-filter-toggle">
                    <span class="checkbox-slider-inner"></span>
                    <span class="checkbox-slider-switch"></span>
                  </label>

                </span>

              </span>
          </span>

          {% set limits = [25, 50, 100] %}
          {% set limit_param = request.params.get('ext_page_size') %}
          {% set limit_selected = limit_param if limit_param else 25 %}
          <span class="mL45 list-header-showall filter-pagination">
              Show
              {% for value in limits %}
                  <span><input id="ext_page_size_{{value}}" type="radio" name="ext_page_size" value="{{value}}" {% if limit_selected|int == value %}checked{% endif %}><label for="ext_page_size_{{value}}">{{value}}</label></span>
              {% endfor %}
          </span>


        {% set sorting = [
        (_('Last Modified'), 'metadata_modified desc'),
        (_('Relevance'), 'score desc, metadata_modified desc'),
        (_('Name Ascending'), 'title_case_insensitive asc'),
        (_('Name Descending'), 'title_case_insensitive desc'),
        (_('Trending'), 'pageviews_last_14_days desc'),
        (_('Most Downloads'), 'total_res_downloads desc') ]
        %}
        {% set sort_param = c.sort_by_selected %}
        {% set sorting_selected = sort_param if sort_param else 'score desc, metadata_modified desc' %}
        <div class="form-select control-group control-order-by pull-right">
            <label for="field-order-by" class="uppercase">{{ _('Order by') }}</label>
            <div class="dropdown orderDropdown" data-module-additional="#dataset-filter-start">
                <a id="field-order-by" class="dropdown-toggle sspBold16" data-toggle="dropdown" style="background-color: transparent;">
                    {% for label, value in sorting %}
                        {% if sorting_selected == value %}
                            <input id="header-search-sort_initial_values" type="hidden" style="display: none" value="{{value}}" label="{{label}}" />
                            {% if not c.used_default_sort_by %}<input id="header-search-sort" name="sort" type="hidden" value="{{value}}"/>{% endif %}
                            <span class="dropdown-toggle-text">
                                {% if label == 'Trending' %}
                                    <span title="{{ _('Trending is determined by page views last 14 days') }}"  data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip" >
                                       {{ label }}
                                    </span>
                                {% else %}
                                    {{ label }}
                                {% endif %}
                            </span>
                        {% endif %}
                    {% endfor %}
                    <b class="caret" style="vertical-align: baseline;"></b>
                </a>
                <ul class="dropdown-menu dropdown-inverse dropdown-menu-right" role="menu" style="max-height: 241px; overflow-y: auto;">
                    {% for label, value in sorting %}
                        {% if label and value %}
                            <li><a href="#" tabindex="-1" val="{{ value }}">{{ label }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <form id="search-page-filters-form">
    <div id="search-page-filters" class="col-xs-3">
        <div class="filter-title">
            Refine your search: <a href="{{other_links.get('current_page_url')}}" class="filter-clear pull-right">Clear all</a>
        </div>

        <div class="filter-category">
            <div class="categ-title" data-value="featured">
                Featured: <i class="pull-right glyphicon glyphicon-minus"></i>
            </div>
            <div class="categ-content">
                <div class="categ-list show-always">
                    <ul class="categ-items">
                        {% set ext_cod = request.params.get('ext_cod') %}
                        <li><label><input type="checkbox" name="ext_cod" value="1"  {% if ext_cod == "1" %} checked="checked" {% endif %} {% if full_facet_info.get("num_of_cods") == 0 %} disabled="disabled" {% endif %}> CODs <span class="item-count">[{{ full_facet_info.get("num_of_cods") }}]</span></label></li>
                        {% set ext_subnational = request.params.get('ext_subnational') %}
                        <li><label><input type="checkbox" name="ext_subnational" value="1" {% if ext_subnational == "1" %} checked="checked" {% endif %} {% if full_facet_info.get("num_of_subnational") == 0 %} disabled="disabled" {% endif %}> Sub-national <span class="item-count">[{{ full_facet_info.get("num_of_subnational") }}]</span></label></li>
                        {% set ext_geodata = request.params.get('ext_geodata') %}
                        <li><label><input type="checkbox" name="ext_geodata" value="1" {% if ext_geodata == "1" %} checked="checked" {% endif %} {% if full_facet_info.get("num_of_geodata") == 0 %} disabled="disabled" {% endif %}> Geodata <span class="item-count">[{{ full_facet_info.get("num_of_geodata") }}]</span></label></li>
                        {% set ext_requestdata = request.params.get('ext_requestdata') %}
                        <li><label><input type="checkbox" name="ext_requestdata" value="1" {% if ext_requestdata == "1" %} checked="checked" {% endif %} {% if full_facet_info.get("num_of_requestdata") == 0 %} disabled="disabled" {% endif %}> Datasets on request <span class="item-count">[{{ full_facet_info.get("num_of_requestdata") }}]</span></label></li>
                        {% set ext_quickcharts = request.params.get('ext_quickcharts') %}
                        <li><label><input type="checkbox" value="1" name="ext_quickcharts" {% if ext_quickcharts == "1" %} checked="checked" {% endif %} {% if full_facet_info.get("num_of_quickcharts") == 0 %} disabled="disabled" {% endif %}> Datasets with Quick Charts <span class="item-count">[{{ full_facet_info.get("num_of_quickcharts") }}]</span></label></li>
                        {% set ext_showcases = request.params.get('ext_showcases') %}
                        <li><label><input type="checkbox" name="ext_showcases" value="1" {% if ext_showcases == "1" %} checked="checked" {% endif %} {% if full_facet_info.get("num_of_showcases") == 0 %} disabled="disabled" {% endif %}> Datasets with Showcase <span class="item-count">[{{ full_facet_info.get("num_of_showcases") }}]</span></label></li>
                        {% set ext_hxl = request.params.get('ext_hxl') %}
                        <li><label><input type="checkbox" name="ext_hxl" value="1" {% if ext_hxl == "1" %} checked="checked" {% endif %} {% if full_facet_info.get("num_of_hxl") == 0 %} disabled="disabled" {% endif %}> Datasets with HXL tags <span class="item-count">[{{ full_facet_info.get("num_of_hxl") }}]</span></label></li>
                    </ul>
                </div>
            </div>
        </div>

        {% set facet_list = full_facet_info.get('facets') %}
        {% for id in facet_list %}
            {% set facet = facet_list.get(id) %}
            <div class="filter-category">
                <div class="categ-title" data-value="{{ facet.get('display_name') | lower }}">
                    {{ facet.get('display_name') }}: <i class="pull-right glyphicon glyphicon-minus"></i>
                </div>
                <div class="categ-content">
                    <div class="categ-list">
                        <div class="categ-search">
                            <input type="text" ><i class="glyphicon glyphicon-search"></i>
                        </div>
                        <ul name="{{id}}" class="categ-items">
                            {% for option in facet.get('items') %}
                                <li> <label> <input name="{{id}}" value="{{option.name}}" type="checkbox" {% if option.selected %}checked="checked"{% endif %}> {{option.display_name}} <span class="item-count">[{{option.count}}]</span></label> </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="categ-actions">
                        <div>
                            <span class="show-more"><span class="show-more-text" style="display: none;">Less</span><span class="show-more-text">More</span></span>
                        </div>
                    </div>
                </div>
            </div>

            <select name="{{id}}" style="display: none; width: 140px;" class="filter-item" title="" multiple="multiple">

            </select>
            <div name="{{id}}_initial_values" style="display: none;">
                {% for option in facet.get('items') %}
                <option value="{{option.name}}" count="{{option.count}}" {% if option.selected %}selected="selected"{% endif %}>{{option.display_name}}</option>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    </form>
    <div id="search-page-results" class="col-xs-9">
        <div class="search-list">
            <ul class="hdx-bs3 list-items {{ list_class or 'dataset-list unstyled' }}">
                {% for package in packages %}
                    {% if package.indicator and package.indicator == "1" %}
                        {% snippet 'search/snippets/indicator_item.html', query=query, package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title, show_my_links=show_my_links, loop=loop, show_preview_on_first=show_preview_on_first %}
                    {% else %}
                        {% snippet 'search/snippets/package_item.html', query=query, package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title, show_my_links=show_my_links, show_edit_link=show_edit_link, loop=loop %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% else %}
    <div class="list-items search-form">
        {% set src_msg = 'for \"'+ searchValue +'\"' if searchValue else ''  %}
        <form id="dataset-filter-form" style="display: none;">
            <input name="q" type="hidden" value="{{searchValue}}">
        </form>
        <h2>Sorry no datasets found {{src_msg}}</h2>
    </div>
{% endif %}

