{% extends "search/snippets/search_form.html" %}

{% block search_title %}
	  <h2 class="mTop35">{{ _('All Data') }}</h2>
{% endblock %}

{% block content_primary_nav %}
	<li class="mx-tab-item-all {{ 'active' if not tab or tab == 'all' }}">
		<a href="{{ other_links.all }}">{{_('All')}} [{{indicator_counts + dataset_counts}}]</a>
	</li>
	<li class="mx-tab-item-indicators {{ 'active' if not tab or tab == 'indicators' }}">
		<a href="{{ other_links.indicators }}">{{_('Indicators')}} [{{indicator_counts}}]</a>
	</li>
	<li class="mx-tab-item-datasets {{ 'active' if not tab or tab == 'datasets' }}">
		<a href="{{ other_links.datasets }}">{{_('Datasets')}} [{{dataset_counts}}]</a>
	</li>
  
{% endblock %}