@import "../components/_mixins";

.header-nav-search() {
  .header-nav-search {
    display: flex;
    align-items: center;
    height: @headerNavHeight + 2*@headerNavBorderHeight;
    margin-left: 15px;
    margin-bottom: -3px;

    @media (max-width: @cut-point-mobile-l) {
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: @cut-point-mobile-s) {
      width: 200px;
      margin-left: unset;
      margin-right: unset;
    }
    border-bottom: @headerNavBorderHeight solid @headerNavSearchBorderColor;

    .header-search-form{
      .header-search-group {
        width: 330px;
        @media (max-width: @cut-point-laptop-m) {
          width: 270px;
        }
        @media (max-width: @cut-point-mobile-m) {
          width: 100%;
        }
      }
      .input-prepend {
        display: flex;
      }
      .humanitarianicons-Search{
        margin: 0 20px;
        color: @grayColor;
        font-size: 20px;
        line-height: 28px;
        @media (max-width: @cut-point-mobile-l) {
          margin: 0 10px;
        }
      }

      .filter-icon{
        //margin-right: 20px;
        visibility: hidden;

        color: @blueColor;
        font-size: 20px;

        cursor: pointer;
      }

      input, input:focus {
        border: none;
        text-shadow: none;
        box-shadow: none;
        transition: none;
        //width: 224px;
        margin: 0;
        padding: 0;
        height: 28px;
        background: transparent;
        width: 100%;

        .sourceSansProFont(400, 18px);
        line-height: 28px;
        outline: none;
        color: @searchTextColor;
      }

      input::-webkit-input-placeholder, input:-ms-input-placeholder{
        .searchPlaceholderStyle;
      }

      input:-moz-placeholder, input::-moz-placeholder{ //Firefox
        .searchPlaceholderStyle;
        opacity: 1;
      }
    }
  }
}
