.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
/* Button style */
.btn {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0;
  background-image: none;
  text-shadow: none;
  border: 1px solid inherit;
  background-color: #888888;
  color: #fff;
}
.btn ~ .btn {
  margin-left: 15px;
}
.btn:hover,
.btn:focus,
.btn.active {
  background-color: #888888;
  border-color: #888888;
  opacity: 0.7;
  box-shadow: none;
  color: #fff;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0;
  background-position: inherit;
}
.btn.hdx-btn.org-btn {
  min-width: 100px;
  margin-left: 0;
  background-color: #007CE0;
  color: #fff;
}
.btn-inverted {
  color: #888888;
  background-color: #fff;
  border: 1px solid #cccccc;
  box-shadow: none;
}
.btn-inverted:hover,
.btn-inverted:focus {
  background-color: #fff;
  opacity: 0.7;
  color: #888888;
}
.btn-demo {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 10px;
  margin-right: 20px;
  background: none;
  box-shadow: none;
}
.btn-primary {
  background-color: #007CE0;
  color: #fff;
}
.btn-danger {
  background-color: #f2645a;
}
.btn-empty,
.btn-empty-black {
  background: none;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  width: auto;
  color: #007CE0;
}
.btn-empty:hover,
.btn-empty-black:hover,
.btn-empty:focus,
.btn-empty-black:focus {
  color: #007CE0;
  background: none;
}
.btn-empty-black {
  color: #000;
}
.btn-empty-black:hover,
.btn-empty-black:focus {
  color: #000;
}
.btn-blue-on-white,
.btn-blue-on-white:hover,
.btn-blue-on-white:focus {
  color: #007CE0;
  background-color: #fff;
}
.resource-item .hdx-btn-group {
  position: absolute;
  top: 14px;
  right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.btn.hdx-btn.resource-btn {
  background-color: #888888;
  color: white;
  border: 0;
  line-height: 35px;
  margin-left: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 0 20px;
}
.btn.hdx-btn.resource-btn.resource-icon-btn {
  width: 35px;
  padding: 0;
}
.btn.hdx-btn.resource-icon-btn img {
  width: 14px;
  margin-bottom: 5px;
}
/* END Button style*/
