@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('/fonts/Gotham_OTF/Gotham-Bold.otf');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('/fonts/Gotham_OTF/Gotham-Book.otf');
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('/fonts/Gotham_OTF/Gotham-Light.otf');
}
@font-face {
  font-family: 'Gotham-Thin';
  src: url('/fonts/Gotham_OTF/Gotham-Thin.otf');
}
@font-face {
  font-family: 'Gotham-Black';
  src: url('/fonts/Gotham_OTF/Gotham-Black.otf');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('/fonts/Gotham_OTF/Gotham-Medium.otf');
}
