/* Order DropDown style */
.control-order-by {
  float: right;
  height: inherit;
}
.control-order-by label {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #888888;
  letter-spacing: 0.03em;
  line-height: 20px;
}
.control-order-by .orderDropdown {
  display: inline;
}
.control-order-by .orderDropdown .dropdown-toggle {
  background-color: #fff;
  border: none;
  color: #007CE0;
  text-align: left;
  margin-top: -4px;
  padding: 0;
  font-size: 14px;
}
.control-order-by .orderDropdown .dropdown-toggle:hover,
.control-order-by .orderDropdown .dropdown-toggle:focus {
  color: #00447a;
}
.control-order-by .orderDropdown .dropdown-toggle-text {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #007CE0;
  letter-spacing: 0.03em;
}
.control-order-by .orderDropdown .dropdown-toggle-text:hover,
.control-order-by .orderDropdown .dropdown-toggle-text:focus {
  color: #00447a;
}
/* END DropDown style */
/* Items per page style - based on orderDropdown */
.control-items-per-page.control-order-by {
  padding-right: 20px;
}
.control-items-per-page.control-order-by label {
  margin-right: 5px;
}
.control-items-per-page.control-order-by .dropdown .dropdown-menu {
  min-width: initial;
}
.control-items-per-page.control-order-by .dropdown .dropdown-menu li {
  line-height: 20px;
}
.control-items-per-page.control-order-by .dropdown .dropdown-menu li:hover,
.control-items-per-page.control-order-by .dropdown .dropdown-menu li:active {
  background-color: #f5f5f5;
}
.control-items-per-page.control-order-by .dropdown .dropdown-menu li input[type="radio"] {
  visibility: hidden;
  position: absolute;
}
.control-items-per-page.control-order-by .dropdown .dropdown-menu li label {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  font-size: 14px;
  padding: 3px 15px;
  text-align: right;
  width: 90%;
}
/* END - Items per page  style */
