{% extends "page.html" %}

{% block subtitle %}{{ _("Explorer") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Explorer'), controller='ckanext.hdx_theme.controllers.explorer:ExplorerController', action='show') }}</li>
{% endblock %}

{% block pre_primary %}

{% endblock %}

{% block primary %}
    <iframe src="{{data.url}}" frameborder="0" width="{{data.width}}" height="{{data.height}}"></iframe>
{% endblock %}

{% block secondary %}

{% endblock %}


{%- block styles %}
    {{ super() }}
{% endblock %}