/* Default link style */
a,
.dataset-heading a,
a.test {
  color: #007CE0;
  text-decoration: none;
}
a:hover,
.dataset-heading a:hover,
a.test:hover,
a:focus,
.dataset-heading a:focus,
a.test:focus {
  color: #00447a;
  text-decoration: none;
}
/* END Default link style */
/* Body Background */
body {
  background-size: cover;
  background: #1ebfb3;
  min-width: 1260px;
  color: #888888;
  font-family: 'Source Sans Pro', sans-serif;
}
/* END Body Background */
h1 {
  font-size: 28px;
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h1,
h2,
h3,
h4 {
  line-height: 1.5;
}
h1 small,
h2 small,
h3 small,
h4 small {
  font-size: 14px;
}
/* Style Caret */
.caret {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #007CE0;
}
.dropup .caret {
  border-bottom: 9px solid #007CE0;
}
/* END Style Caret */
/* Change the default style for ul items */
ul.hdx-bs3 {
  padding-left: 0;
  list-style-type: none;
}
/* Style pagination */
.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 45px;
}
.pagination > li:first-child a,
.pagination > li:last-child a {
  border-radius: 0;
}
/* END Style pagination */
/* END Change the default style for ul items */
/* Actions button list */
.actions li {
  display: inline-block;
}
/* END - Actions button list */
