{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/other_breadcrumb_item.html", title=_('About'), controller='home', action='about', position=2 %}
  {% snippet "snippets/active_breadcrumb_item.html", title=title, position=3 %}

{% endblock %}

{% block primary %}
<div class="paddingRowHack whiteBackground">
    <div class="paddingLeftHack paddingRightHack">
        {{ html | safe }}
    </div>
</div>
{% endblock %}

{% block secondary %}{% endblock %}
