{% extends "page.html" %}
{% block subtitle %}{{ _('About') }}{% endblock %}
{% block breadcrumb_content %}
  <li class="active">{% link_for _('About'), controller='home', action='about' %}</li>
{% endblock %}


{% block primary %}
  <div class="paddingRowHack">
    <div class="paddingLeftHack paddingRightHack pTopBottom80">
      <div class="row" style="text-align: center">
        <div class="whatIsHDX">What is <strong>HDX?</strong></div>
      </div>
      <div class="row hdxAbout mTop35">
        <div class="offset3 span6 center">
          {{ _('The goal of the Humanitarian Data Exchange (HDX) is to make humanitarian data easy to find and use for analysis. We are working on three elements that will eventually combine into an integrated data platform.') }}
        </div>
      </div>
      <div class="row hdxAbout mTop35">
        <div class="offset3 span6 center" style="min-height: 300px;">
          <iframe width="560" height="315" src="//www.youtube.com/embed/hCVyiZhYb4M" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row roundImages mTop35">
        <div class="offset1andHalf span3">
          <img src="/images/aboutpage/ocha_about_repository.png" />
        </div>
        <div class="span3">
          <img src="/images/aboutpage/ocha_about_analytics.png" />
        </div>
        <div class="span3">
          <img src="/images/aboutpage/ocha_about_standards.png" />
        </div>
      </div>
      <div class="row threeSectionTitle mTop35">
        <div class="offset1andHalf span3">
          <p>
            {{ _("Repository") }}
          </p>
        </div>
        <div class="span3">
          <p>
            {{ _("Analytics") }}
          </p>
        </div>
        <div class="span3">
          <p>
            {{ _("Standards") }}
          </p>
        </div>
      </div>
      <div class="row styleNo5 mTop35">
        <div class="offset1andHalf span3">
          <p>
            {{ _('The HDX repository, where data providers can upload their raw data spreadsheets for others to find and use.') }}
          </p>
        </div>
        <div class="span3">
          <p>
            {{ _('HDX analytics, a database of high-value data that can be compared across countries and crises, with tools for analysis and visualisation.') }}
          </p>
        </div>
        <div class="span3">
          <p>
            {{ _("Standards to help share humanitarian data through the use of a consensus") }} <a href="http://docs.hdx.rwlabs.org/hxl/">{{_('Humanitarian Exchange Language')}}.</a>
          </p>
        </div>
      </div>
    </div>

    <div class="paddingLeftHack paddingRightHack pTopBottom80" style="background-color: rgb(54,54,54);">
      <div class="row center" style="text-align: center">
        <div class="systemPrinciple">System principles</div>
      </div>
      <div class="row styleNo5 mTop35">
        <div class="center">
          <p class="white">{{ _("We are designing the HDX system with the following principles in mind:") }}</p>
        </div>
      </div>
      <div class="row mTop35">
        <div class="offset1 span10">
          <div class="row">
            <div class="span5">
              <div class="row">
                <div class="span5">
                  <p class="gothamBold20 white">
                    {{ _("Aggregation, not creation") }}
                  </p>
                </div>
              </div>
              <div class="row styleNo5">
                <div class="span5">
                  <p class="white">
                    {{ _("HDX will aggregate data that already exists. We are not working on primary data collection or the creation of new indicators.") }}
                  </p>
                </div>
              </div>
            </div>
            <div class="span5">
              <div class="row">
                <div class="span5">
                  <p class="gothamBold20 white">
                    {{ _("Open data") }}
                  </p>
                </div>
              </div>
              <div class="row styleNo5">
                <div class="span5">
                  <p class="white">
                    {{ _("HDX will provide technical support for (a) sharing any data, and (b) allowing data providers to decide not to share some data for privacy, security or ethical reasons. Read our ") }}<a href="/about/terms">{{ _("Terms of Service") }}</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mTop35">
            <div class="span5">
              <div class="row">
                <div class="span5">
                  <p class="gothamBold20 white">
                    {{ _("Progressive data enhancement") }}
                  </p>
                </div>
              </div>
              <div class="row styleNo5">
                <div class="span5">
                  <p class="white">
                    {{ _('As selected high-value data moves from the dataset repository into the curated analytic database, we will take it through a quality-review process to ensure that it is sourced, trusted, and can be combined and compared with data from other sources.') }}
                  </p>
                </div>
              </div>
            </div>
            <div class="span5">
              <div class="row">
                <div class="span5">
                  <p class="gothamBold20 white">
                    {{ _("Open technologies") }}
                  </p>
                </div>
              </div>
              <div class="row styleNo5">
                <div class="span5">
                  <p class="white">
                    {{ _("HDX will use open-source, open content, and open data as often as possible to reduce costs and in the spirit of transparency. We are using an open-source software called ") }}<a href="http://ckan.org/">{{ _("CKAN") }}</a>{{ _(" for the dataset repository. We partner with ")}}<a href="https://scraperwiki.com/">{{_("ScraperWiki")}}</a>{{_(" for data transformation and operations support. You can find all of our code on ") }}<a href="https://github.com/OCHA-DAP">{{ _("GitHub") }}</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="paddingLeftHack paddingRightHack pTopBottom80">
      <div class="row center" style="text-align: center">
        <img src="/images/aboutpage/hdx-system-diagram.png" />
      </div>
    </div>

    <div class="paddingLeftHack paddingRightHack pTopBottom80" style="background-color: #eeeeee;">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="offset1 span2 gothamBold30 black">
              {{ _("The Plan") }}
            </div>
            <div class="span9 styleNo5">
              <img src="/images/aboutpage/projectPlan.png"  style="max-width: 97%"/>
              <p class="mTop35">
               {{ _('The plan for 2014 is to create a place where users can easily find humanitarian data and understand the data\'s source, collection methodology, and license for reuse. We will be working with three countries')}} - <strong>{{_('Colombia')}}</strong>,<strong> {{_('Kenya')}}</strong>{{ _('(for Eastern Africa) and ') }}<strong>Yemen</strong> {{_('- to introduce the platform to partners and to integrate local systems.')}}
              </p>
              <p class="mTop35">
               {{ _('Our initial public beta will allow users to find and share data through the HDX repository. We will continue to build on this foundation into 2015, eventually adding functionality for data visualization and custom analytics.')}}
              </p>
              <p class="mTop35">
                {{ _('The HDX project is ambitious, but it presents an excellent opportunity to change the way humanitarians share, access and use data, with positive implications for those who need assistance. We want to ensure that users are at the centre of our design process, so please join the conversation on our ') }}<a href="http://docs.hdx.rwlabs.org/blog/">blog</a>, {{_('follow us on')}}  <a href="http://twitter.com/humdata">twitter</a>  {{_('and send us')}} <a href="mailto:hdx@un.org">feedback</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/about.css" />
{% endblock %}

{% block secondary %}{% endblock %}

