{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary %}
  {#
  <article class="module">
    <div class="module-content">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
          <h1 class="page-heading">{{ _('About') }}</h1>
          {% snippet 'home/snippets/about_text.html' %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
  #}

<article class="module">
	<div class="tabbable hdx-tabbable">
	<header class="module-content page-header">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab" class="hdx-tab-button">{{ _('What is HDX ?') }}</a></li>
		<li><a href="#tab2" data-toggle="tab" class="hdx-tab-button">{{ _('Data Licenses') }}</a></li>
		<li><a href="#tab3" data-toggle="tab" class="hdx-tab-button">{{ _('Terms of Service') }}</a></li>
	</ul>
	</header>
	<div class="tab-content visible-tab-content">
		<div class="tab-pane active" id="tab1">
			{% snippet 'home/snippets/hdx_what_is.html' %}
		</div>
		<div class="tab-pane" id="tab2">
			{% snippet 'home/snippets/hdx_licenses.html' %}
		</div>
		<div class="tab-pane" id="tab3">
			{% snippet 'home/snippets/hdx_terms_of_service.html' %}
		</div>
	</div>
	</div>
</article>
    

{% endblock %}

{% block secondary %}{% endblock %}
