{% extends "page_light.html" %}

{% block styles %}
  {{ super() }}
  {% asset 'hdx_theme/homepage-qa-process-styles' %}
{% endblock %}

{% block subtitle %}{{ _('Quality Assurance Process') }}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "snippets/other_breadcrumb_item.html", title=_('About'), controller='home', action='about', position=2 %}
  {% snippet "snippets/active_breadcrumb_item.html", title=title, position=3 %}

{% endblock %}

{% block header_core %}
  {% set page_has_desktop_version = False %}
  {% set page_has_mobile_version = False  %}
  {% snippet "header-mobile.html", page_has_desktop_version=page_has_desktop_version, page_has_mobile_version=page_has_mobile_version %}
{% endblock %}

{% block content %}
  <div class="about-page-light">
    <div class="container">
      {% snippet 'home/snippets/qa-process.html' %}
    </div>
  </div>
{% endblock %}

{% block secondary %}{% endblock %}

{%- block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/vendor-select2-js' %}
{% endblock -%}
