{% extends "page.html" %}

{% set carouselItems = h.hdx_get_carousel_list() %}
{% set page_subtitle = data.page_subtitle if data and data.page_subtitle else _("Welcome") %}

{% block flash %}
  {# eat the flash messages so they don't remain in the session #}
  {% set flash_messages = h.flash.pop_messages() %}
{% endblock %}


{% block subtitle %}{{ page_subtitle }}{% endblock %}

{% block maintag %}{% endblock %}

{% block bodytag %}{{ super() }} class="home"{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}

{% if (data and data.current_step == 'hdx_onboarding_details') %}
  {{ h.snippet('widget/onboarding/register.html', id="registerPopup", user_id=data.user_id, email=data.email) }}
{% endif %}

<div class="homepage-main">
  <div class="homepage-background">
    <div class="container">
      <div class="row blankRow">
      </div>
      <div class="row">
        <div class="col-xs-6 leftContent">
          <div class="row blankRow">
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h1>
                {{ _("The Humanitarian") }}<br>
                {{ _("Data Exchange") }}
              </h1>
              <h3>
                {{ _("Find, share and use humanitarian data all in one place") }}
              </h3>
              <a data-module="hdx_click_stopper" data-module-link_type="learn more faq" href="/faq" class="btn btn-faq">{{_("LEARN MORE")}}</a>
              <!--<p class="hdxDescription">-->
                <!--{#-->
                <!--{{ _("This is an early version of the HDX Repository. Initially, you will be able to find-->
                      <!--global datasets relevant to humanitarian work as well as local datasets from our-->
                      <!--three pilot locations - Colombia, Kenya and Yemen. You can also create an-->
                      <!--account and add your own data to the repository to share privately or publicly. -->
                      <!--Please have a look around and send us your feedback!") }}-->
                      <!--#}-->
              <!--</p>-->
            </div>
          </div>




        </div>
        <div class="col-xs-6 rightContent">
          <div class="row">
            <div class="col-xs-offset-2 col-xs-10">
              <div class="searchBox">
                <div class="searchHeader searchContent">
                  <p>{{ _("Find data") }}</p>
                </div>

                <div class="firstSearch">
                  {{ self.home_search() }}
                  <div>
                    <p class="exampleSearch">
                      {{ _("Trending:") }}
                      <!--
                      <a href="{{ h.url_for('read_crisis', id='elnino') }}">{{ _('El Nino') }}</a>,

                      -->
                      <a data-module="hdx_click_stopper" data-module-link_type="trending topic" href="/search?tags=hurricanematthew&sort=metadata_modified+desc">{{ _('Hurricane Matthew') }}</a>,
                      <a data-module="hdx_click_stopper" data-module-link_type="trending topic" href="{{ h.url_for(controller='organization', action='read', id='ocha-haiti', sort='metadata_modified desc') }}">{{ _("OCHA Haiti") }}</a>,
                      <a data-module="hdx_click_stopper" data-module-link_type="trending topic" href="/search?q=Ebola">{{ _('Ebola') }}</a>,
                      <a data-module="hdx_click_stopper" data-module-link_type="trending topic" href="{{ h.url_for(controller='organization', action='read', id='wfp', sort='metadata_modified desc') }}">{{ _("WFP") }}</a>,
                      <a data-module="hdx_click_stopper" data-module-link_type="trending topic" href="{{ h.url_for(controller='organization', action='read', id='ocha-ethiopia', sort='metadata_modified desc') }}">{{ _("OCHA Ethiopia") }}</a>
                    </p>
                  </div>
                </div>
                <div class="countRow">
                  <div class="row">
                  <div class="col-xs-4">
                    <div class="row">
                      <div class="col-xs-12 itemCount">
                        <a href="{% url_for 'simple_search', sort='metadata_modified desc' %}"
                           data-module="count hdx_click_stopper" data-module-link_type="find data box"
                           data-url="{% url_for controller='ckanext.hdx_theme.helpers.count:CountController', action='dataset' %}">
                          0
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div id="datasets-count" class="col-xs-12 itemName">
                        {{ _("Datasets") }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="row">
                      <div class="col-xs-12 itemCount">
                        <a href="{% url_for 'group_index' %}"
                           data-module="count hdx_click_stopper" data-module-link_type="find data box"
                           data-url="{% url_for controller='ckanext.hdx_theme.helpers.count:CountController', action='country' %}">
                          0
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 itemName">
                        {{ _("Locations") }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="row">
                      <div class="col-xs-12 itemCount">
                        <a href="#"
                           data-module="count hdx_click_stopper" data-module-link_type="find data box"
                           data-url="{% url_for controller='ckanext.hdx_theme.helpers.count:CountController', action='source' %}">
                          0
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 itemName">
                        {{ _("Sources") }}
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

    {#
    IN ORDER TO RE-ENABLE THE TRENDING BANNER warning-bar.js AND warning-bar.css/less NEEDS TO BE INCLUDED
    BACK IN THE homepage BUNDLE IN resource.config
    #}
    <div class="hdx-warning">
        <div class="hdx-warning-text">
            <a data-module="hdx_click_stopper" data-module-link_type="crisis bar" href="/search?tags=hurricanematthew&sort=metadata_modified+desc">
                Trending: <span class="hdx-warning-text-important">Hurricane Matthew</span> &raquo;
            </a>
        </div>
    </div>

<!-- MOBILE CAROUSEL START-->
<div id="mobileCarousel" class="mobile-carousel carousel slide" data-ride="carousel" data-interval="false">
    <div class="mobile-carousel-inner" role="listbox">
        {% for item in carouselItems %}
          <div class="item">
              <div class="graphic">
                  {% set link_targe = "_blank" if item.embed else "_self" %}
                    <a href="{{ item.url }}" target="{{ link_targe }}" data-module="hdx_click_stopper" data-module-link_type="carousel">
                      <img src="{{ item.graphic }}">
                    </a>
              </div>
              <a href="{{ item.url }}" >
                <div class="carousel-caption">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>
              </a>
          </div>
        {% endfor %}

    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
    </ol>
</div>
<!--  MOBILE CAROUSEL END -->


  <div id="homepage-carousel" class="carousel slide" data-ride="carousel" data-interval="20000">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        {% for item in carouselItems %}
          {% if (loop.index - 1) is divisibleby 4 %}
            <div class="item {% if (loop.index - 1) == 0 %}active{% endif %}">
              <div class="item-center">
          {% endif %}
                <div class="sub-item">
                  <div class="sub-item-image">
                      <img class="graphic" src="{{ item.graphic }}">
                      <div class="sub-item-action">
                          {% if item.embed %}
                              <a href="{{ item.url }}" class="btn" target="_blank" data-module="hdx_click_stopper" data-module-link_type="carousel">Watch</a>
                          {% else %}
                              <a href="{{ item.url }}" class="btn" {% if item.newTab %} target="_blank" {% endif %} data-module="hdx_click_stopper" data-module-link_type="carousel">{% if item.buttonText %} {{ item.buttonText }} {% else %} Explore {% endif %}</a>
                          {% endif %}
                      </div>
                  </div>

                  <a href="{{ item.url }}" >
                    <div class="sub-item-caption">
                      <p class="title">{{ item.title }}</p>
                      <p class="description">{{ item.description }}</p>
                    </div>
                  </a>
                </div>
          {% if ((loop.index) is divisibleby 4) or (loop.index == carouselItems|length) %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for item in carouselItems %}
          {% if (loop.index - 1) is divisibleby 4 %}
            <li data-target="#homepage-carousel" data-slide-to="{{ (loop.index - 1) // 4}}" class="{% if (loop.index - 1) == 0 %}active{% endif %}"></li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
</div>

{% endblock %}

{% block header %}
  <div class="homepageHeaderFooterBackground">
     {{ super() }}
  </div>

  <!--- DO NOT REMOVE or the warnings generated by this page will be transfered to the next page --->
  {{ self.flash() }}
  <!--- END DO NOT REMOVE --->
{% endblock %}

{% block footer %}
  {% include "footer-wide.html" %}
{% endblock %}


{% block home_search %}
  <form class="form-search" method="get" action="{% url_for 'search', sort='metadata_modified desc' %}">
    <div class="input-append">
      <input type="text" class="searchInput" id="q2" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search Datasets') }}">
      <button type="submit" class="button">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
    <div class="search-ahead"></div>
  </form>
{% endblock %}

{% block group_select %}
    <div class="dropdown selectCountryDropdown">
      <button class="dropdown-toggle selectCountry" data-toggle="dropdown">
        {{ _("Choose Location") }}
        <b class="caret"></b>
      </button>
      <ul class="dropdown-menu dropdown-inverse" role="menu" style="max-height: 241px; overflow-y: auto; min-height: 96px;">
        {% for group in c.group_package_stuff %}
          {% if group.type is defined %}
            {% set url = h.url_for(group.type + '_read', action='read', id=group.name, sort='metadata_modified desc') %}
              <li><a tabindex="-1" href="{{url}}">{{ group.display_name }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
{% endblock %}

{% block scripts %}
   {{ super() }}
   <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
   {% resource 'hdx_theme/homepage' %}
{% endblock %}

{# Remove the toolbar. #}

{% block toolbar %}{% endblock %}