/* activity stream */

    .wrapper-primary{
        border-left: 1px solid #dddddd;
        margin-left: -1px;
        padding-bottom: 45px;
    }
	.wrapper-secondary{
        border-right: 1px solid #dddddd;
        padding-bottom: 45px;
	}

	.activity {
	  margin: 10px 0;
	  padding: 0;
	  list-style-type: none;
	  background: none;
	}

	.activity .item {
	    margin: 0 0 0px;
	    padding: 0;
	    position: relative;
	}

	.activity .item p {
	    font-family: 'Source Sans Pro', sans-serif;
	    font-weight: 400;
	    font-size: 14px;
	    color: #333333;
	    margin: 0 0 0 40px;
	    letter-spacing: 0.01em;
	    opacity: 1;
	}
	.activity .item .date {
	    font-family: 'Source Sans Pro', sans-serif;
	    font-weight: 400;
	    font-size: 14px;
	    color: #888888;
	    letter-spacing: 0.01em;
	    opacity: 1;
	    white-space: nowrap;
	}

	.activity .item p{
	    margin-bottom: 25px;
        word-wrap: break-word;
    	}

	.activity .item p span.actor a, .activity .item p span.actor a:hover, .activity .item p span.actor a:focus {
		font-family: 'Source Sans Pro', sans-serif;
	    font-weight: 700;
	    font-size: 14px;
	    color: #007ce0;
	    letter-spacing: 0.01em;
	    opacity: 1;
	    text-decoration: none;
	}

	.activity .item p a, .activity .item p a:hover, .activity .item p a:focus {
		font-family: 'Source Sans Pro', sans-serif;
	    font-weight: 700;
	    font-size: 14px;
	    color: #333333;
	    letter-spacing: 0.01em;
	    opacity: 1;
	    text-decoration: none;
	}

	.activity .item .actor .gravatar, .activity .item .actor .user-image {
	    left: 0px;
	    position: absolute;
	    top: 5px;
      border-radius: 100px;
	}
	.more{
	    float: right;
	    margin-top: -30px;
	}

	.wrapper-secondary h2 {
	    font-family: 'Gotham-Book', sans-serif;
	    font-weight: 400;
	    font-size: 12px;
	    letter-spacing: 0em;
	    opacity: 1;
	    color: #888888;
	}
	.uppercase{
		text-transform: uppercase;
	}
	.lowercase{
		text-transform: lowercase;
	}
	.capitalize{
		text-transform: capitalize;
	}
/* END activity stream */
