@font-face {
	font-family: 'hdx-icons';
	src:url('fonts/hdx-icons.eot?jxdc2r');
	src:url('fonts/hdx-icons.eot?#iefixjxdc2r') format('embedded-opentype'),
		url('fonts/hdx-icons.woff?jxdc2r') format('woff'),
		url('fonts/hdx-icons.ttf?jxdc2r') format('truetype'),
		url('fonts/hdx-icons.svg?jxdc2r#hdx-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hdx-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fight:before {
	content: "\e600";
}

.icon-gallery:before {
	content: "\e601";
}

.icon-gplus:before {
	content: "\e602";
}

.icon-quality_checked:before {
	content: "\e603";
}

.icon-subnational:before {
	content: "\e604";
}

.icon-cc:before {
	content: "\e605";
}

.icon-check:before {
	content: "\e606";
}

.icon-close_filter_button:before {
	content: "\e607";
}

.icon-download:before {
	content: "\e608";
}

.icon-earth:before {
	content: "\e609";
}

.icon-expand:before {
	content: "\e60a";
}

.icon-fb:before {
	content: "\e60b";
}

.icon-fileupload:before {
	content: "\e60c";
}

.icon-fire:before {
	content: "\e60d";
}

.icon-location:before {
	content: "\e60e";
}

.icon-lock:before {
	content: "\e60f";
}

.icon-mail-01:before {
	content: "\e610";
}

.icon-open_filter_button:before {
	content: "\e611";
}

.icon-search:before {
	content: "\e612";
}

.icon-share:before {
	content: "\e613";
}

.icon-spanner:before {
	content: "\e614";
}

.icon-tag:before {
	content: "\e615";
}

.icon-twitter:before {
	content: "\e616";
}

.icon-visualize:before {
	content: "\e617";
}

