/* .all-org-selector-wrapper {
	border: 1px solid #CCCCCC;
}
 */
.big-org-selector-wrapper {
	padding: 0px 35px;
	cursor: pointer;
}

.big-org-selector-wrapper:hover {
	background-color: #EFF5F9;
}

.org-selector-name {
	padding-top: 15px;
	font-weight: 700;
	font-size: 16px;
}

.org-selector-role {
	font-weight: 300;
}

.org-selector-description {
	border-bottom: 1px solid #CCCCCC;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 15px;
}


/* .mainContent .paddingRowHack .paddingRightHack {
	background-color: #1ebfb3;
} */