/* BEGIN - continuous browsing */
	.cb-row{
		background-color: #F6F6F6;
		background-image: url('/images/backgrounds/continuous-browsing.png');
		background-repeat: no-repeat;
		background-position: left bottom;
		height: 265px;
	}
	.cb-explore {
		font-family: 'Gotham-Book', sans-serif;
		font-size: 12px;
		color: #333333;
		opacity: 1;
		letter-spacing: 0em;
		text-align: center;
		text-transform: uppercase;
		margin-left: 32px;
		margin-right: 32px;

		/* This is need for vertical center alignment */
		position: absolute;
		top: 50%;
		margin-top: -60px;
	}
	.cb-explore a, .cb-explore a:hover {
		font-family: 'Gotham-Bold', sans-serif;
		font-weight: 400;
		color: #007CE0;
		font-size: 12px;
		letter-spacing: 0em;
	}
	.cb-item {
		height: 205px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.cb-item-count{
		font-family: 'Gotham-Light', sans-serif;
		font-size: 24px;
		color: #333333;
		opacity: 1;
		letter-spacing: 0.01em;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}
	.cb-item-name{
		font-family: 'Gotham-Book', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		color: #333333;
		opacity: 1;
		letter-spacing: 0.01em;
		text-align: center;
		padding-bottom: 12px;
		padding-top: 12px;
		height: 64px;
	}
	.cb-item-links, .cb-item-links a, .cb-item-links a:hover {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;
		color: #007CE0;
		opacity: 1;
		letter-spacing: 0.01em;
		text-align: center;
	}
	.cb-item-links li {
		margin-top: 1px;
	}
	.cb-item-links span {
		color: #777777;
	}
	.cb-border-wrapper {
		border-left-width: 1px;
		border-left-style:solid;
		border-left-color: #E4E4E4;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 5px;
		height: 185px;
	}

/* END - continuous browsing */