/* Set page background */
    .contentBackground{
        background-color: #ffffff;
    }
/* END Set page background */

/* Style search widget */
    .module-content:first-child{
        padding-top: 0;
        margin-bottom: 100px;
    }

    header.module-content.page-header{
        margin-top: 35px;
    }

    .search-form .control-order-by{
        margin-top: 35px;
    }

    .list-items.search-form h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: #000000;
        letter-spacing: 0.01em;
        line-height: 1;
    }
/* END Style search widget */

/* Dataset list */
    .dataset-item {
        border-bottom: 1px solid #cccccc;
        margin: 0;
    }

    .dataset-item:last-of-type{
        border-bottom: 1px solid #cccccc;
    }

    .dataset-item .dataset-heading {
        margin-bottom: 0;
        line-height: 1;
    }
    .dataset-item .dataset-heading a {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0.01em;
        line-height: 1;
    }

    .dataset-item .dataset-updated{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #888888;
        letter-spacing: 0.01em;
    }

    .dataset-item .updatedNameColor {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #333333;
        letter-spacing: 0.01em;
    }
    .dataset-item .dataset-actions img svg{
        height: 15px;
        fill: #007ce0;
    }
    .dataset-item .dataset-actions > ul {
        display: inline;
        list-style: none;
    }
    .dataset-item .dataset-actions > ul > li{
        display: inline;
        color: #007ce0;
    }
    .dataset-item .dataset-actions > ul > li > a{
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #007ce0;
        letter-spacing: 0.01em;

    }
    .dataset-item .dataset-actions > ul > li > a::after{
        content: "|";
        margin-left: 7px;
        margin-right: 4px;
    }
    .dataset-item .dataset-actions > ul > li:last-child > a::after{
        content: "";
        margin: 0;
    }
    .dataset-item .dataset-description {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #888888;
        letter-spacing: 0.01em;
    }

    .dataset-item .dataset-others .list-items {
        margin: 0;
    }
    .dataset-item .dataset-others .label-size {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 10px;
        color: #888888;
        letter-spacing: 0.01em;
        margin-left: 5px;
    }
    .dataset-item .dataset-others li.label-icons {

    }
    .dataset-item .dataset-others li.label-icons::before {
        content: "|";
        margin-left: 15px;
    }
    .dataset-item .dataset-others .label-icons span{
        height: 15px;
        font-size: 15px;
        color: #888888;
        margin-left: 15px;
        padding-top: 3px;
    }

    .dataset-content .pre-icon .icon {
        color: #007ce0;
        font-size: 20px;
        width: 20px;
        margin-top:3px;
    }
/* END Dataset list */

/* List header */
    .list-header {
        margin-top: 35px;
        height: 50px;
        background-color: #edf6fd;
        border-bottom: 1px solid #cccccc;
        vertical-align: middle;
        line-height: 50px;
    }

    .list-header .list-header-title {
        font-family: 'Gotham-Bold', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0.03em;
    }

    .list-header .list-header-showall {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #007ce0;
        letter-spacing: 0.03em;
    }

/* END List header */

/* Fix search spacing between tabs and results number */
    .hdx-wrapper .page-header .nav-tabs > li > a{
        padding-top: 0;
    }
/* END Fix search spacing between tabs and results number */
