/* Set page background */
    .contentBackground{
        background-color: #ffffff;
    }
/* END Set page background */


/* Dataset list */
    .dataset-item {
        border-bottom: 1px solid #dddddd;
        margin: 0;
    }
    .dataset-item .dataset-heading {
        margin-bottom: 0;
        line-height: 1;
    }
    .dataset-item .dataset-heading a {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0.01em;
        line-height: 1;
    }

    .dataset-item .dataset-updated{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #888888;
        letter-spacing: 0.01em;
    }

    .dataset-item .updatedNameColor {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #333333;
        letter-spacing: 0.01em;
    }
    .dataset-item .dataset-actions img svg{
        height: 15px;
        fill: #007ce0;
    }
    .dataset-item .dataset-actions > ul {
        display: inline;
        list-style: none;
    }
    .dataset-item .dataset-actions > ul > li{
        display: inline;
        color: #007ce0;
    }
    .dataset-item .dataset-actions > ul > li > a{
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #007ce0;
        letter-spacing: 0.01em;

    }
    .dataset-item .dataset-actions > ul > li > a::after{
        content: "|";
        margin-left: 7px;
        margin-right: 4px;
    }
    .dataset-item .dataset-actions > ul > li:last-child > a::after{
        content: "";
        margin: 0;
    }
    .dataset-item .dataset-description {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #888888;
        letter-spacing: 0.01em;
    }

    .dataset-item .dataset-others .list-items {
        margin: 0;
    }
    .dataset-item .dataset-others .label-size {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 10px;
        color: #888888;
        letter-spacing: 0.01em;
        margin-left: 5px;
    }
    .dataset-item .dataset-others li.label-icons {

    }
    .dataset-item .dataset-others li.label-icons::before {
        content: "|";
        margin-left: 15px;
    }
    .dataset-item .dataset-others .label-icons span{
        height: 15px;
        font-size: 15px;
        color: #888888;
        margin-left: 15px;
        padding-top: 3px;
    }
/* END Dataset list */
