.svg-marker {
    -webkit-animation: hdxani 1s 1;
    cursor:pointer;
    background:transparent;
    -webkit-transform: translateX(-50%) translateY(-35px);
    height:35px;
    width: 35px;
    padding:0 8%;
    white-space: nowrap;
    color:#fff;
    font:500 14px/20px Arial;
    background-size:100%;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(242, 100, 90)' xmlns='http://www.w3.org/2000/svg' d='M16 0c-6.627 0-12 5.373-12 12s12 20 12 20 12-13.373 12-20-5.373-12-12-12zM16 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8zM16 8c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4z'/></svg>");
}

@-webkit-keyframes hdxani
{
from {-webkit-transform: translateX(-50%) translateY(-100px);}
to {-webkit-transform: translateX(-50%) translateY(-35px);}
}
