{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block secondary %}{% endblock %}
{% block toolbar %}
<div class="cp-breadcrumb paddingRowHack">
    <ol class="breadcrumb paddingLeftHack paddingRightHack">
        <li class="active">
            <div class="circle pull-left">1</div> Create custom page - <span class="small">Please fill out all required fields</span>
        </li>
        <li>
            <div class="circle pull-left">2</div> Review and Submit
        </li>
    </ol>
</div>
{% endblock %}
{% block primary %}
    <div id="section_container" data-module="hdx_custom_pages">
    <form id="create_page_form" class="cp-form hdx-form" method="post" enctype="multipart/form-data" data-module="basic-form">
        <div class="paddingRowHack cp-content-background pTopBottom35">
            <div class="paddingLeftHack paddingRightHack">
                <div class="row">
                    <div class="col-xs-3">
                        <h3>How this page works</h3>
                        <p> You can use this form to create a custom page for different sections of the site (such as crisis page)</p>
                        <p> When you finish, you have options to <strong>see a preview</strong> (then publish or further edit) or <strong>save as draft</strong> (can be accessed by you and by sysadmins) which lets you come back for further editing</p>
                    </div>
                    <div class="col-xs-9">
                        {{ form.input('title', id='field_title', label=_('Title of the page'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['form-group', 'required', 'control-full', 'control-large'], attrs={'data-module': 'slug-preview-target', 'class':'form-control'}) }}
                        {% set prefix = h.url_for(controller='ckanext.hdx_pages.controllers.custom_page:PagesController', action='read_crisis',id='', qualified=true) %}
                        {% set full_domain_crisis = h.url_for(controller='ckanext.hdx_pages.controllers.custom_page:PagesController', action='read_crisis',id='', qualified=true) %}
                        {% set full_domain_dashboard = h.url_for(controller='ckanext.hdx_pages.controllers.custom_page:PagesController', action='read_dashboard',id='', qualified=true) %}
                        {% set domain = prefix|replace("http://", "")|replace("https://", "") %}
                        {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<my-page>'} %}
                        {{ form.prepend('name', id='field_name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-page'), value=data.name, error=errors.name, attrs=attrs) }}

                        <div class="form-group">
                            <label class="control-label">This page is located under</label>
                            <div class="radio">
                                <label>
                                    <input id="hdx_crises_type" type="radio" name="type" value="crisis"  {{data.crisis}}/>
                                    Crisis (URL:{{full_domain_crisis}})
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="hdx_dashboard_type" type="radio" name="type" value="dashboard" {{data.dashboard}} />
                                    Dashboard (URL:{{full_domain_dashboard}})
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="cp-hr"/>
                    </div>
                </div>
                <div class="row mTop15 form-horizontal">
                    <div class="col-xs-3">
                        <h3>Design a page in section</h3>
                        <p> Custom page can be designed in section. Each section can display map, key figures, interactive data, data list or custom content (with your own header) by selecting section content type and entering corresponding fields.</p>
                        <div class="cp-sample-text">Sample page - reference only</div>
                        <img style="width: 100%;" src="/images/new-page-section-sample.png" />
                    </div>
                    <div class="col-xs-9">
                        <div id="sections" class="row">
                            {% for section in data.sections %}
                                {% set _i = ((loop.index-1) | string) %}
                                {% set s_id = "section_"+_i %}
                                {% set s_type= 'field_section_'+_i+'_type' %}
                                {% set s_data_url = 'field_section_'+_i+'_data_url' %}
                                {% set s_title = 'field_section_'+_i+'_section_title' %}
                                {% set s_description = 'field_section_'+_i+'_section_description' %}
                                {% set s_max_height = 'field_section_'+_i+'_max_height' %}
                                {% set s_del = 'del_section_'+_i %}
                                <div class="col-xs-12 hdx-visible-element pTopBottom15" id="{{s_id}}" >
                                    <div class="row">
                                        <div class="col-xs-9">
                                            {{ form.select(s_type, id=s_type, label=_('Section'), options=data_dict['content_type'], selected=section.type, error=errors.type, classes=['form-group'], attrs={'class':'form-control'})}}
                                            {{ form.input(s_data_url, id=s_data_url, label=_('Data URL'), placeholder=_('Enter URL'), value=section.data_url, error=errors.data_url, classes=['form-group', 'control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field'], attrs={'class':'form-control'}) }}
                                            {{ form.input(s_title, id=s_title, label=_('Title of Section'), placeholder=_('If missing will have the default value'), value=section.section_title, error=errors.section_title, classes=['form-group', 'control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field'], attrs={'class':'form-control'}) }}
                                            {{ form.input(s_description, id=s_description, label=_('Description (optional)'), placeholder=_('eg. Description of the section'), value=section.description, error=errors.title, classes=['form-group', 'control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field'], attrs={'class':'form-control'}) }}
                                            {{ form.input(s_max_height, id=s_max_height, label=_('Max Height'), placeholder=_('400px recommended'), value=section.max_height, error=errors['max_height'], classes=['form-group', 'control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field'], attrs={'class':'form-control'}) }}
                                        </div>
                                        <div class="col-xs-3">
                                            <a href="#" id="{{s_del}}" name="{{s_del}}">Delete this section</a>
                                        </div>
                                    </div>
                                    <div class="row mTop20">
                                        <div class="col-xs-12">
                                            <hr class="cp-hr"/>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button id="add_section" type="button" name="add_section" value="add_section" class="btn btn-primary pull-left">+ Add More Sections</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="paddingRowHack pTopBottom35">
            <div class="paddingLeftHack paddingRightHack">
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-9">
                        {% if data.mode and data.mode=='edit' %}
                            <button class="btn btn btn-danger pull-left" id="delete_custom_page" name="delete_custom_page" value="delete">Delete This Page</button>
                        {% endif %}
                        <button class="btn btn-primary pull-right" id="save_custom_page" type="submit" name="save_custom_page" value="active">Save This Page</button>
                        <button class="btn btn-primary pull-right mR30" id="save_as_draft_custom_page" type="submit" name="save_as_draft_custom_page" value="draft">Save As Draft</button>
                        <input type="hidden" id="hdx_counter" name="hdx_counter" value="{{data.hdx_counter}}"/>
                        <input type="hidden" id="hdx_page_id" name="hdx_page_id" value="{{data.hdx_page_id}}"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-xs-12 hdx-invisible-element pTopBottom15" id="section_template">
        <div class="row">
            <div class="col-xs-9">
                {{ form.select('field_section_template_type', id='field_section_template_type', label=_('Section'), options=data_dict['content_type'], selected="empty", error=errors.type, classes=['form-group'], attrs={'class':'form-control'})}}
                {{ form.input('field_section_template_data_url', id='field_section_template_data_url', label=_('Data URL'), placeholder=_('Enter URL'), classes=['form-group', 'control-full', 'control-large', 'hdx-section-field'], attrs={'class':'form-control'}) }}
                {{ form.input('field_section_template_section_title', id='field_section_template_section_title', label=_('Title of Section'), placeholder=_('Title of Section (optional)'), classes=['form-group', 'control-full', 'control-large', 'hdx-section-field'], attrs={'class':'form-control'}) }}
                {{ form.input('field_section_template_section_description', id='field_section_template_section_description', label=_('Description (optional)'), placeholder=_('eg. Description of the section'), classes=['form-group', 'control-full', 'control-large', 'hdx-section-field'], attrs={'class':'form-control'}) }}
                {{ form.input('field_section_template_max_height', id='field_section_template_max_height', label=_('Max Height'), placeholder=_('400px recommended'), classes=['form-group', 'control-full', 'control-large', 'hdx-section-field'], attrs={'class':'form-control'}) }}
            </div>
            <div class="col-xs-3">
                <a href="#" id="del_section" type="button" name="del_section">Delete this section</a>
            </div>
        </div>
        <div class="row mTop10">
            <div class="col-xs-12">
                <hr class="cp-hr"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts2 %}c
    {{ super() }}
    {% resource 'hdx_theme/custom-pages' %}
{% endblock %}