{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block secondary %}

{% endblock %}

{% block primary %}
<div id="section_container" data-module="hdx_custom_pages">
    {{data}}--{{data_dict}}
    <form id="create_page_form" class="" method="post" enctype="multipart/form-data" data-module="basic-form">
        <div class="row">
            {{ form.input('title', id='field_title', label=_('Title of the page'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}) }}
        </div>
        <div class="row">
                {% set prefix = h.url_for(controller='ckanext.hdx_pages.controllers.custom_page:PagesController', action='read', type='...',id='', qualified=true) %}
                {% set full_domain_crisis = h.url_for(controller='ckanext.hdx_pages.controllers.custom_page:PagesController', action='read', type='crisis',id='', qualified=true) %}
                {% set full_domain_dashboard = h.url_for(controller='ckanext.hdx_pages.controllers.custom_page:PagesController', action='read', type='dashboard',id='', qualified=true) %}
                {% set domain = prefix|replace("http://", "")|replace("https://", "") %}
                {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<my-page>'} %}
                {{ form.prepend('name', id='field_name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-page'), value=data.name, error=errors.name, attrs=attrs) }}
        </div>
        <div class="row">
            <label>This page is located under</label>
            <br/>
            <input id="hdx_crises_type" type="radio" name="type" value="crisis"  {{data.crisis}}/><label for="hdx_crises_type">Crisis (URL:{{full_domain_crisis}})</label>
            <br/>
            <input id="hdx_dashboard_type" type="radio" name="type" value="dashboard" {{data.dashboard}} /><label for="hdx_dashboard_type">Dashboard (URL:{{full_domain_dashboard}})</label>
        </div>
        <div id="sections" class="row">
            {% for section in data.sections %}
                {% set _i = ((loop.index-1) | string) %}
                {% set s_id = "section_"+_i %}
                {% set s_type= 'field_section_'+_i+'_type' %}
                {% set s_data_url = 'field_section_'+_i+'_data_url' %}
                {% set s_title = 'field_section_'+_i+'_section_title' %}
                {% set s_description = 'field_section_'+_i+'_section_description' %}
                {% set s_max_height = 'field_section_'+_i+'_max_height' %}
                {% set s_del = 'del_section_'+_i %}
                <div class="row hdx-visible-element" id="{{s_id}}" >
                    {{ form.select(s_type, id=s_type, label=_('Section'), options=data_dict['content_type'], selected=section.type, error=errors.type) }}
                    {{ form.input(s_data_url, id=s_data_url, label=_('Data URL'), placeholder=_('Enter URL'), value=section.data_url, error=errors.data_url, classes=['control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field']) }}
                    {{ form.input(s_title, id=s_title, label=_('Title of Section'), placeholder=_('If missing will have the default value'), value=section.section_title, error=errors.section_title, classes=['control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field']) }}
                    {{ form.input(s_description, id=s_description, label=_('Description (optional)'), placeholder=_('eg. Description of the section'), value=section.description, error=errors.title, classes=['control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field']) }}
                    {{ form.input(s_max_height, id=s_max_height, label=_('Max Height'), placeholder=_('400px recommended'), value=section.max_height, error=errors['max_height'], classes=['control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field']) }}

                    <br/>
                    <input id="{{s_del}}" type="button" name="{{s_del}}" value="Delete Section"/>
                    <br/>
                    <hr/>
                    <br/>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <input id="add_section" type="button" name="add_section" value="addsection"/>
        </div>

        <div class="row">
            <input id="save_custom_page" type="submit" name="save_custom_page" value="save_custom_page"/>
        </div>


        <div class="row">
            <input type="hidden" id="hdx_counter" name="hdx_counter" value="{{data.hdx_counter}}"/>
            <input type="hidden" id="hdx_page_id" name="hdx_page_id" value="{{data.hdx_page_id}}"/>
        </div>

    </form>
    <br/><br/><br/><br/>



    <div class="row hdx-invisible-element" id="section_template">
        {{ form.select('field_section_template_type', id='field_section_template_type', label=_('Section'), options=data_dict['content_type'], selected="empty", error=errors.type) }}
        {{ form.input('field_section_template_data_url', id='field_section_template_data_url', label=_('Data URL'), placeholder=_('Enter URL'), classes=['control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field']) }}
        {{ form.input('field_section_template_section_title', id='field_section_template_section_title', label=_('Title of Section'), placeholder=_('Title of Section (optional)'), classes=['control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field']) }}
        {{ form.input('field_section_template_section_description', id='field_section_template_section_description', label=_('Description (optional)'), placeholder=_('eg. Description of the section'), classes=['control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field']) }}
        {{ form.input('field_section_template_max_height', id='field_section_template_max_height', label=_('Max Height'), placeholder=_('400px recommended'), classes=['control-full', 'control-large', 'hdx-invisible-element', 'hdx-section-field']) }}
        <br/>
        <input id="del_section" type="button" name="del_section" value="Delete Section"/>
        <br/>
        <hr/>
        <br/>
    </div>
</div>
{% endblock %}

{% block scripts2 %}
    {{ super() }}
    {% resource 'hdx_theme/custom-pages' %}
{% endblock %}