<section class="additional-info info-wrapper mTop35">
  <h3 class="uppercase">{{ _('Metadata') }}</h3>
  <table class="table table-bordered table-condensed mTop20">
   
    <tbody>

{% block package_additional_info %}
	<tr>
		<th scope="row" class="dataset-label">{{ _('Source') }}</th>
		<td class="dataset-details">{{ pkg_dict.dataset_source }}</td>
	</tr>
	
	<tr>
		<th scope="row" class="dataset-label">{{ _('Contributor') }}</th>
		<td class="dataset-details metadata-link">
		{% if pkg_dict.owner_org %}
		{% set org_id = pkg_dict.organization.name or pkg_dict.owner_org %}
			<a href="{{ h.url_for(controller='organization', action='read', id=org_id) }}">
	            	{{ pkg_dict.organization.title }}
	        </a>
	    {% endif %}
		</td>
    </tr>
	<tr>
		<th scope="row" class="dataset-label">{{ _('Date of Dataset') }}</th>
		<td class="dataset-details">{{ h.render_date_from_concat_str(pkg_dict.dataset_date) }}</td>
    </tr>
	<tr>
		<th scope="row" class="dataset-label">{{ _('Location') }}</th>
		<td class="dataset-details metadata-link mx-country">
			{% for grp in pkg_dict.groups %}
				<a href="{{ h.url_for(controller='group', action='read', id=grp['name']) }}">{{ grp['title'] or grp['name'] }}</a>{% if not loop.last %},&nbsp;{% endif %}
			{% endfor %}
		</td>
    </tr>
    <tr>
    	<th scope="row" class="dataset-label">{{ _('Visibility') }}</th>
  		<td class="dataset-details">
  			{% if pkg_dict.private %}
  				<div id="private_loading" style="display:none;"><img src="/images/ajax-loader-b.gif"></div>
  				<div id="private_block"><span id="visibility">{{ _('Private') }}</span> - <a onClick="toggleVis()" id="visibility_change" class="my-link" style="cursor:pointer;">{{ _('make it public') }}</a></div>
		  	{% else %}
		  		<div id="private_loading" style="display:none;"><img src="/images/ajax-loader-b.gif"></div>
		  		<div id="private_block"><span id="visibility">{{ _('Public') }}</span> - <a onClick="toggleVis()" id="visibility_change" class="my-link" style="cursor:pointer;">{{ _('make it private') }}</a></div>
		  	{% endif %}
  		</td>
	</tr>
	<script>
		function toggleVis(){
			$('#private_loading').show();
			$('#private_block').hide();
			  $.ajax({
  				url: '{% url_for controller='ckanext.hdx_package.controllers.dataset_controller:DatasetController', action='visibility', id=pkg_dict.id %}',
  				}).done(function(e) {
  					if(e.success){
  						$('#visibility').html(e.status);
	  					$('#visibility_change').html(e.text);
	  					$('#private_loading').hide();
	  					$('#private_block').show();
	  				}
				});
			}
	</script>
     
    <tr>
    	<th scope="row" class="dataset-label">{{ _('License') }}</th>
    	<td class="dataset-details  metadata-link">
        	{% if pkg_dict.license_id %}
				<span property="dc:rights"><a href="/about/license">{{ h.hdx_find_license_name(pkg_dict.license_id, pkg_dict.license_title) }}</a></span>
				{% if pkg_dict.license_id == 'hdx-other' and pkg_dict.license_other %}
				: <span data-module="hdx_show_more" style="visibility:hidden"><div>{{h.render_markdown(pkg_dict.license_other)}}</div></span>
				{% endif %}
				
				{# link and open-data logo will be removed according to https://github.com/OCHA-DAP/hdx-ckan/issues/294
		            {% if 'license_url' in pkg_dict %}
		                <a class="info-item-name" href="{{ pkg_dict.license_url }}" rel="dc:rights">{{ pkg_dict.license_title }}</a>
		            {% else %}
		                <span property="dc:rights">{{ pkg_dict.license_title }}</span>
		            {% endif %}
		            {% if pkg_dict.isopen %}
		                <a href="http://opendefinition.org/okd/" title="{{ _('This dataset satisfies the Open Definition.') }}">
		                    <img class="open-data" src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="[Open Data]" />
		                </a>
		            {% endif %}
           		 #}
            
          {% endif %}
      </td>
    </tr>

	<tr>
		<th scope="row" class="dataset-label">{{ _('Methodology') }}</th>
		{% set methodology, methodology_other = h. methodology_bk_compat(pkg_dict.methodology, pkg_dict.methodology_other) %}
	      <td class="dataset-details"><span data-module="hdx_show_more" style="visibility:hidden"><div>{% if not methodology_other %}{{methodology}}{% else %}{{methodology_other}}{% endif %}</div></span></td>
	</tr>
	<tr>
		<th scope="row" class="dataset-label">{{ _('Caveats / Comments') }}</th>
		<td class="dataset-details"><span data-module="hdx_show_more" style="visibility:hidden"><div>{{ h.render_markdown(pkg_dict.caveats) }}</div></span></td>
	</tr>

	<tr>
		<th scope="row" class="dataset-label">{{ _('Tags') }}</th>
		<td class="dataset-details">
			{% for tag in pkg_dict.tags %}
	    		<div class="tag-wrapper">
	      			<a class="label tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
	    		</div>
	  		{% endfor %}
		</td>
	</tr>


      {# for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set key, value = extra %}
        <tr rel="dc:relation" resource="_:extra{{ i }}">
          <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
          <td class="dataset-details" property="rdf:value">{{ value }}</td>
        </tr>
      {% endfor #}


{% endblock %}

    </tbody>
  </table>
</section>