{% set url = request.url %}

{% set panel_title = panel_title or "panel title" %}
{% set title = title or "title" %}
{% set contact_topics = contact_topics or {} %}
{% set group_topics = group_topics or {} %}
{% set hide_contact_contributor = hide_contact_contributor or false%}
{% set hide_membership = hide_membership or false %}



{% if not hide_membership %}
    {% set membership_data = membership.data %}
    {% if not hide_contact_contributor%}
        {{ h.snippet('widget/membership/contact-contributor.html', id="contactContributorPopup", title=title, topics=contact_topics, pkg = pkg, membership_data=membership_data) }}
    {% endif %}
    {{ h.snippet('widget/membership/group-message.html', id="groupMessagePopup", title=title, groups=group_topics, org_id = org_id, pkg_id = pkg_id, membership_data=membership_data, base_title=base_title, base_type=base_type) }}
    {{ h.snippet('widget/membership/done.html', id="membershipDonePopup") }}
{% endif %}
<span class="{{ classes }}">
    <ul class="">
        {% if c.user %}
            <li>
                <strong class="uppercase">{{ h.hdx_follow_link(base_type, follow_id, "", "link-separator") }}</strong>
            </li>
            {% if not hide_contact_contributor%}
                <li>
                    <a href="#" onclick="closeCurrentWidget(this);showOnboardingWidget('#contactContributorPopup');" title="{{ _('Contact the contributor lets users send inquiries directly to data contributors. This feature is available on all ' + base_type + ' pages.') }}" data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip" id="contact-the-contributor">
                        <i class="icon-envelope"></i>
                        Contact the contributor
                    </a>
                </li>
            {% endif %}
        {% else %}
            {% if not hide_contact_contributor%}
                <li>
                    <a href="/contact_hdx" title="{{ _('Contact the contributor lets users send inquiries directly to data contributors. This feature is available on all ' + base_type + ' pages.') }}" data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip" id="contact-the-contributor">
                        <i class="icon-envelope"></i>
                        Contact the contributor
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% if not hide_membership and membership.display_group_message %}
            <li>
                <a href="#" onclick="closeCurrentWidget(this);$('#group-message-topics-selector').select2('val', '');showOnboardingWidget('#groupMessagePopup');" title="{{ _('Group message lets you communicate with members of your organisation. Use it to discuss, collaborate, and make announcements. ') }}" data-module="bs_tooltip" data-module-placement="top" data-toggle="tooltip" id="contact-members">
                    <i class="icon-megahorn"></i>
                    Group message
                </a>
            </li>
        {% endif %}

        {% block user_actions %}
        {% endblock %}

        <li>
            <span>
                {% snippet 'indicator/snippets/share_button.html', title=title, panel_title=panel_title,
                    plain_body=plain_body, direct=true, disable_pull_left=true, icon_font_size="24px" %}
            </span>
        </li>
    </ul>

</span>
