{#
 Example:

  {% snippet "package/snippets/resources_list.html", followers=c.followers %}

#}
<div class="row">
	<div class="col-xs-12 mTop60 mBottom65 paddingLeftHack paddingRightHack">
		<div class="row cb-row">
			<div class="col-xs-2 mTB30 cb-item">
				<div class="cb-explore">
				{{ _('Explore') }} <br /> 
				{% set title='Food Consumption in Selected Countries' %}
				"<a href="#" title="{{ title }}">{{ title|truncate(38, False) }}</a>" <br />
				{{ _('in the HDX Collection') }}
				</div>
			</div>
			{% snippet 'indicator/snippets/continuous_browsing_item.html', name=_('Supporting Topics'), count=2, 
				links=[{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 1'},{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 21'},
				{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 3'},{'url':'https://data.hdx.rwlabs.org/', 'name':'Some very long name that should be truncated by the tempalte'}, 
				{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 5'}] %}
			
			{% snippet 'indicator/snippets/continuous_browsing_item.html', name=_('Supporting Locations'), count=240, 
				links=[{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 1'},{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 21'},
				{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 3'},{'url':'https://data.hdx.rwlabs.org/', 'name':'Some very long name that should be truncated by the tempalte'}, 
				{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 5'}] %}
				
			{% snippet 'indicator/snippets/continuous_browsing_item.html', name=_('Downloads'), count=1297, 
				links=[{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 1'},{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 21'},
				{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 3'},{'url':'https://data.hdx.rwlabs.org/', 'name':'Some very long name that should be truncated by the tempalte'}, 
				{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 5'}] %}
			
			{% set followers_num = followers|length %}
			{% snippet 'indicator/snippets/continuous_browsing_item.html', name=h.hdx_show_singular_plural(followers_num,_('Follower'),_('Followers'), False), count=followers_num, 
				links=followers %}
			
			{% snippet 'indicator/snippets/continuous_browsing_item.html', name=_('Contributors'), count=1, 
				links=[{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 1'},{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 21'},
				{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 3'},{'url':'https://data.hdx.rwlabs.org/', 'name':'Some very long name that should be truncated by the tempalte'}, 
				{'url':'https://data.hdx.rwlabs.org/', 'name':'Item 5'}] %}
		</div>
	</div>
</div>