				<label class="uppercase">{{ _('Select') }} </label>
				<button class="btn btn-default dropdown-toggle" type="button" id="actions-menu" data-toggle="dropdown">
					Action <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="actions-menu">
					{% if is_indicator %}
						<li class="disabled" role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ _('CHANGE STYLE (comming soon)') }}</a></li>
						<li class="disabled" role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ _('SHARE THIS VIEW (coming soon)') }}</a></li>
						<li role="presentation" class="divider"></li>
					{% endif %}
					<li role="presentation">{{ h.hdx_follow_button('dataset', pkg.name, role='menuitem', tabindex='-1', class='uppercase') }}</li>
					<li role="presentation"><span class="uppercase" role="menuitem" tabindex="-1">{{ _('Share This Data') }}:</span></li>
					<li role="presentation" class="social-item">
						<a class="social-link first-link" href="https://plus.google.com/share?url={{ request.url }}" target="_blank">
			              <img class="social-images" src="/images/svg/google-plus_black.svg" />
			            </a>
			            <a class="social-link" href="https://twitter.com/share?url={{ request.url }}" target="_blank">
			              <img class="social-images" src="/images/svg/twitter_black.svg" />
			            </a>
			            <a class="social-link" href="https://www.facebook.com/sharer.php?u={{ request.url }}" target="_blank">
			              <img class="social-images" src="/images/svg/fb_black.svg" />
			            </a>
			            <a class="social-link" href="mailto:?subject={{ pkg.title }}&body={{ request.url }}" target="_blank">
			              <img class="social-images" src="/images/svg/email_black.svg" />
			            </a>
					</li>
					<li role="presentation" class="divider"></li>
					{% if is_indicator %}
						<li class="disabled" role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ _('ANALYZE (coming soon)') }}</a></li>
					{% endif %}
					{% if h.check_access('package_update', {'id':pkg.id }) %}
					<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ h.url_for(controller='package', action='edit', id=pkg.name) }}" class="uppercase">{{ _('Edit') }}</a></li>
					{% endif %}
				</ul>