{% extends "page_light.html" %}

{% block links %}
  <link rel="canonical" href="{{ h.hdx_switch_url_path(force=False) }}">
  {{ super() }}
{% endblock %}

{% set page = page_dict %}

{% block breadcrumb_content %}
	{% block breadcrum_parent_item %}
{#    {% snippet "snippets/other_breadcrumb_item.html", title=page.type, 'hdx_' + page.type + '.read_' + page.type, id=page.name, position=2 %}#}
    <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">{{ _('Event') }}
    </li>
	{% endblock %}
  <li class="breadcrumb-item active">{{ h.nav_link( page.title|truncate(120), 'hdx_' + page.type + '.read_' + page.type, id=page.name) }}</li>
{% endblock %}

{% block content %}
<div class="custom-page-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.title }}</h1>
        {% for section in page.sections %}
          {% if section.type == 'data_list' %}
            <div class="row">
              {% snippet "light/snippets/package_list.html", data=section.template_data %}
            </div>
          {% elif section.type == 'description' %}
            {% if section.long_description %}
                <div class="row mTop8">
                    <div class="col-12">
                        <span>{{ h.render_markdown(section.long_description) }}</span>
                    </div>
                </div>
            {% endif %}
          {% else %}
            {% if section.section_title %}
              <div class="custom-page-filter-start list-header">
                <span class="mL15 list-header-title">{{ section.section_title }}</span>
              </div>
            {% else %}
              <!-- don't show anything -->
            {% endif %}

            {% if section.description %}
              <div class="section-description">
                <div class="row">
                  <div class="col-12">
                      <span>{{ section.description }}</span>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="row">
              <div class="col-12 section-body">
                <div class="data-viewer-error">
                </div>
                <iframe class="fold {% if (section.type != 'key_figures') and (page.sections|length > 1) %}closed{% endif %}" data-module="data-viewer" frameborder="0" style="{{ section.style }}" data-hj-allow-iframe=""
                  src="{{ section.get('data_url') }}">
                </iframe>
                {% if section.type != 'key_figures' %}
                <div class="section-unfold">
                  <div class="overlay">
                    <a class="fullscreen" href="{{ section.get('data_url') }}" target="_blank">Open fullscreen <i class="icon humanitarianicons-Out-of-platform"></i> </a>
                    <div class="d-inline-block show-filter-switch">
                      <div class="form-check form-switch ps-0">
                        <input class="form-check-input form-check-input--always-closed float-end" type="checkbox" onclick="customPageToggleSectionFold(this);" id="section-slider-toggle-{{loop.index}}" {% if page.sections|length == 1 %}checked="checked"{% endif %}>
                        <label class="form-check-label" for="section-slider-toggle-{{loop.index}}">Display:</label>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{%- block scripts %}
  {{ super() }}
  {% asset 'hdx_theme/custom-pages-light-scripts' %}
  {% asset 'hdx_theme/search-scripts' %}
  {% asset 'hdx_theme/search-light-styles' %}
{#  {% resource 'hdx_theme/jquery.highlight' %}#}

  {% asset 'hdx_theme/dataset-search-scripts' %}
  {% asset 'hdx_theme/dataset-scripts' %}
{% endblock -%}
