{#
Renders a media item for a group. This should be used in a list.

group - A group dict.

Example:

    <ul class="media-grid">
      {% for group in groups %}
        {% snippet "group/snippets/group_item.html", group=group %}
      {% endfor %}
    </ul>
#}

{% set url = h.url_for(group.type + '_read', action='read', id=group.name, sort='metadata_modified desc') %}
{% set last_rev_id = h.get_last_revision_group(group.id) %}
{% set res = h.get_last_modifier_user(last_rev_id, get_timestamp=True) %}
{% set last_user = res[0] %}
{% set updated_time = res[1] %}
{% set f_updated_time = h.render_datetime(updated_time) %}
{% set followers = h.get_group_followers(group.id) %}
{# set members = h.get_group_members(group.id) #}

<li class="list-items dataset-item">
    <div class="list-items dataset-content">
      {% block title %}
   		 <h3 class="list-items dataset-heading">
   		   <a href="{{ url }}" title="{{ _('View {group_name}').format(group_name=group.display_name) }}" >
    			<span>{{ _('{group_name}').format(group_name=group.display_name) }}</span>
  		   </a>
   		 </h3>
  	{% endblock %}
      <div>{{ _('Updated by') }} {{ h.linked_user(last_user, avatar=0) }} - {{f_updated_time}}</div>
      {% block description %}
    	{% if group.description %}
      		<div class="list-items content">{{ h.markdown_extract(group.description, extract_length=80) }}</div>
    	{% else %}
      		<p class="empty">{{ _('This group has no description') }}</p>
    	{% endif %}
	  {% endblock %}
	  
	  {% block counters %}
	  <div class="list-items counter">
		  {% block datasets %}
			  {% if group.packages %}
			    {% if group.packages is number %}
			    	{% set num_of_pack = group.packages %}
			    {% else %}
			    	{% set num_of_pack = group.packages|length %}
			    {% endif %}
			   <span class="count">{{ num_of_pack }} {% if num_of_pack != 1 %}{{ _('Datasets') }}{% else %}{{ _('Dataset') }}{% endif %}</span>
			   {% else %}
			      <span class="count">{{ _('0 Datasets') }}</span>
			   {% endif %}
		  {% endblock %}
		{# members are not displayed for grups/countries
		-
		  {% block members %}
		   <span class="count">{{ members }} {% if members != 1 %}{{ _('Members') }}{% else %}{{ _('Member') }}{% endif %}</span>
		  {% endblock %}
		#}
		-
		  {% block followers %}
		   <span class="count">{{ followers }} {% if followers != 1 %}{{ _('Followers') }}{% else %}{{ _('Follower') }}{% endif %}</span>
		  {% endblock %}
	  </div>
	  {% endblock %}
    </div>
</li>
{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}