.bottom-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 5000;
  min-height: 100px;
  padding: 20px;
}
.bottom-banner .content {
  position: relative;
  padding-right: 20px;
}
.bottom-banner .content .close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  opacity: 0.7;
}
.bottom-banner a,
.bottom-banner a:hover {
  color: #fff;
  text-decoration: underline;
}
.itemSubTitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline;
  line-height: 14px;
  color: #333333;
}
.itemSubTitle > a,
.itemSubTitle > a:hover,
.itemSubTitle > a:focus {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline;
  line-height: 14px;
  color: #f2645a;
  text-decoration: underline;
}
