.crises-menu {
  padding: 0;
  width: 250px;
}
.crises-menu li.crises-group {
  text-transform: uppercase;
  color: #888888;
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 20px;
  border-bottom: 1px solid #eeeeee;
}
.crises-menu li.crises-group a:hover {
  color: #007CE0;
}
.crises-menu li.crises-group a.archive {
  text-transform: uppercase;
  color: #888888;
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 12px;
  padding: 0px;
}
.crises-menu li.crises-group a.archive:hover {
  text-decoration: none;
}
.crises-menu li.crises-group:last-child {
  border-bottom: none;
}
.crises-menu li.crises-group ul {
  padding: 0;
  list-style: none;
  text-transform: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.crises-menu li.crises-group ul li {
  padding-top: 5px;
  font-size: 12px;
}
.crises-menu li.crises-group ul li a {
  color: #000;
  font-size: 14px;
}
.crises-menu li.crises-group ul li a:hover {
  text-decoration: none;
}
.crises-menu li.crises-group ul li .crises-datasets {
  line-height: 1;
}
