/* HDX Version display */
.hdxLogo {
  position: relative;
}
.hdxLogo .logo #hdxVersion {
  color: #888888;
  position: absolute;
  font-size: 10px;
  left: 99px;
  bottom: 0;
  display: none;
  line-height: 10px;
}
.hdxLogo .logo .logo-img:hover ~ #hdxVersion {
  display: block;
}
.hdxLogo .logo .logo-img {
  background-image: url("/images/homepage/logo-hdx-accr-blk.svg");
  background-repeat: no-repeat;
  background-position: left center;
  width: 126px;
  height: 30px;
  margin-top: 1px;
}
/* END HDX Version display */
