.header-message {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.header-message .header-message-container {
  line-height: 1;
  font-size: 0;
  background-image: url("/images/empty.png");
  background-repeat: repeat-x;
}
.header-message .header-message-container img.header-message-image {
  visibility: hidden;
}
