/* Style topline numbers table*/
.topline-title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.01em;
}
.topline-numbers table {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.01em;
  width: 100%;
  margin-bottom: 0;
}
.topline-numbers table td {
  padding-left: 20px;
  padding-right: 20px;
}
.topline-numbers table td.name {
  width: 65%;
}
.topline-numbers table td.value {
  width: 35%;
  font-weight: 700;
  text-align: right;
}
.topline-numbers table tr.indicator {
  height: 31px;
  vertical-align: bottom;
}
.topline-numbers table tr.extra-info {
  height: 30px;
  vertical-align: top;
}
.topline-numbers table tr:nth-child(4n+1),
.topline-numbers table tr:nth-child(4n+2) {
  background-color: #F6F6F6;
}
.topline-numbers .extra-info span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 18px;
  color: #000000;
}
/* END Style topline numbers table*/
/* Topline Charts styles */
.topline-charts .topline-title {
  /* Some indicators have long names which expand on two rows
       causing the graphs to mis-align; this fixes it
    */
  height: 40px;
}
.topline-charts .chart-item {
  height: 270px;
  max-height: 270px;
  margin-left: -20px;
}
.topline-charts .last-value {
  font-family: 'Gotham-Book', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  letter-spacing: 0.01em;
}
.topline-charts .last-value .last-date {
  font-size: 10px;
}
.topline-charts .source-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 18px;
  color: #000000;
}
/* END Topline Charts styles */
/* Dataset result list styles */
.country-dataset-results .dataset-section-header {
  line-height: 50px;
  background-color: #edf6fd;
}
.country-dataset-results .dataset-section-title {
  font-weight: 500;
  font-size: 18px;
  color: #888;
}
.country-dataset-results .advanced-search-link {
  font-weight: 400;
  font-size: 12px;
  color: #007CE0;
}
.country-dataset-results .search-form .control-order-by {
  margin-top: 0px;
}
.country-dataset-results .module .pagination {
  margin-left: 0px;
  margin-right: 0px;
}
/* END - Dataset result list styles */
/* Adapting continuous browsing */
.country-cb .cb-explore {
  margin-top: -10px;
}
/* END - Adapting continuous browsing */
h1.country-title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #333333;
}
.base-actions-menu ul {
  padding: 0;
}
#key-figures-carousel .carousel-chevron,
#key-figures-mobile-carousel .carousel-chevron {
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
#key-figures-carousel .carousel-chevron.left,
#key-figures-mobile-carousel .carousel-chevron.left {
  left: -18px;
}
#key-figures-carousel .carousel-chevron.right,
#key-figures-mobile-carousel .carousel-chevron.right {
  right: -18px;
}
#key-figures-carousel .carousel-chevron.left-embed,
#key-figures-mobile-carousel .carousel-chevron.left-embed {
  left: 0px;
}
#key-figures-carousel .carousel-chevron.right-embed,
#key-figures-mobile-carousel .carousel-chevron.right-embed {
  right: 0px;
}
#key-figures-carousel .topline .topline-value,
#key-figures-mobile-carousel .topline .topline-value {
  font-size: 52px;
}
.followers-list-popup.dropdown-menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px;
  margin-top: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.followers-list-popup.dropdown-menu .hdx-arrow-wrapper {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.followers-list-popup.dropdown-menu .hdx-arrow-wrapper:before {
  content: " ";
  position: absolute;
  top: 7px;
  left: 50%;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  height: 15px;
  width: 15px;
  background-color: #fff;
  transform: translate(-50%, 0) rotateZ(45deg);
}
.followers-list-popup.dropdown-menu .followers-list .follower-item {
  font-size: 14px;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 10px;
  display: block;
}
.followers-list-popup.dropdown-menu .followers-list .follower-item:last-child {
  margin-bottom: 0;
}
.followers-list-popup.dropdown-menu .followers-list .follower-item:before {
  content: none;
}
.followers-list-popup.dropdown-menu .followers-list .follower-item .image {
  margin-right: 10px;
}
.featured-section .featured-thumbnail {
  position: relative;
}
.featured-section .featured-thumbnail img {
  width: 100%;
  min-height: 270px;
  max-height: 270px;
}
.featured-section .featured-thumbnail .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
}
.featured-section .featured-thumbnail .overlay:hover .featured-thumbnail-content .action {
  visibility: visible;
}
.featured-section .featured-thumbnail .overlay .featured-thumbnail-content {
  position: absolute;
  width: 90%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featured-section .featured-thumbnail .overlay .featured-thumbnail-content .type {
  text-transform: capitalize;
  font-family: 'Gotham-Light', sans-serif;
  font-display: auto;
  font-weight: 400;
  font-size: 10px;
}
.featured-section .featured-thumbnail .overlay .featured-thumbnail-content .title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
}
.featured-section .featured-thumbnail .overlay .featured-thumbnail-content .action {
  background-color: #f2645a;
  display: inline;
  visibility: hidden;
}
.featured-section .featured-info-block {
  color: #000;
  margin-top: 20px;
}
.featured-section .featured-info-block:first-child {
  margin-top: 0;
}
.featured-section .featured-info-block .info-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.01em;
}
.featured-section .featured-info-block .info-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.featured-section .featured-info-block .info-list ul li {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.featured-section .featured-info-block .info-list ul li.inline {
  display: inline;
}
.featured-section .featured-info-block .info-list ul li a.label.label-small {
  background-color: #f2645a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.03em;
}
.featured-section .featured-info-block .info-list ul li a.label.label-small:hover,
.featured-section .featured-info-block .info-list ul li a.label.label-small:focus {
  background-color: #ce554d;
  box-shadow: none;
  opacity: 1;
}
.featured-section .featured-info-block .info-list ul li ul {
  list-style: none;
  display: inline-block;
}
.data-completeness .tooltip .tooltip-inner {
  text-align: left;
  text-transform: none;
  font-size: 13px;
}
.data-completeness .crisis-list-header {
  position: relative;
}
.data-completeness .crisis-list-header .list-header-showall.list-completeness > span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 14px;
  font-size: 400;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.data-completeness .crisis-list-header .list-header-showall.list-completeness > span.active {
  color: #007CE0;
}
.data-completeness .progress-breakdown {
  height: 20px;
  border: 1px solid #cccccc;
  background: #eeeeee;
  vertical-align: center;
  text-align: right;
  font-size: 14px;
  line-height: 18px;
}
.data-completeness .progress-breakdown.progress-header {
  display: inline-block;
  width: 100px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.data-completeness .progress-breakdown.mini {
  height: 12px;
}
.data-completeness .progress-breakdown span[class^="progress-"] {
  height: 100%;
  display: block;
  float: left;
}
.data-completeness .progress-breakdown .progress-blue {
  background: #007CE0;
  color: #fff;
}
.data-completeness .progress-breakdown .progress-striped {
  background-color: #c0d7eb;
  color: #007CE0;
}
.data-completeness .progress-breakdown .progress-empty {
  color: #f2645a;
}
.data-completeness .data-item {
  margin: 15px 0;
}
.data-completeness .data-item .data-item-summary {
  margin-bottom: 20px;
}
.data-completeness .data-item .data-item-summary .categ-title {
  font-family: 'Gotham-Medium', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  margin-bottom: 5px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px;
  position: relative;
  cursor: default;
}
.data-completeness .data-item .data-item-summary .categ-sub-title {
  margin-bottom: 5px;
  text-align: right;
}
.data-completeness .data-item .data-item-summary .categ-sub-title .icon-questionmark {
  font-size: 16px;
  color: #007CE0;
}
.data-completeness .data-item .data-item-summary .categ-sub-title .dataset-count {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #888888;
  text-transform: uppercase;
}
.data-completeness .data-item .data-item-summary .completeness-progress {
  margin: 10px 0;
}
.data-completeness .data-item .data-item-details {
  padding-top: 10px;
  border-top: 1px solid #333333;
}
.data-completeness .data-item .data-item-details .sub-category {
  max-height: 220px;
  overflow-y: auto;
}
.data-completeness .data-item .data-item-details .sub-category ~ .sub-category {
  margin-top: 5px;
  border-top: 1px solid #cccccc;
}
.data-completeness .data-item .data-item-details .sub-category .sub-categ-title {
  font-family: 'Gotham-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  margin: 5px 0;
  cursor: default;
}
.data-completeness .data-item .data-item-details .sub-category a.add-data {
  color: #f2645a;
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
.data-completeness .data-item .data-item-details .sub-category .flag {
  color: #888888;
  font-family: 'Gotham-Book', sans-serif;
  font-display: block;
  font-weight: 400;
  font-size: 12px;
}
.data-completeness .data-item .data-item-details .sub-category .dataset {
  position: relative;
  padding-left: 16px;
  padding-right: 90px;
}
.data-completeness .data-item .data-item-details .sub-category .dataset .data-completeness {
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  margin-right: 5px;
}
.data-completeness .data-item .data-item-details .sub-category .dataset .data-completeness.blue {
  background-color: #007CE0;
}
.data-completeness .data-item .data-item-details .sub-category .dataset .data-completeness.striped {
  background-color: #c0d7eb;
}
.data-completeness .data-item .data-item-details .sub-category .dataset .dataset-link {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.data-completeness .data-item .data-item-details .sub-category .dataset .dataset-link a {
  color: #007CE0;
}
.data-completeness .data-item .data-item-details .sub-category .dataset .data-org {
  position: absolute;
  cursor: default;
  top: 0;
  right: 0;
  width: 80px;
  margin-left: 10px;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.data-completeness .completeness-header-actions {
  color: #333333;
}
.data-completeness .show-completeness-legend {
  color: #007CE0;
  cursor: pointer;
  margin-right: 10px;
}
.data-completeness .show-completeness-legend:hover ~ .completeness-legend {
  display: block;
}
.data-completeness .completeness-legend {
  display: none;
  position: absolute;
  width: 880px;
  z-index: 100;
  top: -140px;
  left: 90px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #333333;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.data-completeness .completeness-legend:before {
  content: " ";
  position: absolute;
  top: 155px;
  right: -16px;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  height: 15px;
  width: 15px;
  background-color: #333333;
  transform: translate(-50%, 0) rotateZ(135deg);
}
.data-completeness .completeness-legend .legend-title {
  color: #eeeeee;
  font-family: 'Gotham-Medium', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.data-completeness .completeness-legend .legend-description {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #eeeeee;
}
.data-completeness .completeness-legend .legend-description .orange {
  color: #f2645a;
}
.data-completeness .completeness-legend .legend-item {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #eeeeee;
}
.data-completeness .completeness-legend .legend-item ul {
  list-style: none;
  padding: 0;
}
.data-completeness .completeness-legend .legend-item ul li {
  font-weight: 300;
  position: relative;
  padding-left: 40px;
  color: #cccccc;
}
.data-completeness .completeness-legend .legend-item ul li .progress-breakdown {
  width: 30px;
}
.data-completeness .completeness-legend .legend-item ul li > span {
  position: absolute;
  left: 0;
  top: 3px;
}
.data-completeness .completeness-legend .legend-item ul li i {
  position: absolute;
  left: 8px;
  top: 3px;
}
.tooltip .tooltip-column {
  max-width: 262px;
}
.tooltip .tooltip-column .tooltip-content {
  width: 242px;
  text-transform: none;
  text-align: left;
  font-size: 13px;
}
