.table-valign {
  display: table;
  position: relative;
}
.table-valign-content {
  display: table-cell;
  vertical-align: middle;
}
/* Style topline numbers table*/
.topline-title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.01em;
}
.topline-numbers table {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.01em;
  width: 100%;
  margin-bottom: 0;
}
.topline-numbers table td {
  padding-left: 20px;
  padding-right: 20px;
}
.topline-numbers table td.name {
  width: 65%;
}
.topline-numbers table td.value {
  width: 35%;
  font-weight: 700;
  text-align: right;
}
.topline-numbers table tr.indicator {
  height: 31px;
  vertical-align: bottom;
}
.topline-numbers table tr.extra-info {
  height: 30px;
  vertical-align: top;
}
.topline-numbers table tr:nth-child(4n+1),
.topline-numbers table tr:nth-child(4n+2) {
  background-color: #F6F6F6;
}
.topline-numbers .extra-info span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 18px;
  color: #000000;
}
/* END Style topline numbers table*/
/* Topline Charts styles */
.topline-charts .topline-title {
  /* Some indicators have long names which expand on two rows
       causing the graphs to mis-align; this fixes it
    */
  height: 40px;
}
.topline-charts .chart-item {
  height: 270px;
  max-height: 270px;
  margin-left: -20px;
}
.topline-charts .last-value {
  font-family: 'Gotham-Book', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  letter-spacing: 0.01em;
}
.topline-charts .last-value .last-date {
  font-size: 10px;
}
.topline-charts .source-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 18px;
  color: #000000;
}
/* END Topline Charts styles */
/* Dataset result list styles */
.country-dataset-results .dataset-section-header {
  line-height: 50px;
  background-color: #edf6fd;
}
.country-dataset-results .dataset-section-title {
  font-weight: 500;
  font-size: 18px;
  color: #888;
}
.country-dataset-results .advanced-search-link {
  font-weight: 400;
  font-size: 12px;
  color: #007CE0;
}
.country-dataset-results .search-form .control-order-by {
  margin-top: 0px;
}
.country-dataset-results .module .pagination {
  margin-left: 0px;
  margin-right: 0px;
}
/* END - Dataset result list styles */
/* Adapting continuous browsing */
.country-cb .cb-explore {
  margin-top: -10px;
}
/* END - Adapting continuous browsing */
h1.country-title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #333333;
}
.base-actions-menu ul {
  padding: 0;
}
#key-figures-carousel .carousel-chevron {
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
#key-figures-carousel .carousel-chevron.left {
  left: -18px;
}
#key-figures-carousel .carousel-chevron.right {
  right: -18px;
}
#key-figures-carousel .topline .topline-value {
  font-size: 52px;
}
.followers-list-popup.dropdown-menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px;
  margin-top: 15px;
}
.followers-list-popup.dropdown-menu:before {
  content: " ";
  position: absolute;
  top: -8px;
  left: 50%;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  transform: translate(-50%, 0) rotateZ(45deg);
}
.followers-list-popup.dropdown-menu .followers-list .follower-item {
  font-size: 14px;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 10px;
  display: block;
}
.followers-list-popup.dropdown-menu .followers-list .follower-item:last-child {
  margin-bottom: 0;
}
.followers-list-popup.dropdown-menu .followers-list .follower-item:before {
  content: none;
}
.followers-list-popup.dropdown-menu .followers-list .follower-item .image {
  margin-right: 10px;
}
.featured-section .featured-thumbnail {
  position: relative;
}
.featured-section .featured-thumbnail img {
  width: 100%;
}
.featured-section .featured-thumbnail .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
}
.featured-section .featured-thumbnail .overlay:hover .featured-thumbnail-content .action {
  visibility: visible;
}
.featured-section .featured-thumbnail .overlay .featured-thumbnail-content {
  position: absolute;
  width: 90%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featured-section .featured-thumbnail .overlay .featured-thumbnail-content .type {
  text-transform: capitalize;
  font-family: 'Gotham-Light', sans-serif;
  font-weight: 400;
  font-size: 10px;
}
.featured-section .featured-thumbnail .overlay .featured-thumbnail-content .title {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
}
.featured-section .featured-thumbnail .overlay .featured-thumbnail-content .action {
  background-color: #f2645a;
  display: inline;
  visibility: hidden;
}
.featured-section .featured-info-block {
  color: #000000;
  margin-top: 20px;
}
.featured-section .featured-info-block:first-child {
  margin-top: 0;
}
.featured-section .featured-info-block .info-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.01em;
}
.featured-section .featured-info-block .info-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.featured-section .featured-info-block .info-list ul li {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.featured-section .featured-info-block .info-list ul li.inline {
  display: inline;
}
.featured-section .featured-info-block .info-list ul li a.label.label-small {
  background-color: #f2645a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.03em;
}
.featured-section .featured-info-block .info-list ul li ul {
  list-style: none;
  display: inline-block;
}
